{%- import '../macro/icon.twig' as svg -%}
{% set brandName = 'MCX' %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block pageDescription %}{% endblock %}">
  <meta name="keywords" content="{% block pageKeywords %}{% endblock %}">
  <meta name="author" content="">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  {% block styles %}{% endblock %}

  <link rel="stylesheet" href="/assets/css/vendor.css?123456">
  <link rel="stylesheet" href="/assets/css/app.css?123456">

  <title>{% if pageTitle %} {{ pageTitle }} - {% endif %}{{ brandName }}</title>

  {% block headerScripts %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body class="body {{ bodyClass|default('') }}">

  {% if logged %}
    {% include '_navbar-logged.twig' %}
    {% else %}
    {% include '_navbar.twig' %}
  {% endif %}

  <header class="header">
    <div class="container">
      {% block header %}{% endblock %}
    </div>
  </header>

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  {% include '_footer.twig' %}

  {% block modals %}{% endblock %}

  <script src="/assets/js/vendor.js?123456"></script>
  <script src="/assets/js/app.js?123456"></script>
  {% block scripts %}{% endblock %}

</body>
</html>