<footer class="footer">
  <div class="container">
    <div class="footer__measures measures">
      <h3 class="measures__title">Популярные меры господдержки</h3>
      <div class="measures__list row">
        {% for item in measures2 %}
          <div class="measures__item col-xs-12 col-md-6 col-lg-3">
            <a href="#" class="measure-card">
              <i class="measure-card__icon icon-{{ item.icon }}"></i>
              <h6 class="measure-card__title text-caps-sm">{{ item.title }}</h6>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="footer__main text-sm">
      <div class="row row-md-center">
        <div class="footer__col col-xs-12 col-md-6">
          <div class="footer__company row row-xs-center">
            <a href="/" class="footer__logo icon-logo col link-inherit" title="{{ brandName }}"></a>
            <div class="footer__company-content col">
              <p>107139, Москва, Орликов переулок, 1/11</p>
              <p><a href="tel:+74954118147" class="link-hidden">+7 (495) 411-81-47</a></p>
            </div>
          </div>
        </div>
        <div class="footer__right-col col-xs-12 col-md-6">
          <ul class="footer__nav">
            {% for item in footerNav %}
              <li class="footer__nav-item">
                <a href="#" class="measure-card__link link-inherit">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <p class="footer__copyright text-muted text-sm">© Министерство сельского хозяйства РФ, 2019</p>
  </div>
</footer>