<nav class="navbar hidden-md-up">
  <div class="navbar__section navbar__topbar">
    <div class="navbar__container container">
      <div class="navbar__location">
        <select class="navbar__location-select" data-element="select-location">
          <option selected>Ханты-Мансийский автономный округ — Югра</option>
          <option>Москвовская область</option>
          <option>Ленинградская область</option>
        </select>
      </div>
    </div>
  </div>

  <div class="navbar__section navbar__main">
    <div class="navbar__container container">
      <a href="/" class="navbar__logo">
        <img src="/assets/img/logo.svg" alt="Логотип {{ brandName }}" class="navbar__logo-img">
      </a>
      <a href="/" class="navbar__company row row-xs-center row--md link-inherit">
        <span class="navbar__company-abbr col hidden-xs-down">ИС ЦС АПК</span>
        <span class="navbar__company-info col text-xs">Единый сервис предоставления мер государственной поддержки АПК</span>
      </a>
    </div>
  </div>

  <div class="navbar__section navbar__bottom">
    <div class="navbar__container container">
      <div class="navbar__nav nav">
        <div class="nav__item">
          <div class="navbar__account text-sm">
            <a href="#" class="navbar__account-link link-inherit"><i class="navbar__account-icon icon-user"></i></a>
          </div>
        </div>

        <div class="nav__item">
          <select class="navbar__lang" data-element="select-location">
            <option selected>RU</option>
            <option>EN</option>
          </select>
        </div>

        <div class="nav__item">
          <a href="#" class="navbar__emblem icon-rf-emblem link-inherit" title=""></a>
        </div>

        <div class="nav__item">
          <div class="navbar__contacts">
            <a href="tel:+78008000000" class="navbar__contacts-phone link-hidden icon-phone"></a>
          </div>
        </div>

        <div class="nav__item">
          <button class="navbar__search-toggle icon-search" type="button" data-element="search-toggle"></button>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar hidden-xs-down" data-component="navbar">
  <div class="navbar__section navbar__topbar">
    <div class="navbar__container container">
      <div class="navbar__nav nav">
        <div class="nav__item nav__item--left">
          <div class="navbar__location">
            <select class="navbar__location-select" data-element="select-header">
              <option selected>Ханты-Мансийский автономный округ — Югра</option>
              <option>Москвовская область</option>
              <option>Ленинградская область</option>
            </select>
          </div>
        </div>

        <div class="nav__item">
          <div class="navbar__account text-sm">
            <a href="#" class="navbar__account-link link-inherit"><span class="navbar__account-text">Вход</span> <i class="navbar__account-icon icon-user"></i></a>
          </div>
        </div>

        <div class="nav__item">
          <select class="navbar__lang" data-element="select-header">
            <option selected>RU</option>
            <option>EN</option>
          </select>
        </div>

        <div class="nav__item">
          <a href="#" class="navbar__emblem icon-rf-emblem link-inherit" title=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar__section navbar__main">
    <div class="navbar__container container">
      <a href="/" class="navbar__logo">
        <img src="/assets/img/logo.svg" alt="Логотип {{ brandName }}" class="navbar__logo-img">
      </a>
      <a href="/" class="navbar__company row row-xs-center row--md link-inherit">
        <span class="navbar__company-abbr col hidden-lg-down">ИС ЦС АПК</span>
        <span class="navbar__company-info col text-xs">Единый сервис предоставления мер государственной поддержки АПК</span>
      </a>

      <div class="navbar__nav nav">
        <div class="nav__item">
          <div class="navbar__contacts row row--md row-xs-center text-sm">
            <span class="navbar__contacts-item col">
              <a href="tel:+78008000000" class="navbar__contacts-phone link-hidden h6">8 800 800-00-00</a>
            </span>
            <span class="navbar__contacts-item col hidden-md-down">Россия</span>
            <span class="navbar__contacts-item col">
              <a href="#">Служба поддержки</a>
            </span>
          </div>
        </div>

        <div class="nav__item">
          <button class="navbar__search-toggle icon-search" type="button" data-element="search-toggle"></button>
        </div>
      </div>
    </div>
  </div>
</nav>