<nav class="navbar hidden-md-up">
  <div class="navbar__section navbar__topbar">
    <div class="navbar__container container">
      <div class="navbar__location">
        <select class="navbar__location-select" data-element="select-location">
          <option selected>Ханты-Мансийский автономный округ — Югра</option>
          <option>Москвовская область</option>
          <option>Ленинградская область</option>
        </select>
      </div>
    </div>
  </div>

  <div class="navbar__section navbar__main">
    <div class="navbar__container container">
      <a href="/" class="navbar__logo">
        <img src="/assets/img/logo.svg" alt="Логотип {{ brandName }}" class="navbar__logo-img">
      </a>
      <div class="navbar__breadcrumb breadcrumb text-xs">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Реестр получателей МПГ</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navbar__section navbar__bottom">
    <div class="navbar__container container">
      <div class="navbar__nav nav">
        <div class="nav__item">
          <div class="navbar__account text-sm">
            <div class="dropdown" data-component="dropdown">
             <button class="dropdown__toggle" type="button" data-element="dropdown-toggle">
               <span class="navbar__account-link">
                 <span class="navbar__account-text hidden-xs-down">Алексей Владимирский</span><span class="navbar__account-icon text-xs">АВ</span>
               </span>
             </button>
             <div class="dropdown__content" data-element="dropdown-content">
               <ul class="dropdown__list">
                 <li class="dropdown__item">
                   <a href="#" class="dropdown__link link-inherit">Личный кабинет</a>
                 </li>
                 <li class="dropdown__item">
                   <a href="#" class="dropdown__link link-inherit">Выход</a>
                 </li>
               </ul>
             </div>
           </div>
          </div>
        </div>

        <div class="nav__item">
          <select class="navbar__lang" data-element="select-header">
            <option selected>RU</option>
            <option>EN</option>
          </select>
        </div>

        <div class="nav__item">
          <a href="#" class="navbar__emblem icon-rf-emblem link-inherit" title=""></a>
        </div>

        <div class="nav__item">
          <div class="navbar__contacts">
            <a href="tel:+78008000000" class="navbar__contacts-phone link-hidden icon-phone"></a>
          </div>
        </div>

        <div class="nav__item">
          <button class="navbar__search-toggle icon-search" type="button" data-element="search-toggle"></button>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar hidden-xs-down" data-component="navbar">
  <div class="navbar__section navbar__topbar">
    <div class="navbar__container container">
      <div class="navbar__nav nav">
        <div class="nav__item nav__item--left">
          <div class="navbar__location">
            <select class="navbar__location-select" data-element="select-location">
              <option selected>Ханты-Мансийский автономный округ — Югра</option>
              <option>Москвовская область</option>
              <option>Ленинградская область</option>
            </select>
          </div>
        </div>

        <div class="nav__item">
          <div class="navbar__account text-sm">
            <div class="dropdown" data-component="dropdown">
             <button class="dropdown__toggle" type="button" data-element="dropdown-toggle">
               <span class="navbar__account-link">
                 <span class="navbar__account-text hidden-md-down">Алексей Владимирский</span><span class="navbar__account-icon text-xs">АВ</span>
               </span>
             </button>
             <div class="dropdown__content" data-element="dropdown-content">
               <ul class="dropdown__list">
                 <li class="dropdown__item">
                   <a href="#" class="dropdown__link link-inherit">Личный кабинет</a>
                 </li>
                 <li class="dropdown__item">
                   <a href="#" class="dropdown__link link-inherit">Выход</a>
                 </li>
               </ul>
             </div>
           </div>
          </div>
        </div>

        <div class="nav__item">
          <select class="navbar__lang" data-element="select-header">
            <option selected>RU</option>
            <option>EN</option>
          </select>
        </div>

        <div class="nav__item">
          <a href="#" class="navbar__emblem icon-rf-emblem link-inherit" title=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar__section navbar__main">
    <div class="navbar__container container">
      <a href="/" class="navbar__logo">
        <img src="/assets/img/logo.svg" alt="Логотип {{ brandName }}" class="navbar__logo-img">
      </a>
      <div class="navbar__breadcrumb breadcrumb text-xs">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Реестр получателей МПГ</a></li>
          <li class="breadcrumb__item">{{ pageTitle }}</li>
        </ul>
      </div>
    </div>
  </div>
</nav>