<section class="section banners">
  <div class="container">
    <div class="banners__slider row" data-component="banners-slider">
      {% for i in 0..1 %}
        {% for item in banners %}
          <div class="banners__item col slick-slide">
            <div class="banner">
              <img src="/assets/img/temp/banners/{{ item.image }}" alt="" class="banner__img">
              <h6 class="banner__title text-caps">{{ item.title }}</h6>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>