{% for field in fields %}
  <div class="form__group {% if field.type == 'required' %}is-required{% endif %}">
    {% if field.title %}
      <h4 class="form__title">{{ field.title }}</h4>
    {% endif %}
    {% if field.label %}
      <label class="form__label text-sm text-muted" for="{{ field.input.name }}">{{ field.label }}</label>
    {% endif %}
    {% if field.input.type == 'text' %}
      <input type="text" class="form__control" id="{{ field.input.name }}" value="{{ field.input.value }}" {% if field.input.disabled %}disabled{% endif %} {% if field.type == 'required' %}required{% endif %} {% if field.input.mask %} data-inputmask="{{ field.input.mask }}"{% endif %}>
      {% elseif field.input.type == 'date' %}
      <input type="text" class="form__control" id="{{ field.input.name }}" {% if field.input.disabled %}disabled{% endif %} {% if field.type == 'required' %}required{% endif %} data-element="datepicker">
      {% elseif field.input.type == 'textarea' %}
      <textarea rows="{{ field.input.rows }}" class="form__control" id="{{ field.input.name }}" {% if field.input.disabled %}disabled{% endif %} {% if field.type == 'required' %}required{% endif %}>{{ field.input.value }}</textarea>
      {% elseif field.input.type == 'select' %}
      <select data-element="select" id="{{ field.input.name }}" {% if field.input.disabled %}disabled{% endif %} {% if field.type == 'required' %}required{% endif %} data-placeholder="Выберите вариант">
        <option></option> <!-- For placeholder -->
        <option selected>{{ field.input.value }}</option>
        {% for i in 1..6 %}
          <option>Опция {{ loop.index }}</option>
        {% endfor %}
      </select>
    {% endif %}
    <div class="form__group-footer row row-h-justify">
      <div class="form__errors col"></div>
      <div class="form__note col text-sm text-muted">
        ЕСИА<i class="form__note-informer informer icon-informer" data-element="tooltip-trigger" data-tippy-placement="bottom-end" data-tippy-content="Повысить точность прогноза, добавив дополнительные параметры (курс валюты, размер компании, производственные программы)"></i>
      </div>
    </div>
  </div>
{% endfor %}
