{% include '_steps.twig' with {'steps': form} %}

<form action="#" class="form" data-form="{{ formName }}" data-validate="parsley">
  <div class="section">
    <div class="container">
      {% for step in form|slice(0,1) %}
        {% for section in step.sections %}
          <fieldset class="form__section">
            {% if section.title %}
              <h4 class="form__title">{{ section.title }}</h4>
            {% endif %}
            <div class="row">
              {% for col in section.cols %}
                <div class="col-xs-12 col-lg-6">
                  {% include '_form-field.twig' with { 'fields': col.fields } %}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="form__submit row">
        <div class="col-xs-12 col-lg-6">
          <button type="button" class="button button--default button--lg button--block">Отмена</button>
        </div>
        <div class="col-xs-12 col-lg-6">
          <button type="submit" class="button button--primary button--lg button--block">Подтвердить и&nbsp;продолжить</button>
        </div>
      </div>
    </div>
  </div>
</form>
