<section class="hero row">
  <div class="hero__header-col col-xs-12 col-lg-4">
    <h1 class="hero__title">{{ hero.title }}</h1>
    <p class="hero__subtitle h4">{{ hero.subtitle }}</p>
    <div class="hero__action">
      <a href="#" class="hero__button button button--lg button--primary button--block">зарегистрироваться</a>
    </div>
  </div>
  <div class="hero__content-col col-xs-12 col-md-6 col-lg-4 with-lg-divider">
    <ul class="hero__list list-default text-md">
      {% for item in hero.list %}
        <li class="list-default__item">{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="hero__card-col col-xs-12 col-md-6 col-lg-4">
    <div class="hero__card">
      <h6 class="hero__card-title">{{ hero.card.title }}</h6>
      <ul class="hero__card-list list-basic text-md">
        {% for item in hero.card.list %}
          <li class="list-basic__item">{{ item }}</li>
        {% endfor %}
      </ul>
      <div class="hero__card-footer text-sm">
        <a href="#" class="hero__card-button button button--xs button--primary">Войти</a>
        <a href="#" class="hero__card-link">Не можете войти?</a>
      </div>
    </div>
  </div>
</section>