<section class="history">
  <h2 class="history__title">История рассмотрения</h2>
  {% for section in history %}
    <div class="history__section {% if section.status %}is-{{ section.status }}{% endif %}" {% if section.more %}data-component="{{ section.more.type }}-section"{% endif %}>
      <div class="history__header">
        <i class="history__status {% if section.icon %}icon-{{ section.icon }}{% endif %}"></i>
        <div class="history__header-content">
          {% for item in section.list|slice(0, 1) %}
            <div class="history__item">
              <h4 class="history__item-title">{{ item.title }}</h4>
              {% if item.info %}
                <p class="history__item-info text-sm text-muted">{{ item.info }}</p>
              {% endif %}
            {% endfor %}
          </div>
          {% if section.date or section.more %}
            <div class="history__options">
              {% if section.date %}
                <span class="text-caps-sm text-muted">{{ section.date }}</span>
              {% endif %}
              {% if section.more %}
                <a href="#" class="control text-caps-sm" data-element="{{ section.more.type }}-toggle">
                  <i class="control__icon {{ section.more.iconOn }}" data-element="{{ section.more.type }}-toggle-icon" data-class-on="{{ section.more.iconOn }}" data-class-off="{{ section.more.iconOff }}"></i>
                  <span data-element="{{ section.more.type }}-toggle-text" data-text-on="{{ section.more.textOn }}" data-text-off="{{ section.more.textOff }}">{{  section.more.textOn }}</span>
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      {% if section.list.length > 1 %}
        <div class="history__list">
          {% for item in section.list|slice(1) %}
            <div class="history__item{% if section.more %} hidden{% endif %}" {% if section.more %}data-element="hidden-element"{% endif %}>
              <h4 class="history__item-title {% if item.status == "incopmlete" %}text-muted{% endif %}">{{ item.title }}</h4>
              {% if item.info %}
                <p class="history__item-info text-sm text-muted">{{ item.info }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>