<div class="infobox">
  <div class="infobox__header">
    <h4 class="infobox__title">{{ infobox.title }}</h4>
    {% if infobox.info %}
      <i class="infobox__informer icon-informer informer" data-element="tooltip-trigger" data-tippy-placement="bottom-end" data-tippy-content="Повысить точность прогноза, добавив дополнительные параметры (курс валюты, размер компании, производственные программы)"></i>
    {% endif %}
  </div>
  <div class="infobox__content" {% if infobox.more %}data-component="{{ infobox.more.type }}-section"{% endif %}>
    {% if infobox.text %}
      <p class="text-md" {% if infobox.textLines %}data-element="element-clipped" data-lines="{{ infobox.textLines }}"{% endif %}>{{ infobox.text }}</p>
    {% endif %}

    {% if infobox.file %}
      <div class="infobox__file single-file" >
        <a href="#" class="file"><span class="file__type text-caps-sm">pdf</span><span class="file__size text-sm text-muted">5.08 Мб</span></a>
      </div>
    {% endif %}

    {% if infobox.grant %}
      <div class="grant">
        <div class="grant__sum h3">{{ infobox.grant.sum }}</div>
        {% if infobox.grant.text %}
          <p class="grant__text text-sm text-muted">{{ infobox.grant.text }}</p>
        {% endif %}
        {% if infobox.grant.alert %}
          <div class="grant__text alert alert--unstyled text-sm">
            <i class="alert__icon icon-alert"></i>
            <span class="text-muted">{{ infobox.grant.alert }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if infobox.list %}
      <ul class="infobox__list text-md" data-component="{{ infobox.more.type }}">
        {% for item in infobox.list %}
          <li class="infobox__list-item {% if loop.index > 3 %}hidden{% endif %}" {% if loop.index > 3 %}data-element="hidden-element"{% endif %}>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if infobox.table %}
      <table class="infobox__table table text-md" data-component="{{ infobox.more.type }}">
        <thead>
          <tr>
            {% for item in infobox.table.head %}
              <th class="text-sm text-muted">{{ item }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in infobox.table.body %}
            <tr {% if loop.index > 2 %} class="hidden" data-element="hidden-element"{% endif %}>
              <td>0{{ loop.index }}.</td>
              <td>
                <p>{{ row.document.name }}</p>
                <a href="#" class="file"><span class="file__type text-caps-sm">{{ row.document.type }}</span><span class="file__size text-sm text-muted">{{ row.document.size }}</span></a>
              </td>
              <td class="text-right">Основной</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if infobox.files %}
      <ol class="infobox__files files text-md" data-component="{{ infobox.more.type }}">
        {% for file in infobox.files %}
          <li class="files__item{% if loop.index > 3 %} hidden{% endif %}" {% if loop.index > 3 %} data-element="hidden-element"{% endif %}>
            <div class="files__item-title">{{ file.name }}</div>
            <a href="#" class="file"><span class="file__name">Образец</span><span class="file__type text-caps-sm">{{ file.type }}</span><span class="file__size text-sm text-muted">{{ file.size }}</span></a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    {% if infobox.calculator %}
      <div class="infobox__calculator calculator" >
        {% for section in infobox.calculator %}
          <div class="calculator__section">
            <p class="text-md">{{ section.text }}</p>

            {% if section.fields %}
              {% for field in section.fields %}
                <div class="form__group has-range-slider" data-component="range-slider">
                  <label class="form__label text-sm text-muted" for="input-{{ loop.index }}">{{ field.label }}</label>
                  <input type="text" class="form__control" id="input-{{ loop.index }}" value="{{ field.value }}" data-element="range-slider-input">
                  <div class="range-slider">
                    <input type="text" name="range-slider" id="range-slider-{{ loop.index }}" value="{{ field.value }}" data-element="range-slider-element" data-step=".01" data-min="0" data-max="228.76" data-from="{% if loop.first %}114.38{% else %}0{% endif %}">
                  </div>
                </div>
              {% endfor %}
              <button type="button" class="button button--primary button--block">Рассчитать</button>
            {% endif %}

            {% if section.grant %}
              <div class="grant">
                <div class="grant__sum h3">{{ section.grant.sum }}</div>
                <p class="grant__text text-sm text-muted">{{ section.grant.text }}</p>
              </div>
              <div class="infobox__more">
                <a href="#" class="control text-caps-sm">
                  <i class="control__icon icon-plus"></i>
                  <span>формула расчета</span>
                </a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if infobox.more %}
      <div class="infobox__more">
        <a href="#" class="control text-caps-sm" data-element="{{ infobox.more.type }}-toggle">
          <i class="control__icon {{ infobox.more.iconOn }}" data-element="{{ infobox.more.type }}-toggle-icon" data-class-on="{{ infobox.more.iconOn }}" data-class-off="{{ infobox.more.iconOff }}"></i>
          <span data-element="{{ infobox.more.type }}-toggle-text" data-text-on="{{ infobox.more.textOn }}" data-text-off="{{ infobox.more.textOff }}">{{  infobox.more.textOn }}</span>
          {% if infobox.more.number %}<span class="control__number text-muted" data-element="{{ infobox.more.type }}-toggle-number">{{ infobox.more.number }}</span>{% endif %}
        </a>
      </div>
    {% endif %}
  </div>
</div>
