<section class="section measures widget">
  <div class="container">
    <h2 class="widget__title h3"><a href="#" class="link-inherit">Популярные меры господдержки<i class="widget__title-icon icon-arrow-right"></i></a></h2>
    <div class="measures__slider">
      <div class="measures__slider-list row controls-outside" data-component="measures-slider">
        {% for item in measures %}
          <div class="measures__item col slick-slide">
            <a href="#" class="measure measure--card link-hidden">
              <div class="measure__number h3">0{{ loop.index }}</div>
              <p class="measure__text text-md">{{ item.title }}</p>
              <footer class="measure__footer row row-h-justify text-caps-sm">
                <div class="col">
                  <div class="measure__more">
                    <span class="measure__more-link primary">подробнее</span>
                    <i class="measure__more-icon icon-arrow-right"></i>
                  </div>
                </div>
                <div class="col">
                  <div class="measure__date date"><i class="date__icon icon-clock"></i>{{ item.date }}</div>
                </div>
              </footer>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>