{% for step in registration|slice(2,1) %}
  <div class="menu">
    <button class="menu__toggle button button--default button--sm button--icon hidden-lg-up" type="button" data-element="menu-toggle">
      Меню
      <span class="button__icon hamburger hamburger--spin">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </span>
    </button>
    <ul class="menu__list" data-component="menu">
      {% for item in step.menu %}
        <li class="menu__item {% if item.active %} is-active {% endif %}{% if item.special %} is-special {% endif %}" data-element="accordion-item">
          <a href="#" class="menu__link text-md" data-element="accordion-toggle">{{ item.title }}</a>
          <ul class="menu__submenu submenu text-sm" data-element="accordion-content">
            <li class="submenu__item is-active"><a href="#" class="submenu__link">Подпункт меню</a></li>
            <li class="submenu__item"><a href="#" class="submenu__link">Севооборот</a></li>
            <li class="submenu__item"><a href="#" class="submenu__link">Подпункт меню</a></li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}