<div id="modal-thanks" class="modal mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="modal__header">
      <h5 class="modal__title">Благодарим за регистрацию!</h5>
    </div>
    <div class="modal__body text-md">
      <p>Вы можете начать пользоваться основными возможностями сервиса:</p>
      <ul class="list-dash">
        <li>Ознакомиться с каталогом мер господдержки АПК</li>
        <li>Подать заявку на получение господдержки АПК</li>
      </ul>
    </div>
    <div class="modal__body text-md">
      <p>После подтверждения учетной записи Вам будет доступен полный перечень функций сервиса</p>
    </div>
    <div class="modal__footer">
      <a href="#" class="button button--primary button--sm button--block">Перейти в личный кабинет</a>
    </div>
  </div>
</div>
