<div class="section">
  <div class="section__header">
    <h2 class="section__title">Требования к получателю</h2>
  </div>
  <div class="section__content" data-component="show-all-section">
    <ol class="list-ordered">
      <li>Регистрация на территории Алтайского края в установленном законодательством порядке</li>
      <li>Соответствие критериям определения «сельскохозяйственный товаропроизводитель»</li>
      <li>Отсутствие задолженности по налогам, сборам, страховым взносам</li>
      <li>Отсутствие просроченной задолженности по возврату в краевой бюджет</li>
      <li>Отсутствие вступившего в законную силу постановления о привлечении сельскохозяйственного товаропроизводителя в предшествующем...</li>
      <li class="hidden" data-element="hidden-element">Регистрация на территории Алтайского края в установленном законодательством порядке</li>
      <li class="hidden" data-element="hidden-element">Соответствие критериям определения «сельскохозяйственный товаропроизводитель»</li>
      <li class="hidden" data-element="hidden-element">Отсутствие задолженности по налогам, сборам, страховым взносам</li>
      <li class="hidden" data-element="hidden-element">Отсутствие просроченной задолженности по возврату в краевой бюджет</li>
      <li class="hidden" data-element="hidden-element">Отсутствие вступившего в законную силу постановления о привлечении сельскохозяйственного товаропроизводителя в предшествующем...</li>
    </ol>
    <div class="section__controls">
      <a href="#" class="control text-caps-sm" data-element="show-all-toggle">
        <i class="control__icon icon-plus" data-element="show-all-toggle-icon" data-class-on="icon-plus" data-class-off="icon-minus"></i>
        <span data-element="show-all-toggle-text" data-text-on="показать все" data-text-off="Свернуть">показать все</span>
        <span class="control__number text-muted" data-element="show-all-toggle-number">8</span>
      </a>
    </div>
  </div>
</div>