<div class="section">
  <div class="section__header">
    <h2 class="section__title">Общая информация</h2>
  </div>
  <div class="section__content">
    <p>Предоставляется СХТП, за исключением граждан, ведущих ЛПХ по следующим направлениям:</p>
    <ol class="list-ordered">
      <li>Оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства из расчета на 1 гектар посевной площади...<i class="popover-toggle icon-dots" data-element="popover-toggle" data-tippy-placement="bottom-start" data-tippy-content='<ul class="dropdown__list text-sm"> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Просмотреть</a> </li> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Изменить</a> </li> </ul>'></i>
</li>
      <li>Оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области развития производства семян...<i class="popover-toggle icon-dots" data-element="popover-toggle" data-tippy-placement="bottom-start" data-tippy-content='<ul class="dropdown__list text-sm"> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Просмотреть</a> </li> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Изменить</a> </li> </ul>'></i>
</li>
    </ol>
    <div class="basic-blocks row">
      {% for item in timeframes %}
        <div class="basic-blocks__item col-xs-12 col-md-6">
          <dl class="timeframe">
            <dt class="timeframe__title">{{ item.title }}</dt>
            <dd class="timeframe__info text-sm text-muted">{{ item.info }}</dd>
          </dl>
        </div>
      {% endfor %}
    </div>
  </div>
</div>