<div class="section">
  <div class="section__header">
    <h2 class="section__title">Контактная информация</h2>
  </div>
  <div class="section__content" data-component="show-all-section">
    <p>Министерство сельского хозяйства Алтайского края, г. Барнаул, ул. Никитина, 90, кабинет 119. Режим работы: с 8.00 до 13.00 и с 14.00 д 17.00</p>
    <div class="basic-blocks row">
      {% for item in contacts %}
        <div class="basic-blocks__item col-xs-12 col-md-6 {% if loop.index > 2 %}hidden{% endif %}" {% if loop.index > 2 %}data-element="hidden-element"{% endif %}>
          <dl class="contact">
            <dt class="contact__name h4">{{ item.name }}</dt>
            <dd class="contact__info text-md text-muted">{{ item.info }}</dd>
          </dl>
        </div>
      {% endfor %}
    </div>
    <div class="section__controls">
      <a href="#" class="control text-caps-sm" data-element="show-all-toggle">
        <i class="control__icon icon-plus" data-element="show-all-toggle-icon" data-class-on="icon-plus" data-class-off="icon-minus"></i>
        <span data-element="show-all-toggle-text" data-text-on="показать все" data-text-off="Свернуть">показать все</span>
        <span class="control__number text-muted" data-element="show-all-toggle-number">8</span>
      </a>
    </div>
  </div>
</div>