<div class="section">
  <div class="section__header">
    <h2 class="section__title"><a href="#" class="link-inherit">{{ section.title }}</a></h2>
    {% if section.more %}
      <a href="#" class="section__more">{{ section.more }}</a>
    {% endif %}
  </div>
  <div class="section__content">
    <ul class="list-default">
      {% for item in section.list %}
        <li class="list-default__item"><a href="#" class="link-inherit">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>