<div class="sidebar">
  <div class="sidebar__header">
    <h4 class="sidebar__title"><a href="#" class="sidebar__title-link link-inherit">{{ sidebar.title }}{% if not sidebar.asideLink %}<i class="sidebar__title-icon icon-arrow-right"></i>{% endif %}</a></h4>
    {% if sidebar.asideLink %}
      <a href="#" class="sidebar__more text-caps-sm">{{ sidebar.asideLink }}</a>
    {% endif %}
  </div>
  <div class="sidebar__content">
    {% if sidebar.tabs %}
      <div class="sidebar__tabs tabs" data-component="tabs">
        <ul class="tabs__list text-caps-sm" role="tablist">
          {% for tab in sidebar.tabs %}
            <li class="tabs__item" role="tab">
              <a href="#{{ sidebar.id }}-{{ tab.id }}" class="tabs__link {% if loop.first %}is-active{% endif %}" role="tab">{{ tab.title }}<span class="tabs__number text-xxs text-muted">{{ tab.number }}</span></a>
            </li>
          {% endfor %}
        </ul>

        <div class="tabs__content">
          {% for tab in sidebar.tabs %}
            <div class="tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="{{ sidebar.id }}-{{ tab.id }}">
              {% if tab.notifications %}
                <ul class="notifications">
                  {% for item in tab.notifications %}
                    <li class="notifications__item">
                      <div class="notifications__date text-xs text-muted">{{ item.date }}</div>
                      <div class="notifications__title text-md">{{ item.title }}</div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if tab.emptyMessage %}
                <p class="text-xs text-muted">{{ tab.emptyMessage }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if sidebar.emptyMessage %}
      <p class="text-xs text-muted">{{ sidebar.emptyMessage }}</p>
    {% endif %}
  </div>
</div>
