<div class="section steps">
  <div class="container">
    <div class="steps__list row">
      {% for step in steps %}
        <div class="steps__item {% if not activeStep and loop.first %} is-active {% endif %} {% if activeStep == loop.index %} is-active {% endif %} {% if loop.index < activeStep %} is-complete {% endif %} col-xs-12 col-md-3">
          <div class="step">
            <span class="step__number h2">0{{ loop.index }}</span>
            <span class="step__text text-caps-sm">{{ step.title }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>