<section class="widget">
  <h2 class="widget__title h3"><a href="#" class="link-inherit">Новости<i class="widget__title-icon icon-arrow-right"></i></a></h2>
  <div class="widget__content widget__body">
    <div class="news row">
      <div class="news__col col-xs-12 col-md-6">
        {% for item in news %}
          {% if item.type == 'main' %}
            <a href="#" class="news__card news__card--main link-inherit">
              <img src="/assets/img/temp/news-img.jpg" alt="" class="news__img">
              <div class="news__date text-caps-sm">{{ item.date }}</div>
              <h5 class="news__title">{{ item.title }}</h5>
            </a>
          {% endif %}
        {% endfor %}
        <div class="widget__more news__more">
          <a href="#">Все новости</a>
        </div>
      </div>
      <div class="news__col col-xs-12 col-md-6 with-md-divider">
        <ul class="news__list">
          {% for item in news %}
            {% if item.type != 'main' %}
              <li class="news__item">
                <a href="#" class="news__card link-inherit">
                  <div class="news__date text-caps-sm">{{ item.date }}</div>
                  <p class="news__title text-md">{{ item.title }}</p>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>