<section class="widget">
  <h2 class="widget__title h3"><a href="#" class="link-inherit">{{ services.title }}<i class="widget__title-icon icon-arrow-right"></i></a></h2>
  <div class="widget__content widget__body">
    <div class="widget__services services">
      <ul class="services__list list-default">
        {% for item in services.list %}
          <li class="list-default__item">
            <a href="#" class="link-inherit">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="widget__more">
      <a href="#">{{ services.more }}</a>
    </div>
  </div>
</section>