<section class="widget">
  <h2 class="widget__title h3"><a href="#" class="link-inherit">Популярные меры господдержки<i class="widget__title-icon icon-arrow-right"></i></a></h2>
  <div class="widget__content measures">
    <div class="measures__slider measures__slider--sm">
      <div class="measures__slider-list row controls-outside" data-component="measures-widget-slider">
        {% for item in measures %}
          <div class="measures__item col slick-slide">
            <a href="#" class="measure link-hidden">
              <div class="measure__number h3">0{{ loop.index }}</div>
              <h4 class="measure__title">{{ item.title }}</h4>
              <p class="measure__text text-muted">{{ item.text }}</p>
              <footer class="measure__footer text-caps-sm">
                  <div class="measure__date date"><i class="date__icon icon-clock"></i>{{ item.date }}</div>
              </footer>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>