<section class="widget">
  <h2 class="widget__title h3"><a href="#" class="link-inherit">Статистика и аналитика<i class="widget__title-icon icon-arrow-right"></i></a></h2>
  <div class="widget__content widget__body">
    <div class="stats">
      <h5 class="stats__subtitle">Количество заявок на меры господдержки</h5>
      <div class="stats__data row row--md">
        {% for select in chart.selects %}
          <div class="stats__data-col stats__data-col-{{ select.size }} col-xs-12">
            <select data-element="select-xs">
              {% for option in select.options %}
                <option {% if loop.first %}selected{% endif %}>{{ option }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      </div>
      <div class="stats__chart row">
        <div class="stats__chart-col col-xs-12 col-md-6">
          <div class="stats__chart-placeholder">
            <canvas id="stats-chart-canvas" class="stats__chart-canvas" width="216" height="216"></canvas>
            <dl class="stats__chart-total">
              <dt class="stats__chart-total-number h4">180</dt>
              <dd class="stats__chart-total-text text-muted text-sm">всего</dd>
            </dl>
          </div>
        </div>
        <div class="stats__chart-col col-xs-12 col-md-6">
          <ul class="stats__chart-legend legend text-sm">
            {% for item in chart.legend %}
              <li class="legend__item">
                <div class="legend__color" style="background-color:{{ item.color }}"></div>
                <div class="legend__text text-muted col">{{ item.text }}</div>
                <b class="legend__number">{{ item.number }}</b>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>