.banners {
    &__slider {
        &:before,
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            z-index: 10;
            width: $gutter;
            background-color: $body-bg;
            display: block;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}