.document {
    background-color: $gray-2;
    position: relative;

    &__body {
        padding-top: $grid-gutter;
        padding-bottom: $grid-gutter;
    }

    iframe,
    img {
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 16px rgba(33, 33, 37, 0.04);
    }

    &__footer {
        position: relative;
        z-index: 1;
        margin: 0 (-$gutter);
        background-color: $white;
        border-top: 1px solid $gray-3;
        border-bottom: 1px solid $gray-3;
        padding: ($grid-gutter - 1) ($unit * 2) $gutter;

        &:before {
            display: none;
        }
    }

    &__controls {
        position: absolute;
        bottom: 100%;
        right: $unit * 2;
        margin-bottom: $unit * 2 - 1;
    }

    &__control {
        display: block;
        @include size($unit * 5);
        @include rounded;
        background-color: $base-color;
        color: $white;
        text-align: center;
        font-size: $unit * 2;
        line-height: $unit * 5;
        margin-bottom: $unit;

        &.icon-download {
            font-size: $unit * 3;
        }

        @include hover-focus {
            background-color: $primary;
        }
    }

    @include media-breakpoint-between(md, md) {
        margin-left: -$gutter;
        margin-right: -$gutter;
        padding: 0 $grid-gutter;
        flex: initial;
        max-width: none;

        &__body {
            padding-top: $grid-gutter;
            padding-bottom: $grid-gutter;
        }

        &__footer {
            margin-left: (-$grid-gutter);
            margin-right: (-$grid-gutter);
            padding-left: $grid-gutter;
            padding-right: $grid-gutter;
            padding-bottom: 0;

            &:before {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        display: block;
        border-left: 1px solid $gray-3;
        padding-left: 0;
        padding-right: 0;

        &:after {
            position: absolute;
            top: 0;
            right: -$gutter;
            bottom: 0;
            width: $gutter;
            background-color: $gray-2;
            content: '';
        }

        &__body {
            padding: $grid-gutter;
            margin-right: -$gutter;
        }

        &__file {
            position: relative;
            max-width: 810px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 136px;
        }

        &__footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: -$gutter;
            margin: 0;
            border-bottom: 0;
            padding-left: $grid-gutter;
            padding-right: $grid-gutter;
            padding-bottom: 0;
        }

        &__controls {
            right: $unit * 3;
            margin-bottom: $unit * 3 - 1;
        }

        &__control {
            @include size($unit * 6);
            line-height: $unit * 6;
        }

        .ps__rail-y {
            right: -$gutter !important;
            z-index: 1;
        }
    }
}