.header {
    background: url(/assets/img/bg-header.jpg) 50%/cover no-repeat;
    position: relative;
    color: $white;
    margin-bottom: $unit * 4;
    padding-top: 230px;
    padding-bottom: $unit * 4;
    z-index: 1;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        pointer-events: none;
        background-color: rgba($black, .65);
        z-index: -1;
    }

    &__title {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__action {
        margin-top: $unit * 3;

        &-col {
            margin-top: $unit * 3;
        }
    }

    &__button {
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: $unit * 8;
        padding-top: 192px;
        padding-bottom: $unit * 10;

        &__action {
            margin-top: $unit * 2;

            &-col {
                max-width: none;
                flex: initial;
                margin-top: $unit * 4;
            }
        }

        &__button {
            width: auto;
            padding-left: $unit * 4;
            padding-right: $unit * 4;
        }
    }
}