.hero {
    &__header-col {
        margin-bottom: $unit * 4;
    }

    &__content-col {
        margin-bottom: $unit * 4;
    }

    &__title {
        border-bottom: 2px solid $white;
        padding-bottom: $unit * 4;
        margin-bottom: $unit * 4;
    }

    &__subtitle {
        margin-bottom: $unit * 4;
    }

    &__action {
        border-top: 1px solid rgba($white, .2);
        padding-top: $unit * 4;
        margin-top: auto;
    }

    .list-default {
        &__item {
            border-bottom-color: rgba($white, .2);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__card {
        background-color: $white;
        border-radius: $border-radius-sm;
        color: $base-color;
        padding: ($unit * 3) $gutter;

        &-title {
            margin-bottom: $unit * 3;
            text-transform: uppercase;
        }

        &-footer {
            border-top: 1px solid $gray-3;
            padding-top: $unit * 3;
            display: flex;
            align-items: center;
        }

        &-button {
            margin-right: $unit * 3;
            min-width: 104px;
        }

        &-link {
            font-weight: 600;
            white-space: nowrap;
        }
    }

    @include media-breakpoint-up(md) {
        &__header-col {
            display: flex;
            flex-direction: column;
        }

        &__content-col {
            margin-bottom: 0;
        }

        &__card-col {
            margin-left: auto;
        }

        &__card {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: $unit * 3;
            padding-right: $unit * 3;

            &-footer {
                margin-top: auto;
            }

            &-button {
                margin-right: $unit * 4;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $unit * 2;

        &__header-col {
            margin-bottom: 0;
        }

        &__subtitle {
            margin-bottom: $unit * 9;
        }

        &__card-col {
            flex: 1;
        }

        &__card {
            padding-left: ($unit * 4);
            padding-right: ($unit * 4);
            max-width: 328px;
            margin-left: auto;

            &-footer {
                margin-top: auto;
                padding-top: $unit * 4;
            }
        }

        .with-lg-divider {
            &:before {
                border-left-color: rgba($white, .2);
            }
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__card {
            &-button {
                margin-right: $unit * 2;
                width: auto;
            }
        }
    }
}