.history {
    &__section {
        border-bottom: 2px solid $base-color;
        padding-top: 5px;
        padding-bottom: ($unit * 4);
        margin-bottom: ($unit * 4);

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__header {
        position: relative;
        padding-left: ($unit * 7);
        @include margin-bottom($unit * 4);

        .history__item {
            margin-bottom: 0;
        }
    }

    &__status {
        @include size($unit * 5);
        @include rounded;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $gray-3;
        text-align: center;
        font-size: $unit * 2;
        line-height: ($unit * 5) - 4;
        color: $gray-3;

        .history__section.is-complete & {
            border-color: $green;
            background-color: $green;
            color: $white;
        }

        .history__section.is-progress & {
            border-color: $green;
        }
    }

    &__options {
        margin-top: $unit;
    }

    &__item {
        @include margin-bottom($unit * 4);

        &-title {
            margin-bottom: 0;
            font-weight: 500;
        }

        &-info {
            margin-top: $unit;
        }
    }

    @include media-breakpoint-up(md) {
        &__section {
            padding-bottom: ($unit * 6);
            margin-bottom: ($unit * 6);
        }

        &__header,
        &__list {
            padding-left: $unit * 11;
        }

        &__header {
            &-content {
                display: flex;
                align-items: flex-start;
            }

            .history__item {
                flex: 1;
            }
        }

        &__options {
            max-width: $unit * 26;
            text-align: right;
            padding-left: $unit * 4;
            margin-top: 2px;
        }

        .control {
            margin-top: 5px;
        }
    }
}