.measures {
    &__slider {
        &--sm {
            border: 1px solid $gray-3;
            border-radius: $border-radius-sm;
            overflow: hidden;
            height: 100%;
        }

        &-list {
            height: 100%;
        }
    }

    &__list {
        margin-bottom: -$unit * 2;
    }

    &__list & {
        &__item {
            margin-bottom: $unit * 2;
        }
    }

    @include media-breakpoint-up(md) {
        &__list {
            margin-bottom: -$unit * 4;
        }

        &__list & {
            &__item {
                margin-bottom: $unit * 4;
            }
        }
    }
}