.notification {
    &__header {
        margin-bottom: $unit * 3;
    }

    &__title {
        border-bottom: 1px solid $gray-3;
        padding-bottom: $unit * 3;
        margin-bottom: $unit * 3;
    }

    &__action {
        margin-top: $unit * 6;
    }

    &__button {
        max-width: 328px;
    }

    @include media-breakpoint-up(md) {
        &__header {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            max-width: 328px;
        }

        &__content {
            max-width: none;
            flex: 1;
        }
    }
}