.section {
    margin-bottom: $unit * 5;

    &__row {
        margin-bottom: -$unit * 5;
    }

    &__col {
        margin-bottom: $unit * 5;
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: $unit * 4;

        .section__title {
            margin-bottom: 0;
        }
    }

    &__more {
        font-weight: 600;
        margin-top: $unit * 2;
    }

    &__controls {
        margin-top: $unit * 4;
    }

    .section {
        margin-bottom: $unit * 5;
    }

    .section + .section {
        border-top: 2px solid $base-color;
        padding-top: $unit * 5;
        margin-top: -2px;
    }

    .section {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .basic-blocks {
        margin-top: $unit * 6;

        &:first-child {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(md) {
        margin-bottom: $unit * 8;

        &__row {
            margin-bottom: -$unit * 8;
        }

        &__col {
            margin-bottom: $unit * 8;
        }

        .section {
            margin-bottom: $unit * 8;
        }

        .section + .section {
            padding-top: $unit * 8;
        }

        &__header {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $unit * 6;
        }

        &__more {
            margin-top: 0;
        }

        &__controls {
            margin-top: $unit * 6;
        }

        &--extended-bottom & {
            &__col {
                margin-bottom: 0;
                padding-bottom: $unit * 8;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__col {
            display: flex;
            flex-direction: column;
        }
    }
}