.stats {
    &__subtitle {
        font-weight: 400;
        margin-bottom: $unit * 3;
    }

    &__data {
        margin-bottom: $unit * 4;

        &-col + &-col {
            margin-top: $unit;
        }
    }

    &__chart-placeholder {
        background-color: $gray;
        border-radius: $border-radius;
        padding: ($unit * 4) ($unit * 5) ($unit * 3);
        margin-bottom: $unit * 4;
    }

    &__chart-canvas {
        display: block;
        //@include size(216px);
    }

    &__chart-total {
        text-align: center;
        margin-top: $unit * 2;

        &-number,
        &-text {
            margin: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__data {
            &-col + &-col {
                margin-top: 0;
            }

            &-col-sm {
                max-width: 184px;
            }

            &-col-lg {
                max-width: none;
                flex: 1;
            }
        }

        &__chart-placeholder {
            height: 100%;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}