.steps {
    border-bottom: 1px solid $gray-3;

    &__list {
        flex-wrap: nowrap;
    }

    &__item {
        display: none;

        &.is-active {
            display: flex;
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            display: flex;
        }
    }
}