.widget {
    height: 100%;

    &__title {
        &-icon {
            font-size: .588em;
            left: 1em;
        }
    }

    &__body {
        border: 1px solid $gray-3;
        border-radius: $border-radius-sm;
        padding: $gutter - 1;
    }

    &__more {
        font-weight: 600;
        letter-spacing: -0.01em;
        padding-top: 40px;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__body {
            padding: $grid-gutter - 1;
        }

        &__services {
            margin-top: -$unit;
        }

        &__more {
            margin-top: auto;
            margin-bottom: -$unit;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}