.page-document {
    .header {
        margin-bottom: 0;
    }

    .main {
    }

    .footer {
        margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
        .section {
            margin-bottom: 0;

            &__row {
                margin-bottom: 0;
            }

            &__col {
                margin-bottom: 0;
            }
        }

        .document-aside {
            padding-top: $unit * 4;
            padding-bottom: $unit * 4;
        }
    }
}