.customer-menu {
    @include list-unstyled;
    position: fixed;
    top: rem($header-height-mobile);
    left: 0;
    right: 0;
    bottom: rem($mobile-nav-height);
    background-color: $white;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

    &__link {
        color: inherit;

        @include hover-focus {
            border-bottom: 1px dashed $gray-11;
        }
    }

    @include media-breakpoint-up(xl) {
        position: static;
        background: none;
        opacity: 1;
        visibility: visible;
        @include make-row($spacer-8);

        &__item {
            @include make-col($spacer-8);
        }
    }
}