.footer {
    background-color: $black-3;
    color: $white;
    padding-bottom: rem($mobile-nav-height);
    position: relative;

    &__button-top {
        position: fixed;
        left: rem($gutter);
        bottom: rem($gutter);
        margin-bottom: rem($spacer-10);
        z-index: 3;
        opacity: 0;
        &.active {
          opacity: 1;
        }
    }

    &__col {
        &--logo {
            margin-bottom: rem($spacer-3);
        }

        &--contact {
            margin-top: rem($spacer-3);
        }

        &--social {
            margin-top: rem($spacer-7);
        }
    }

    &__main {
        padding: rem($spacer * 15 $spacer-5 $spacer-6);
    }

    &__logo {
        &-img {
            display: block;
        }
    }

    &__copyright {
        @include font($font-size-sm, $line-height-sm, $font-weight-semibold);
        color: $gray-16;
        margin-top: $spacer * 7.75;
    }

    &__contact {
        display: inline-block;
        @include font($font-size-xl, $line-height-lg, $font-weight-semibold);
    }

    &__menu {
        padding: rem($spacer-6 $spacer-6 $spacer * 8.5);

        &-section {
            @include margin-bottom(rem(47px), 0);
        }

        &-title {
            @include font($font-size-sm, 15.01px, $font-weight-semibold);
            letter-spacing: 0.1em;
            color: $gray-16;
            margin-bottom: rem($spacer-3);
        }

        &-list {
            @include list-unstyled;

            &--xs-columns {
                columns: 2;
                column-gap: rem($spacer-4);
            }
        }

        &-item {
            @include font($font-size-md, $line-height-md);
            margin-bottom: rem($spacer-3);
        }

        &-link {
            color: inherit;

            @include hover-focus {
            }
        }
    }

    &__features {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-10);
        border-top: 1px solid $gray-18;
    }

   @include media-breakpoint-between(sm, sm) {
       &__menu {
           &-list {
               columns: 2;
               column-gap: rem($spacer-4);
           }
       }
   }

   @include media-breakpoint-up(md) {
       &__button-top {
           left: rem($spacer-4);
           margin-bottom: rem($spacer-4);
       }

       &__menu {
           &-list {
               &--xs-columns {
                   columns: initial;
               }

               &--md-columns {
                   columns: 2;
                   column-gap: rem($spacer-4);
               }
           }
       }
   }

   @include media-breakpoint-between(md, lg) {
       &__col {
           &--logo {
               grid-area: logo;
               max-width: none;
               flex: initial;
           }

           &--contact {
               text-align: right;
               max-width: none;
               flex: initial;
               margin-top: 0;
               margin-bottom: rem(14px);

               &:first-child {
                   grid-area: phone;
               }

               &:last-child {
                   grid-area: email;
               }
           }

           &--social {
               grid-area: social;
               max-width: none;
               flex: initial;
               margin-top: rem(5px);
           }
       }
       
       &__main {
           padding-top: rem(64px);
           padding-bottom: rem($spacer-8);

           .row {
               display: grid;
               grid-template-columns: 1fr 1fr;
               grid-template-rows: min-content min-content min-content;
               gap: 0;
               grid-template-areas:
                 "logo phone"
                 "logo email"
                 "logo social";
                 align-items: flex-start;
             }
       }

       &__social {
           justify-content: flex-end;
       }

       &__menu {
           padding-bottom: rem($spacer-9);

           &-section {
               margin-bottom: 0;
           }

           .container {
               padding-left: rem(76px);
               padding-right: rem(76px);
           }
       }

       &__features {
           padding-top: rem($spacer-8);
           padding-bottom: 0;
       }
   }

   @include media-breakpoint-up(xl) {
       padding-bottom: 0;

       &__button-top {
           left: rem($spacer-6);
           margin-bottom: rem($spacer-6);
       }

       &__col {
           &--logo {
               margin-bottom: 0;
               position: relative;
           }

           &--contact {
               margin-top: 0;
           }

           &--social {
               margin-top: 0;
           }
       }

       &__main {
           padding: rem($spacer * 12.75 0 $spacer * 12);
       }

       &__copyright {
           position: absolute;
           top: 100%;
           left: rem($spacer-3);
       }

       &__menu {
           padding: rem(0 0 $spacer * 6.5);

           &-section {
               margin-bottom: 0;

               &:first-child {
                   margin-left: 25%;
               }
           }
       }

       &__features {
           padding: rem($spacer * 12.25 0 $spacer);
       }
   }
}