.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 100;
    filter: drop-shadow(0 1px 0 $gray-5);

    &__row {
        flex-wrap: nowrap;
    }

    &__col {
        position: static;
        height: auto;
    }

    &__main {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $white;
        z-index: 100;
        padding-top: rem(6px);
        padding-bottom: rem(9px);
    }

    &__logo {
        transform: translateY(2px);

        .logo__img {
            max-height: rem(18px);
            width: auto;
        }
    }

    &__navbar {
        display: none;
        position: absolute;
    }

    &__search {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        max-width: rem(340px);
        overflow: auto;
        max-height: calc(100vh - 80px);
    }

    @include media-breakpoint-up(md) {
        &__search {
            max-width: rem(570px);
        }
    }

    @include media-breakpoint-up(xl) {
        filter: none;

        &__col {
            &--phone {
                margin-left: auto;
            }

            &--search {
                max-width: rem(487px);
                flex: 1;
            }

            &--main-nav,
            &--session-menu {
                max-width: 40%;
                flex: 0 0 40%;
            }

            &--session-menu {
                position: relative;
            }
        }

        &__top {
            padding-top: rem($spacer-3);
            padding-bottom: rem($spacer-3);
            border-bottom: 1px solid $gray-5;
            @include em-line-height($font-size-base, $line-height-sm);
        }

        &__location {
            color: inherit;
            font-weight: $font-weight-bold;

            &-icon {
                font-size: rem($font-size-xl);
                margin-left: rem($spacer);
            }

            @include hover-focus {
                opacity: .75;
            }
        }

        &__phone {
            font-weight: $font-weight-bold;
            white-space: nowrap;

            &-icon {
                font-size: rem($font-size-xl);
                margin-left: rem($spacer);
            }
        }

        &__main {
            position: static;
            padding-top: rem($spacer-4 - 2);
            padding-bottom: rem($spacer-4 - 1);
        }

        &__logo {
            transform: none;

            .logo__img {
                max-height: none;
            }
        }

        &__navbar {
            position: relative;
            display: block;
            background-color: $primary;
            color: $white;
        }

        &__search {
            display: block;
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            max-width: none;
            overflow: visible;
            max-height: none;
        }
    }
}