.main {
    padding-top: rem($header-height-mobile);
    overflow: hidden;

    @include media-breakpoint-up(md) {
        flex: 1;
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem($header-height);
        display: flex;
        flex-direction: column;
    }

    @include media-breakpoint-up(2xl) {
    }
}