.mobile-menu {
    position: fixed;
    bottom: rem(56px);
    left: 0;
    width: 100%;
    color: $white;
    z-index: 110;
    background-color: $gray-20;
    border-bottom: 1px solid rgba($gray-11, .2);
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    max-height: calc(100vh - 56px);
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateY(100%);

    &.is-visible {
        visibility: visible;
        transform: translateY(0);
    }

    &__header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: $gray-20;
        padding: rem($spacer-4 $spacer-2 $spacer-4 $spacer-8);
        display: flex;
        align-items: flex-start;
        z-index: 1;
        border-bottom: 1px solid rgba($gray-11, .2);
    }

    &__title {
        margin-bottom: 0;
    }

    &__close {
        display: block;
        font-size: rem($spacer-6);
        margin-top: rem(- $spacer-2);
        margin-left: auto;
        color: inherit;
    }

    &__body {
        padding: rem($spacer-4 $spacer-8 $spacer-8);
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        border-bottom: 1px dashed rgba($gray-11, .2);
        padding-top: rem($spacer-2);
        padding-bottom: rem(3px);

        &:first-child {
            padding-top: 0;
        }

        &--contact {
            padding-bottom: rem(3px);
            @include margin-bottom(rem($spacer-6));
        }
    }

    &__link {
        display: block;
        color: inherit;
        @include font($font-size-lg, $line-height-xl, $font-weight-bold);

        .mobile-menu__list--collapsible & {
            padding-left: rem($spacer-8);
        }

        .mobile-menu__item--collapsible & {
            position: relative;

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                margin-top: -1px;
                font-size: rem($spacer-5);
            }
        }
    }

    &__level2 {
        @include list-unstyled;

        .is-collapsed & {
            display: none;
        }

        &-item {
            border-top: 1px dashed rgba($gray-11, .2);
        }

        &-link {
            display: block;
            color: inherit;
            @include font($font-size-md, $line-height-md)
            padding-top: rem($spacer-3);
            padding-left: rem($spacer-8);
            padding-bottom: rem($spacer-2 - 1);
        }
    }

    &--search {
        max-height: 77%;
    }

    &--search & {
        &__body {
            padding-top: rem($spacer-5);
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(md) {
        width: rem(375px);
        top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transform: translateX(-100%);

        &.is-visible {
            transform: translateX(0);
        }

        &--right {
            left: auto;
            right: 0;
            transform: translateX(100%);
        }

        &--search {
            max-height: none;
        }
    }
}