.mobile-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: $gray-20;
    color: $white;
    @include list-unstyled;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    z-index: 120;

    &__item {
        padding-top: rem($spacer);
        padding-bottom: rem($spacer);
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: rem($spacer);
        color: inherit;
        @include font(8px, 9.01px);
        border-radius: $border-radius;

        @include hover-focus {
            background-color: $primary;
            color: $white;
        }

        &.is-active {
            background-color: $primary;
            color: $white;
        }
    }

    &__icon,
    &__hamburger {
        margin-bottom: rem(3px);
    }

    &__icon {
        @include size($spacer-8);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem($font-size-2xl);
    }

    &__badge {
        position: absolute;
        top: rem(7px);
        left: 48%;
    }

    @media (min-width: 375px) {
        justify-content: center;

        &__link {
            width: rem(58px);
        }
    }

    @include media-breakpoint-up(md) {
        z-index: 1043;
    }
}