.nav {
    @include media-breakpoint-up(xl) {
        @include list-unstyled;
        @include make-row(88px);

        &__item {
            @include make-col(88px);
            position: static;

            &--right {
                margin-left: auto;

                .nav__link {
                    background-color: $base-color;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
            color: inherit;
            padding: rem($spacer-4 $spacer-6);
            margin-left: rem(-$spacer-6);
            margin-right: rem(-$spacer-6);

            @include hover-focus {
                color: inherit;
                opacity: .75;
            }
        }

        &__icon {
            font-size: rem($font-size-xl);
            margin-right: rem($spacer-2);
        }

        &__submenu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: $white;
            box-shadow: 0 4px 10px rgba($black, 0.1);
            opacity: 0;
            visibility: hidden;
            //transition: all .25s ease .25s;
            max-height: 0;
            overflow: hidden;
            transition: all 0.15s .5s ease-out;


            .nav__item:hover &,
            .nav__item:focus & {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}