.navbar {
    .container {
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }

    &__back + &__dropdown {
        margin-left: rem($gutter);
    }

    &__dropdown {
        @include text-truncate();
    }

    @include media-breakpoint-up(2xl) {
    }
}