.quick-menu {
    @include list-unstyled;
    text-align: center;
    flex-wrap: nowrap;

    &__item {
        @include font($font-size-xs, $line-height-xs);
        position: relative;

        @include hover-focus {
            .quick-menu__popup {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__link {
        display: block;
        position: relative;
        color: inherit;

        @include hover-focus {
            .quick-menu__icon {
                color: $primary;
            }
        }
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: rem($spacer-8);
        transition: color .25s ease-in-out;
    }

    &__badge {
        position: absolute;
        top: 0;
        left: 50%;
    }

    &__popup {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: rem($spacer-3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;
    }

    @include media-breakpoint-up(xl) {
        @include make-row-modification($gutter-lg);

        &__icon {
            margin-bottom: rem($spacer);
        }
    }
}