.search {
    color: $base-color;

    .form__group {
        margin-bottom: 0;
    }

    &__content {
        background-color: $white;
        border-radius: $border-radius-sm;
        box-shadow: 0 4px 15px rgba($black, 0.1);
        padding: rem($spacer-4);
        margin-top: rem($spacer-3);
    }

    &__section {
        @include margin-bottom(rem($spacer-6), rem($spacer-2));
    }

    &__title {
        font-weight: $font-weight-bold;
        margin-bottom: rem($spacer-4);
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-2);
    }

    &__link {
        color: inherit;
        border-bottom: 1px dashed rgba($gray-11, 0);

        @include hover-focus {
            border-bottom-color: $gray-11;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(xl) {
        &__content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 1;
            margin-top: rem($spacer-2);
        }
    }
}