.submenu {
    @include media-breakpoint-up(xl) {
        color: $base-color;

        &__main {
            padding-top: rem($spacer-6);
            padding-bottom: rem(22px);
        }

        &__row {
            @include make-row(rem($spacer-4));
        }

        &__col {
            @include make-col(rem($spacer-4));
            flex-grow: 1;
            flex-basis: 0;
        }

        &__title {
            margin-bottom: rem(38px);
            font-weight: $font-weight-bold;

            &-link {
                color: inherit;
            }
        }

        &__more {
            display: inline-block;
            margin-top: rem($spacer-2);
        }

        &__quick {
            padding-top: rem(38px);
            padding-bottom: rem($spacer-8);

            &-list {
                @include list-unstyled;
                columns: 4;
                column-gap: rem($spacer-4);
                max-width: rem(944px);
                margin-bottom: rem(-22px);
            }

            &-item {
                margin-bottom: rem(22px);
            }

            &-link {
                color: inherit;
                font-weight: $font-weight-semibold;

                @include hover-focus {
                    color: $primary;
                }
            }
        }
    }
}