{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-error' %}
{% set pageTitle = '404' %}

{% block content %}

  <div class="section site-error">
    <div class="container">
      <div class="site-error__body">
        <img src="/assets/img/404.svg" alt="" class="site-error__img">
        <div class="site-error__content">
          <p>К сожалению, такой страницы не существует...</p>
          <p>Но не стоит огорчаться — начните <a href="/" class="link-primary">с&nbsp;главной</a> или продолжайте искать прямо тут!</p>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_catalog-switch.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}