{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-about' %}

{% block content %}

  {% include 'partials/_hero-about.twig' with { heroID: 1 } %}

  {% include 'partials/_products.twig' %}

  {% include 'partials/_about.twig' %}

  {% include 'partials/_guarantee.twig' %}

  {% include 'partials/_quality.twig' %}

  {% include 'partials/_accept.twig' %}

  {% include 'partials/_hero-about-2.twig' with { heroID: 2 } %}

  {% include 'partials/_parameters.twig' %}

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_envelope.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_eco.twig' %}

  {% include 'partials/_benefits-extended.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-trade-in.twig' %}
{% endblock %}