{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-cart' %}
{% set pageTitle = 'Корзина' %}

{% block content %}

  <div class="page-header theme-light">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <form action="order-confirmation-credit.html" method="post" class="section cart theme-light" data-form="cart" data-validate="parsley">
    <div class="container">

      <div class="cart__row row">
        <div class="cart__main col-xs-12 col-xl-8">
          <div class="cart__items">
            {% for item in catalog.set %}
              <div class="cart__item">
                <div class="cart-item">
                  <div class="cart-item__content">
                    <a href="catalog-item.html" class="cart-item__picture">
                      <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="cart-item__img">
                    </a>

                    <div class="cart-item__body">
                      <div class="cart-item__title">
                        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
                      </div>

                      <div class="cart-item__rating rating hidden-xl-up">
                        <span class="rating__stars rating-stars" data-rate="4">
                          {% for i in 1..5 %}
                            {{ svg.icon('star', 'rating-stars__star') }}
                          {% endfor %}
                        </span>
                        <span class="rating__counter">5 отзывов</span>
                      </div>

                      {% if item.condition %}
                        <div class="cart-item__condition">
                          <span class="cart-item__condition-label">Состояние:</span>
                          <a href="#modal-condition" class="cart-item__condition-link link-primary" data-element="modal-trigger" data-effect="mfp-zoom-in modal-full-tablet">{{ item.condition }}</a>
                        </div>
                      {% endif %}

                      <ul class="cart-item__tags tags tags--adaptible row row--xs" data-component="adaptible-tags" data-id="{{ item.id }}" data-tag-class="tag tag--sm tag--default" data-tippy-placement="top-start">
                        {% for tag in item.tags %}
                          <li class="tags__item col" data-element="adaptible-item">
                            <span class="tag tag--sm tag--default">{{ tag }}</span>
                          </li>
                        {% endfor %}
                      </ul>

                      <div class="hidden-md-down" data-element="placeholder" data-id="cart-item-price-info-{{ item.id }}" data-device="desktop"></div>
                    </div>

                    <div class="hidden-lg-up" data-element="placeholder" data-id="cart-item-price-info-{{ item.id }}" data-device="mobile">
                      {% if item.marketPrice %}
                        <div class="cart-item__price-info price-info" data-block="movable-block" data-id="cart-item-price-info-{{ item.id }}">
                          <dl class="price-info__item">
                            <dt class="price-info__label">Цена нового товара на&nbsp;Я.Маркете</dt>
                            <dd class="price-info__price text-muted">{{ item.marketPrice }} ₽</dd>
                          </dl>
                          <dl class="price-info__item">
                            <dt class="price-info__label">Минимальная выгода</dt>
                            <dd class="price-info__price">{{ item.minSave }} ₽</dd>
                          </dl>
                        </div>
                      {% endif %}
                    </div>
                  </div>

                  <div class="cart-item__amount">
                    <div class="cart-item__amount-body">
                      <div class="cart-item__amount-form amount-form" data-component="amount-form">
                        <button class="amount-form__control icon-minus" data-element="dec-control" type="button" disabled></button>
                        <span class="amount-form__data"><span data-element="amount-data" data-min="1" data-value="1">1</span> шт.</span>
                        <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
                      </div>
                      <div class="cart-item__amount-label text-muted">В наличии {{ i }}шт.</div>
                    </div>

                    <div class="hidden-lg-up" data-element="placeholder" data-id="cart-item-controls-{{ item.id }}" data-device="mobile">
                      <div class="cart-item__controls" data-block="movable-block" data-id="cart-item-controls-{{ item.id }}">
                        <button class="cart-item__control button button--outline-default button--md button--square icon-fav {% if isFavActive %}is-active{% endif %}" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="{% if isFavActive %}Удалить из избранного{% else %}Добавить в избранное{% endif %}"></button>
                        <button class="cart-item__control button button--outline-default button--md button--square icon-trash" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="Удалить из корзины"></button>
                      </div>
                    </div>
                  </div>

                  <div class="cart-item__footer">
                    <div class="cart-item__prices">
                      <div class="cart-item__price">{{ item.price }} ₽</div>

                      {% if loop.first %}
                        <div class="cart-item__price-old text-muted">69 990 ₽</div>
                      {% endif %}

                      <div class="cart-item__bonus bonus">
                        <span class="bonus__text">+{{ item.bonus }} баллов</span>
                        <i class="bonus__icon icon-logo-outline"></i>
                      </div>
                    </div>

                    <div class="hidden-md-down" data-element="placeholder" data-id="cart-item-controls-{{ item.id }}" data-device="desktop"></div>
                  </div>
                </div>
              </div>
            {% endfor %}

            <div class="cart__items-total">
              <div class="cart__items-promocode">
                <div class="form__field form__field--button-right">
                  <input type="text" class="form__input form__input--md" placeholder="Введите промокод">
                  <input type="button" class="form__field-button button button--primary button--md" value="Ok">
                </div>

                <ul class="cart__items-tags tags row row--sm">
                  {% for tag in ['-5% до 5 марта', '-10% на аксессуары Apple'] %}
                    <li class="tags__item col">
                      <span class="tag tag--default">{{ tag }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>

              <dl class="cart__items-check">
                <dt class="cart__items-label cart__items-label--lg">Итого:</dt>
                <dd class="cart__items-data cart__items-data--lg">70 070 ₽</dd>
                <dt class="cart__items-label">Баллы (с 21.03.21):</dt>
                <dd class="cart__items-data">+ 153</dd>
                <dt class="cart__items-label">Ваша скидка:</dt>
                <dd class="cart__items-data">2 000 ₽</dd>
              </dl>
            </div>
          </div>

          <div class="cart__sections">
            <div class="cart__section" data-parsley-group="customer">
              <div class="cart__section-title h5">Контактные данные</div>
              <div class="cart__section-body">
                <div class="cart__form cart__form--fixed">
                  <div class="form__group is-required">
                    <div class="form__field">
                      <input type="text" name="fio" class="form__input form__input--md" required placeholder="ФИО" value="Иванов Иван Иванович">
                    </div>
                  </div>

                  <div class="form__group is-required">
                    <div class="form__field">
                      <input type="text" name="phone" class="form__input form__input--md" required data-inputmask="'mask': '+9 999 999-99-99'" placeholder="Телефон" value="+7 (921) 123-45-67">
                      <button class="form__field-button form__field-button--outside button button--primary button--md is-success">Подтвержден</button>
                    </div>
                    <p class="form__exp text-sm text-muted">Пожалуйста, подтвердите номер телефона. Это необходимо для корректности оформления доставки и для безопасности вашего заказа.</p>
                  </div>

                  <div class="form__group is-required">
                    <div class="form__field">
                      <input type="email" name="email" class="form__input form__input--md" required placeholder="Ваш email">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="cart__section" data-parsley-group="delivery">
              <div class="cart__section-title h5">Способ доставки</div>
              <div class="cart__section-body">
                <div class="row">
                  <div class="form__group col-xs-12 col-xl-8">
                    <select data-element="select" class="select-md">
                      {% for city in location.cities %}
                        <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ city }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                {% for tab in product.info if tab.id == 'delivery' %}
                  {% include 'partials/_services-list.twig' with { servicesClass: 'cart__services', services: tab.list, radio: true, rowClass: 'row--sm', cardClass: 'service-card--sm' } %}
                {% endfor %}

                <div class="cart__form row">
                  <div class="col-xs-12 col-xl-8">

                    <div class="form__group is-required">
                      <div class="form__field">
                        <input type="text" name="street" class="form__input form__input--md" required placeholder="Улица" value="Комсомола">
                      </div>
                    </div>

                    <div class="row row--sm">
                      <div class="col-xs-12 col-xl-6">
                        <div class="form__group is-required">
                          <div class="form__field">
                            <input type="text" name="house" class="form__input form__input--md" required placeholder="Дом" value="12 кор.1">
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-6">
                        <div class="form__group is-required">
                          <div class="form__field">
                            <input type="text" name="app" class="form__input form__input--md" required placeholder="Квартира/Офис " value="34">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row row--sm">
                      <div class="col-xs-12 col-xl-6">
                        <div class="form__group is-required">
                          <label class="form__label">Дата</label>
                          <div class="form__field">
                            <select data-element="select" class="select-md">
                              {% for option in ['3 марта (среда)', '4 марта (четверг)', '5 марта (пятница)'] %}
                                <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ option }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-6">
                        <div class="form__group is-required">
                          <label class="form__label">Время</label>
                          <div class="form__field">
                            <select data-element="select" class="select-md">
                              {% for option in ['с 08:00 до 12:00', 'с 12:00 до 16:00', 'с 16:00 до 22:00'] %}
                                <option value="{{ loop.index }}" {% if loop.last %}selected{% endif %}>{{ option }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="form__field">
                        <textarea rows="7" name="comment" class="form__input" required placeholder="Комментарий"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="cart__section" data-parsley-group="payment">
              <div class="cart__section-title h5">Способ оплаты</div>
              <div class="cart__section-body">
                {% for tab in product.info if tab.id == 'payment' %}
                  {% include 'partials/_services-list.twig' with { servicesClass: 'cart__services', services: tab.list, radio: true, cardClass: 'service-card--sm' } %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="cart__aside col-xs-12 col-xl-4">
          <div class="cart__aside-box">
            <dl class="cart__status">
              <dt class="cart__status-label is-success">В корзине 3 товара</dt>
              <dd class="cart__status-data">70 070 ₽</dd>
              <dt class="cart__status-label is-success">Получатель</dt>
              <dd class="cart__status-data">Иванов Иван Иванович</dd>
              <dt class="cart__status-label is-success">Доставка 3 марта</dt>
              <dd class="cart__status-data">300 ₽</dd>
              <dt class="cart__status-label is-success">Оплата</dt>
              <dd class="cart__status-data">Рассрочка 0|0|10, 7070  ₽/мес.</dd>
            </dl>

            <dl class="cart__total">
              <dt class="cart__total-label">Итого</dt>
              <dd class="cart__total-sum">70 070 ₽</dd>
            </dl>

            <div class="cart__feature">
              <i class="cart__feature-icon icon-verified"></i>
              <div class="cart__feature-content">
                <p>Гарантия 180 дней</p>
                <p>Возврат в течение 21 дня</p>
              </div>
            </div>

            <label class="cart__consent custom-control custom-checkbox">
              <input type="checkbox" class="custom-control__input" name="cart-consent" value="1" checked>
              <span class="custom-control__indicator"></span>
              <span class="custom-control__content">
                Я принимаю условия <a href="#" class="link-primary">Оферты</a>.
              </span>
            </label>

            <div class="cart__submit">
              <input type="submit" class="cart__button button button--primary button--xl button--block" value="Подтвердить заказ">
            </div>

            <div class="cart__note text-sm text-muted">Нажимая кнопку “Оставить отзыв”, я принимаю условия <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики конфиденциальности</a> и <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики обработки персональных данных</a></div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-phone-confirmation-form.twig' %}
  {% include 'partials/_modal-phone-confirmation-form-2.twig' %}
  {% include 'partials/_modal-phone-confirmation-form-3.twig' %}
  {% include 'partials/_modal-phone-confirmation-thanks.twig' %}
  {% include 'partials/_modal-pickup.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    var myMap;
    ymaps.ready(init);
    function init () {
      myMap = new ymaps.Map('map', {
        center: [55.653901, 37.561748],
        zoom: 13,
        controls: []
      });
      myGeoObject = new ymaps.GeoObject({}, {});
      myMap.geoObjects
      .add(myGeoObject)

      myMap.behaviors.disable('scrollZoom'); 
      var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
        balloonContentBody: [
          `
            <dl class="point-card">
                <dt class="point-card__name text-md"><b>Почтомат 5post в Пятерочке ОМ100836</b></dt>
                <dd class="point-card__data">199178, Москва, Малый пр., д.52/1</dd>
                <dd class="point-card__data"><b>пн-вс: 09:00 – 23:00</b></dd>
                <dd class="point-card__data hidden-md-down">
                    <a href="#" class="link-primary">Заберу здесь</a>
                </dd>
                <dd class="point-card__footer hidden-lg-up">
                    <button class="point-card__button button button--primary button--sm button--block">Заберу здесь</button>
                </dd>
            </dl>`
        ].join('')
      }, {
        iconLayout: 'default#image',
        iconImageHref: '/assets/img/map-marker.svg',
        iconImageSize: [60, 84],
      }, {
        preset: 'islands#redDotIcon'
      });
      myMap.geoObjects.add(myPlacemark);
    }
  </script>
{% endblock %}