{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Смартфоны' %}

{% block content %}

  <div class="page-header theme-light stop-theme-xs start-theme-md">
    <div class="page-header__intro theme-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-xl-8 hidden-md-down">
            <div class="intro-card theme-base">
              <h1 class="intro-card__title">{{ pageTitle }} <span class="intro-card__number">349</span></h1>
              <p class="intro-card__description">Мы продаем устройства, принятые в trade-in и с витрины «Мегафона» и «Связного». Каждый гаджет проверяем на подлинность, диагностируем и, если требуется, восстанавливаем оригинальными запчастями. На все устройства — гарантия до 180 дней.</p>
            </div>
          </div>
          <div class="col-xs-12 col-lg-5 col-xl-4">
            {% for item in promos|slice(0,1) %}
              <a href="{{ item.link }}" class="promo-card promo-card--sm theme-light">
                <div class="promo-card__content">
                  <h3 class="promo-card__title">{{ item.title }}</h3>
                  <p class="promo-card__text">{{ item.text }}</p>
                </div>
                <img src="/assets/img/temp/promos/{{ loop.index }}.png" alt="" class="promo-card__img">
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="page-header__body hidden-lg-up">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section section--md catalog catalog--theme">
    <div class="container">

      <div class="row">
        <div class="catalog__filter col">
          {% include 'partials/_filters.twig' %}
        </div>

        <div class="catalog__main col-xs-12 col">
          <div class="section section--md catalog__body">
            {% include 'partials/_catalog-sorting.twig' with { sortingActive: true, filterBadge: true } %}

            {% include 'partials/_catalog-items.twig' with { items: catalog.items|slice(0,15) } %}

            {% include 'partials/_pagination.twig' with { class: 'catalog__pagination' } %}
          </div>

          <div class="section section--md seo hidden-xl-up">
            <div class="seo__body text-md">
              <h5>Подержанные смартфоны с гарантией</h5>
              <p>Выбрать и купить мобильный б/у телефон помогут отзывы, характеристики, качественные фото, подбор по цене и другим параметрам, профессиональные описания, наличие инструкции.</p>
              <p>Ваш заказ будет готов к самовывозу в ближайшем фирменном магазине в Москве или в одной из 2546 точек по всей России. <br>Выбирайте курьерскую адресную доставку — привезем до двери, бесплатно при покупке от 1000 р.</p>
              <p>В каталоге интернет-магазина Smart Bazar представлены только оригинальные дешевые сотовые подержанные (бушные) телефоны в отличном состоянии. Все модели в продаже имеют сертификат соответствия и сопровождаются официальной гарантией производителя.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_benefits.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}