{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Кабель для зарядки Apple с магнитным креплением 1м White (MX2E2ZM/A)' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__intro theme-light stop-theme-md">
      <div class="container">
        {% for item in promos|slice(0,1) %}
          <a href="{{ item.link }}" class="promo-card promo-card--lg theme-light">
            <div class="promo-card__content">
              <h3 class="promo-card__title">{{ item.title }}</h3>
              <p class="promo-card__text">{{ item.text }}</p>
            </div>
            <img src="/assets/img/temp/promos/{{ loop.index }}-lg.png" alt="" class="promo-card__img">
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Аксессуары</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <div class="hidden-md-up">
          <h1>Аксессуары</h1>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_product-2.twig' %}

  {% include 'partials/_catalog-accessories.twig' %}

  <div class="section section--md product-info theme-light">
    <div class="product-info__container container">

      {% include 'partials/_catalog-item-info.twig' %}

      {% include 'partials/_catalog-item-feedback-empty.twig' %}

    </div>
  </div>

  {% include 'partials/_catalog-common-section.twig' with { sectionTitle: 'Стоимость нового товара на Яндекс.Маркете', isItemShop: true } %}

  {% include 'partials/_catalog-common-section.twig' with { sectionTitle: 'Товары со схожими характеристиками' } %}

  {% include 'partials/_slider-block.twig' %}

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_benefits.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-item-subscribe-form.twig' %}
  {% include 'partials/_modal-item-subscribe-thanks.twig' %}
  {% include 'partials/_modal-question-form.twig' %}
  {% include 'partials/_modal-question-thanks.twig' %}
  {% include 'partials/_modal-review-form.twig' %}
  {% include 'partials/_modal-review-thanks.twig' %}
  {% include 'partials/_modal-share.twig' %}
{% endblock %}