{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Сравнение товаров' %}

{% block content %}

  <div class="page-header theme-lighter stop-theme-xs start-theme-md">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section compare theme-lighter stop-theme-xs start-theme-md">
    <div class="container">

      <div class="compare__header">
        <div class="compare__options">
          <div class="compare__options-label">Категория товара</div>
          <div class="compare__option">
            <select data-element="select" class="select-theme-light-xs select-sm-xs">
              {% for item in nav.main if item.footer != false %}
                <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="compare__option">
            <div class="form__controls">
              {% for item in ['Все параметры', 'Только различающиеся параметры'] %}
                <div class="form__group col">
                  <label class="custom-control custom-control--primary custom-radio">
                    <input type="radio" class="custom-control__input" name="compare-type" value="{{ loop.index }}" {% if loop.first %}checked{% endif %}>
                    <span class="custom-control__indicator"></span>
                    <span class="custom-control__content">{{ item }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="compare__slider">
          <div class="compare__slider-head">
            <button class="compare__slider-prev slick-arrow slick-prev"></button>
            <div class="compare__slider-counter h5"><span data-element="compare-counter">1 из 4</span> товаров</div>
            <button class="compare__slider-next slick-arrow slick-next"></button>
          </div>

          <div class="compare__slider-items" data-slider="compare">
            {% for item in catalog.items|slice(0, 4) %}
              <div class="compare__slide slick-slide">
                {% include 'partials/_catalog-item-compare.twig' %}
              </div>
            {% endfor %}
          </div>

        </div>
      </div>

      <div class="compare__body">
        {% for section in comparison.main %}
          <div class="compare__section compare__section--main">
            {% for row in section.table %}
              <div class="compare__section-row">
                <div class="compare__section-label">{{ row.th }}</div>
                <div class="compare__section-data" data-slider="compare-props">
                  {% for td in row.td %}
                    <div class="compare__section-cell">{{ td }}</div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

        {% for section in comparison.body %}
          <div class="compare__section">
            {% if section.title %}
              <div class="compare__section-title">{{ section.title }}</div>
            {% endif %}
            <div class="compare__section-content">
              {% for row in section.table %}
                <div class="compare__section-row">
                  <div class="compare__section-label">{{ row.th }}</div>
                  <div class="compare__section-data" data-slider="compare-props">
                    {% for i in 1..4 %}
                      <div class="compare__section-cell slick-slide">{{ row.td }}</div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}