{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Избранное' %}

{% block content %}

  <div class="page-header theme-light stop-theme-xs start-theme-md">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section catalog catalog--theme catalog--fav">
    <div class="container">
      <div class="section catalog__body">
        <div class="catalog__sorting sorting hidden-md-up">
          <div class="sorting__select">
            <select data-element="select" class="select-theme-light select-sm">
              {% for item in nav.main|slice(0,5) %}
                <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% include 'partials/_catalog-items.twig' with { items: catalog.items|slice(4,5), listGrid: true, gridSize: 4, isFav: true } %}
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}