{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

  {% include 'partials/_hero.twig' with { heroID: 1 } %}

  {% include 'partials/_products.twig' %}

  {% include 'partials/_menu.twig' with { list: nav.main|slice(0, 6), sizeSm: true } %}

  {% include 'partials/_catalog-switch.twig' %}

  {% include 'partials/_trade-in-promo.twig' %}

  {% include 'partials/_catalog-popular.twig' %}

  {% include 'partials/_arrivals.twig' %}

  {% include 'partials/_promos.twig' %}

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_eco.twig' %}

  {% include 'partials/_benefits.twig' %}

  {% include 'partials/_categories.twig' %}

  {% include 'partials/_reviews.twig' %}

  {% include 'partials/_catalog-common-section.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}