{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

  {% include 'partials/_hero.twig' with { heroID: 1 } %}
  <br>
  {% include 'partials/_hero.twig' with { heroID: 2} %}
  <br>
  {% include 'partials/_hero.twig' with { heroID: 3 } %}
  <br>
  {% include 'partials/_hero.twig' with { heroID: 4 } %}
  <br>
  {% include 'partials/_hero.twig' with { heroID: 5 } %}

{% endblock %}

{% block modals %}
{% endblock %}