{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Система лояльности' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--md">
        <h1 class="text-center">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section information theme-lighter">
    <div class="container container--md">
      <div class="information__box information__box--single">
        <div class="information__box-text">
          <p>За каждую покупку в Smart Bazar вы получаете баллы, которые сможете потратить в следующих заказах.</p>
          <p>Баллы начисляются через 21 день после покупки в размере 5-10% от стоимости приобретаемых товаров.</p>
          <p>1 балл равен 1 рублю и активен в течение 1 года с момента начисления. Баллами вы можете оплачивать до 20% новых покупок.</p>
          <p>Больше информации — в <a href="#" class="link-primary">Правилах системы лояльности Smart Bazar</a>.</p>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_menu.twig' with { list: nav.main|slice(0, 5) } %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}