{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Гарантия и сервис' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--md">
        <h1 class="text-center">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section information information--compact theme-lighter">
    <div class="container container--md">
      <div class="row">
        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">Диагностика по 55 параметрам</h5>
            <div class="information__box-text information__box-text--md text-block">
              <p>Все наши гаджеты тщательно продиагностированы в «МТ Сервис» — одном из лучших сервисных центров России. Устройства, которым это требовалось, прошли ремонт и замену деталей.</p>
            </div>

            <h5 class="information__box-title">Абсолютная безопасность</h5>
            <div class="information__box-text information__box-text--md text-block">
              <p>Каждый смартфон</p>
              <ul>
                <li>проверка на оригинальность — вам не нужно опасаться подделки</li>
                <li>без персональных данных: настройки сброшены до 12заводских</li>
                <li>юридическая проверка: нам известна история от и до</li>
                <li>гигиеническая обработка</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">Гарантия качества от 100 до 180 дней</h5>
            <div class="information__box-text information__box-text--md text-block">
              <p>Для каждого грейда предусмотрен свой гарантийный срок:</p>
              <ul>
                <li><a href="#" class="link-primary">Как новый</a> — 180 дней</li>
                <li><a href="#" class="link-primary">Отличный</a> — 180 дней</li>
                <li><a href="#" class="link-primary">Хороший</a> — 100 дней</li>
              </ul>
            </div>

            <h5 class="information__box-title">Обмен и возврат</h5>
            <div class="information__box-text information__box-text--md text-block">
              <p>Если со смартфоном возникли проблемы, мы обменяем его на аналогичный, отремонтируем за свой счет или вернем деньги. Также вы можете вернуть смартфон без объяснения причин в течение 21 дня.</p>

              <h5 class="information__box-title">Круглосуточная поддержка</h5>
              <p>В течение гарантийного срока — и даже после него — мы остаемся на связи: если у вас есть вопросы по устройству или его использованию, позвоните в наш круглосуточный <a href="#" class="link-primary">колл-центр</a>. Если вопрос сложный, переключим на технического специалиста, который перезвонит в удобное для вас время.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="information__footer text-center text-md">
        <p>Есть вопросы прямо сейчас? Попробуйте найти ответ в <a href="support.html" class="link-primary">Центре поддержки</a>.</p>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}