{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Оферта' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--lg">
        <h1 class="text-center">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section information theme-lighter">
    <div class="container container--lg">
      <div class="information__box information__box--full legal-text text-md">
        <p><b>ООО "Цифровые девайсы" (далее по тексту – Продавец) публикует настоящую оферту в Сети Интернет по адресу: <a href="https://smart-bazar.ru">smart-bazar.ru</a> (далее по тексту – Сайт или Интернет-магазин). Оферта действует с «15» июня 2020 г.</b></p>

        <p><b>Покупатель</b> — физические или юридические лица, размещающие Заказы на сайте <a href="https://smart-bazar.ru">smart-bazar.ru</a>, либо указанные в качестве получателей Товара, либо использующее Товары, приобретенные на сайте <a href="https://smart-bazar.ru">smart-bazar.ru</a>.</p>

        <p><b>Продавец и Покупатель</b> гарантируют друг другу, что обладают необходимой дееспособностью, а равно всеми правами и полномочиями, а также соответствуют всем необходимым условиям, необходимым и достаточным для заключения и исполнения договора розничной купли-продажи.</p>

        <p><b>Товаром</b> является объект материального мира, не изъятый и не ограниченный в гражданском обороте и представленный к продаже в Интернет-магазине посредством размещения в соответствующем разделе. Предметом купли-продажи могут быть только товары, имеющиеся в наличии.</p>

        <p><b>Покупка</b> — это оплата Покупателем Товаров, выбранных в Интернет-магазине, оформленная по форме, размещенной в Интернет-магазине, и осуществленная посредством сети Интернет.</p>

        <p>
          <b>Оформив Покупку, Покупатель подтверждает, что:</b><br>
          - он ознакомился с условиями настоящей оферты;<br>
          - настоящие условия оферты понятны Покупателю;<br>
          - он полностью согласен с изложенными в настоящей оферте положениями и принимает их.
        </p>

        <p class="text-lg"><b>Настоящая публичная оферта адресована Покупателям (далее по тексту – Оферта, Соглашение), которые принимают (акцептуют) настоящую Оферту для совершения розничной купли-продажи товаров и/или оказания услуг, представленных в интернет-магазине <a href="https://smart-bazar.ru">smart-bazar.ru</a>, расположенного на Сайте, на нижеуказанных условиях.</b></p>

        <p><b>1.</b> Настоящая Оферта заключается в порядке, предусмотренном пунктом 3 статьи 434, пунктом 2 статьи 437, пунктом 3 статьи 438 Гражданского Кодекса Российской Федерации (далее – ГК РФ), путем размещения настоящей публичной оферты и получения акцепта на нее от любого лица, согласившегося с условиями настоящей оферты (далее по тексту – Оферта).</p>

        <p><b>2.</b> Согласно пункту 3 статьи 438 ГК РФ безусловным акцептом (принятием) условий настоящей Оферты считаются действия Покупателя при оформлении Покупки в интернет-магазине ООО «Цифровые девайсы» путем заполнения регистрационной формы на Сайте <a href="https://smart-bazar.ru">smart-bazar.ru</a>. В регистрационной форме Покупатель указывает собственный адрес электронной почты в качестве способа получения электронного кассового чека.</p>

        <p><b>3.</b> Настоящая оферта распространяет свое действия на отношения сторон при приобретении товара, бывшего в употреблении.</p>

        <p>При продаже товара, бывшего в употреблении, комплектность не гарантируется, а именно товар подлежит продаже без зарядного устройства, наушников и других аксессуаров.</p>

        <p>При продаже товара, бывшего в употреблении, на сайте в описании может быть добавлен грейд состояния товара в соответствии со следующими характеристиками:</p>

        <p>
          <b>Грейд – Как новый:</b><br>
          - Смартфон не использовался.<br>
          - Устройство в идеальном состоянии- исправно, все функции работают.<br>
          - Отсутствуют царапины, потертости и какие-либо недостатки.<br>
          - Smart - гарантия 180 дней.
        </p>

        <p>
          <b>Грейд - Отличный:</b><br>
          - Смартфоном пользовались аккуратно и непродолжительное время.<br>
          - Устройство исправно, все функции работают.<br>
          - Минимальные следы эксплуатации на корпусе.<br>
          - Минимальные, еле заметные царапины корпуса.<br>
          - Возможны небольшие царапины возле гнезда зарядки.<br>
          - Возможны минимальные сколы/царапины экрана смартфона.<br>
          - Smart - гарантия 180 дней.
        </p>

        <p>
          <b>Грейд - Хороший:</b><br>
          - Смартфон активно использовали.<br>
          - Устройство исправно, все функции работают.<br>
          - Недостатки касаются только внешнего вида и их легко скрывают чехлы и стекла.<br>
          - Заметные царапины на корпусе.<br>
          - Сколы и вмятины, царапины экрана смартфона.<br>
          - Smart - гарантия 100 дней.
        </p>

        <p><b>4.</b> В целях надлежащего исполнения настоящей Оферты Продавец использует информацию, указанную Покупателем в регистрационной форме. Покупатель гарантирует и несет ответственность за достоверность, корректность и актуальность любых указанных данных, включая платежные реквизиты, почтовые адреса и иную информацию, которая необходима для надлежащего исполнения настоящей Оферты. Продавец в соответствии с законодательством Российской Федерации направляет кассовый чек на адрес электронный почты, указанный Покупателем в соответствии с п.3 настоящей Оферты.</p>

        <p><b>5.</b> Продавец не несет ответственности за точность и правильность информации, предоставляемой Покупателем при заполнении регистрационной формы Заказа. В случае неисполнения Продавцом обязательств по причине сообщения Покупателем недостоверных сведений о себе и (или) получателе, Продавец не несет ответственности за подобное неисполнение Заказа. Повторные действия по исполнению Заказа производятся только по согласованию сторон с отнесением соответствующих дополнительных расходов на Покупателя.</p>

        <p><b>6.</b> Покупатель соглашается с настоящей Офертой, нажимая кнопку <b>«ОПЛАТИТЬ»</b> при оформлении Заказа.</p>

        <p>
          <b>7.</b> После оформления Заказа Покупателю предоставляется выбор способа, информация о возможных сроках доставки товара.<br>
          В случае отсутствия заказанных Товаров на складе Продавца, в том числе по причинам, не зависящим от Продавца, Продавец информирует об этом Покупателя по телефону, либо направив соответствующее письмо по адресу электронной почты, указанному при оформлении Покупки. Покупатель вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Покупателя в течение 3 (Трёх) календарных дней с момента уведомления по телефону либо по адресу электронной почты, стороны пришли к соглашению считать такой Заказ аннулированным в полном объеме, о чем Покупатель информируется путем направления электронного сообщения по адресу, указанному при оформлении Заказа. В случае аннулирования полностью либо частично предварительно оплаченного товара стоимость аннулированного товара возвращается Продавцом Покупателю на расчетный счет, с которого произведена оплата.
        </p>

        <p><b>8.</b> Все указанные на Сайте сроки доставки, стоимость, наличие на складе и иная информация, касающаяся Товара, носят справочный (информационный) характер и не порождают никаких юридических последствий как для Продавца, так и для Покупателя. Указанная на Сайте информация относительно сроков поставки товаров и их наличия является ориентировочной. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Покупки ему необходимо обратиться за консультацией к Продавцу. На сайте указана примерная разница со среднерыночной ценой товара по результатам собственного мониторинга.</p>

        <p>Продавец приступает к комплектованию заказа непосредственно после получения Оплаты. Изменение размещенного заказа может быть произведено Покупателем исключительно с предварительного согласования такого изменения с Продавцом. Продавец вправе отказать Покупателю в согласовании такого изменения. Продавец оставляет за собой право исполнить Заказ в том виде, в котором он был осуществлен Покупателем изначально. При этом Покупатель несет все риски, связанные с задержкой исполнения его Заказа по причине изменения наименования и (или) количества заказанного Товара.</p>

        <p><b>9.</b> В случае, если после размещения заказа у Покупателя изменились реквизиты, имеющие значение для надлежащего исполнения Продавцом своих обязанностей, или Покупатель заметил ошибку в указанном адресе доставки или иных сведениях, он обязан незамедлительно уведомить об этом Продавца по телефону <a href="tel:+78005501444">8 800 550-14-44</a>, либо направив соответствующее письмо по электронному адресу <a href="mailto:help@smart-bazar.ru">help@smart-bazar.ru</a></p>

        <p><b>10.</b> Оплата услуг Покупателем производится Продавцу любым способом, который выбирает Покупатель из способов оплаты, представленных на Сайте Продавца.</p>

        <p>Выбор Покупателем доставки означает согласие покупателя на доставку товара на условиях Службы доставки. Стоимость доставки товара определяется Службой доставки и указывается на сайте отдельно от стоимости Товара.</p>

        <p>При невозможности связаться с Покупателем в течение 3 календарных дней данный Заказ считается аннулированным. В случае, если заказ был оплачен, Продавец по требованию Покупателя возвращает стоимость Товара Покупателю тем способом, которым Товар был оплачен.</p>

        <p>
          Возможные способы оплаты Товара указываются на Сайте в разделе «Оплата». Покупатель выбирает способ оплаты в процессе оформления заказа и в зависимости от условий оформляемого заказа могут быть следующими:<br>
          - Оплата банковской картой<br>
          - Оплата посредством Google Pay<br>
          - Оплата посредством Apple Pay<br>
          - Рассрочка Тинькофф
        </p>

        <p>Продавец вправе предоставлять Покупателю скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, а также порядок и условия их начисления указаны на Сайте и могут быть изменены Продавцом в одностороннем порядке.</p>

        <p><b>11.</b> Заказ считается исполненным в момент фактической передачи Покупателю Товаров, входящих в состав Заказа, на основании выданной Продавцом или Службой доставки, осуществляющей доставку Заказа, накладной на определенные Товары под роспись Покупателя. По исполнении Заказа обязательства Продавца перед Покупателем считаются выполненными.</p>

        <p><b>12.</b> Доставка товара осуществляется по территории Российской Федерации в населенные пункты, перечень которых указан на Сайте. Продавец приложит все усилия для соблюдения сроков доставки, указанных на Сайте, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца. При доставке Заказ вручается Покупателю либо лицу, указанному в качестве Получателя Заказа</p>

        <p>Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе потребовать документ, удостоверяющий личность Получателя</p>

        <p><b>14.</b> Право собственности на Товар и связанные с ним риски переходит от Продавца к Покупателю в момент передачи Товара. Подтверждением перехода Права собственности на товар служит подпись покупателя в накладной, выданной Продавцом или Службой доставки.</p>

        <p><b>15.</b> Покупатель вправе отказаться от Товара в следующие сроки:</p>

        <p>Покупатель имеет право отказаться от товара, оплаченного им в Интернет-магазине, в любое время до его получения, а после его передачи — в течение 7 (семи) дней (не считая дня покупки).</p>

        <p>Возврат/обмен Товара возможен в случае, если он не имеет следов эксплуатации, которые не были указаны в описании Товара на сайте, сохранены его оригинальная упаковка продавца, товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также предъявлен документ, подтверждающий факт покупки указанного Товара у Продавца.</p>

        <p>При отсутствии у Покупателя указанного документа он вправе ссылаться на другие объективные доказательства приобретения товара у данного Продавца.</p>

        <p>Если к товару был приложен подарок, он должен быть передан вместе с товаром, при этом подарок также не должен иметь следов эксплуатации, должен быть сохранен его товарный вид, потребительские свойства, пломбы и оригинальная упаковка.</p>

        <p><b>16.</b> Порядок возврата/обмена товара:</p>

        <p><b>16.1.</b> Для возврата/обмена Товара Покупатель должен связаться с продавцом по телефону <a href="tel:+78005501444">8 800 550-14-44</a>, либо направив соответствующее письмо по электронному адресу <a href="mailto:help@smart-bazar.ru">help@smart-bazar.ru</a> и согласовать способ и дату возврата/обмена Товара</p>

        <p>
          <b>16.2.</b> В пакет документов к заказу на возврат/обмен должны быть приложены:<br>
          - заполненное заявление на возврат/обмен (полученное по электронной почте Покупателем от Продавца при обращении);<br>
          - кассовый чек либо иные документы, подтверждающие приобретение товара.
        </p>

        <p>При отправке почтовым отправлением либо курьерской службой возврат/обмен оформляется в виде посылки с описью вложения с отметкой «Возврат товара»/«Обмен товара». Отправка посылки с возвращаемым/обмениваемым товаром осуществляется за счет Покупателя.</p>

        <p><b>17.</b> Продавец вправе в течение 10 рабочих дней с момента возврата товара ненадлежащего качества провести проверку его качества.</p>

        <p><b>18.</b> Возврат денежных средств осуществляется путем перечисления на расчетный счет Покупателя, с которого производилась оплата</p>

        <p><b>19.</b> В случае, если Покупатель отказывается от полученного Товара в течение 7 (семи) дней с момента покупки, Продавец возвращает денежные средства в течение 10 дней с момента получения возвращаемого Товара за вычетом расходов Продавца на доставку Товара Покупателю и оформление Заказа. При возврате предоплаты или оплаты, уплаченной Покупателем в безналичном порядке, банковские комиссии, уплаченные Покупателем в этой связи, Продавцом не компенсируются.</p>

        <p><b>20.</b> Настоящим Продавец подтверждает, что гарантирует исполнение своих обязательств качественно и в согласованные сроки. ООО "Цифровые девайсы" оставляет за собой право в любой момент отозвать настоящее предложение.</p>

        <p><b>21.</b> В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа или претензий Покупатель должен обратиться к Продавцу по телефону <a href="tel:+78005501444">8 800 550-14-44</a> либо направить соответствующее письмо по электронному адресу <a href="mailto:help@smart-bazar.ru">help@smart-bazar.ru</a></p>

        <p>Все споры, связанные с заключением, толкованием, исполнением и расторжением настоящей Оферты, будут разрешаться Сторонами путем переговоров. Претензии Покупателей, совершивших покупку, как физические лица, являющихся Потребителями по смыслу Закона «О защите прав потребителей», будут рассмотрены в сроки и на условиях, указанных в Законе «О защите прав потребителей»</p>

        <p>Претензии Покупателей, оформивших Заказ от имени юридического лица, будут рассмотрены в сроки и на условиях, предусмотренных Гражданским кодексом РФ.</p>

        <p><b>22.</b> Принимая условия настоящей Оферты Покупатель выражает свое добровольное согласие ООО Цифровые девайсы» (ОГРН 1197746757944, юридический адрес 127006, г. Москва, переулок Оружейный, д.41, ЭТАЖ 6 ОФИС 6.18), на обработку следующих его персональных данных: фамилия, имя, отчество, адрес регистрации по месту жительства, адрес места фактического проживания, сведения об основном документе, удостоверяющем личность, включая серию, номер, дату выдачи, наименование органа, выдавшего документ, электронная почта и номер телефона в целях заключения, исполнения настоящей Оферты, обеспечения возможности участия Покупателя в программах лояльности (акциях) Продавца, направления ответов на жалобы и обращения Покупателя, обеспечения соблюдения Продавцом законодательства Российской Федерации.</p>

        <p>Принимая условия настоящей Оферты Покупатель выражает свое добровольное согласие на поручение обработки и передачу Продавцом как полностью, так и части вышеуказанных персональных данных Покупателя агентам и иным третьим лицам, привлеченным Продавцом на основании договоров с такими третьими лицами для исполнения обязательств перед Покупателем.</p>

        <p>Действия с персональными данными включают в себя автоматизированную обработку, обработку без использования средств автоматизации и смешанную обработку Продавцом вышеуказанных персональных данных, следующими способами сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение). Покупатель проинформирован что ООО «Цифровые девайсы» гарантирует обработку его персональных данных, их конфиденциальность и защиту в соответствии с действующим законодательством РФ. ООО «Цифровые девайсы не несет ответственность за достоверность и точность предоставленных Покупателем данных.</p>

        <p>Предоставленное Покупателем согласие на обработку персональных данных действует до достижения вышеуказанных целей обработки персональных данных или до момента отзыва Покупателем согласия.</p>

        <p>Покупатель проинформирован о его праве отозвать свое согласие на обработку персональных данных в любое время путем направления отзыва в письменной форме в адрес Продавца. Согласие на обработку персональных данных считается отозванным Покупателем по истечении четырнадцати дней с даты получения Продавцом отзыва согласия на обработку персональных данных.</p>

        <p>Принимая условия настоящей Оферты Покупатель выражает свое добровольное согласие на получение Предоставляя данные при регистрации на Сайте, Покупатель соглашается на получение рассылки рекламно-информационного характера рекламы, а также использование сведений о нем в целях продвижения товаров, работ, услуг Продавца и третьих лиц. Продавец вправе использовать технологию «cookies» (технология, позволяющая веб-серверу посылать служебную информацию на компьютер пользователя и сохранять ее в браузере. Продавец получает информацию об идентификаторе устройства посетителя Сайта, подключённого к локальной сети и/или сети Интернет (ip-адресе). Данная информация используется исключительно в статистических целях и не используется для установления личности посетителя. Если Покупатель не желает, чтобы данные использовались, то он должен обратиться к Продавцу через форму обратной связи на Сайте с соответствующим заявлением.</p>

        <p>
          <b>23.</b> Продавец использует информацию:<br>
          - для рассылки материалов рекламно-информационного характера;<br>
          - для выполнения своих обязательств перед Покупателем;<br>
          - для оценки и анализа работы Сайта.
        </p>

        <p><b>24.</b> При наступлении обстоятельств непреодолимой силы, которые сторона по настоящему Договору не могла ни предвидеть, ни предотвратить разумными мерами, срок исполнения обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого продолжают действовать такие обстоятельства, без возмещения каких-либо убытков. К таким событиям чрезвычайного характера, в частности, относятся: наводнения, пожар, землетрясение, взрыв, шторм, оседание почвы, иные явления природы, эпидемия, а также война или военные действия, террористические акты; перепады напряжения в электросети и иные обстоятельства, приведшие к выходу из строя технических средств какой-либо из сторон договора.</p>

        <p>Сторона, для которой создалась ситуация, при которой стало невозможно исполнять свои обязательства из-за наступления обстоятельств непреодолимой силы, обязана о наступлении, предположительном сроке действия и прекращения этих обстоятельств незамедлительно (но не позднее 5 (пяти) рабочих дней) уведомить в письменной форме другую сторону.</p>

        <p>В случае спора о времени наступления, сроках действия и окончания обстоятельств непреодолимой силы заключение компетентного органа в месте нахождения соответствующей Стороны будет являться надлежащим и достаточным подтверждением начала, срока действия и окончания указанных обстоятельств.</p>

        <p>Неуведомление или несвоевременное уведомление стороны о начале действия обстоятельств непреодолимой силы лишает ее в дальнейшем права ссылаться на них как на основание, освобождающее от ответственности за неисполнение обязательств по настоящему договору.</p>

        <p>Если обстоятельства непреодолимой силы и/или их последствия продолжают действовать более 30 (тридцати) календарных дней подряд, то Договор может быть расторгнут по инициативе любой из сторон путем направления в адрес другой стороны письменного уведомления.</p>

        <p>В иных случаях неисполнения или ненадлежащего исполнения своих обязательств, Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.</p>

        <p><b>25.</b> Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.</p>

        <p><b>26.</b> Продавец оставляет за собой право изменять условия настоящей Оферты и всех её неотъемлемых частей без согласования с Покупателями с уведомлением последнего посредством размещения на своем Сайте <a href="https://smart-bazar.ru">https://smart-bazar.ru</a> в новой редакции Оферты и/или какой-либо её неотъемлемой части, подвергшейся изменениям. При этом Покупатель обязуется самостоятельно знакомиться с новым содержанием Оферты и ее неотъемлемых частей, размещенных на Сайте <a href="https://smart-bazar.ru">https://smart-bazar.ru</a>. Новая редакция Соглашения и/или какой-либо его неотъемлемой части вступает в силу с момента опубликования на Сайте Продавца.</p>

        <p><b>27.</b> Настоящая Оферта, размещенная на Сайте, является публичной офертой. Отсутствие подписанного между сторонами экземпляра Договора на бумажном носителе с проставлением подписей сторон, в случае проведения по нему фактической оплаты Покупателем, не является основанием считать договор купли-продажи незаключенным. Проведение оплаты в соответствии со сделанным Заказом считается акцептом Покупателя настоящей Оферты, что считается равносильным заключению договора купли-продажи на условиях, изложенных в Оферте, а также свидетельствует о согласии Покупателя с условиями настоящей Оферты. День оплаты Заказа является датой заключения договора купли-продажи между Продавцом и Покупателем.</p>

        <p><b>28.</b> Продавец имеет право на осуществление записи телефонных переговоров с Покупателем в целях осуществления контроля качества исполнения Заказов.</p>

        <p>В соответствии с ч. 4 ст. 16 Федерального закона от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации» Продавец обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать такие факты.</p>

        <p><b>29.</b> Признание недействительным какого-либо пункта или подпункта настоящей Оферты не влечет за собой недействительность остальных пунктов или подпунктов.</p>

        <p><b>32.</b> Неотъемлемой частью настоящей Оферты является: Политика ООО «Цифровые девайсы» в отношении обработки персональных данных.</p>

        <p><b>33.</b> Адрес и реквизиты Продавца:</p>

        <p>
          Общество с ограниченной ответственностью «Цифровые девайсы»<br>
          <span class="text-muted">Юридический адрес:</span>127006, г. Москва, переулок Оружейный, д.41, ЭТАЖ 6 ОФИС 6.18<br>
          <span class="text-muted">ИНН:</span> 7707436919<br>
          <span class="text-muted">КПП:</span> 770701001<br>
          Поволжский банк ПАО Сбербанк, г. Самара<br>
          <span class="text-muted">р/с:</span> 40702810254400054601<br>
          <span class="text-muted">к/с:</span> 30101810200000000607<br>
          <span class="text-muted">БИК:</span> 043601607
        </p>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}