{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Купите гаджет в рассрочку или кредит' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--md">
        <h1 class="text-center">{{ pageTitle }}</h1>
        <p class="page-header__description page-header__description--lg">При покупке смартфона в рассрочку вы платите ту же сумму, которую внесли бы при полной оплате: технически это кредит, но проценты за него компенсируются скидкой.</p>
      </div>
    </div>
  </div>

  <div class="section information theme-lighter">
    <div class="container container--md">
      <div class="row">
        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">В ближайшем «Связном» — картой, наличными или в кредит</h5>
            <div class="information__box-text">
              <p>Чтобы купить смартфон в рассрочку, добавьте его в Корзину, выберите способ оплаты «Рассрочка», затем нажмите «Оформить заказ».</p>
              <p>Вы попадете на сайт «Тинькофф», где нужно будет заполнить короткую анкету. Обычно это требует пары минут, но если вы клиент «Тинькофф», анкета будет заполнена автоматически. Подпишите договор через СМС или на встрече с представителем банка.</p>
            </div>
          </div>
        </div>

        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">Кредит на месте</h5>
            <div class="information__box-text">
              <p>Закажите доставку гаджета в «Связной» и оформите кредит при получении.</p>
            </div>
            <div class="information__box-action">
              <a href="catalog.html" class="information__button button button--primary button--md">Перейти в каталог</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include 'partials/_menu.twig' with { list: nav.main|slice(0, 5) } %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}