{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Как получить и оплатить товар' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--md">
        <h1 class="text-center">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section information theme-lighter">
    <div class="container container--md">
      <div class="row">
        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">В ближайшем «Связном» — картой, наличными или в кредит</h5>
            <div class="information__box-text">
              <p>При оформлении выберите способ получения — в салоне «Связной» и способ оплаты — картой или наличными. Когда товар поступит, проверьте устройство в салоне и оплатите на месте.</p>
              <p>Также вы можете купить гаджет в кредит.</p>
            </div>
            <div class="information__box-action">
              <a href="#modal-credit-info" class="information__button button button--primary button--md" data-element="modal-trigger">Подробнее о рассрочке</a>
            </div>
          </div>
        </div>

        <div class="information__col col-xs-12 col-lg-6">
          <div class="information__box">
            <h5 class="information__box-title">Курьером — картой или наличными при получении</h5>
            <div class="information__box-text">
              <p>Курьер «Связного» доставит посылку по удобному вам адресу. По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, которое согласуем с вами. <br>Проверьте товар: соответствие заказу, комплектность, наличие сопроводительной документации.</p>
            </div>
          </div>

          <div class="information__box">
            <h5 class="information__box-title">Условия курьерской доставки</h5>
            <div class="information__box-text">
              <p>Для регионов стоимость доставки — 200 ₽</p>
              <p>Для отдаленных городов Московской области доставка возможна при заказе на сумму от 2000 ₽, стоимость доставки — 350 ₽</p>
              <p>Самовывоз из салона «Связной» — бесплатно.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}