{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Политика конфиденциальности персональных данных Посетителей сайта' %}

{% block content %}

  <div class="page-header theme-lighter">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--lg">
        <h1 class="text-center">{{ pageTitle }}</h1>
      </div>
    </div>
  </div>

  <div class="section information theme-lighter">
    <div class="container container--lg">
      <div class="information__box information__box--full legal-text text-md">
        <p>Настоящая Политика конфиденциальности персональных данных Посетителей сайта (далее – «Политика») принята ООО "Цифровые девайсы", (ИНН 7707436919, ОГРН 1197746757944, адрес места нахождения: 127006, г. Москва, переулок Оружейный, д.41, ЭТАЖ 6 ОФИС 6.18) (далее — «Компания») и действует в отношении всей информации, которую Компания может получить о Посетителе сайта <a href="https://smart-bazar.ru">smart-bazar.ru</a> с любого устройства и при коммуникации с Компанией в любой форме.</p>

        <p>Используя сайт <a href="https://smart-bazar.ru">smart-bazar.ru</a> (просмотр, чтение текста, отправка или загрузка информации; далее - Сайт) и предоставляя свои персональные данные, Посетитель сайта дает согласие на обработку персональных данных в соответствии с данной Политикой.</p>

        <h6>Понятия и состав персональных данных:</h6>

        <p><b>Персональные данные</b> – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных);</p>

        <p><b>Обработка персональных данных</b> – любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемое с использованием средств автоматизации или без их использования.</p>

        <p>Компания производит обработку персональных данных Посетителя сайта, включая фамилию, имя, отчество, сведения об основном документе, удостоверяющем личность, адрес электронной почты, номер телефона, адрес регистрации, адрес доставки и др.</p>

        <p>Компания осуществляет обработку персональных данных способом сбора, систематизации, накопления, хранения, уточнения (обновления, изменения), использования, передачи (предоставления, доступа), обезличивания, блокирования, удаления, уничтожения.</p>

        <h6>Технологии «cookies»</h6>

        <p>Cookies – небольшие по размеру текстовые файлы, хранящиеся в браузере Посетителя сайта.</p>

        <p>
          При просмотре Сайта происходит автоматический сбор (из Cookies) следующих обезличенных статистических данных о Посетителе сайта, в том числе:<br>
          - тип выполненного на сайте действия (клик, наведение курсора и т.п.);<br>
          - дата и время выполнения действия;<br>
          - URL страницы;<br>
          - Referer;<br>
          - IP (без возможности работы с IP-адресами в статистике);<br>
          - User-Agent;<br>
          - ClientID (идентификатор браузера по файлу Cookie);<br>
          - экранное разрешение;<br>
          - класс HTML-элемента, на который происходит клик;<br>
          - данные о количестве просмотров карточек товаров в различных товарных списках, кликах по выбранным карточкам товаров, добавлениях в корзину, удалениях из корзины в связке с данными о стоимости таких товаров;<br>
          - данные о содержании, стоимости, статусе выполнения заказов товаров, оформленных Посетителем сайта;<br>
          - данные о фактах заполнения веб-форм на сайте, включая ошибки при их заполнении.
        </p>

        <p>Пользуясь Сайтом, Посетитель соглашается на то, что Компания может использовать статистические данные и файлы Cookies для их последующей обработки системами Google Analytics, Яндекс.Метрика, Google Firebase, Appmetrica, myTracker и может передавать третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению Компании.</p>

        <p>Посетитель сайта может самостоятельно управлять файлами Cookies путем изменения настроек браузера. Изменения пользовательских настроек, в результате которых файлы Cookies будут заблокированы, могут привести к недоступности отдельных компонентов Сайта.</p>

        <p>Пользуясь Сайтом, в том числе при заполнении веб-форм на Сайте, Посетитель сайта соглашается на получение рекламы, а также использование сведений о нем в целях продвижения товаров, работ, услуг Компании и третьих лиц.</p>

        <h6>Цели сбора и обработки персональных данных Посетителя</h6>

        <p>
          Компания обрабатывает персональные данные Посетителя исключительно в целях, для которых они предоставлялись, в том числе:<br>
          - идентификации и регистрации Посетителя сайта;<br>
          - оформления договора купли-продажи товара;<br>
          - предоставления Посетителю сайта информации о Компании, реализуемых товарах, оказываемых услугах;<br>
          - ознакомления Посетителя сайта с правовыми документами Компании, а также реализации полномочий и обязанностей, возложенных на Компанию законодательством Российской Федерации;<br>
          - установления обратной связи, включая направление Посетителю сайта уведомлений, запросов, обработка заказов и обращений от Посетителя сайта;<br>
          - подтверждения достоверности и полноты персональных данных, предоставленных Посетителем сайта;<br>
          - для других целей с согласия Посетителя сайта.
        </p>

        <p>По достижению целей обработки, а также наступления иных оснований, предусмотренных законодательством Российской Федерации в области обработки и защиты персональных данных, персональные данные Посетителей сайта уничтожаются.</p>

        <h6>Права Посетителя сайта</h6>

        <p>
          Посетитель сайта вправе реализовать свои права, предусмотренные законодательством Российской Федерации о персональных данных, в том числе, но не ограничиваясь:<br>
          - уточнять, обновлять свои персональные данные, требовать их блокирования или уничтожения;<br>
          - запрашивать у Компании перечень обрабатываемых персональных данных, правовых оснований обработки, источники их получения, информацию о сроках обработки и хранения, а также иные сведения, связанные с обработкой своих персональных данных.
        </p>

        <h6>Срок обработки персональных данных</h6>

        <p>Посетитель сайта дает согласие на обработку его персональных данных на весь срок, необходимый Компании для достижения целей обработки.</p>

        <p>
          Посетитель сайта вправе в любое время отозвать согласие на обработку его персональных данных путем направления письменного заявления по адресу: 127006, г. Москва, переулок Оружейный, д.41, ЭТАЖ 6 ОФИС 6.18. Обеспечение безопасности персональных данных Компания гарантирует Посетителю сайта надлежащую защиту персональных данных при их обработке. Компания применяет правовые, организационные и технические меры для защиты персональных данных от несанкционированного или случайного доступа к ним, а также от иных неправомерных действий в отношении персональных данных, в том числе:<br>
          - разграничение доступа к информационным системам, обрабатывающим персональные данные;<br>
          - предотвращение внедрения в информационные системы, обрабатывающие персональные данные, вредоносных программ и программных закладок;<br>
          - межсетевое экранирование с целью управления доступом, фильтрации сетевых пакетов и трансляции сетевых адресов для скрытия структуры информационных систем, обрабатывающих персональные данные;<br>
          - обнаружение вторжений в информационные системы, обрабатывающие персональные данные, нарушающие или создающие предпосылки к нарушению установленных требований по обеспечению безопасности персональных данных;<br>
          - анализ защищенности информационных систем персональных данных, предполагающий применение специализированных программных средств.
        </p>

        <p>В Компании приняты локальные акты по вопросам безопасности персональных данных. Доступ к персональным данным Посетителей сайта предоставляется только уполномоченным сотрудникам Компании.</p>

        <h6>Заключительные положения</h6>

        <p>Компания вправе вносить изменения или дополнения в настоящую Политику, в случае необходимости, а также в случае внесения соответствующих изменений в действующее законодательство Российской Федерации о персональных данных.</p>

        <p>Посетитель сайта всегда может ознакомиться с актуальной версией Политики на Сайте. Продолжая пользоваться сайтом, Посетитель подтверждает согласие с внесенными изменениями в Политику.</p>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}