{% extends 'layout/_base-default.twig' %}

{% set bodyClass = 'page-home' %}

{% block headerScripts %}
  <style>
    .mfp-hide {
      display: block !important;
    }
  </style>
{% endblock %}

{% block modals %}

  {% include 'partials/_modal-bonus.twig' %}
  {% include 'partials/_modal-click-order-form.twig' %}
  {% include 'partials/_modal-click-order-thanks.twig' %}
  {% include 'partials/_modal-credit-info.twig' %}
  {% include 'partials/_modal-credit.twig' %}
  {% include 'partials/_modal-credit-2.twig' %}
  {% include 'partials/_modal-credit-canceled.twig' %}
  {% include 'partials/_modal-credit-end.twig' %}
  {% include 'partials/_modal-credit-fail.twig' %}
  {% include 'partials/_modal-credit-process.twig' %}
  {% include 'partials/_modal-credit-success.twig' %}
  {% include 'partials/_modal-credit-success-2.twig' %}
  {% include 'partials/_modal-credit-change.twig' %}
  {% include 'partials/_modal-item-subscribe-form.twig' %}
  {% include 'partials/_modal-item-subscribe-thanks-2.twig' %}
  {% include 'partials/_modal-item-subscribe-thanks.twig' %}
  {% include 'partials/_modal-phone-confirmation-form-2.twig' %}
  {% include 'partials/_modal-phone-confirmation-form-3.twig' %}
  {% include 'partials/_modal-phone-confirmation-form.twig' %}
  {% include 'partials/_modal-phone-confirmation-thanks.twig' %}
  {% include 'partials/_modal-question-form.twig' %}
  {% include 'partials/_modal-question-thanks.twig' %}
  {% include 'partials/_modal-review-form.twig' %}
  {% include 'partials/_modal-review-thanks.twig' %}
  {% include 'partials/_modal-share.twig' %}
  {% include 'partials/_modal-subscribe-thanks.twig' %}
  {% include 'partials/_modal-subscribe-thanks-2.twig' %}
  {% include 'partials/_modal-subscribe-thanks-3.twig' %}
  {% include 'partials/_modal-support-form.twig' %}
  {% include 'partials/_modal-support-thanks.twig' %}
  {% include 'partials/_modal-support-success.twig' %}
  {% include 'partials/_modal-video-chat.twig' %}
  {% include 'partials/_modal-trade-in.twig' %}
  {% include 'partials/_modal-trade-in-2.twig' %}
  {% include 'partials/_modal-trade-in-3.twig' %}
  {% include 'partials/_modal-trade-in-4.twig' %}
  {% include 'partials/_modal-trade-in-5.twig' %}
  {% include 'partials/_modal-variants.twig' %}
  {% include 'partials/_modal-location.twig' %}
  {% include 'partials/_modal-location-results.twig' %}
  {% include 'partials/_modal-pickup.twig' %}
  {% include 'partials/_modal-preview.twig' %}
  {% include 'partials/_modal-condition.twig' %}
  {% include 'partials/_modal-in-cart.twig' %}

{% endblock %}
