{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-location.twig' %}
{% endblock %}

{% block scripts %}
  <script>
  /* Delivery modal */
  $(window).on('load', function () {
      $.magnificPopup.open({
          items: {
              src: '#modal-location'
          },
          type: 'inline',
          fixedContentPos: true,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 500,
          mainClass: 'mfp-move-from-right modal-right',
      }, 0);
  });
  </script>
{% endblock %}