{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}

{% block content %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-preview.twig' %}
{% endblock %}

{% block scripts %}
  <script>
  /* Delivery modal */
  $(window).on('load', function () {
      $.magnificPopup.open({
          items: {
              src: '#modal-preview'
          },
          type: 'inline',
          fixedContentPos: true,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 500,
          mainClass: 'mfp-zoom-in modal-full-tablet',

          callbacks: {
              open: function() {
                  $productThumbs.update();
                  $productSlider.update();
              },
          },
      }, 0);
  });
  </script>
{% endblock %}