{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Подтверждение заказа' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item"><a href="cart.html" class="breadcrumb__link">Корзина</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--lg">
        <div class="page-header__image-heading image-heading">
          <h1 class="image-heading__title">Спасибо за покупку!</h1>
          <div class="image-heading__picture">
            <img src="/assets/img/order.svg" alt="" class="image-heading__img">
          </div>
          <div class="image-heading__text">
            <p>Иван Иванович Иванов, в ближайшее время мы свяжемся с вами для подтверждения заказа и уточнения деталей доставки.</p>
            <p>Обращаем ваще внимание — доставку заказа осуществляет курьерская служба «Связного».</p>
            <p>Если что-то пойдет не так, мы будем рады вам помочь по телефону <br><a href="tel:+78005501414" class="image-heading__phone link-primary text-nowrap">8 800 550-14-14</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section confirmation theme-light">
    <div class="container container--md">
      <div class="row">
        <div class="confirmation__col col-xs-12 col-lg-6">
          <div class="confirmation__section">
            <h5 class="confirmation__section-title">Заказ #75683</h5>
            <div class="confirmation__check check">
              <ul class="check__list">
                {% for item in catalog.set %}
                  <li class="check__item">
                    <div class="check__name text-lg"><a href="catalog-item.html" class="link-inherit">{{ item.title }}</a></div>
                    <div class="check__info">1 шт.</div>
                    <div class="check__price text-xl">{{ item.price }} ₽</div>
                  </li>
                {% endfor %}
                <li class="check__item">
                  <div class="check__name text-lg">Доставка</div>
                  <div class="check__info">3 марта</div>
                  <div class="check__price text-xl">300 ₽</div>
                </li>
              </ul>
              <dl class="check__total">
                <dt class="check__total-label text-lg text-uppercase"><b>ИТОГО:</b></dt>
                <dd class="check__total-data check__total-sum text-2xl">70 070 ₽</dd>
                <dt class="check__total-label">Баллы (с 21.03.21):</dt>
                <dd class="check__total-data text-xl">+ 153</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="confirmation__col col-xs-12 col-lg-6">
          <div class="confirmation__section">
            <h5 class="confirmation__section-title">Контактная информация</h5>
            <dl class="confirmation__info text-lg">
              <dt class="confirmation__info-label"><b>ФИО:</b></dt>
              <dd class="confirmation__info-data">Иван Иванович Иванов</dd>
              <dt class="confirmation__info-label"><b>Телефон:</b></dt>
              <dd class="confirmation__info-data">+7 921 554 26 85</dd>
              <dt class="confirmation__info-label"><b>Email:</b></dt>
              <dd class="confirmation__info-data">mail@mail.ru</dd>
            </dl>
          </div>

          <div class="confirmation__section">
            <h5 class="confirmation__section-title">Доставка</h5>
            <dl class="confirmation__info text-lg">
              <dt class="confirmation__info-label"><b>Адрес:</b></dt>
              <dd class="confirmation__info-data">199178, г Москва, ул. Ленина, дом 52/1, кв. 8</dd>
              <dt class="confirmation__info-label"><b>Дата:</b></dt>
              <dd class="confirmation__info-data">3 марта 2021</dd>
              <dt class="confirmation__info-label"><b>Время:</b></dt>
              <dd class="confirmation__info-data">с 16:00 до 22:00</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section share text-center hidden-sm-down">
    <div class="container">
      <h2 class="share__title h1">Расскажите о нас своим друзьям!</h2>
      {% include 'partials/_social-list.twig' with { list: company.share, socialClass: 'share__list social--lg justify-xs-center' } %}
    </div>
  </div>

{% endblock %}

{% block modals %}
{% endblock %}