{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Результаты поиска' %}
{% set searchActive = true %}
{% set searchVal = '978on' %}

{% block content %}

  <div class="page-header page-header--offset theme-light stop-theme-xs start-theme-md stop-theme-lg">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>Результаты поиска для “{{ searchVal }}” <small class="text-lightest text-nowrap">(0 товаров)</small></h1>
        <p class="page-header__noresult text-lg text-lightest">К сожалению, ничего не найдено...</p>
      </div>
    </div>
  </div>

  {% include 'partials/_catalog-popular.twig' %}

  {% include 'partials/_catalog-common-section.twig' %}

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_benefits.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}