{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Результаты поиска' %}
{% set searchActive = true %}
{% set searchVal = 'iPhone' %}

{% block content %}

  <div class="page-header theme-light stop-theme-xs start-theme-md">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>

        <h1>Результаты поиска для “{{ searchVal }}” <small class="text-lightest text-nowrap">(3 товара)</small></h1>
      </div>
    </div>
  </div>

  <div class="section section--sm catalog catalog--theme">
    <div class="container">

      <div class="row">
        <div class="catalog__filter col">
          {% include 'partials/_filters.twig' %}
        </div>

        <div class="catalog__main col-xs-12 col">
          <div class="section section--md catalog__body">
            {% include 'partials/_catalog-sorting.twig' with { listGrid: true } %}

            {% include 'partials/_catalog-items.twig' with { items: catalog.items|slice(4,3), listGrid: true } %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_catalog-common-section.twig' %}

  {% include 'partials/_diagnostics.twig' %}

  {% include 'partials/_condition.twig' %}

  {% include 'partials/_benefits.twig' %}

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}