{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Центр поддержки' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="page-header__headline headline">
        <div class="headline__container container">
          <h1>{{ pageTitle }}</h1>
          <p class="headline__description">Выберите тему обращения, чтобы мы решили ваш вопрос как можно быстрее</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section support" data-component="panel-tabs">
    <div class="support__start theme-light has-indicator">
      <div class="support__container container">
        <ul class="support__menu support__menu--tabs row">
          {% for item in support.menu %}
            <li class="support__menu-item col-xs-12 col-lg-3" data-element="panel-tabs-item">
              <a href="#support-{{ loop.index }}" class="support-card {% if loop.first %}is-active{% endif %}" data-element="panel-tabs-toggle">
                <div class="support-card__content">
                  <div class="support-card__title">{{ item.title }}</div>
                  {% if item.info %}
                    <div class="support-card__info">{{ item.info }}</div>
                  {% endif %}
                </div>
                <div class="support-card__picture">
                  {% if item.iconColor %}
                    {% set iconClass = 'support-card__icon support-card__icon--'~item.iconColor %}
                    {% else %}
                    {% set iconClass = 'support-card__icon' %}
                  {% endif %}
                  {{ svg.icon(item.icon, iconClass, item.iconSize, item.iconSize )}}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="support__content theme-light has-indicator is-disabled">
      <div class="support__container container">
        <div class="tabs__content" data-element="panel-tabs-content">
          {% for item in support.menu %}
            <div class="tabs__tab {% if loop.first %}is-active{% endif %}" data-element="panel-tabs-tab" data-id="support-{{ loop.index }}">
              <div class="support__section">
                <h5 class="support__subtitle">Уточните, пожалуйста, в чем именно заключается ваш вопрос?</h5>

                <div class="support__faq faq" data-component="accordion">
                  {% for item in support.faq %}
                    <div class="faq__item is-collapsed" data-element="accordion-item">
                      <div class="faq__item-title text-lg" data-element="accordion-toggle">
                        <i class="faq__item-icon icon-chevron-down"></i>
                        {{ item.question }}
                      </div>
                      <div class="faq__item-body" data-element="accordion-content">
                        <div class="faq__item-content text-lg">
                          {{ item.answer }}
                        </div>
                        <div class="faq__item-footer rate">
                          <button class="rate__control" data-mfp-src="#modal-support-thanks" data-element="modal-trigger">
                            <i class="rate__control-icon icon-thumbs-up"></i>
                            Спасибо, все понятно!
                          </button>
                          <button class="rate__control" data-element="support-complete">
                            <i class="rate__control-icon icon-thumbs-down"></i>
                            Моя проблема не решена!
                          </button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="support__end has-indicator is-disabled">
      <div class="support__container container">
        <h5 class="support__subtitle">Как нам с вами связаться?</h5>
        <ul class="support__menu support__menu--contacts row">
          {% for item in support.contacts %}
            <li class="support__menu-item col-xs-12 col-lg-3">
              <a href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}" class="support-card support-card--contact is-disabled" {% if item.element %}data-element="{{ item.element }}"{% endif %}>
                <div class="support-card__content">
                  <div class="support-card__title">{{ item.title }}</div>
                  {% if item.info %}
                    <div class="support-card__info">{{ item.info }}</div>
                  {% endif %}
                </div>
                <div class="support-card__picture">
                  {% if item.iconColor %}
                    {% set iconClass = 'support-card__icon support-card__icon--'~item.iconColor %}
                    {% else %}
                    {% set iconClass = 'support-card__icon' %}
                  {% endif %}
                  {{ svg.icon(item.icon, iconClass, item.iconSize, item.iconSize )}}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-support-form.twig' %}
  {% include 'partials/_modal-support-thanks.twig' %}
  {% include 'partials/_modal-support-success.twig' %}
  {% include 'partials/_modal-video-chat.twig' %}
{% endblock %}