{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-trade-in' %}
{% set pageTitle = 'Trade-in: примем ваш гаджет в счет стоимости нового' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--lg text-center">
        <h1>{{ pageTitle }}</h1>
        <p class="page-header__description">Для получения скидки на новый гаджет принесите ваше устройство в ближайший салон «Связной» или «Мегафон». <a href="#modal-map" data-element="modal-trigger" class="link-primary">Посмотреть адреса на карте</a> <br>Чтобы получить предварительный расчет стоимости, опишите смартфон, который вы хотите сдать в трейд-ин:</p>
      </div>
    </div>
  </div>

  <div class="section trade-in theme-lighter">
    <div class="trade-in__container container">
      <div class="trade-in__body">
        <div class="trade-in__section">
          <h5 class="trade-in__title">Параметры смартфона</h5>
          <div class="trade-in__content">
            <div class="trade-in__details details details--fixed-data">
              <dl class="details__item">
                <dt class="details__name text-lightest">Бренд</dt>
                <dd class="details__data">Samsung</dd>
              </dl>
              <dl class="details__item">
                <dt class="details__name text-lightest">Модель</dt>
                <dd class="details__data">Galaxy Note 9</dd>
              </dl>
              <dl class="details__item">
                <dt class="details__name text-lightest">Оперативная память</dt>
                <dd class="details__data">128 Gb</dd>
              </dl>
              <dl class="details__item">
                <dt class="details__name text-lightest">Цвет</dt>
                <dd class="details__data">Чёрный</dd>
              </dl>
              <dl class="details__item">
                <dt class="details__name text-lightest">Состояние корпуса</dt>
                <dd class="details__data">Пара царапин</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="trade-in__section">
          <h5 class="trade-in__title">Шаг 3. Работоспособность и ремонт</h5>
          <div class="trade-in__content">
            <div class="form__controls form__controls--half row">
              {% for item in ['Все функции работают', 'Часть функций не работает'] %}
                <div class="form__group col">
                  <label class="custom-control custom-control--primary custom-radio">
                    <input type="radio" class="custom-control__input" name="repair" value="{{ loop.index }}">
                    <span class="custom-control__indicator"></span>
                    <span class="custom-control__content">{{ item }}</span>
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Наша оценка</h5>
          <div class="trade-in__content"></div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Проверьте гаджет через диагностическое приложение</h5>
          <div class="trade-in__content"></div>
        </div>
      </div>

      <div class="trade-in__footer hidden-sm-down">
        <a href="trade-in-2.html" class="trade-in__button button button--outline-primary button--sm">Назад</a>
        <a href="trade-in-4.html" class="trade-in__button button button--primary button--sm">Далее</a>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-map.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    var myMap;
    ymaps.ready(init);
    function init () {
      myMap = new ymaps.Map('map', {
        center: [55.653901, 37.561748],
        zoom: 17,
        controls: []
      });
      myGeoObject = new ymaps.GeoObject({}, {});
      myMap.geoObjects
      .add(myGeoObject)

      myMap.behaviors.disable('scrollZoom');
    }
  </script>
{% endblock %}