{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-trade-in' %}
{% set pageTitle = 'Trade-in: примем ваш гаджет в счет стоимости нового' %}

{% block content %}

  <div class="page-header">
    <div class="page-header__body">
      <div class=" container">
        <div class="breadcrumb">
          <div class="breadcrumb__back hidden-md-up">
            <a href="/" class="breadcrumb__link"><i class="breadcrumb__icon icon-arrow"></i>Вернуться</a>
          </div>
          <ul class="breadcrumb__list hidden-sm-down">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Главная</a></li>
            <li class="breadcrumb__item">{{ pageTitle }}</li>
          </ul>
        </div>
      </div>

      <div class="container container--lg text-center">
        <h1>{{ pageTitle }}</h1>
        <p class="page-header__description">Для получения скидки на новый гаджет принесите ваше устройство в ближайший салон «Связной» или «Мегафон». <a href="#modal-map" data-element="modal-trigger" class="link-primary">Посмотреть адреса на карте</a> <br>Чтобы получить предварительный расчет стоимости, опишите смартфон, который вы хотите сдать в трейд-ин:</p>
      </div>
    </div>
  </div>

  <div class="section trade-in theme-lighter">
    <div class="trade-in__container container">
      <div class="trade-in__body">
        <div class="trade-in__section">
          <h5 class="trade-in__title">Шаг 1. Укажите технические параметры</h5>
          <div class="trade-in__content">
            <form action="#" method="POST" novalidate="novalidate" class="trade-in__form trade-in__form--sm form">
              <div class="form__group">
                <div class="form__field">
                  <input type="text" name="brand" class="form__input" required placeholder="Бренд">
                </div>
              </div>

              <div class="form__group">
                <div class="form__field">
                  <input type="text" name="model" class="form__input" required placeholder="Модель">
                </div>
              </div>

              <div class="form__group">
                <div class="form__field">
                  <input type="email" name="ram" class="form__input" required placeholder="Объем памяти">
                </div>
              </div>

              <div class="form__group">
                <div class="form__field">
                  <input type="email" name="color" class="form__input" required placeholder="Цвет">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Шаг 2. Опишите состояние корпуса</h5>
          <div class="trade-in__content"></div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Шаг 3. Работоспособность и ремонт</h5>
          <div class="trade-in__content"></div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Наша оценка</h5>
          <div class="trade-in__content"></div>
        </div>

        <div class="trade-in__section is-collapsed">
          <h5 class="trade-in__title">Проверьте гаджет через диагностическое приложение</h5>
          <div class="trade-in__content"></div>
        </div>
      </div>

      <div class="trade-in__footer hidden-sm-down">
        <a href="#" class="trade-in__button button button--outline-primary button--sm is-disabled">Назад</a>
        <a href="trade-in-2.html" class="trade-in__button button button--primary button--sm">Далее</a>
      </div>
    </div>
  </div>

  {% include 'partials/_subscription.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-map.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    var myMap;
    ymaps.ready(init);
    function init () {
      myMap = new ymaps.Map('map', {
        center: [55.653901, 37.561748],
        zoom: 17,
        controls: []
      });
      myGeoObject = new ymaps.GeoObject({}, {});
      myMap.geoObjects
      .add(myGeoObject)

      myMap.behaviors.disable('scrollZoom');
    }
  </script>
{% endblock %}