{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Сервисы' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>
    <p>Сельскохозяйственным товаропроизводителям и другим категориям получателей мер государственной поддержки АПК, которые еще не заключили договор</p>

{% endblock %}


{% block content %}

  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col col-xs-12 col-lg-8">
          {% include 'partials/_section-default.twig' with { 'section': catalog } %}

          {% include 'partials/_section-default.twig' with { 'section': services2 } %}
        </div>

        <div class="section__col col-xs-12 col-lg-4 with-lg-divider col-xs-first col-md-last">
          {% for sidebar in aside %}
            {% include 'partials/_sidebar.twig' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}