{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Мои уведомления' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}

  <div class="section notification">
    <div class="container">
      <div class="row">
        <div class="notification__header col-xs-12 col-md-4 col-lg-3">
          <h5 class="notification__title">Начало приема документов на подходящую Вам субсидию АПК</h5>
          <div class="notification__date date text-caps-sm primary"><i class="date__icon icon-clock"></i>Сегодня, в 12:00</div>
        </div>

        <div class="notification__content col-xs-12 col-md-8 col-lg-9 with-md-divider">
          <div class="notification__body">
            <p>Уведомляем о начале приема документов на получение субсидии на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по фактическим площадям).</p>
            <p>Ваша организация соответствует критериям, предъявляемым к получателям субсидии на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по фактическим площадям)</p>
            <p>Для ознакомления с условиями предоставления субсидии и подачи заявки перейдите по ссылке ниже</p>
          </div>
          <div class="notification__action">
            <a href="#" class="notification__button button button--sm button--primary button--block">Подать заявку</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}