{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Регистрация нового пользователя сервиса предоставления мер господдержки АПК' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}

  {% include 'partials/_form-with-steps.twig' with {'form': registration, 'formName': 'registration'} %}

{% endblock %}