{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Субсидия на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по плановым площадям)' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>
    <div class="header__action row">
      <div class="header__action-col col-xs-12">
        <div class="header__alert alert text-md">
          <i class="alert__icon icon-alert"></i>
          Вы еще не подавали заявок на эту меру господдержки
        </div>
      </div>
      <div class="header__action-col col-xs-12">
        <a href="#" class="header__button button button--primary">Начать оформление заявки</a>
      </div>
    </div>

{% endblock %}


{% block content %}

  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col col-xs-12 col-lg-8">
          {% include 'partials/_section-general.twig' %}

          {% include 'partials/_section-requirements.twig' %}

          {% include 'partials/_section-contacts.twig' %}
        </div>

        <div class="section__col col-xs-12 col-lg-4 with-lg-divider col-xs-first col-md-last">
          {% for infobox in infoboxes04 %}
            {% include 'partials/_infobox.twig' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}