{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Новая заявка на получение меры господдержки' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>
    <p>Cубсидия на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по плановым площадям)</p>

{% endblock %}


{% block content %}

  {% include 'partials/_form-with-steps.twig' with {'form': application, 'formName': 'application'} %}

{% endblock %}

{% block modals %}

  {% include 'partials/_modal-thanks.twig' %}

{% endblock %}

{% block scripts %}
  <script>
  (function($) {
    $(window).on('load', function() {
      $(function() {
        const $modalThanks = $('#modal-thanks');

        if ($modalThanks.length > 0) {
          $.magnificPopup.open({
            items: {
              src: '#modal-thanks',
              type: 'inline',
            },
            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 100,
            mainClass: 'my-mfp-zoom-in',
          });
        }
      });
    });
  })(jQuery);
  </script>
{% endblock %}