{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Заявка на получение меры господдержки № 0024365  от 07.03.2019' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}

  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col col-xs-12 col-lg-8">
          {% include 'partials/_history.twig' %}

        </div>

        <div class="section__col col-xs-12 col-lg-4 with-lg-divider col-xs-first col-md-last">
          {% for infobox in infoboxes %}
            {% include 'partials/_infobox.twig' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}