{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner page-document' %}
{% set logged = true %}
{% set pageTitle = 'Оформление соглашения на получение меры господдержки' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}
  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col document col-xs-12 col-lg-8" data-component="document">
          <div class="document__body" data-element="document-body">
            <div class="document__file">
              <img src="/assets/img/temp/doc.jpg" alt="">
            </div>
          </div>

          <div class="document__footer form__submit">
            <div class="document__controls">
              <button type="button" class="document__control icon-plus" title="Добавить"></button>
              <button type="button" class="document__control icon-minus" title="Удалить"></button>
              <button type="button" class="document__control icon-download" title="Загрузить"></button>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-6">
                <button type="button" class="button button--default button--lg button--block">Предложить изменения</button>
              </div>
              <div class="col-xs-12 col-md-6">
                <button type="submit" class="button button--primary button--lg button--block">Согласовать</button>
              </div>
            </div>
          </div>
        </div>

        <div class="section__col document-aside col-xs-12 col-lg-4 with-lg-divider" data-element="document-aside">
          {% for infobox in infoboxes07 %}
            {% include 'partials/_infobox.twig' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}