{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Новая заявка на получение меры господдержки' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>
    <p>Cубсидия на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по плановым площадям)</p>

{% endblock %}


{% block content %}

  {% include 'partials/_form-with-steps.twig' with {'form': application, 'formName': 'application'} %}

{% endblock %}