{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Новая заявка на получение меры господдержки' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>
    <p>Cубсидия на оказание несвязанной поддержки сельскохозяйственным товаропроизводителям в области растениеводства (по плановым площадям)</p>

{% endblock %}


{% block content %}

  {% include 'partials/_steps.twig' with { 'steps': registration, 'activeStep': 2 } %}

  <form action="#" class="form" data-form="registration" data-validate="parsley">
    <div class="section">
      <div class="container">
        {% for step in registration|slice(1,1) %}
          <div class="form__header">
            <h4 class="form__title">{{ step.header.title }}</h4>
            <div class="form__action row row--md">
              {% for button in step.header.action %}
                <div class="form__action-item col">
                  <button type="button" class="button button--{{ button.type }} button--sm">{{ button.name }}</button>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="section">
            <div class="table-wrapper">
              <table class="table text-md">
                <thead>
                  <tr>
                    {% for item in step.table.head %}
                      <th class="text-sm text-muted">{{ item }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in step.table.body %}
                    <tr>
                      <td class="td-status"><i class="icon-status success"></i></td>
                      <td>{{ loop.index }}.</td>
                      <td>{{ row.document }}</td>
                      <td><a href="#">{{ row.file }}</a></td>
                      <td class="td-signature">
                        <div class="signature">
                          {% if row.signature %}
                            <i class="signature__icon icon-doc-pen success"></i>
                            <span class="signature__label label success text-xxs">Подписан</span>
                            {% else %}
                            <i class="signature__icon icon-doc-pen"></i>
                            <span class="signature__label label text-xxs">Не подписан</span>
                          {% endif %}
                        </div>
                      </td>
                      <td class="td-actions">
                        <div class="actions">
                          <button class="actions__item icon-refresh" title="Обновить"></button>
                          <button class="actions__item icon-download" title="Загрузить"></button>
                          <button class="actions__item icon-trash" title="Удалить"></button>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="form__submit row">
          <div class="col-xs-12 col-lg-6">
            <button type="button" class="button button--default button--lg button--block">Отмена</button>
          </div>
          <div class="col-xs-12 col-lg-6">
            <button type="submit" class="button button--primary button--lg button--block">Подтвердить и&nbsp;продолжить</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}