{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Сведения об основной хозяйственной деятельности' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}

  {% include 'partials/_steps.twig' with { 'steps': registration, 'activeStep': 3 } %}

  <form action="#" class="form" data-form="registration" data-validate="parsley">
    <div class="section section--extended-bottom">
      <div class="container">
        <div class="section__row row">
          <div class="section__col col-xs-12 col-lg-3">
            {% include 'partials/_menu.twig' %}
          </div>

          <div class="section__col col-xs-12 col-lg-9 with-lg-divider">
            <div class="form__section">
              <h4 class="form__title">Реестр полей</h4>
              <div class="row">
                <div class="col-xs-12 col-lg-6 col-xl-4">
                  <div class="form__group">
                    <label class="form__label text-sm text-muted" for="input-1">Title</label>
                    <input type="text" class="form__control" id="input-1" placeholder="Введите значение">
                  </div>
                </div>

                <div class="col-xs-12 col-xl-4 col-lg-last col-xl-initial">
                  <div class="form__group is-required">
                    <label class="form__label text-sm text-muted" for="input-2">Title</label>
                    <div class="form__inputbox-group">
                      <div class="form__inputbox form__control" data-element="inputbox">
                        <label class="form__label text-muted" for="input-2">от</label>
                        <input type="text" class="form__control" id="input-2" required>
                      </div>
                      <div class="form__inputbox form__control" data-element="inputbox">
                        <label class="form__label text-muted" for="input-3">до</label>
                        <input type="text" class="form__control" id="input-3">
                      </div>
                    </div>
                    <div class="form__group-footer">
                      <div class="form__errors"></div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-lg-6 col-xl-4">
                  <div class="form__group">
                    <label class="form__label text-sm text-muted" for="input-4">Title</label>
                    <input type="text" class="form__control" id="input-4" placeholder="Введите значение">
                  </div>
                </div>
              </div>
              <div class="form__action row row-h-end">
                <div class="form__action-item col">
                  <button type="button" class="button button--default button--sm">Очистить</button>
                </div>
                <div class="form__action-item col">
                  <button type="button" class="button button--primary button--sm">Найти</button>
                </div>
              </div>
            </div>

            {% for step in registration|slice(2,1) %}
              <div class="section">
                <div class="form__header row row-md-center">
                  <div class="form__header-col col-xs-12 col-md-8">
                    <h4 class="form__title">Результаты поиска</h4>
                  </div>
                  <div class="form__header-col form__header-options col-xs-12 col-md-4">
                    <button type="button" class="button button--default button--sm button--icon">Добавить<i class="button__icon icon-plus"></i></button>
                  </div>
                </div>

                <div class="table-wrapper">
                  <table class="land-table table text-md">
                    <thead>
                      <tr>
                        {% for item in step.table.head %}
                          <th class="text-sm text-muted">{{ item }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in step.table.body %}
                        <tr>
                          <td>
                            <a href="#">{{ row.land }}</a>
                            <i class="popover-toggle icon-dots" data-element="popover-toggle" data-tippy-placement="bottom-start" data-tippy-content='<ul class="dropdown__list text-sm"> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Просмотреть</a> </li> <li class="dropdown__item"> <a href="#" class="dropdown__link link-inherit">Изменить</a> </li> </ul>'></i>
                          </td>
                          <td>{{ row.plot }}</td>
                          <td>{{ row.type }}</td>
                          <td>{{ row.info }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="form__submit row">
          <div class="col-xs-12 col-md-6 col-lg-3">
            <button type="button" class="button button--default button--lg button--block">Назад</button>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <button type="button" class="button button--default button--lg button--block">Отмена</button>
          </div>
          <div class="col-xs-12 col-lg-6">
            <button type="submit" class="button button--primary button--lg button--block">Подтвердить и&nbsp;продолжить</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}