{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-inner' %}
{% set logged = true %}
{% set pageTitle = 'Регистрация нового пользователя сервиса предоставления мер господдержки АПК' %}


{% block header %}

    <h1 class="header__title">{{ pageTitle }}</h1>

{% endblock %}


{% block content %}

  {% include 'partials/_steps.twig' with { 'steps': registration, 'activeStep': 3 } %}

  <form action="#" class="form" data-form="registration" data-validate="parsley">
    <div class="section section--extended-bottom">
      <div class="container">
        <div class="section__row row">
          <div class="section__col col-xs-12 col-lg-3">
            {% include 'partials/_menu.twig' %}
          </div>

          <div class="section__col col-xs-12 col-lg-9 with-lg-divider">
            {% for step in registration|slice(2,1) %}
              {% for section in step.sections %}
                <fieldset class="form__section">
                  {% if section.title %}
                    <h4 class="form__title">{{ section.title }}</h4>
                  {% endif %}
                  {% include 'partials/_form-field.twig' with { 'fields': section.fields } %}
                </fieldset>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="form__submit row">
          <div class="col-xs-12 col-md-6 col-lg-3">
            <button type="button" class="button button--default button--lg button--block">Назад</button>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <button type="button" class="button button--default button--lg button--block">Отмена</button>
          </div>
          <div class="col-xs-12 col-lg-6">
            <button type="submit" class="button button--primary button--lg button--block">Подтвердить и&nbsp;продолжить</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}