{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}


{% block header %}

  {% include 'partials/_hero.twig' %}

{% endblock %}


{% block content %}

  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col col-xs-12 col-xl-6">
          {% include 'partials/_widget-stats.twig' %}
        </div>
        <div class="section__col col-xs-12 col-xl-6">
          {% include 'partials/_widget-news.twig' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/_banners.twig' %}

  <div class="section">
    <div class="container">
      <div class="section__row row">
        <div class="section__col col-xs-12 col-lg-6">
          {% include 'partials/_widget-measures.twig' %}
        </div>

        <div class="section__col col-xs-12 col-lg-6">
          {% include 'partials/_widget-services.twig' %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script>
  /* Chart */
  (function() {
      const doughnutData = {
          datasets: [{
              data: [61, 39, 33, 26, 13, 8],
              backgroundColor: [
                  '#be8a32',
                  '#d19b3f',
                  '#45474B',
                  '#828286',
                  '#c1c1c1',
                  '#e3e3e3',
              ],
              borderWidth: 0,
          }],
          labels: [
              'Единая субсидия',
              'Субсидии на оказание несвязанной поддержки в области растениеводства',
              'Субсидии на повышение продуктивности',
              'Субсидии на улучшение жилищных условий граждан, проживающих в сельской местности, в том числе молодых семей',
              'Возмещение части затрат на уплату процентов по кредитам, полученным в российских кредитных организациях',
              'Прочее'
          ]
      };

      const doughnutOptions = {
          responsive: true,
          legend: {
              display: false
          },
      };

      const ctx = document.getElementById('stats-chart-canvas').getContext('2d');
      const myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: doughnutData,
          options: doughnutOptions
      });
  })();
</script>
{% endblock %}