// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $background-hover, $color-hover: null) {
    $active-background: $background;

    color: $color;
    background-color: $background;
    border-color: $background;

    @if ($background-hover) {
        $active-background: $background-hover;
    }

    &:hover,
    &:focus,
    &:active,
    &.is-active {
        background-color: $active-background;
        border-color: $active-background;
        @if ($color-hover) {
            color: $color-hover;
        } @else {
            color: $color;
        }
    }
}

@mixin button-outline-variant($font-color, $bg-color, $border-color, $font-active-color, $active-color) {
    color: $font-color;
    background-color: $bg-color;
    border-color: $border-color;
    $active-background: $active-color;
    $active-border: $active-color;

    &:hover,
    &:focus,
    &:active {
        color: $font-active-color;
        background-color: $active-background;
        border-color: $active-border;
    }
}

@mixin button-grd-variant($color, $background-light, $background, $background-hover) {
    color: $color;
    background-color: $background;
    background-image:    -moz-linear-gradient(top, $background-light, $background); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, $background-light, $background); /* Chrome10-25,Safari5.1-6 */
    background-image:         linear-gradient(to bottom, $background-light, $background); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-light', endColorstr='$background',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include hover-focus-active {
        background: $background;
    }
}

// Button sizes
@mixin button-size($font-size, $line-height, $padding-x: null, $padding-y: null) {
    @if (not $padding-y) {
        padding: $padding-x;
    } @else {
        padding: $padding-y $padding-x;
    }
    @include font($font-size, $line-height);
}