// Typoghraphy

@mixin em-line-height($font-size-px, $line-height-px) {
  line-height:$line-height-px/$font-size-px;
}

@mixin font($font-size, $line-height, $font-weight:null, $font-family:null) {
  font-size: rem($font-size);
  @if $line-height == "inherit" {
    line-height: $line-height;
  } @else {
    @include em-line-height($font-size, $line-height);
  }
  @if $font-weight {
    font-weight:$font-weight;
  }
  @if $font-family {
    font-family:$font-family;
  }
}


@mixin font-size($fs-map, $fs-breakpoints: $grid-breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
      $font-size: nth($fs-font-size, 1);
      $line-height: nth($fs-font-size, 2);
    font-size: rem($font-size);
    @if (length($fs-font-size) > 1) {
      @include em-line-height($font-size, $line-height);
    }
    @if (length($fs-font-size) > 2) {
        font-weight: nth($fs-font-size, 3);
    }
    @if (length($fs-font-size) > 3) {
        margin-bottom: nth($fs-font-size, 4);
    }
  }
  @else {
    font-size: rem($fs-font-size);
  }
}