.autocomplete {
    @include list-unstyled;
    background-color: $white;
    border-radius: $border-radius-sm;
    box-shadow: 0 4px 15px rgba($black, 0.1);
    padding-top: rem($spacer-2);
    padding-bottom: rem($spacer-2);
    color: $gray-20;

    &__option {
        display: block;
        color: inherit;
        padding: rem($spacer-2 $spacer-4);
        @include font($font-size-xl, 29.01px);
    }

    @include media-breakpoint-up(xl) {
        box-shadow: none;

        &__option {
            @include font($font-size-md, $line-height-md);
            padding-top: rem($spacer);
            padding-bottom: rem($spacer);
        }
    }
}