.badge {
    @include size(rem($spacer-4 + 2));
    @include rounded;
    border: 1px solid $white;
    background-color: $primary;
    color: $white;
    font-size: rem($font-size-sm);
    font-weight: $font-weight-semibold;
    font-family: $font-family-base !important;
    line-height: rem($spacer-4 + 2);
    text-align: center;
}