.benefit-card {
    height: 100%;
    min-height: 222px;
    padding: rem($spacer-7);
    background-color: $white;
    border-radius: $border-radius-lg;
    box-shadow: 0 2px 32px rgba($black, 0.08);

    &__header {
        display: flex;
        align-items: center;
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(56px);
        margin-bottom: rem(20px);
        color: $primary;
    }

    &__icon {
        display: block;
        @include size(100%);
        fill: currentColor;
    }

    &--extended,
    &--hero {
        padding: rem($spacer-6);
    }

    &--extended & {
        &__header {
            margin-bottom: rem($spacer-4);
        }

        &__picture {
            flex: 0 0 rem(56px);
            margin-right: rem($spacer-4);
            margin-bottom: 0;
        }

        &__title {
            @include font($font-size-md, 28.01px, $font-weight-bold);
        }

        &__text {
            @include font($font-size-md, $line-height-md);
        }
    }

    &--hero {
        min-height: 0;
    }

    &--hero & {
        &__header {
            margin-bottom: rem($spacer-5);
        }

        &__picture {
            @include size(rem(64px));
            flex: 0 0 rem(64px);
            margin-right: rem($spacer-4);
            margin-bottom: 0;
        }

        &__title {
            @include font($font-size-lg, 23.01px, $font-weight-semibold);
        }

        &__text {
            opacity: .7;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: 256px;
        padding: rem($spacer-8);

        &__picture {
            @include size(64px);
            margin-bottom: rem($spacer-6);
        }

        &--extended {
            padding: rem(48px);
        }

        &--extended & {
            &__header {
                margin-bottom: rem($spacer-10);
            }

            &__picture {
                flex: 0 0 rem(64px);
                margin-right: rem($spacer-6);
                margin-bottom: 0;
            }

            &__title {
                @include font(20px, 28.01px);
            }

            &__text {
                @include font($font-size-lg, 28.01px);
            }
        }

        &--hero {
            padding: rem($spacer-6);
            min-height: 0;
        }

        &--hero & {
            &__picture {
                margin-right: rem($spacer-6);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--hero {
            padding: rem($spacer-8 50px $spacer-8 26%);
            position: relative;
        }

        &--hero & {
            &__header {
                margin-bottom: rem($spacer-2);
            }

            &__picture {
                flex: initial;
                @include size(rem(85px));
                margin-right: 0;
                position: absolute;
                top: 50%;
                left: 0;
                width: 26%;
                transform: translateY(-50%);
            }

            &__text {
                @include em-line-height($font-size-base, $line-height-sm);
            }
        }
    }
}