.bonus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    border: 1px solid $yellow;
    border-radius: $border-radius-xl;
    padding: rem($spacer-2 - 1);
    white-space: nowrap;
    @include font($font-size-sm, $font-size-sm);

    &__icon {
        font-size: rem($spacer-4);
        margin-left: rem($spacer);
    }

    @include media-breakpoint-between(xs, md) {
        .item-card--cart-mobile &,
        .item-card--more & {
            padding-top: rem($spacer - 1);
            padding-bottom: rem($spacer - 1);
        }
    }

    @include media-breakpoint-up(lg) {
        padding: rem(5px);
    }
}