.brands-list {
    @include list-unstyled;

    &__item {
        &:first-child {
            .brands-list__link {
                padding-top: 0;
            }
        }
    }

    &__link {
        display: block;
        border-bottom: 1px dashed $gray-8;
        padding-top: rem($spacer-2);
        padding-bottom: rem($spacer - 1);
        color: inherit;
        @include em-line-height($font-size-base, $line-height-lg);

        @include hover-focus {
            font-weight: $font-weight-semibold;
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    &--lg & {
        &__link {
            padding-top: rem($spacer-3 + 1);
            padding-bottom: rem($spacer-3 - 2);
            @include font($font-size-lg, $line-height-lg);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}