.brand-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: rem(90px);
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;

    &__img {
        display: block;
    }

    @include media-breakpoint-up(xl) {
    }
}