.brands {
    @include make-row(rem($grid-gutter-lg));
    justify-content: center;

    &__item {
        @include make-col(rem($grid-gutter-lg));
        margin-bottom: rem($grid-gutter-lg);
    }

    &__pagination {
        margin-top: rem(-10px);
    }

    @include media-breakpoint-up(md) {
        &__pagination {
            margin-top: rem(-19px);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-left: rem(-15px);
        margin-right: rem(-15px);

        &__item {
            padding-left: rem(15px);
            padding-right: rem(15px);
        }

        &__pagination {
            margin-top: rem(-$spacer-2);
        }
    }
}