.breadcrumb {
    color: $gray-11;
    @include em-line-height($font-size-base, $line-height-sm);
    margin-bottom: rem($spacer-6);

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: inline;

        &:after {
            margin-left: rem($spacer-4);
            margin-right: rem($spacer-3);
            font-size: rem(17px);
            top: -1px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: $base-color;

        @include hover-focus {
            color: $link-color;
        }
    }

    &__icon {
        font-size: rem(17px);
        margin-right: rem($spacer-2);
        transform: rotate(180deg);
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($spacer-10);
    }
}