.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(rem(64px));
    background-color: $white;
    border: 2px solid $white;
    border-radius: $border-radius-sm;
    box-shadow: 0 6px 13px rgba($black, 0.08);
    color: $primary;
    font-size: rem(30px);

    &:before {
        display: block;
        transform: rotate(-90deg);
    }

    @include hover-focus {
        border-color: $primary;
    }
}