.cart-item {
    padding: rem($spacer-4);
    background-color: $white;
    border-radius: $border-radius-sm;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem($spacer-4);
    }

    &__picture {
        display: flex;
        align-items: center;
        margin-right: rem($spacer-4);
        width: rem(130px);
        flex: 0 0 rem(130px);
        min-height: rem(130px);
        max-height: rem(187px);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    &__body {
        align-self: center;
        flex: 1;

        > &:last-child {
            margin-bottom: 0;
        }
    }

    &__title,
    &__rating,
    &__condition,
    &__amount {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        font-weight: $font-weight-semibold;
    }

    &__condition {
        @include font($font-size-sm, $line-height-sm);
    }

    &__price-info {
        width: 100%;
        margin-top: rem($spacer-4);
    }

    &__amount,
    &__footer {
        border-top: 1px dashed $gray-8;
        padding-top: rem($spacer-4 - 1);
    }

    &__amount {
        display: flex;
        justify-content: space-between;

        &-label {
            margin-top: rem($spacer-4);
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        @include font($font-size-h1, 38.01px, $font-weight-semibold);
        margin-right: rem($spacer-3);
        white-space: nowrap;
        position: relative;
        top: rem(3px);
    }

    &__price-old {
        display: none;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__control + &__control {
        margin-left: rem($spacer-4);
    }

    @include media-breakpoint-between(xs, md) {
        &__control {
            @include size(rem(48px) !important);
        }
    }

    @include media-breakpoint-up(xl) {
        display: flex;

        &__content {
            display: flex;
            margin-bottom: 0;
        }

        &__picture {
            @include size(rem(180px), rem(200px));
            flex: 0 0 rem(180px);
            max-height: none;
            align-self: flex-start;
        }

        &__body {
            align-self: flex-start;
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
        }

        &__condition {
            @include font($font-size-base, $line-height-base);
        }

        &__tags {
            margin-bottom: rem($spacer-4);
        }

        &__amount,
        &__footer {
            border-top: 0;
            border-left: 1px dashed $gray-8;
            padding-top: 0;
            padding-left: rem($spacer-4);
            margin-left: rem($spacer-4);
        }

        &__amount {
            flex: 0 0 rem(151px);
            max-width: rem(151px);
            margin-bottom: 0;

            &-label {
                margin-top: rem($spacer-6);
            }
        }

        &__footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            flex: 0 0 rem(156px);
            max-width: rem(156px);
        }

        &__prices {
            display: block;
            text-align: right;
        }

        &__price {
            @include font($font-size-h5, $line-height-h5);
            margin-right: 0;
            top: 0;
        }

        &__price-old {
            display: block;
            margin-top: rem($spacer);
            text-decoration: line-through;
            @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
        }

        &__bonus {
            margin-top: rem($spacer-3);
        }

        &__control + &__control {
            margin-left: rem(6px);
        }
    }
}