.category-card {
    height: 100%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;

    &__picture {
        display: flex;
        align-items: center;
        height: 200px;
        margin-bottom: rem($spacer-8);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    &__list {
        max-width: 264px;
        margin-bottom: rem($spacer-3);
    }

    @include media-breakpoint-up(lg) {
    }
}