.check {
    &__list {
        @include list-unstyled;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed $gray-8;
        padding-bottom: rem(13px);
        margin-bottom: rem($spacer-4);
    }

    &__name,
    &__price,
    &__total-data {
        font-weight: $font-weight-semibold;
    }

    &__name {
        width: 100%;
        margin-bottom: rem($spacer-3);
    }

    &__info {
        margin-right: rem($spacer-6);
    }

    &__total {
        display: grid;
        grid-template-columns: max-content auto;
        grid-row-gap: rem($spacer);
        align-items: center;
        margin-top: rem($spacer-5);
        margin-bottom: rem(-3px);

        &-label {
            grid-column-start: 1;
        }

        &-data {
            grid-column-start: 2;
            text-align: right;
            line-height: 1.05;
        }

        &-sum {
            font-weight: $font-weight-bold;
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(xl) {
    }
}