.comment {
    &__header {
        margin-bottom: rem($spacer-2);
    }

    &__author {
        display: flex;
        align-items: center;

        &-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(rem(48px));
            flex: 0 0 rem(48px);
            @include rounded;
            background-color: $gray-4;
            @include font(15px, $line-height-sm);
            text-transform: uppercase;
            color: $gray-10;
            margin-right: rem($spacer-2);
        }

        &-icon {
            display: block;
            @include size(100%);
        }

        &-content {
            flex: 1;
        }

        &-name {
            @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
            margin-bottom: rem($spacer);
        }
    }

    &__date {
        &-label {
            color: $black;
            @include font($font-size-sm, $line-height-sm);
        }

        &-data {
            color: $gray-15;
        }
    }

    &__body {
        @include font($font-size-sm, $line-height-sm);
    }

    &__answer {
        margin-top: rem($spacer-4);
        padding-left: rem(48px);
    }

    @include media-breakpoint-up(md) {
        &__header {
            margin-bottom: rem($spacer-4);
        }

        &__author {
            &-avatar {
                @include size(rem(56px));
                flex: 0 0 rem(56px);
                margin-right: rem($spacer-4);
                @include font($font-size-lg, 22.01px);
            }
        }

        &__body {
            @include font($font-size-base, $line-height-lg);
        }

        &__answer {
            padding-left: rem(72px);
        }
    }

    @include media-breakpoint-between(md, md) {
        &--answer & {
            &__header {
                margin-bottom: rem($spacer-2);
            }

            &__author {
                &-avatar {
                    @include size(rem($spacer-8));
                    flex: 0 0 rem($spacer-8);
                }

                &-name {
                    display: none;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__body {
            @include font($font-size-lg, $line-height-lg);
        }

        &__answer {
            margin-top: rem(30px);
            margin-bottom: rem($spacer-5);
        }

        &--answer & {
            &__header {
                margin-bottom: rem($spacer-6);
            }
        }
    }
}