.details {
    @include font($font-size-sm, 22.01px);
    width: 100%;

    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include margin-bottom(rem(2px));

        &:after {
            display: block;
            content: '';
            border-top: 1px dashed $gray-6;
            flex: 1;
            margin-top: .8em;
        }
    }

    &__name {
        margin-right: rem(10px);
        max-width: 50%;
    }

    &__data {
        margin-left: rem(10px);
        text-align: right;
        order: 10;
        max-width: 50%;
        font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-up(lg) {
        @include font($font-size-base, $line-height-base);

        &__item {
            margin-bottom: rem(6px);
        }

        &__name {
            max-width: none;
        }

        &__data {
            text-align: left;
            max-width: none;
            font-weight: $font-weight-normal;
        }

        &--compact {
            display: table;
        }

        &--compact & {
            &__item {
                display: table-row;

                &:after {
                    display: none;
                }

                &:last-child {
                    .details__name,
                    .details__data {
                        padding-bottom: 0;
                    }
                }
            }

            &__name,
            &__data {
                display: table-cell;
                padding-bottom: rem(10px);
            }

            &__name {
                white-space: nowrap;
                padding-right: rem($spacer-4);
            }

            &__data {
                width: 90%;
            }
        }

        &--default & {
            &__name {
                margin-right: rem(10px);
            }

            &__data {
                flex: 0 0 50%;
                width: 50%;
            }
        }

        &--fixed-data {
            display: table;
        }

        &--fixed-data & {
            &__item {
                display: table-row;

                &:after {
                    display: none;
                }

                &:last-child {
                    .details__name,
                    .details__data {
                        padding-bottom: 0;
                    }
                }
            }

            &__name,
            &__data {
                display: table-cell;
                padding-bottom: rem(6px);
            }

            &__name {
                max-width: 90%;
                overflow: hidden;
                position: relative;

                &:after {
                    content: " ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ";
                    position: absolute;
                    padding-left: rem(10px);
                    color: $gray-6;
                }
            }

            &__data {
                width: 10%;
                text-align: left;
                white-space: nowrap;
                padding-left: rem(10px);
            }
        }
    }
}