.diagnostic-card {
    height: 100%;
    padding: rem($spacer-8 $spacer-10);
    border-radius: $border-radius-lg;

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: rem(13px);
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(56px));
        flex: 0 0 rem(56px);
        margin-right: rem(10px);
    }

    &__icon {
        display: block;
        @include size(100%);
    }

    &__text {
        @include font(13px, 20.01px);
    }

    @include media-breakpoint-up(md) {
        padding: rem($spacer-10 48px);

        &__heading {
            margin-bottom: rem($spacer-6);
        }

        &__picture {
            @include size(rem(64px));
            flex: 0 0 rem(64px);
            margin-right: rem($spacer-6);
        }

        &__text {
            @include font($font-size-md, $line-height-md);
        }
    }

    @include media-breakpoint-up(lg) {
        padding: rem(48px $spacer-10 52px);
    }
}