.emoji-text {
    display: flex;
    align-items: center;

    &__icon {
        flex: 0 0 1em;
        line-height: 1;

        .text-md & {
            margin-right: rem($spacer-2);
            @include size(rem($spacer-6));
            font-size: rem($spacer-6);
        }

        .text-lg & {
            margin-right: rem($spacer-3);
            @include size(rem($spacer-8));
            font-size: rem($spacer-8);
        }
    }
}