.feature-card {
    height: 100%;
    padding: rem($spacer-8);
    background-color: $white;
    border-radius: $border-radius-lg;

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: rem($spacer-6);
        color: $primary;
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(64px));
        flex: 0 0 rem(64px);
        margin-right: rem($spacer-6);
    }

    &__icon {
        display: block;
        @include size(100%);
        fill: currentColor;
    }

    @include media-breakpoint-between(md, md) {
        padding: rem(48px);
    }

    @include media-breakpoint-up(lg) {
    }
}