.feature {
    @include em-line-height($font-size-base, 16.01px);
    text-align: center;
    max-width: rem(174px);
    margin-left: auto;
    margin-right: auto;

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(56px));
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-2);
    }

    &__icon {
        display: block;
        fill: currentColor;
    }

}