.filter {
    user-select: none;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: rem($spacer-3);
        cursor: pointer;
    }

    &__title {
        font-weight: $font-weight-bold;
    }

    &__toggle {
        font-size: rem($spacer-6);
        transform: rotate(-180deg);
        transition: transform .25s linear;

        .filter.is-collapsed & {
            transform: rotate(0);
        }
    }

    &__body {
        .filter.is-collapsed & {
            display: none;
        }
    }

    &__input-group {
        display: flex;
    }

    &__input {
        flex: 1;
        border-color: $white;
    }

    &__input + &__input {
        margin-left: rem($spacer-4);
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-3);
    }

    .custom-control__indicator {
        border-color: $white;
    }

    &__action {
        font-weight: $font-weight-semibold;
        @include em-line-height($font-size-base, 26.01px);
    }

    @include media-breakpoint-up(xl) {
    }
}