.fixed-height-block {
    &.is-collapsed & {
        &__content {
            height: rem(126px);
            overflow: hidden;
            position: relative;

            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                height: rem(29px);
                background: linear-gradient(360deg, $white 15.52%, rgba($white, 0) 162.07%);
                z-index: 1;
            }
        }
    }

    &__toggle {
        display: inline-block;
        margin-top: rem($spacer-4);
        @include font($font-size-base, $line-height-sm);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}