.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: rem($spacer-4);

    &__title {
        margin-bottom: 0;
        flex: 1;
    }

    &-controls {
        margin-left: rem($spacer-8);
    }

    &--switch {
        padding-left: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-left: rem($spacer-10);

        .body:not(.page-home) .catalog & {
            padding-left: 0;
        }
    }
}