.help {
    border: 1px solid $gray-6;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
    padding: rem($spacer-10 $spacer-6 $spacer-6);
    text-align: center;

    &__title {
        @include font($font-size-lg, $line-height-md, $font-weight-semibold);
        margin-bottom: rem($spacer-9);
    }

    &__slider {
        &-container {
            padding-bottom: rem($spacer-8);
        }

        &-controls {
            margin-top: rem($spacer-8);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__label {
        @include em-line-height($font-size-base, 22.01px);
        margin-bottom: rem(3px);
    }

    &__contact {
        @include font(26px, 34.01px, $font-weight-semibold);
    }


    @include media-breakpoint-up(lg) {
        &__slider {
            margin-bottom: rem($spacer-2);
        }
    }
}