.help-card {
    &__icon {
        display: block;
        @include size(rem(88px));
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-6);
    }

    &__text {
        @include em-line-height($font-size-base, 22.01px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}