.image-heading {
    &__picture {
        margin-bottom: rem($spacer-4);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: rem(185px);
    }

    &__title {
        margin-bottom: rem($spacer-4);
        text-align: center;
    }

    &__text {
        @include em-line-height($font-size-base, $line-height-lg);

        p {
            @include margin-bottom($spacer-2);
        }
    }

    &__phone {
        @include font($font-size-lg, $line-height-xl);
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 38% auto;
        grid-template-rows: min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
            "image title"
            "image text";
        align-items: center;

        &__picture {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: image;
            margin-bottom: 0;
            padding-right: rem($spacer-5);
        }

        &__img {
            display: block;
            height: 100%;
            max-height: none;
        }

        &__title {
            grid-area: title;
            text-align: left;
        }

        &__text {
            grid-area: text;
            @include font($font-size-lg, $line-height-lg);
        }

        &__phone {
            @include font($font-size-xl, $line-height-xl);
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 31% auto;

        &__picture {
            align-self: stretch;
        }

        &__title {
            margin-bottom: rem($spacer-8);
        }

        &__text {
            max-width: 97%;
        }
    }
}