.intro-card {
    height: 100%;
    border-radius: $border-radius-lg;
    padding: rem($spacer-6);

    &__number {
        color: $gray-19;
    }

    &__description {
        @include font($font-size-md, $line-height-md);
        max-width: rem(611px);
    }

    @include media-breakpoint-up(xl) {
    }
}