.item-card {
    padding: rem($spacer-4);
    background-color: $white;
    border-radius: $border-radius-sm;
    color: $base-color;
    transition: .25s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .catalog__item & {
        height: 100%;
    }

    @include hover-focus {
        box-shadow: 0 0px 10px rgba($black, 0.05), 0 0px 20px rgba($black, 0.16);
        z-index: 2;
    }

    &__content {
        flex: 1;
    }

    &__label {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: $font-weight-semibold;
        margin-bottom: rem($spacer-4);
    }

    &__close {
        position: absolute;
        top: rem(- $spacer-2);
        right: 0;
        @include size(rem($spacer-8));
        @include rounded;
        background-color: $white;
        filter: drop-shadow(0 6px 13px rgba($black, 0.08));
        font-size: rem($spacer-6);
        padding: rem($spacer);
        color: $base-color;
        z-index: 3;
    }

    &__picture {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: rem($spacer-4);
        height: rem(187px);
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        //mix-blend-mode: multiply;
    }

    &__stickers {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__body {
        margin-bottom: rem($spacer-4);
    }

    &__shop {
        color: $gray-15;
        @include font($font-size-sm, $line-height-base);
        margin-bottom: rem($spacer);
    }

    &__title {
        @include font($font-size-md, $line-height-md, $font-weight-semibold);
        margin-bottom: rem($spacer);
    }

    &__rating {
        margin-bottom: rem(13px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__condition {
        @include font($font-size-sm, $line-height-sm);
        margin-bottom: rem($spacer-4);

        &:last-child {
            margin-bottom: 0;
        }

        &-label {
            margin-right: rem($spacer);
        }
    }

    &__footer {
        margin-top: auto;
    }

    &__price-info {
        margin-bottom: rem($spacer-4);
    }

    &__market {
        display: none;
    }

    &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem($spacer-4);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__price {
        @include font($font-size-xl, $line-height-lg, $font-weight-semibold);
        margin-right: rem($spacer-3);
        white-space: nowrap;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        &--buy {
            flex: 1;
        }

        @include hover-focus-active {
            color: $base-color;
        }
    }

    &__button + &__button {
        margin-left: rem(6px);
    }

    &--md {
        padding-bottom: rem($spacer-6);
        border-radius: $border-radius-lg;
    }

    &--md & {
        &__picture {
            margin-bottom: rem($spacer-6);
            height: rem(240px);
        }

        &__body {
            margin-bottom: rem($spacer-6);
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem($spacer-4);
            height: ($line-height-lg / $font-size-lg) * 2em;
        }

        &__condition {
            @include font($font-size-base, $line-height-base);
            margin-bottom: 0;
        }
    }

    &--lg {
        padding-left: rem(26px);
        padding-right: rem(26px);
        padding-bottom: rem($spacer-8);
        border-radius: $border-radius-lg;
    }

    &--review {
        display: flex;
        align-items: center;
    }

    &--review & {
        &__picture {
            margin-right: rem($spacer-4);
            margin-bottom: 0;
            @include size(rem(107px), rem(128px));
        }

        &__body {
            flex: 1;
            margin-bottom: 0;
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem($spacer-2);
        }

        &__rating {
            margin-bottom: 0;
        }
    }

    &--shop & {
        &__prices {
            margin-bottom: 0;
        }

        &__price {
            @include font(20px, $line-height-lg);
        }
    }

    &--cart-mobile {
        padding: 0;

        @include hover-focus {
            box-shadow: none;
        }
    }

    &--cart-mobile & {
        &__content {
            display: flex;
            align-items: flex-start;
            margin-bottom: rem($spacer-4);
        }

        &__picture {
            margin-bottom: 0;
            flex: 0 0 rem(128px);
            @include size(rem(128px), rem(116px));
            margin-right: rem(22px);
            padding-top: 0;
        }

        &__img {
            max-height: 100%;
        }

        &__body {
            margin-bottom: 0;
            padding: 0;
        }

        &__title {
            @include font($font-size-base, $line-height-base);
            margin-top: rem(-5px);
            margin-bottom: rem($spacer-3);
        }

        &__prices {
            align-items: flex-start;
            flex-direction: column-reverse;
            padding-left: 0 !important;
            margin-bottom: 0;
        }

        &__price {
            @include font(26px, 36.01px);
        }

        &__bonus {
            margin-bottom: rem($spacer-3);
        }

        &__controls {
            padding-left: rem(22px);
            padding-right: rem(22px);
        }

        &__button + .item-card__button {
            margin-left: rem($spacer-4 - 1);
        }
    }

    &--compare & {
        &__close {
            top: rem($spacer-2);
            right: rem($spacer-2);
        }
    }

    @each $key, $value in $catalog-item-colors {
        &--theme-#{$key} {
            @include setProperty('background-color', $value, 'bg');

            .item-card__label {
                @include setProperty('color', $value, 'color');
            }

            .button--outline-default {
                border-width: 2px;
                border-color: rgba($gray-11, .3);

                &:hover,
                &:focus,
                &:active,
                &.is-active,
                a:hover &,
                a:focus & {
                    border-color: $primary;
                }
            }
        }
    }

    &[class*="theme"] {
        .item-card__price-info,
        .item-card__tags .tag {
            background-color: rgba($white, .4);
        }

        .item-card__bonus {
            border-color: $white;
        }
    }

    @include media-breakpoint-between(xs, lg) {
        &--more {
            flex-direction: row;
            background: none;
            height: auto;
            padding: 0;

            @include hover-focus {
                box-shadow: none;
            }
        }

        &--more & {
            &__picture {
                max-width: rem(86px);
                flex: 0 0 rem(86px);
                height: rem(99px);
                margin-right: rem($spacer-4);
                margin-bottom: 0;
            }

            &__stickers {
                display: none;
            }

            &__body {
                max-width: calc(100% - 102px);
                flex: 0 0 calc(100% - 102px);
                margin-bottom: 0;
            }

            &__title {
                @include font(10px, 20.01px);
                margin-bottom: rem(6px);
                @include text-truncate();
                max-width: 100%;
            }

            &__prices {
                margin-bottom: rem(9px);
                justify-content: flex-start;
            }

            &__price {
                @include font($font-size-h6, $line-height-h6);
            }

            &__button {
                @include font($font-size-sm, $line-height-sm);
                min-width: rem(154px);
                padding-top: rem($spacer-2);
                padding-bottom: rem($spacer-2);
                height: auto;
            }
        }

        &--compare & {
            &__picture {
                height: rem(187px);
            }

            &__title {
                @include font($font-size-sm, $line-height-sm);
            }

            &__price {
                @include font(20px, $line-height-lg);
            }
        }
    }

    @include media-breakpoint-between(xs, md) {
        $item-card-btn-padding-y: (48px - $btn-border-width * 2 - $line-height-sm) / 2;

        &__button {
            height: rem(48px);
            padding: rem($item-card-btn-padding-y 9px);

            .button__icon {
                margin-right: rem($spacer);
            }

            &--buy {
                font-size: rem($font-size-sm);
            }

            &--control {
                @include size(rem(48px) !important);
            }
        }

        &--shifting {
            display: flex;
            flex-direction: column;
            padding: rem($spacer-2);
        }

        &--shifting & {
            &__content {
                display: flex;
                flex: 1;
                margin-bottom: rem($spacer-4);
            }

            &__picture {
                padding-top: rem($spacer-3);
                margin-bottom: 0;
                flex: 0 0 rem(130px);
                max-width: rem(130px);
                height: auto;
            }

            &__img {
                max-height: 187px;
            }

            &__body {
                flex: 1;
                align-self: center;
                padding: rem(19px $spacer-4);
                margin-bottom: 0;
            }

            &__title {
                @include font($font-size-base, $line-height-base);
                margin-bottom: rem($spacer-4);
            }

            &__footer {
                margin-top: auto;
            }

            &__price-info {
                margin-bottom: rem($spacer-7);
            }

            &__prices {
                padding-left: rem($spacer-6);
                margin-bottom: rem($spacer-7);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__price {
                @include font($font-size-2xl, $line-height-xl);
            }

            &__button + .item-card__button {
                margin-left: rem($spacer-4);
            }
        }

        &--set {
            padding-top: rem($spacer-7);
            padding-bottom: rem($spacer-7);
        }
    }

    @include media-breakpoint-between(md, md) {
        &--shifting & {
            &__body {
                padding-top: rem(9px);
                padding-bottom: rem(9px);
            }
        }

        &--set {
            flex-direction: row;
            padding: rem($spacer-4 $spacer-3 $spacer-4 $spacer-2);
        }

        &--set & {
            &__picture {
                max-width: rem(170px);
                flex: 0 0 rem(170px);
                padding: rem($spacer-5 $spacer-3);
            }

            &__body {
                padding-left: rem($spacer-2);
            }

            &__title {
                @include font($font-size-lg, $line-height-lg);
            }

            &__title,
            &__rating,
            &__condition {
                margin-bottom: rem($spacer-6);
            }

            &__footer {
                padding-left: rem($spacer-4);
            }
        }
    }

    @include media-breakpoint-between(md, lg) {
        &--set & {
            &__content {
                margin-bottom: 0;
                display: flex;
            }

            &__picture {
                margin-bottom: 0;
            }

            &__body {
                align-self: center;
                flex: 1;
                margin-bottom: 0;
            }

            &__title,
            &__rating,
            &__condition {
                margin-bottom: rem($spacer-6);
            }

            &__rating {
                .rating__counter {
                    @include font($font-size-base, $line-height-base);
                }
            }

            &__condition {
                @include font($font-size-base, $line-height-base);
            }

            &__tags {
                margin-left: rem(- $spacer);
                margin-right: rem(- $spacer);
                row-gap: rem($spacer-2);

                .tags__item {
                    padding-left: rem($spacer);
                    padding-right: rem($spacer);
                }

                .tag {
                    @include font($font-size-sm, $line-height-sm);
                }
            }

            &__footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: rem(285px);
                flex: 0 0 rem(285px);
                margin-top: 0;
                border-left: 1px dashed $gray-8;
            }

            &__prices {
                padding-left: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__label {
            @include em-line-height($font-size-base, $line-height-lg);
        }

        &__shop {
            @include font($font-size-base, $line-height-base);
            margin-bottom: rem($spacer-2);
        }

        &--lg {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }

        &--review {
            display: block;
        }

        &--review & {
            &__picture {
                margin-right: 0;
                margin-bottom: rem($spacer-4);
                @include size(auto, rem(187px));
            }

            &__title {
                @include font($font-size-md, $line-height-md);
                margin-bottom: rem($spacer);
            }
        }

        &--shop & {
            &__body {
                margin-bottom: rem($spacer-6);
            }

            &__price {
                @include font($font-size-xl, $line-height-lg);
            }
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &--set {
            flex-direction: row;
            padding: rem($spacer-6);
        }

        &--set & {
            &__picture {
                max-width: rem(240px);
                flex: 0 0 rem(240px);
            }

            &__body {
                padding-left: rem($spacer-4);
                padding-right: rem($spacer-6);
            }

            &__footer {
                padding-left: rem($spacer-6);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__label {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem($spacer-6);
        }

        &__close {
            top: rem( - $spacer);
            right: rem($spacer-2);
        }

        &__picture {
            margin-bottom: rem($spacer-6);
            height: rem(240px);
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem($spacer-2);
        }

        &__rating {
            margin-bottom: rem($spacer-4);
        }

        &__condition {
            @include font($font-size-base, $line-height-base);
        }

        &__price-info {
            margin-bottom: rem($spacer-6);
        }

        &__prices {
            margin-bottom: rem($spacer-6);
        }

        &__price {
            @include font($font-size-h4, $line-height-h4);
        }

        &__button {
            &--buy {
                padding-left: rem($spacer-3 - 1);
                padding-right: rem($spacer-3 - 1);
            }
        }

        &__button + &__button {
            margin-left: rem($spacer-2);
        }

        &--lg {
            padding: rem($spacer-6 $spacer-6 $spacer-8);
        }

        &--lg & {
            &__picture {
                height: rem(309px);
            }

            &__title {
                @include font($font-size-xl, $line-height-xl);
                margin-bottom: rem(10px);
            }

            &__rating {
                margin-bottom: rem(14px);
            }

            &__price-info {
                margin-bottom: rem(18px);
            }

            &__prices {
                margin-bottom: rem($spacer-4);
            }

            &__price {
                @include font($font-size-2xl, 39.01px);
            }

            &__bonus {
                padding: rem(10px 10px 7px);
            }

            &__button {
                &--buy {
                    flex: 1;
                }
            }

            &__button + .item-card__button {
                margin-left: rem($spacer-4);
            }
        }

        &--review & {
            &__picture {
                margin-bottom: rem($spacer-6);
                height: rem(240px);
            }

            &__title {
                @include font($font-size-lg, $line-height-lg);
                margin-bottom: rem($spacer-2);
            }
        }

        &--more & {
            &__body {
                margin-bottom: 0;
            }

            &__title {
                margin-bottom: rem($spacer-4);
            }

            &__prices {
                justify-content: flex-start;
                margin-bottom: rem($spacer-4);
            }

            &__price {
                @include font($font-size-xl, $line-height-lg);
            }

            &__button {
                width: 100%;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &--horizontal {
            display: flex;
            flex-direction: row;
        }

        &--horizontal & {
            &__content {
                display: flex;
                flex: 1;
            }

            &__picture {
                max-width: rem(283px);
                flex: 0 0 49%;
                margin-bottom: 0;
            }

            &__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: rem($spacer-6);
                padding-right: rem($spacer-6);
                margin-bottom: 0;
            }

            &__title,
            &__rating,
            &__condition {
                margin-bottom: rem($spacer-4);
            }

            &__tags {
                row-gap: rem($spacer-2);
            }

            &__footer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: rem(293px);
                flex: 0 0 33%;
                margin-top: 0;
                padding-left: rem($spacer-6);
                border-left: 1px dashed $gray-8;
            }

            &__price-info {
                margin-bottom: rem($spacer-7);
            }

            &__controls {
                margin-top: auto;
            }
        }

        &--set & {
            &__rating,
            &__condition,
            &__market {
                margin-bottom: rem($spacer-6);
            }

            &__tags {
                display: none;
            }

            &__price-info {
                display: none;
            }

            &__market {
                display: block;

                &-label {
                    margin-bottom: rem($spacer);
                }
            }

            &__prices {
                justify-content: flex-start;
            }

            &__price {
                @include font($font-size-xl, $line-height-lg);
            }
        }

        &--cart & {
            &__price-info,
            &__prices {
                margin-bottom: rem($spacer-5);
            }

            &__footer {
                max-width: rem(284px);
            }

            &__controls {
                flex-direction: column;

                &-link {
                    @include font($btn-font-size, $btn-line-height);
                    margin-top: rem($spacer-6);
                }
            }

            &__button {
                width: 100%;
            }
        }

        &--compare & {
            &__body {
                margin-bottom: rem($spacer-6);
            }

            &__prices {
                justify-content: flex-start;
            }
        }
    }
}