.legal-text {
    h6 {
        font-size: inherit;
        line-height: inherit;

        &:not(:first-child) {
            margin-top: 1.5em;
        }
    }

    h6,
    p,
    ul,
    ol {
        margin-bottom: .75em;
    }

    .text-lg {
        @include em-line-height($font-size-lg, $line-height-md);
    }

    a {
        @include link-primary;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}