.list-bullet {
    @include list-unstyled;

    > li {
        position: relative;
        padding-left: .75em;

        &:before {
            position: absolute;
            top: 0.1em;
            left: 0;
            color: $primary;
            content: '●';
            font-size: .85em;
        }
    }

    @include media-breakpoint-up(lg) {
        > li {
            padding-left: 1em;
        }
    }
}