.list-icon {
    @include list-unstyled;

    &:last-child {
        margin-bottom: rem(- $spacer-6);
    }

    &__item {
        display: flex;
        margin-bottom: rem($spacer-6);
    }

    &__icon {
        font-size: rem($spacer-6);
        flex: 0 0 rem($spacer-6);
        margin-right: rem($spacer-2);
    }
}