.loader {
    text-align: center;

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: rem(65px);
    }

    &__text {
        margin-top: rem(44px);
    }

    @include media-breakpoint-up(lg) {
        &__text {
            @include font($font-size-md, $line-height-md);
            margin-top: rem($spacer-8);
        }
    }
}