.logo {
    display: flex;
    align-items: center;

    &__icon {
        font-size: rem($spacer-8);
        margin-right: rem(14px);
        z-index: 1;

        &:after {
            position: absolute;
            top: 5%;
            left: 5%;
            @include size(80%);
            @include rounded
            background-color: $white;
            content: '';
            z-index: -1;
        }
    }

    &__img {
        display: block;
    }
}