.menu-card {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: $border-radius-lg;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-height: rem(225px);
    z-index: 1;

    @include hover-focus {
        box-shadow: 0 0 10px rgba($black, 0.05), 0 0 20px rgba($black, 0.16);

        .menu-card__img {
            transform: translate(40%, -50%) scale(1.05);
        }

        .menu-card__img--vertical {
            transform: scale(1.05);
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(40%, -50%) scale(1);
        max-height: 85%;
        max-width: none;
        width: auto;
        height: auto;
        z-index: -1;
        transition: transform .25s ease-in-out;

        &--vertical {
            top: auto;
            left: auto;
            right: rem($spacer-3);
            bottom: -60%;
            transform: none;
            max-height: none;
            max-width: 152px;
        }
    }

    &__content {
        padding: rem($spacer-6 0 $spacer-6 $spacer-6);
    }

    &__title {
        color: inherit;
        margin-bottom: rem($spacer-6);
        @include font($font-size-xl, $line-height-xl);
        max-width: 7em;
    }

    &.theme-light & {
        &__img {
            mix-blend-mode: darken;
        }
    }

    @include media-breakpoint-up(md) {
        &__title {
            @include font($font-size-xl, $line-height-xl);
        }

        &--lg & {
            &__img {
                transform: translate(54%, -50%);
                max-height: 88%;

                &--vertical {
                    right: rem($spacer-7);
                    max-height: none;
                    transform: none;
                }
            }
        }

        &--lg {
            @include hover-focus {
                .menu-card__img {
                    transform: translate(54%, -50%) scale(1.05);
                }

                .menu-card__img--vertical {
                    transform: scale(1.05);
                }
            }
        }

        &--md & {
            &__img {
                .menu__item:nth-child(3) & {
                    transform: translate(35%, -50%);
                    max-height: 79%;
                }

                .menu__item:nth-child(4) & {
                    transform: translate(56%, -50%);
                    max-height: 72.5%;
                }

                .menu__item:nth-child(5) & {
                    max-height: 68%;
                }
            }

            &--md {
                @include hover-focus {
                    .menu__item:nth-child(3) & {
                        .menu-card__img {
                            transform: translate(35%, -50%) scale(1.05);
                        }
                    }

                    .menu__item:nth-child(4) & {
                        .menu-card__img {
                            transform: translate(56%, -50%) scale(1.05);
                        }
                    }
                }
            }
        }

        &--sm {
            align-items: flex-start;

            @include hover-focus {
                .menu__item:nth-child(3) & {
                    .menu-card__img {
                        transform: translate(32%, -27%) scale(1.05);
                    }
                }

                .menu__item:nth-child(4) & {
                    .menu-card__img {
                        transform: translate(51%, -17%) scale(1.05);
                    }
                }

                .menu__item:nth-child(5) & {
                    .menu-card__img {
                        transform: translate(30%, -34%) scale(1.05);
                    }
                }

                .menu__item:nth-child(6) & {
                    .menu-card__img {
                        transform: translate(65%, -30%) scale(1.05);
                    }
                }
            }
        }

        &--sm & {
            &__content {
                max-width: none;
                padding-top: rem($spacer-8);
            }

            &__title {
                display: flex;
                align-items: center;
                @include font($font-size-lg, $line-height-lg);
                height: ($line-height-lg / $font-size-lg) * 2em;
                margin-bottom: rem(1px);
            }

            &__img {
                .menu__item:nth-child(3) & {
                    transform: translate(32%, -27%);
                }

                .menu__item:nth-child(4) & {
                    transform: translate(51%, -17%);
                    max-height: 80%;
                }

                .menu__item:nth-child(5) & {
                    transform: translate(30%, -34%);
                    max-height: 75%;
                }

                .menu__item:nth-child(6) & {
                    transform: translate(65%, -30%);
                    max-height: 77%;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__title {
            @include font($font-size-xl, $line-height-xl);
        }

        &--lg & {
            &__title {
                @include font($font-size-h3, $line-height-h2);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        min-height: rem(395px);

        &__content {
            padding: rem($spacer-10 0 $spacer-10 $spacer-10);
        }

        &__title {
            margin-bottom: rem($spacer * 12.25);
        }

        &--lg & {
            &__title {
                margin-bottom: rem($spacer * 9.5);
            }

            &__img {
                transform: translate(26%, -50%);

                &--vertical {
                    max-width: 50%;
                    bottom: -69%;
                    transform: none;
                }
            }
        }

        &--lg {
            @include hover-focus {
                .menu-card__img {
                    transform: translate(26%, -50%) scale(1.05);
                }

                .menu-card__img--vertical {
                    transform: scale(1.05);
                }
            }
        }

        &--md & {
            &__img {
                .menu__item:nth-child(3) & {
                    transform: translate(20%, -50%);
                    max-height: 100%;
                }

                .menu__item:nth-child(4) & {
                    transform: translate(24%, -50%);
                    max-height: 60%;
                }

                .menu__item:nth-child(5) & {
                    transform: translate(27%, -50%);
                    max-height: 71%;
                }
            }
        }

        &--md {
            @include hover-focus {
                .menu__item:nth-child(3) & {
                    .menu-card__img {
                        transform: translate(20%, -50%) scale(1.05);
                    }
                }

                .menu__item:nth-child(4) & {
                    .menu-card__img {
                        transform: translate(24%, -50%) scale(1.05);
                    }
                }

                .menu__item:nth-child(5) & {
                    .menu-card__img {
                        transform: translate(27%, -50%) scale(1.05);
                    }
                }
            }
        }

        &--sm {
            align-items: center;

            @include hover-focus {
                .menu__item:nth-child(3) & {
                    .menu-card__img {
                        transform: translate(40%, -27%) scale(1.05);
                    }
                }

                .menu__item:nth-child(4) & {
                    .menu-card__img {
                        transform: translate(54.5%, -38%) scale(1.05);
                    }
                }

                .menu__item:nth-child(5) & {
                    .menu-card__img {
                        transform: translate(38%, -39%) scale(1.05);
                    }
                }
            }
        }

        &--sm & {
            &__content {
                padding-bottom: rem($spacer-8);
            }

            &__title {
                @include font($font-size-xl, 30.01px);
                height: (30.01px / $font-size-xl) * 2em;
                margin-bottom: rem(55px);
            }

            &__img {
                .menu__item:nth-child(3) & {
                    transform: translate(40%, -27%);
                    max-height: 66%;
                }

                .menu__item:nth-child(4) & {
                    transform: translate(54.5%, -38%);
                }

                .menu__item:nth-child(5) & {
                    transform: translate(38%, -39%);
                }
            }
        }
    }
}