.mini-cart {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
        width: rem(540px);
        background-color: $white;
        border-radius: $border-radius-sm;
        box-shadow: 0 4px 15px rgba($black, 0.1);
        padding: rem($spacer-6 $spacer-8 $spacer-10);
        text-align: left;

        &__item {
            border-bottom: 1px dashed $gray-8;
            padding-bottom: rem($spacer-4);
            margin-bottom: rem($spacer-4);
        }

        &__total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include font($font-size-h5, $line-height-lg, $font-weight-semibold);
            margin-top: rem($spacer-6);
        }

        &__footer {
            text-align: center;
            margin-top: rem($spacer-10);
        }
    }
}