.mini-cart-item {
    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        align-items: center;
        color: inherit;

        &__picture {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: rem(80px);
            flex: 0 0 rem(80px);
            margin-right: rem($spacer-4);
        }

        &__img {
            display: block;
        }

        &__title {
            flex: 1;
            max-width: 15em;
            @include font($font-size-base, $line-height-sm, $font-weight-semibold);
        }

        &__price {
            text-align: right;
            margin-left: auto;
            @include font(20px, $line-height-md, $font-weight-semibold);
        }
    }
}