.modal {
    position: relative;
    max-height: 100%;
    max-width: rem(343px);
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius-sm;
    box-shadow: 0 4px 15px rgba($black, 0.1);
    padding: rem($spacer-10 $spacer-4 $spacer-8);

    &__header {
        @include margin-bottom(rem($spacer-6));
        text-align: center;
    }

    &__icon {
        @include size(rem(64px));
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-4);
        color: $primary;
        fill: $primary;

        &--lg {
            @include size(rem(88px));
            margin-top: rem(- $spacer-3);
            margin-bottom: rem($spacer);
        }
    }

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem($spacer-6);
        font-weight: $font-weight-bold;
    }

    &__subtitle {
        @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
        margin-bottom: rem($spacer-4);

        &--complex {
            display: flex;
            justify-content: space-between;
        }
    }

    &__description {
        @include em-line-height($font-size-base, 22.01px);
    }

    &__form {
        margin-left: auto;
        margin-right: auto;
    }

    &__loader {
        margin-top: rem($spacer-9);
    }

    &__section {
        margin-bottom: rem($spacer-6);
    }

    &__range {
        margin-bottom: rem(- $spacer-2);
    }

    &__services {
        max-width: rem(295px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(- $spacer-2);
    }

    &__details {
        margin-bottom: rem($spacer-4);
    }

    &__social {
        max-width: rem(272px);
        margin: rem($spacer-8) auto rem(- $spacer-10);

        .social__item {
            margin-bottom: rem($spacer-8);
        }
    }

    &__footer {
        text-align: center;

        &-action {
            order: 10;
            width: 100%;
            margin-top: rem($spacer-8);
        }

        &--complex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__button {
        padding-left: rem($spacer-10 - $btn-border-width);
        padding-right: rem($spacer-10 - $btn-border-width);
    }

    &__map {
        height: 100% !important;
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &--credit {
        padding: rem(46px $spacer-6 $spacer-8);
        height: 100vh;
        overflow: auto;
    }

    &--condition {
        padding: rem(56px 0 $spacer-8);
    }

    &--condition & {
        &__footer {
            margin-top: rem(- $spacer-6);
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
            position: relative;
            z-index: 1;
        }
    }

    &--in-cart {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    &--location {
        padding: 0;
        margin-right: 0;
        height: 100vh;
        max-width: rem(375px);
        border-radius: 0;
        background-color: $gray-3;
        overflow: auto;

        .mfp-close {
            position: fixed;
        }
    }

    &--map {
        height: 600px;

        .mfp-close {
            background-color: $white;
            border: 1px solid $gray-6;
            top: rem($spacer);
            right: rem($spacer);
            @include size(rem($spacer-8));
            @include rounded;
        }
    }

    &--pickup {
        padding: 0;
        margin-right: 0;
        height: 100vh;
        max-width: rem(375px);

        .mfp-close {
            position: fixed;
        }
    }

    &--preview {
        padding: rem(56px 0 $spacer-4);
    }

    &--trade-in {
        padding: 0;
        max-width: rem(375px);
    }

    &--variants {
        padding: rem(56px $spacer-6 48px);
    }

    &--variants & {
        &__footer {
            margin-top: rem(48px);
        }

        &__button {
            width: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        &--full-mobile {
            border-radius: 0;
            max-width: none;
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-h5, $line-height-h5);
        }

        &__footer {
            margin-top: rem($spacer-8);

            &--complex {
                margin-top: 0;

                .modal__button {
                    width: rem(147px);
                }
            }
        }

        &__button {
            width: 100%;
        }

        &--credit {
            max-width: rem(442px);

            .mfp-close {
                position: fixed;
            }
        }

        &--full-tablet {
            border-radius: 0;
        }

        &--thanks & {
            &__title {
                margin-bottom: rem($spacer-4);
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-left: rem(44px);
        padding-right: rem(44px);
        max-width: rem(442px);

        &__range {
            margin-top: rem(- $spacer);
            margin-bottom: rem(52px);
        }

        &__services {
            margin-bottom: rem($spacer-8);
        }

        &__details {
            margin-bottom: rem($spacer-6);
            max-width: rem(365px);
            margin-left: auto;
            margin-right: auto;
        }

        &__footer {
            padding-left: rem($spacer-5);
            padding-right: rem($spacer-5);

            &-action {
                order: -1;
                width: 100%;
                margin-top: 0;
                margin-bottom: rem($spacer-8);
            }
        }

        &--condition {
            padding: rem($spacer-2 0 $spacer-10);
            max-width: none;
        }

        &--condition & {
            &__footer {
                margin-top: 0;
                padding-top: rem($spacer-8);
            }

            &__button {
                width: auto;
            }
        }

        &--credit {
            padding: rem(56px $spacer-4 $spacer-10);
            height: auto;
            overflow: visible;

            .form__note {
                text-align: center;
                max-width: rem(260px);
                margin-left: auto;
                margin-right: auto;
            }
        }

        &--credit & {
            &__footer {
                padding-left: 0;
                padding-right: 0;
                margin-top: rem($spacer-8);
            }
        }

        &--in-cart {
            padding-left: 0;
            padding-right: 0;
        }

        &--location {
            padding-left: 0;
            padding-right: 0;
        }

        &--map {
            height: 800px;
            max-width: rem(644px);
        }

        &--pickup {
            padding: 0;
            margin-right: auto;
            height: calc(100vh - 224px);
            max-width: rem(644px);
        }

        &--preview {
            padding-top: rem($spacer-4);
            padding-left: 0;
            padding-right: 0;
            max-width: none;
        }

        &--trade-in {
            padding: 0;
            max-width: rem(442px);
        }

        &--variants {
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-4);
            padding-bottom: rem($spacer-10);
        }

        &--variants & {
            &__footer {
                margin-top: rem($spacer-10);
            }
        }
    }

    @include media-breakpoint-between(md, md) {
        &__form {
            &--xs {
                max-width: rem(284px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        max-width: rem(1100px);
        padding: rem(56px 80px);

        &__header {
            &--lg {
                margin-bottom: rem($spacer-10);
            }
        }

        &__icon {
            @include size(rem(110px));
            margin-top: rem($spacer-2);

            &--lg {
                @include size(rem(141px));
                margin-top: rem(- $spacer-4);
                margin-bottom: rem($spacer-2);
            }
        }

        &__subtitle {
            @include font($font-size-xl, $line-height-xl);
            margin-bottom: rem($spacer-6);
        }

        &__description {
            @include font($font-size-md, $line-height-md);
        }

        &__loader {
            margin-top: rem($spacer-8);
        }

        &__services {
            max-width: none;
        }

        &__form {
            &--sm {
                width: rem(322px);
            }

            &--md {
                width: rem(430px);
            }

            &--lg {
                width: rem(532px);
            }
        }

        &__section {
            margin-bottom: rem($spacer-5);
        }

        &__range {
            margin-top: rem(- $spacer-4);
        }

        &__footer {
            padding-left: 0;
            padding-right: 0;

            &-action {
                order: initial;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
            }
        }

        &--sm {
            max-width: rem(644px);
        }

        &--md {
            max-width: rem(750px);
        }

        &--condition {
            padding-left: 0;
            padding-right: 0;
        }

        &--condition & {
            &__footer {
                margin-top: rem(-80px);
                padding-top: 0;
            }
        }

        &--credit {
            padding-left: rem(64px);
            padding-right: rem(64px);

            .form__note {
                max-width: none;
            }
        }

        &--credit & {
            &__footer {
                margin-top: rem($spacer-10);
            }
        }

        &--in-cart {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        &--location {
            max-width: rem(375px);
            padding: 0;
        }

        &--map {
            height: 679px;
            max-width: rem(1100px);
        }

        &--pickup {
            padding: 0;
            max-width: rem(1100px);
        }

        &--preview {
            padding: rem($spacer-6 0);
        }

        &--trade-in {
            padding: 0;
            max-width: rem(750px);
        }

        &--variants {
            padding-left: rem(56px);
            padding-right: rem(56px);
        }
    }

    @include media-breakpoint-up(xl) {
        &--condition & {
            &__footer {
                margin-top: rem( - $spacer-6);
            }
        }

        &--in-cart {
            max-width: rem(1100px);
            padding-bottom: 0;
        }

        &--location {
            max-width: rem(1100px);
            margin-right: auto;
            height: auto;
            background-color: $white;
            border-radius: $border-radius-sm;
        }

        &--pickup {
            height: calc(100vh - 143px);
        }

        &--preview {
            max-width: rem(1264px);
        }
    }
}