.more {
    @include font($font-size-lg, $line-height-lg, $font-weight-semibold);

    &__icon {
        font-size: rem(21px);
        margin-left: rem($spacer-4);
        top: -1px;
    }

    @include media-breakpoint-up(xl) {
    }
}