.options {
    &__label {
        @include em-line-height($font-size-base, 22.01px);
        color: $gray-13;
        margin-bottom: rem($spacer-2);
    }

    &__list {
        @include list-unstyled;
        @include make-row($spacer-2);
    }

    &__item {
        @include make-col($spacer-2);
        margin-bottom: rem($spacer-2);
    }

    &--colors & {
        &__list {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
        }

        &__item {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(md) {
        &__list {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
        }

        &__item {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
        }
    }
}
