.option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    height: 100%;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        border: 1px solid $gray-6;
        transition: .25s ease-in-out;

        @include hover-focus {
            background-color: $gray-3;
        }
    }

    &__input:checked ~ &__body,
    &__input:active ~ &__body {
        border-color: $primary;
        box-shadow: inset 0 0 0 1px $primary;

        @include hover-focus {
            background: none;
        }
    }

    &__label {
        margin-bottom: rem($spacer);
        @include font($font-size-sm, $line-height-sm);
    }

    &__value {
        @include font($font-size-md, $line-height-md, $font-weight-semibold);
    }

    &__color {
        @include size(rem($spacer-8));
        @include rounded;

        &--light {
            border: 1px solid $gray-6;
        }
    }

    &--default & {
        &__body {
            padding: rem($spacer-4 - 1);
            border-radius: $border-radius-lg;
            min-width: rem(82px);
        }
    }

    &--color & {
        &__body {
            align-items: center;
            border-color: rgba($primary, 0);
            @include size($spacer-10)
            @include rounded;

            @include hover-focus {
                box-shadow: 0 0 0 1px $gray-6;
                border-color: $gray-6;
            }
        }
    }

    &--color {
        .option__input:checked ~ .option__body,
        .option__input:active ~ .option__body {
            box-shadow: 0 0 0 1px $primary;

            @include hover-focus {
                border-color: $primary;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__label {
            @include font($font-size-base, $line-height-sm);
        }

        &__value {
            @include font(20px, $line-height-md);
        }
    }
}