.pagination {

    &__list {
        @include list-unstyled;
    }

    &__item {
    }

    &__link {

        &.is-selected {
            color: $primary;
        }

        &.is-disabled {
            color: $gray-6;
        }
    }


    @media (min-width: 360px) {
    }

    @media (min-width: 375px) {
    }

    @include media-breakpoint-up(md) {
    }
}
