.person {
    text-align: center;

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include size(rem(177px));
        @include rounded;
        box-shadow: 0 23px 39px rgba($black, 0.06);
    }

    &__name {
        margin-bottom: rem($spacer-2);
        font-weight: $font-weight-bold;
    }

    &__info {
        @include font($font-size-md, 19.01px);
    }

    @include media-breakpoint-up(md) {
        &__img {
            @include size(rem(238px));
            @include rounded;
            box-shadow: 0 23px 39px rgba($black, 0.06);
            margin-bottom: rem($spacer-5);
        }
    }

    @include media-breakpoint-up(lg) {
        &__img {
            margin-bottom: rem(15px);
        }
    }
}