.point-card {
    border-radius: $border-radius-sm;
    padding: rem($spacer-4);
    position: relative;
    @include font($font-size-base, $line-height-base, $font-weight-normal, $font-family-base);

    b {
        font-weight: $font-weight-semibold;
    }

    &__data {
        margin-top: rem($spacer-2);
    }

    &__footer {
        margin-top: rem($spacer-6);
    }

    @include media-breakpoint-between(md, md) {
        &__button {
            font-size: rem($font-size-lg);
        }

        .pickup__list & {
            padding-right: rem(195px);
        }

        .pickup__list & {
            &__footer {
                position: absolute;
                top: 50%;
                right: rem($spacer-4);
                transform: translateY(-50%);
                margin-top: 0;
            }
        }
    }
}