.price-info {
    display: flex;
    background-color: $gray;
    border-radius: $border-radius-sm;
    padding-top: rem(6px);
    padding-bottom: rem(6px);

    &__item {
        display: flex;
        flex-direction: column;
        padding: rem(7px $spacer-3 $spacer);
        margin-bottom: 0;
        border-left: 1px dashed $gray-11;
        width: 45%;

        &:first-child {
            border-left-width: 0;
            width: 55%;
        }
    }

    &__label {
        @include font(10px, 12.01px, $font-weight-semibold);
        margin-bottom: rem(5px);
    }

    &__price {
        @include font(20px, 20.01px);
        white-space: nowrap;
        margin-top: auto;
    }

    .product__price-info & {
        &__item {
            width: 50%;
            padding: rem(0 $spacer-5 0 26px);

            &:first-child {
                width: 50%;
            }
        }

        &__label {
            margin-bottom: rem(7px);
        }
    }

    .cart-item & {
        padding-top: rem($spacer-3);
        padding-bottom: rem($spacer-3 - 1);

        &__item {
            padding: rem(0 $spacer-5 0 22px);
        }

        &__label {
            margin-bottom: rem(7px);
        }

        &__price {
            margin-bottom: rem(- $spacer);
        }
    }

    @include media-breakpoint-between(xs, md) {
        &__item {
            .item-card--shifting & {
                padding-left: rem($spacer-6);
                padding-right: rem($spacer-6);
            }
        }

        &__label {
            .item-card--shifting & {
                max-width: 10em;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .item-card--horizontal & {
            padding-top: rem($spacer-2);
            padding-bottom: rem($spacer-2);
        }

        &__label {
            .item-card--lg & {
                margin-bottom: rem(9px);
            }
        }

        &__item {
            padding-left: rem($spacer-5);
            padding-right: rem($spacer-5);

            .item-card--lg & {
                justify-content: center;
                padding-bottom: rem(6px);
                width: auto;

                &:first-child {
                    border-left-width: 0;
                    width: auto;
                }
            }

            .item-card--horizontal & {
                padding-top: rem(10px);
                padding-bottom: rem(7px);
            }
        }

        .product__price-info & {
            &__item {
                padding-left: rem($spacer-4);
                padding-right: rem($spacer-2);
                width: 48%;

                &:first-child {
                    width: 52%;
                }
            }

            &__price {
                @include font(23px, 20.01px);
            }
        }
    }
}