.progress-widget {
    &__label {
        margin-bottom: rem($spacer);
    }

    &__data {
        @include font(10px, 16px);
        margin-top: rem($spacer);
    }

    @include media-breakpoint-up(md) {
        &__label {
            margin-bottom: 0;
            @include font($font-size-md, $line-height-md);
        }

        &__data {
            @include font($font-size-sm, $line-height-sm);
            margin-top: rem($spacer-2);
        }
    }
}