.promo-card {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius-lg;
    height: 100%;
    min-height: 392px;
    padding: rem(34px $spacer-6);

    @include hover-focus {
        box-shadow: 0 0 10px rgba($black, 0.05), 0 0 20px rgba($black, 0.16);
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50px, 50px);
        width: auto;
        height: auto;
        mix-blend-mode: darken;
        max-width: 298px;
    }

    &__content {
        max-width: 280px;
    }

    &__title {
        &-highlight {
            display: block;
        }
    }

    &__text {
        margin-bottom: rem($spacer-10);
    }

    &--sm,
    &--lg {
        background: linear-gradient(88.81deg, rgba($black, 0.15) -17.4%, rgba($white, 0) 74.38%), $gray-3;
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
        min-height: rem(120px);
    }

    &--sm &,
    &--lg & {
        &__content {
            max-width: 71%;
        }

        &__title {
            @include font(20px, 25.01px);
            margin-bottom: rem($spacer-2);

            &-highlight {
                display: inline;
            }
        }

        &__img {
            top: 50%;
            left: 68%;
            right: auto;
            bottom: auto;
            transform: translateY(-43%);
            max-width: 279px;
        }
    }

    @include media-breakpoint-up(md) {
        &__content {
            max-width: 260px;
        }

        &--sm,
        &--lg {
            padding-bottom: rem($spacer-5);
            align-items: center;
        }

        &--sm &,
        &--lg & {
            &__content {
                max-width: 65%;
            }

            &__title {
                @include font($font-size-xl, 30.01px);
            }

            &__text {
                font-weight: $font-weight-bold;
            }

            &__img {
                left: 66.5%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        min-height: 360px;
        align-items: center;
        padding-left: rem($spacer-10);
        padding-right: 0;

        &__img {
            display: block;
            position: static;
            transform: translateY(10%);
            max-width: none;
        }

        &__content {
            max-width: 365px;
            flex: 0 0 65%;
            padding-right: rem($spacer-10);
        }

        &__title {
            margin-right: rem(-64px);
        }

        &--sm {
            padding-top: rem($spacer-6);
            padding-left: rem($spacer-6);
            padding-bottom: rem($spacer-9);
            min-height: 0;
        }

        &--sm & {
            &__content {
                max-width: 54%;
                padding-right: 0;
            }

            &__title {
                @include font($font-size-h4, 35.01px);

                &-highlight {
                    display: block;
                }
            }

            &__text {
                @include font($font-size-md, $line-height-md, $font-weight-normal);
            }

            &__img {
                position: absolute;
                top: auto;
                left: 65%;
                bottom: 0;
                transform: none;
            }
        }

        &--lg {
            padding-top: rem(38px);
            padding-left: rem($spacer-10);
            padding-bottom: rem(37px);
            min-height: 0;
        }

        &--lg & {
            &__content {
                max-width: 60%;
                padding-right: 0;
            }

            &__title {
                @include font($font-size-h2, $line-height-h2);
                margin-bottom: rem($spacer);
            }

            &__text {
                @include font($font-size-md, $line-height-md, $font-weight-normal);
            }

            &__img {
                position: absolute;
                top: 12%;
                left: 62%;
                max-width: 538px;
            }
        }
    }
}