.progress {
    display: flex;
    height: rem($progress-height);
    background-color: $progress-bg;
    border-radius: $progress-border-radius;

    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $progress-bar-bg;
        border-radius: $progress-border-radius;
        @include transition($progress-bar-transition);
    }

    &--value {
        position: relative;
        margin-top: rem(calc(#{$line-height-md} + 6px));

        &:before {
            position: absolute;
            left: 0;
            bottom: 100%;
            margin-bottom: rem($spacer);
            content: attr(data-value);
            color: $primary;
            @include font($font-size-lg, $line-height-md, $font-weight-semibold);
        }
    }

    @include media-breakpoint-up(md) {
        &--value {
            margin-top: rem(calc(#{$line-height-xl} + #{$spacer-2}));

            &:before {
                @include font($font-size-xl, $line-height-xl);
                margin-bottom: rem($spacer-2);
            }
        }
    }
}