.range-widget {
    padding-left: rem($spacer-2);
    padding-right: rem($spacer-2);

    &__label {
        &,
        &.form__label {
            margin-bottom: rem($spacer);
        }
    }

    &__data {
        @include font($font-size-lg, $line-height-base, $font-weight-bold);
        margin-left: rem($input-padding-x);
    }

    &__slider {
        position: relative;
        margin-left: rem( - $spacer-2);
        margin-right: rem( - $spacer-2);
        bottom: rem(-9px);
    }

    @include media-breakpoint-up(md) {
        background-color: rgba($gray-6, .4);
        border-top-left-radius: $border-radius-sm;
        border-top-right-radius: $border-radius-sm;
        padding-top: rem($spacer-6);
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);

        &__group {
            &,
            &.form__group {
                margin-bottom: rem($spacer);
            }
        }

        &__label {
            &,
            &.form__label {
                margin-left: 0;
                margin-bottom: rem($spacer-2);
                font-weight: $font-weight-normal;
                color: $base-color;
            }
        }

        &__data {
            margin-left: 0;
        }

        &__slider {
            margin-left: rem( - $spacer-4);
            margin-right: rem( - $spacer-4);
        }
    }
}