.rate {
    display: flex;
    align-items: center;

    &__control {
        display: flex;
        align-items: center;
        @include em-line-height($font-size-base, $line-height-sm);
        text-align: left;

        &-icon {
            flex: 0 0 rem($spacer-9);
            font-size: rem($spacer-9);
            margin-right: rem($spacer-2);
            color: $primary;
        }
    }

    &__control + &__control {
        margin-left: rem(46px);
    }

    @include media-breakpoint-up(md) {
        &__control {
            &-icon {
                font-size: rem($spacer-6);
                flex: 0 0 rem($spacer-6);
            }
        }

        &__control + &__control {
            margin-left: rem($spacer-8);
        }
    }
}