.rating {
    display: flex;
    align-items: flex-start;

    &__counter {
        @include font($font-size-sm, $line-height-base);
        color: $gray-15;
        margin-left: rem($spacer-3);

        .item-card[class*="theme"] & {
            color: $base-color;
        }
    }

    &__total {
        @include font($font-size-h4, 36.01px, $font-weight-bold);
        margin-right: rem($spacer-2);
    }

    &--lg & {
        &__label {
            @include font(15px, 20.01px, $font-weight-semibold);
            margin-left: rem($spacer-5);
            margin-top: rem(3px);
        }
    }

    @include media-breakpoint-up(lg) {
        &--lg & {
            &__label {
                @include font($font-size-lg, $line-height-lg);
                margin-left: rem($spacer-6);
                margin-top: rem(1px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__counter {
            @include font($font-size-base, $line-height-base);
        }
    }
}