.rating-stars {
    position: relative;
    display: flex;

    &__star,
    &__input {
        @include size(rem($spacer-4));
    }

    &__star {
        display: block;
        color: $gray;
        fill: $gray;
        stroke: $gray;
        transition: color .25s ease-in-out;

        .rating-stars:not(.rating-stars_form) &:last-child {
            margin-right: 0;
        }

        .item-card[class*="theme"] & {
            stroke: $white;
        }
    }

    &__input {
        margin-left: rem(- $spacer-4);
    }

    &[data-rate="5"] &__star,
    &[data-rate="1"] &__star:nth-child(-n+1),
    &[data-rate="2"] &__star:nth-child(-n+2),
    &[data-rate="3"] &__star:nth-child(-n+3),
    &[data-rate="4"] &__star:nth-child(-n+4) {
        color: $yellow;
        fill: $yellow;
        stroke: $yellow;

        .item-card[class*="theme"] & {
            stroke: $white;
        }
    }

    &--md & {
        &__star,
        &__input {
            @include size(rem($spacer-5));
        }

        &__input {
            margin-left: rem(- $spacer-5);
        }
    }

    &--lg & {
        &__star,
        &__input {
            @include size(rem($spacer-6));
        }

        &__input {
            margin-left: rem(- $spacer-6);
        }
    }

    &--form {
        flex-direction: row-reverse;
        justify-content: flex-end;

        &:hover .rating-stars__star:hover,
        &:hover .rating-stars__star:hover ~ .rating-stars__star,
        .rating-stars__input:checked ~ .rating-stars__star {
            color: $yellow;
        }
    }

    &--form & {
        &__star {
            cursor: pointer;
            font-size: rem($spacer-9);
            margin-left: rem(11px);
        }

        &__star,
        &__input {
            @include size(rem($spacer-9));
        }

        &__input {
            padding: 0;
            margin: 0;
            opacity: 0;
            position: relative;
            margin-left: rem(- $spacer-9);
        }
    }

    @include media-breakpoint-up(lg) {
        &--md & {
            &__star,
            &__input {
                @include size(rem($spacer-6));
            }

            &__input {
                margin-left: rem(- $spacer-6);
            }
        }
    }
}