.review-slide {
    &__product {
        margin-top: rem($spacer-3);
        margin-bottom: rem($spacer-2 + 3);
    }

    &__review {
        border: 1px solid $gray-6;
        border-width: 1px 0 0;
        padding: rem($spacer-4 $spacer-6 $spacer-6);
    }

    @include media-breakpoint-up(md) {
        display: flex;

        &__product {
            margin: rem($spacer-4);
            max-width: rem(252px);
            flex: 0 0 rem(252px);
        }

        &__review {
            flex: 1;
            border-width: 0 0 0 1px;
            margin-top: rem($spacer-2);
            margin-bottom: rem($spacer-4);
            padding: rem($spacer-5 $spacer-8 0 $spacer-6);
        }
    }

    @include media-breakpoint-up(lg) {
        &__product {
            margin: rem(7px $spacer-6 $spacer-2);
            padding-bottom: rem($spacer-6 - 1);
            max-width: rem(300px);
            flex: 0 0 rem(300px);
        }

        &__review {
            margin-top: rem($spacer-6);
            margin-bottom: rem($spacer-6);
            padding-top: rem($spacer-4 - 3);
            padding-right: rem($spacer-8);
            padding-bottom: rem(2px);
        }
    }
}