.review {
    &__header {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: rem($spacer-6);
    }

    &__date {
        color: $gray-15;
        margin-bottom: rem($spacer-6);
    }

    &__author {
        display: flex;
        align-items: center;

        &-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(rem(56px));
            flex: 0 0 rem(56px);
            @include rounded;
            background-color: $gray-4;
            @include font($font-size-lg, 22.01px);
            text-transform: uppercase;
            color: $gray-10;
            margin-right: rem($spacer-4);
        }

        &-content {
            flex: 1;
        }

        &-name {
            @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
            margin-bottom: rem($spacer-2);
        }
    }

    &__body {
        @include em-line-height($font-size-base, $line-height-lg);

        p {
            @include margin-bottom(rem($line-height-lg));
        }
    }

    &__section {
        margin-bottom: rem($spacer-6);
    }

    &__title {
        @include font($font-size-base, 22.01px, $font-weight-semibold);
        margin-bottom: rem($spacer);
    }

    &__footer {
        text-align: right;
        @include font($font-size-md, $line-height-base);
    }

    &--sm & {
        &__header {
            flex-direction: column;
            margin-bottom: rem($spacer-2);
        }

        &__date {
            margin-top: rem($spacer-2);
            margin-left: rem(72px);
            margin-bottom: 0;
        }

        &__author {
            &-name {
                margin-bottom: rem($spacer);
            }
        }

        &__body {
            @include font($font-size-sm, $line-height-sm);

            p {
                @include margin-bottom(rem($spacer-2));
            }
        }

        &__section {
            margin-bottom: rem($spacer-2);

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title {
            color: $base-color;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;

        &__header {
            flex-direction: row;
            justify-content: space-between;
        }

        &__date {
            margin-top: rem(5px);
            margin-left: rem($spacer-4);
            margin-bottom: 0;
        }

        &__author {
            &-name {
                margin-bottom: rem($spacer);
            }
        }

        &__body,
        &__title {
            @include font($font-size-lg, $line-height-lg);
        }

        &__title {
            color: $base-color;
        }

        &__section {
            &:last-child {
                margin-bottom: rem($spacer-2);
            }
        }

        &__footer {
            margin-top: auto;
        }

        &--sm & {
            &__header {
                flex-direction: row;
                margin-bottom: rem($spacer-6);
            }

            &__date {
                margin-top: 0;
                margin-left: rem($spacer-6);
            }

            &__body {
                @include font($font-size-lg, $line-height-lg);

                p {
                    margin-bottom: rem($spacer-6);
                }
            }

            &__section {
                margin-bottom: rem($spacer-6);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            &:last-child {
                margin-bottom: rem($spacer-6);
            }
        }
    }
}