.service-card {
    height: 100%;
    min-height: rem(105px);
    padding: rem($spacer-2 $spacer-2 10px $spacer-4);
    background-color: $white;
    border-radius: $border-radius-sm;
    box-shadow: 0 4px 16px rgba($black, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    @include hover-focus {
        box-shadow: inset 0 0 0 1px $primary;
    }

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__input:checked ~ &__body,
    &__input:active ~ &__body {
        &:before {
            opacity: 1;
        }
    }

    &__body {
        max-width: rem(161px);
        margin-right: rem($spacer-6);

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            border-radius: $border-radius-sm;
            box-shadow: inset 0 0 0 2px $primary;
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }
    }

    &__title {
        @include font($font-size-lg, $line-height-base);
        margin-bottom: 0;
        min-height: rem(43px);
        display: flex;
        align-items: center;
    }

    &__info {
        @include em-line-height($font-size-base, 22.01px);
        margin-top: auto;
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(75px);
        opacity: .2;
    }

    &__img {
        display: block;
    }

    &__icon {
        display: block;
        @include size(rem(70px));
        color: $primary;
    }

    &--control {
        cursor: pointer;
    }

    @include media-breakpoint-up(md) {
        padding: rem($spacer-4 $spacer-2 $spacer-4 $spacer-6);
        min-height: rem(146px);

        &__body {
            max-width: rem(219px);
        }

        &__title {
            @include font($font-size-xl, $font-size-xl);
            margin-bottom: rem($spacer-4);
        }

        &__info {
            @include font($font-size-md, 19.01px);
        }

        &__picture {
            width: rem(109px);
            flex: 0 0 rem(109px);
        }

        &__icon {
            @include size(rem(93px));
        }
    }

    @include media-breakpoint-between(md, md) {
        &--sm {
            min-height: rem(105px);
            padding: rem($spacer-2 $spacer-2 10px $spacer-4);
        }

        &--sm & {
            &__body {
                max-width: rem(161px);
            }

            &__title {
                @include font($font-size-lg, $line-height-base);
                margin-bottom: 0;
            }

            &__info {
                @include font($font-size-base, 22.01px);
            }

            &__picture {
                width: rem(75px);
                flex: 0 0 rem(75px);
            }

            &__icon {
                @include size(rem(70px));
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--fixed {
            width: rem(248px);
        }

        &--fixed & {
            &__body {
                margin-right: rem(-64px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__picture {
            justify-content: flex-start;
        }

        &__title {
            margin-right: rem(-44px);
        }

        &--sm & {
            &__body {
                margin-right: rem(-64px);
            }
        }
    }
}