.services {
    margin-bottom: rem(- $spacer-4);

    &__item {
        margin-bottom: rem($spacer-4);
    }

    @include media-breakpoint-up(md) {
        margin-bottom: rem(- $spacer-6);

        &__item {
            margin-bottom: rem($spacer-6);
        }

        &--sm {
            margin-bottom: rem(- $spacer-4);
        }

        &--sm & {
            &__item {
                margin-bottom: rem($spacer-4);
            }
        }
    }

    @include media-breakpoint-between(md, md) {
        &.cart__services & {
            &__item {
                margin-bottom: rem($spacer-4);
            }
        }
    }
}