.social {
    @include list-unstyled;
    @include make-row(rem($spacer-5));
    align-items: center;

    &__item {
        @include make-col(rem($spacer-5));
    }

    &__link {
        display: block;
        text-decoration: none;
        opacity: 1;

        @include hover-focus {
            opacity: 0.75;
        }
    }

    &__icon {
        display: block;
        font-size: rem(35px);
        @include size(rem(35px));
    }

    &--lg {
        margin-left: rem(- $spacer-2);
        margin-right: rem(- $spacer-2);
        margin-bottom: rem(- $spacer-4);
    }

    &--lg & {
        &__item {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
            margin-bottom: rem($spacer-4);
        }

        &__icon {
            font-size: rem(48px);
            @include size(rem(48px));
        }
    }

    @include media-breakpoint-up(lg) {
    }
}