.sticker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-xl;
    padding-left: rem($spacer-2);
    padding-right: rem($spacer-2);
    text-align: center;
    white-space: nowrap;
    @include font($font-size-sm, $line-height-md, $font-weight-semibold);

    &--lg {
        padding: rem(5px 10px);
        @include font($font-size-base, $line-height-sm);
    }

    @each $key, $value in $sticker-colors {
        &--#{$key} {
            @include setProperty('background-color', $value, 'bg');
            @include setProperty('color', $value, 'color');
        }
    }

    @include media-breakpoint-up(md) {
        .item-card--md & {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
            @include font($font-size-md, $spacer-8);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);
        @include font($font-size-md, $spacer-8);

        &--lg {
            padding: rem($spacer-2 $spacer-5);
            @include font($spacer-5, $spacer-5);
        }
    }
}