.support-card {
    display: block;
    background-color: $white;
    border-radius: $border-radius-sm;
    padding: rem($spacer-6 $spacer-4);
    position: relative;
    box-shadow: 0 4px 16px rgba($black, 0.1);
    min-height: rem(130px);
    color: inherit;

    &__content {
        max-width: 16em;
    }

    &__title {
        @include font($font-size-lg, $line-height-md, $font-weight-bold);
        margin-bottom: rem($spacer-4);
    }

    &__info {
        @include font($font-size-md, 19.01px);
    }

    &__picture {
        position: absolute;
        right: rem($spacer-2);
        bottom: rem($spacer-2);
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(72px));
        opacity: .5;
    }

    &__icon {
        display: block;
        color: $primary;
        fill: $primary;

        &--whatsapp {
            color: $whatsapp;
            fill: $whatsapp;
        }
    }

    &.is-active {
        box-shadow: 0 4px 16px rgba($black, 0.1), inset 0 0 0 2px $primary;
    }

    &.is-active & {
        &__picture {
            opacity: 1;
        }
    }

    &.is-disabled {
        color: $gray-11;
        box-shadow: inset 0 0 0 2px $gray-6;
        cursor: auto;
    }

    &.is-disabled & {
        &__title {
            border-bottom-color: rgba($gray-11, 0);
        }

        &__icon {
            color: inherit;
            fill: inherit;
        }
    }

    &--contact & {
        &__content {
            max-width: 12.5em;
        }

        &__title {
            display: inline-block;
            border-bottom: 1px dashed $gray-11;
        }

        &__picture {
            right: 0;
            bottom: 0;
            opacity: 1;
        }
    }

    &--contact.is-disabled & {
        &__title {
            border-bottom-color: rgba($gray-11, 0);
        }
    }

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
        box-shadow: 0 4px 16px rgba($black, 0.1), inset 0 0 0 2px rgba($primary, .5);
    }

    @include media-breakpoint-between(md, md) {
        padding-left: rem($spacer-6);
        padding-right: rem($spacer-6);
        min-height: rem(146px);

        &__content {
            max-width: 22em;
        }

        &__title {
            @include font($font-size-xl, $line-height-md);
        }

        &__picture {
            @include size(rem(96px));
        }

        &--contact & {
            &__content {
                max-width: 18em;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
        height: 100%;

        &__content {
            max-width: 11em;
        }
    }
}