.tabs {
    &__list {
        @include list-unstyled;
    }

    &__link {
        display: block;
    }

    &__content {
        display: flex;
    }

    &__tab {
        opacity: 0;
        visibility: hidden;
        transition:all 0.25s ease-in-out;
        margin-right: -100%;
        width: 100%;
        height: 0;
        overflow: hidden;

        &.is-active {
            opacity: 1;
            visibility: visible;
            height: auto;
            overflow: visible;
        }
    }

    &--default.heading & {
        &__list {
            margin-bottom: 0;
        }
    }

    &--default & {
        &__list {
            margin-left: rem(- $spacer-4);
            margin-right: rem(- $spacer-4);
            margin-bottom: rem($spacer-4);
        }

        &__item {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
        }

        &__link {
            @include font($font-size-h5, $line-height-h5, $font-weight-bold);
            color: $gray-8;

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                color: $gray-15;
            }

            &.is-active {
                color: $base-color;

                .tabs__badge {
                    color: $primary;
                }
            }
        }

        &__badge {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            @include size(rem(34px));
            @include rounded;
            background-color: $white;
            box-shadow: 0 2px 8px rgba($black, 0.08);
            @include font(19px, 22.01px, $font-weight-normal);
            margin-left: rem($spacer);
        }
    }

    &--group & {
        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            flex: 1;

            &:first-child {
                .tabs__link {
                    border-top-left-radius: $border-radius-sm;
                    border-bottom-left-radius: $border-radius-sm;
                }
            }

            &:last-child {
                .tabs__link {
                    border-top-right-radius: $border-radius-sm;
                    border-bottom-right-radius: $border-radius-sm;
                }
            }
        }

        &__link {
            border: 1px solid $primary;
            background-color: $white;
            padding: rem(14px $spacer-6);
            @include font($font-size-md, $line-height-base, $font-weight-semibold);
            color: $primary;
            text-align: center;

            &.is-active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    &--pills & {
        &__item {
            margin-bottom: rem($spacer-4);
        }

        &__link {
            border: 1px solid $gray-8;
            border-radius: $border-radius-sm;
            padding: rem(9px 12px);
            @include em-line-height($font-size-base, $line-height-md);
            font-weight: $font-weight-semibold;

            &:hover:not(.is-active),
            &:focus:not(.is-active) {
                border-color: $primary;
            }

            &.is-active {
                border-color: $primary;
                color: $primary;
            }

            .theme-dark & {
                border-color: $white;
                color: $white;

                &:hover:not(.is-active),
                &:focus:not(.is-active) {
                    border-color: $white;
                    color: $white;
                    background-color: rgba($white, .4);
                }

                &.is-active {
                    border-color: $primary;
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--default & {
            &__list {
                margin-left: rem(- $spacer-5);
                margin-right: rem(- $spacer-5);
                margin-bottom: rem($spacer-6);
            }

            &__item {
                padding-left: rem($spacer-5);
                padding-right: rem($spacer-5);
            }

            &__badge {
                @include size(rem(47px));
                margin-left: rem(6px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &--default & {
            &__list {
                margin-left: rem(- $spacer-10);
                margin-right: rem(- $spacer-10);
                margin-bottom: rem($spacer-10);
            }

            &__item {
                padding-left: rem($spacer-10);
                padding-right: rem($spacer-10);
            }

            &__link {
                @include font($font-size-h3, $line-height-h3);
            }
        }

        &--default-h2 & {
            &__list {
                margin-left: rem(- $spacer-7);
                margin-right: rem(- $spacer-7);
            }

            &__item {
                padding-left: rem($spacer-7);
                padding-right: rem($spacer-7);
            }

            &__link {
                @include font($font-size-h2, $line-height-h2);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &--pills-md & {
            &__item {
                margin-bottom: rem($spacer-4);
            }

            &__link {
                padding: rem($spacer-3 - 1 $spacer-6 - 1);
                @include font($font-size-md, 26.01px);
                color: $base-color;
            }
        }
    }
}