.tag {
    display: flex;
    align-items: center;
    border-radius: $border-radius-sm;
    @include font($font-size-base, $line-height-sm);
    padding: rem($spacer-3);

    &--sm {
        @include font(10px, $line-height-sm);
        padding: rem($spacer-2);
    }

    &--lg {
        @include font($font-size-lg, $line-height-lg);
        padding: rem($spacer-4 $spacer-6 $spacer-4 $spacer-8);
        min-height: rem(80px);
    }

    &--lg & {
        &__icon {
            font-size: rem($spacer-8);
            margin-right: rem($spacer-3);
        }
    }

    &--md {
        @include font($font-size-md, $line-height-md);
        padding: rem( ( $spacer-3 - $btn-border-width) ($spacer-4 - $btn-border-width));
        min-height: rem(50px);
    }

    &--default {
        display: block;
        color: $base-color;
        background-color: $gray;

        &.is-active {
            background-color: $primary;
            color: $white;
        }
    }

    &--outline-white {
        color: $white;
        border: 1px solid $white;
        font-weight: $font-weight-semibold;

        @include hover-focus {
            background-color: rgba($white, .4);
            color: $white;
        }

        &.is-active {
            background-color: $white;
            color: $white;
        }
    }

    &.button--outline-default.is-active {
        color: $primary;
    }

    &.theme-light {
        @include hover-focus {
            box-shadow: 0 0 10px rgba($black, 0.05), 0 0 20px rgba($black, 0.16);
        }
    }

    @include media-breakpoint-up(lg) {
        &--lg {
            padding-right: rem($spacer-8);
        }

        &--sm {
            @include font($font-size-sm, $line-height-sm);
        }
    }
}