.tags {
    @include list-unstyled;
    margin-top: rem(- $spacer-2);

    &__item {
        margin-top: rem($spacer-2);
    }

    &--md,
    &--lg {
        margin-top: rem(- $spacer-4);
    }

    &--md &,
    &--lg & {
        &__item {
            margin-top: rem($spacer-4);
        }
    }

    &--adaptible {
        margin-top: 0;
    }

    &--adaptible & {
        &__item {
            margin-top: 0;
            row-gap: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
           //width: auto !important;
        }

        .swiper-container {
            overflow: visible;
        }
    }
}