.text-block {
    ul:not([class]),
    ol:not([class]) {
        @include list-unstyled;

        > li {
            position: relative;

            &:before {
                position: absolute;
            }
        }
    }

    ul:not([class]) {
        > li {
            padding-left: .75em;

            &:before {
                top: .3em;
                left: 0;
                color: $primary;
                content: '●';
                font-size: .8em;
            }
        }
    }

    ol:not([class]) {
        counter-reset: ol-counter;

        > li {
            padding-left: 1.1em;

            &:before {
                top: 0;
                left: 0;
                counter-increment: ol-counter;
                content: counter(ol-counter, decimal)".";
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        ul:not([class]) {
            > li {
                padding-left: 1em;

                &:before {
                    top: 0;
                    font-size: 1em;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &--columns {
            columns: 2;
            column-gap: rem(53px);
            column-fill: balance;

            p,
            ul,
            ol,
            dl,
            section {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
    }
}