.total-card {
    background-color: $white;
    border-radius: $border-radius-sm;
    padding: rem($spacer-8 $spacer-2 $spacer-6);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dashed $gray-8;
        padding-left: rem($spacer-6);
        padding-bottom: rem($spacer-4);
        margin-bottom: rem($spacer-6);
        @include font($font-size-xl, $line-height-lg);
    }

    &__label {
        margin-right: rem($spacer-6);
        font-weight: $font-weight-semibold;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem($spacer-8);
    }

    &__sum {
        @include font($font-size-h3, 36.01px, $font-weight-semibold);
        margin-right: rem($spacer-2);
        min-width: rem(159px);
        text-align: center;
    }

    &__footer {
        padding-left: rem($spacer-6);
        padding-right: rem($spacer-2);
    }

    &__button {
        width: 100%;
    }

    &__button + &__button {
        margin-top: rem($spacer-3);
    }

    @include media-breakpoint-between(md, lg) {
        background: none;
        padding: 0;

        &__content {
            display: flex;
            justify-content: space-between;
            background-color: $white;
            border-radius: $border-radius-sm;
            padding: rem($spacer-4 $spacer-3 $spacer-4 162px);
            margin-bottom: rem($spacer-8);
            min-height: rem(106px);
        }

        &__header {
            margin-bottom: 0;
        }

        &__body {
            border-left: 1px dashed $gray-8;
            padding-left: rem($spacer-4);
            max-width: rem(285px);
            flex: 0 0 rem(285px);
            margin-bottom: 0;
        }

        &__button {
            width: rem(214px);
        }

        &__button + &__button {
            margin-top: 0;
            margin-left: rem($spacer-3);
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__content {
            padding-left: rem(256px);
            padding-right: rem($spacer-6);
        }

        &__body {
            padding-left: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            border-bottom-width: 0;
            padding-bottom: 0;
        }

        &__sum {
            margin-right: rem($spacer-4);
            min-width: 0;
        }

        &__footer {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        padding: rem($spacer-8 $spacer-4 $spacer-4 $spacer-2);
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
            display: block;
            padding-left: rem($spacer-5);
            margin-bottom: rem(115px);
        }

        &__body {
            padding-left: rem($spacer-5);
            justify-content: flex-start;
        }

        &__label {
            @include font($font-size-h4, $line-height-h4);
            margin-bottom: rem($spacer-2);
        }

        &__footer {
            max-width: rem(245px);
            margin-top: auto;
        }
    }
}