.utility-menu {
    @include list-unstyled;
    text-align: center;

    &__item {
        margin-bottom: rem($spacer-2);
    }

    &__link {
        display: block;
        position: relative;
        color: inherit;
        @include size(rem(48px));
        padding: rem($spacer-2 - 1);
        background-color: rgba($white, 0.5);
        border-radius: $border-radius-sm;
        border: 1px solid $gray-6;
        backdrop-filter: blur(10px);

        @include hover-focus {
            .utility-menu__icon {
                color: $primary;
            }
        }
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: rem($spacer-8);
        transition: color .25s ease-in-out;
    }

    @include media-breakpoint-up(lg) {
        @include make-row-modification($gutter-lg);
        display: flex;
        flex-wrap: nowrap;
        margin-left: rem(- $spacer-3);
        margin-right: rem( - $spacer-3);

        &__item {
            @include font($font-size-xs, $line-height-xs);
            padding-left: rem($spacer-3);
            padding-right: rem($spacer-3);
        }

        &__link {
            @include size(auto);
            padding: 0;
            background: none;
            border: 0;
            backdrop-filter: none;
        }

        &__icon {
            margin-bottom: rem($spacer);
        }
    }
}