.variants {
    &__section {
        @include margin-bottom(rem($spacer-8));
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: flex;
        @include margin-bottom(rem($spacer-6));
        @include font($font-size-md, 19.01px);
    }

    &__option {
        flex: 0 0 rem(55px);
    }

    &__names {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        padding-left: rem($spacer-4);
        padding-right: rem($spacer-4);
        overflow: hidden;
        margin-bottom: rem(-10px);
    }

    &__name {
        font-weight: $font-weight-normal;
        @include text-truncate();
        max-width: 100%;
        margin-bottom: rem(10px);
    }

    &__price {
        @include font($font-size-lg, 22.01px, $font-weight-bold);
        white-space: nowrap;
    }

    @media (min-width: 375px) {
        &__names {
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(md) {
        &__names {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__name {
            margin-right: rem($spacer-2);
            max-width: none;
            white-space: normal;
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($spacer-10);
        }

        &__title {
            margin-bottom: rem($spacer-3);
        }

        &__item {
            margin-bottom: rem($spacer-4);
            @include font($font-size-xl, 30.01px);
        }

        &__option {
            flex: 0 0 rem(116px);
        }

        &__price {
            @include font($font-size-xl, 30.01px);
        }
    }
}