.amount-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(134px);
    overflow: hidden;
    text-align: center;

    &__control {
        border: 1px solid $gray-7;
        border-radius: $border-radius-sm;
        @include size(rem($spacer-8));

        &:before {
            top: -1px;
        }

        &:disabled {
            color: $gray-11;
        }

        @include hover-focus-active {
            outline: 0;
            border-color: $primary;
        }
    }

    &__data {
        @include font($font-size-lg, $line-height-lg, $font-weight-semibold);
        margin-left: rem($spacer-2);
        margin-right: rem($spacer-2);
        white-space: nowrap;
    }
}