.custom-control {
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    @include em-line-height($font-size-base, $line-height-sm);
    user-select: none;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__indicator {
        position: relative;
        display: block;
        @include size(rem($spacer-8));
        min-width: rem(rem($spacer-8));
        margin-right: rem($spacer-3);
        user-select: none;
        pointer-events: none;
        text-align: center;
        background-color: $input-bg-color;
        border-radius: $border-radius;
        border: solid $input-border-width $gray-8;
        transition: all 0.25s ease-in-out;

        &:before {
            opacity: 0;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__input:checked ~ &__indicator,
    &__input:active ~ &__indicator {
        border-color: $primary;

        &:before {
            opacity: 1;
        }
    }

    &__text {
        margin-right: rem($spacer);
    }

    .has-error & {
        &__indicator {
            border-color: $red;
            color: $red;
        }
    }

    &--primary & {
        &__indicator {
            border-color: $primary;
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__indicator {
        &:before {
            font-size: rem($font-size-lg);
            color: $white;
        }
    }

    .custom-control__input:checked ~ .custom-control__indicator,
    .custom-control__input:active ~ .custom-control__indicator {
        background-color: $primary;
    }
}

.custom-radio {
    .custom-control__indicator {
        @include rounded;

        &:before {
            @include size(rem($spacer-6));
            @include rounded;
            background-color: $primary;
            content: '';
        }
    }
}