.form {
    &__input {
        position: relative;
        display: block;
        appearance: none;
        width: 100%;
        color: $input-color;
        height: $input-height;
        background: $input-bg-color;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        @include transition(all ease-in-out 0.15s);
        @include font($input-font-size, $input-line-height, $input-font-weight, $input-font-family);
        padding: rem($input-padding-y $input-padding-x);

        &--md {
            height: $input-height-md;
            padding: rem($input-padding-y-md $input-padding-x-md);
        }

        &--sm {
            height: $input-height-sm;
            padding: rem($input-padding-y-sm $input-padding-x-sm);
        }

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }

        // Placeholder
        &::placeholder {
            opacity: 1;
            color: $input-color-placeholder;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            opacity: 1;
            color: $input-disabled-color;
        }

        &:disabled {
            cursor: $cursor-disabled;
            border-color: $input-disabled-border-color;
        }

        &:hover {
            //border-color: $input-border-hover;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        &:focus,
        &.focus {
            border-color: $input-border-focus;
        }

        &.has-error {
            border-color: $red;
            background-color: $red-3;
        }
    }
}

textarea.form__input {
  height: auto;
  max-height: none;
}