.form {
    &__group {
        position: relative;
        margin-bottom: rem($form-group-margin-bottom);

        &--sm {
            margin-bottom: rem($form-group-margin-bottom-sm);
        }

        &--md {
            margin-bottom: rem($form-group-margin-bottom-md);
        }

        &--button-right {
            display: flex;

            .form__field {
                flex: 1;
            }

            .form__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }

            .form__field-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: 0;
            }
        }
    }

    &__field {
        position: relative;
        display: flex;

        &-icon {
            font-size: rem($font-size-xl);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
        }

        .form__input {
            flex: 1;
        }

        &-button {
            padding-left: rem($spacer-4 - $btn-border-width);
            padding-right: rem($spacer-4 - $btn-border-width);
            min-width: rem(74px);
            margin-left: rem($spacer-4);
        }

        &.is-focused {
            .form__label--float {
                opacity: 0;
                visibility: hidden;
            }

            .form__errors-list {
                display: none;
            }
        }

        &--icon-right {
            .form__input {
                padding-right: rem($input-padding-x-icon);
            }
        }

        &--icon-right & {
            &-icon {
                right: rem($input-padding-x);
            }
        }

        &--button-right {
            .form__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }

            .form__field-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-left: 0;
            }
        }

        &--code {
            width: rem(198px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__label {
        display: block;
        margin-left: rem($input-padding-x + $input-border-width);
        margin-bottom: rem($spacer-2);
        color: $gray-15;
        font-weight: $font-weight-bold;

        /*.form__group.is-required & {
            &:after {
                content: "*";
                color: $red;
            }
        }*/
    }

    &__label + .custom-control {
        margin-top: rem($form-group-margin-bottom);
        margin-left: rem($input-padding-x + $input-border-width);
    }

    &__rating-stars {
        margin-left: rem(2px);
        margin-bottom: rem($spacer-7);
    }

    &__submit {
        text-align: center;
    }

    &__button {
        padding-left: rem($spacer-10 - 1);
        padding-right: rem($spacer-10 - 1);
    }

    &__captcha {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        @include em-line-height($font-size-base, 22.01px);
    }

    &__exp {
        margin-top: rem($spacer-2);
    }

    &__errors-list {
        width: calc(100% - #{$input-border-width} * 2);
        position: absolute;
        top: $input-border-width;
        left: $input-border-width;
        padding: rem(( $input-padding-y - $input-border-width) / 2 $input-padding-x);
        height: $input-height - $input-border-width * 2;
        background-color: $red-3;
        border-radius: $input-border-radius;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        pointer-events: none;

        &:empty {
            display: none;
        }

        .custom-control + & {
            width: auto;
            position: static;
            margin-top: rem(8px);
            padding: 0;
            height: auto;
            background: none;
            display: block;
        }
    }

    &__error {
        @include margin-bottom(rem($gutter / 2));
    }

    @include media-breakpoint-up(xl) {
        &__text {
            @include font($font-size-md, $line-height-md);
        }

        &__field {
            &-button {
                &--outside {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    margin-left: rem($spacer-4);
                }
            }
        }
    }
}