.modal-form {
    @include media-breakpoint-up(lg) {
        .form__label {
            color: $base-color;
            font-weight: $font-weight-normal;
        }

        .form__text {
            margin-left: rem(-44px);
            margin-right: rem(-44px);
        }
    }
}