.search-form {
    .form__input {
        background-color: $gray-2;
        border-color: $gray-2;
    }

    .form__field-icon {
        color: $gray-11;
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s ease-in-out;

        &.icon-close {
            cursor: pointer;

            @include hover-focus {
                color: $base-color;
            }
        }
    }

    &.is-active {
        .form__field-icon {
            &.icon-close {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .form__field-icon {
            color: $base-color;
        }
    }

    @include media-breakpoint-up(xl) {
        .form__input {
            border-top-right-radius: $input-border-radius;
            border-bottom-right-radius: $input-border-radius;
            border-right-width: $input-border-width;
        }

        .form__field-button {
            display: none;
            border-top-left-radius: $input-border-radius;
            border-bottom-left-radius: $input-border-radius;
        }

        .form__field-icon {
            &.icon-search {
                opacity: 1;
                visibility: visible;
            }
        }

        &.is-active {
            .form__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }

            .form__field-button {
                display: block;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form__field-icon {
                &.icon-search {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}