.shift-switch {
    position: relative;
    padding-left: rem(48px);

    &__input,
    &__toggle {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include size(rem($spacer-7), rem(65px));
    }

    &__input {
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }

    &__input:checked {
        z-index: 1;
    }

    &__input:checked + &__label {
        color: $base-color;
        cursor: default;
    }

    &__input:not(:checked) + &__label:hover {
        opacity: 0.75;
    }

    &__label {
        display: block;
        color: $gray-8;
        cursor: pointer;
        margin-bottom: rem(1px);
        transition: 0.25s ease color;
    }

    &__toggle {
        transition: 0.25s ease all;
        background-color: $primary;
        border-radius: $border-radius-xl;

        &:before {
            content: '';
            position: absolute;
            @include size (22px);
            @include rounded;
            top: rem(3px);
            left: rem(3px);
            background-color: $white;
            box-shadow: 0 1px 2px rgba($black, 0.1);
            transition: 0.25s ease all;
        }
    }

    &__input ~ &__input:checked ~ &__toggle:before {
        top: rem($spacer-10);
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        padding-left: 0;

        &__input,
        &__toggle {
            position: relative;
            top: 0;
            transform: none;
            @include size (rem(82px), rem($spacer-10));
        }

        &__input {
            &--left {
                order: 2;
                margin-right: rem(-82px);
            }

            &--right {
                order: 4;
                margin-left: rem(-82px);
            }
        }

        &__label {
            margin-bottom: 0;

            &--left {
                order: 1;
            }

            &--right {
                order: 5;
            }
        }

        &__toggle {
            margin-left: rem($spacer-8);
            margin-right: rem($spacer-8);
            order: 3;

            &:before {
                @include size ($spacer-8);
                top: rem($spacer);
                left: rem(5px);
            }
        }

        &__input ~ &__input:checked ~ &__toggle:before {
            top: rem($spacer);
            left: rem(45px);
        }
    }
}


/*.switch {
  display: flex;
  align-items: center;

  &__left   { order: 1; }
  &__input { order: 2; }
  &__toggle { order: 3; }
  &__right  { order: 4; }

  &__input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
      pointer-events: none;
  }

  &__toggle {
      display: block;
      position: relative;
      @include size (rem(82px), rem($spacer-10));
      background-color: $primary;
      border-radius: $border-radius-xl;
      transition: background 0.3s ease;
      margin-left: rem($spacer-8);
      margin-right: rem($spacer-8);

      &:before {
          content: '';
          position: absolute;
          @include size ($spacer-8);
          @include rounded;
          top: rem($spacer);
          left: rem(5px);
          transition: left 0.3s ease;
          background-color: $white;
          box-shadow: 0 1px 2px rgba($black, 0.1);
      }
  }

  &__left,
  &__right {
      color: $gray-8;
      margin-bottom: 0;
  }

  &__input:not(:checked) ~ &__left { color: $base-color }
  &__input:checked ~ &__right { color: $base-color }

  &__input:checked ~ &__toggle:before { left: rem(45px); }
}*/
