.subscription-form {
    .form__input {
        border-color: $input-bg-color;
    }

    .button {
        padding-left: rem($spacer-7);
        padding-right: rem($spacer-7);
    }

    .form__note {
        margin-top: rem(9px);
    }

    @include media-breakpoint-up(md) {
        .button {
            height: 56px;
        }

        .form__note {
            margin-top: rem($spacer-6);
        }
    }
}