.custom-control {
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__indicator {
        position: relative;
        display: block;
        @include size(24px);
        min-width: 24px;
        align-self: flex-start;
        margin-right: 16px;
        user-select: none;
        pointer-events: none;
        text-align: center;
        border: 1px solid $gray-3;
        transition: .25s ease-in-out;

        &:before {
            display: none;
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
    }

    &__input:checked ~ &__indicator,
    &__input:active ~ &__indicator {
        border-color: $primary;
        background-color: $primary;

        &:before {
            display: block;
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__indicator {
        border-radius: $border-radius;

        &:before {
            font-size: .78125rem;
            color: $white;
        }
    }
}

.custom-radio {
    .custom-control__indicator {
        @include rounded;

        &:before {
            @include size(10px);
            @include rounded;
            background-color: $white;
            content: '';
        }
    }
}