.form {
    &__section {
        border-bottom: 1px solid $gray-3;
        padding-bottom: $unit * 5;
        @include margin-bottom($unit * 6);

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    fieldset:last-of-type {
        border-bottom-width: 0;
        padding-bottom: 0;
        margin-bottom: -$unit;
    }

    &__header {
        @include margin-bottom($unit * 6);

        .form__title {
            margin-bottom: 0;
        }

        .form__action {
            margin-top: $unit * 4;
            margin-bottom: -$unit * 2;
        }

        &-col + &-col {
            margin-top: $unit * 2;
        }
    }

    &__title {
        margin-bottom: $unit * 4;
    }

    &__group {
        margin-bottom: $form-group-margin-bottom;
        position: relative;

        &.has-error {
            .form__control {
                border-color: $red;
            }
        }

        &.has-range-slider {
            @include margin-bottom($form-group-margin-bottom / 2, $form-group-margin-bottom);

            .range-slider {
                margin-top: -$unit / 2;
                //margin-bottom: -$unit * 2;
                position: relative;
                z-index: 10;
            }
        }
    }

    &__submit {
        position: relative;
        padding-top: ($unit * 5);
        margin-bottom: -$unit * 2;

        &:before {
            position: absolute;
            top: -1px;
            left: $unit * 2;
            right: $unit * 2;
            content: '';
            border-top: 2px solid $base-color;
            display: block;
        }

        .button {
            margin-bottom: $unit * 2;
        }
    }

    &__label {
        display: block;
        margin-bottom: $unit;

        .is-required & {
            &:after {
                color: $red;
                left: 10px;
                font-size: 12px;
            }
        }
    }

    &__group-footer {
        margin-top: $unit;
        flex-wrap: nowrap;
        margin-bottom: -$unit * 3;
        min-height:  19px;
    }

    &__note {
        white-space: nowrap;

        &-informer {
            margin-left: $unit;
        }
    }

    &__errors {
        margin-top: -3px;
    }

    &__error {
        color: $red;
    }

    &__action {
        margin-bottom: -$unit;

        &-item {
            margin-bottom: $unit * 2;
            width: 100%;
        }

        .button {
            width: 100%;
        }
    }

    &__inputbox {
        display: flex;
        padding: 0;

        .form__label {
            padding-left: $input-padding-x;
            padding-right: $input-padding-x / 2;
            margin-bottom: 0;
            align-self: center;

            &:after {
                display: none;
            }
        }

        .form__control {
            flex: 1;
            text-align: right;
            border-width: 0;
            height: auto;
            padding-left: $input-padding-x / 2;
        }
    }

    &__inputbox-group {
        display: flex;

        .form__inputbox {
            flex: 1 1 0;
            border-radius: 0;
            margin-right: -1px;

            &:first-child {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            &:last-child {
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                margin-right: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            &-col + &-col {
                margin-top: 0;
            }

            &-options {
                text-align: right;
            }
        }

        &__group-footer {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        &__submit {
            padding-top: ($unit * 8);
            margin-bottom: -$unit * 4;

            &:before {
                left: ($unit * 2);
                right: ($unit * 2);
            }

            .button {
                margin-bottom: $unit * 4;
            }
        }

        &__action {
            &-item,
            .button {
                width: auto;
            }
        }
    }
}