.form {
    &__control {
        position: relative;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        color: $input-color;
        background: $input-bg-color;
        background-clip: padding-box;
        border: $input-border-width solid $input-border-color;
        border-radius: $border-radius;
        font: inherit;
        @include transition(all ease-in-out 0.15s);

        @include input-size($input-height, $input-padding-x, $input-border-width, $input-font-size, $input-line-height, $nofont: true);

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }

        // Placeholder
        &::placeholder {
            opacity: 1;
            color: $input-color-placeholder;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            opacity: 1;
            color: $input-disabled-color;
        }

        &:disabled {
            cursor: $cursor-disabled;
            background-color: $input-disabled-bg-color;
            border-color: $input-disabled-bg-color;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        &:focus,
        &.focus {
            border-color: $input-border-focus;
            z-index: 2;
        }
    }
}

textarea.form__control {
  height: auto;
}