{## Generate SVG icon as reference to given icon within gien SVG icons sprite #}
{% macro icon(icon, classes = null, width = null, height = null) %}
    {% set url = '/assets/img/icons.svg' ~ '#svg-icon-' ~ icon %}
    <svg class="icon-{{icon}} {% if classes %} {{classes}} {% endif %}" aria-hidden="true" role="img" {% if width %} width="{{width}}" {% endif %} {% if height %} height="{{height}}" {% endif %}>
        <use href="{{ url }}" xlink:href="{{ url }}"></use>
    </svg>
{% endmacro %}