// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
    width: 100%;
    @include make-container();
    @include make-container-max-widths();

    &:empty {
        display:none;
    }

    @include media-breakpoint-down(xs) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
    @include make-row();

    &:before,
    &:after {
        display: none;
    }

    &-h-center {
        justify-content: center;
    }
    &-h-justify {
        justify-content: space-between;
    }
    &-h-end {
        justify-content: flex-end;
    }

    &--md {
        margin-left: -$gutter-md;
        margin-right: -$gutter-md;

        .col, [class^="col-"], [class*=" col-"] {
            padding-left: $gutter-md;
            padding-right: $gutter-md;
        }
    }
}


// Columns
//
// Common styles for small and large grid columns
.col {
    position: relative;
    min-height: 1px;
    padding-left: $gutter;
    padding-right: $gutter;

    @include media-breakpoint-down(xs) {
        &,
        [class^="col-"], [class*=" col-"] {
        }
    }
}

@include make-grid-columns();

.with-divider[class^="col-"],
.with-divider[class*=" col-"] {

    /*@include media-breakpoint-up(md) {
        position: relative;
        padding-left: ($unit * 6) + 1;

        &:before {
            position: absolute;
            top: 0;
            left: $unit * 2;
            bottom: 0;
            content: '';
            border-left: 1px solid $gray-3;
        }
    }*/
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .with-#{$breakpoint}-divider {
            position: relative;
            padding-left: ($unit * 6) + 1;

            &:before {
                position: absolute;
                top: 0;
                left: $unit * 2;
                bottom: 0;
                content: '';
                border-left: 1px solid $gray-3;
            }
        }
    }
}


// Flex variation
//
// Custom styles for additional flex alignment options.


// Flex column reordering

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-first { order: -1; }
        .col-#{$breakpoint}-last { order: 1; }
        .col-#{$breakpoint}-initial { order: initial; }
    }
}

// Alignment for every column in row

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .row-#{$breakpoint}-top { align-items: flex-start; }
        .row-#{$breakpoint}-center { align-items: center; }
        .row-#{$breakpoint}-bottom { align-items: flex-end; }
        .row-#{$breakpoint}-baseline { align-items: baseline; }
    }
}

// Alignment per column

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-top { align-self: flex-start; }
        .col-#{$breakpoint}-center { align-self: center; }
        .col-#{$breakpoint}-bottom { align-self: flex-end; }
    }
}
