@font-face {
    font-family: 'icons';
    src:
    url('../fonts/icons.woff?ybg53u') format('woff'),
    url('../fonts/icons.svg?ybg53u#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.custom-checkbox .custom-control__indicator:before,
.breadcrumb__item:after,
.slick-arrow:before,
.is-required .form__label:after,
.menu__link:after,
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    position: relative;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e900";
}
.icon-arrow-left:before,
.slick-prev:before {
  content: "\e901";
}
.icon-arrow-right:before,
.slick-next:before {
  content: "\e902";
}
.icon-arrow-right-lg:before,
.breadcrumb__item:after {
  content: "\e91a";
}
.icon-balloon:before {
  content: "\e903";
}
.icon-bank:before {
  content: "\e904";
}
.icon-chevron-down:before,
.menu__link:after,
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
    content: "\e915";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e916";
}
.icon-chevron-up:before {
  content: "\e917";
}
.icon-clock:before {
  content: "\e906";
}
.icon-doc-pen:before {
  content: "\e907";
}
.icon-dots:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-informer:before {
  content: "\e90a";
}
.icon-logo:before {
  content: "\e90b";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-ok:before,
.custom-checkbox .custom-control__indicator:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e919";
}
.icon-pile:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e91c";
}
.icon-refresh:before {
  content: "\e90f";
}
.icon-rf-emblem:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e918";
}
.icon-star:before,
.is-required .form__label:after {
  content: "\e91b";
}
.icon-status:before {
  content: "\e911";
}
.icon-table-clock:before {
  content: "\e912";
}
.icon-trash:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}