//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}
h1, .h1 {
    @include font-size($h1-font-sizes);
    font-weight: 400;
    margin-bottom: $unit * 2;
}
h2, .h2 {
    @include font-size($h2-font-sizes);
    font-weight: 500;
    margin-bottom: $unit * 6;
}
h3, .h3 {
    @include font-size($h3-font-sizes);
    font-weight: 500;
    margin-bottom: $unit * 4;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'zero' on;
}
h4, .h4 {
    @include font-size($h4-font-sizes);
    font-weight: 500;
    margin-bottom: $unit * 2;
}
h5, .h5 {
    @include font-size($h5-font-sizes);
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: -0.01em;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
h6, .h6 {
    @include font-size($h6-font-sizes);
    font-weight: 700;
}
.text-xxs {
    @include font-size($xxs-font-sizes);
}
.text-xs {
    @include font-size($xs-font-sizes);
}
.text-sm {
    @include font-size($sm-font-sizes);
}
.text-md {
    @include font-size($md-font-sizes);
}
.text-caps {
    @include font-size($caps-font-sizes);
    font-weight: 700;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.text-caps-sm {
    @include font-size($caps-sm-font-sizes);
    font-weight: 700;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

@include media-breakpoint-down(xs) {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        hyphens: auto;
    }
}

p,
ol,
ul,
dl {
    margin-top: 0;
    @include margin-bottom(1.4545em);

    .text-md & {
        @include margin-bottom(1em);
    }
}

dd {
    margin: 0;
}

address {
    font-style: normal;
    line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

strong,
b {
    font-weight: 600;
}

[data-lines] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

@each $number in [2, 3, 4, 5, 6] {
    [data-lines="#{$number}"] {
        -webkit-line-clamp: #{$number};
    }
}

.is-unclipped {
    -webkit-line-clamp: initial;
}

@each $color-name, $color in $theme-colors {
    .#{$color-name} {
        color: #{$color};
        fill: #{$color};
    }
}
.text-muted {
    color: $gray-4;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}