// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


// colors
//
// grayscale and brand colors

$gray: #f3f3f3 !default;
$gray-2: #e3e3e3 !default;
$gray-3: #c1c1c1 !default;
$gray-4: #828286 !default;
$gray-5: #45474b !default;
$gray-6: #242424 !default;
$gray-7: #212125 !default;

$gold: #d19b3f !default;
$gold-2: #be8a32 !default;

$red: #f44d4d !default;
$green: #63d149 !default;
$white: #ffffff !default;
$black: #000000 !default;

$base-color: $gray-6 !default;
$primary: $gold !default;
$default: $gray !default;
$success: $green !default;

$colors: () !default;
$theme-colors: () !default;

$theme-colors: map-merge(
  (
  "primary": $primary,
  "default": $default,
  "success": $success,
  ),
  $theme-colors
);

// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xl: 1408px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

// grid columns
//
// set the number of columns and specify the width of the gutters.
$unit: 8px !default;

$grid-columns: 12 !default;
$grid-gutter: $unit * 4 !default;
$gutter: $grid-gutter / 2 !default;
$grid-gutter-md: $unit * 2 !default;
$gutter-md: $grid-gutter-md / 2 !default;

// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $base-color !default;
$link-hover-decoration: none !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Inter', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-html: 16px !default;

$h1-font-sizes: (
    xs: (34px, 40.01px),
    xl: (46px, 56.01px),
) !default;

$h2-font-sizes: (
    xs: (34px, 40.01px),
    xl: (44px, 48.01px),
) !default;

$h3-font-sizes: (
    xs: (24px, 32.01px),
    xl: (34px, 40.01px),
) !default;

$h4-font-sizes: (
    xs: (22px, 32.01px),
    md: (24px, 32.01px),
) !default;

$h5-font-sizes: (
    xs: (18px, 24.01px),
    md: (22px, 32.01px),
) !default;

$h6-font-sizes: (
    xs: (14px, 16.01px),
    xl: (18px, 24.01px),
) !default;

$base-font-sizes: (
    xs: (16px, 24.01px),
    xl: (22px, 32.01px),
) !default;

$md-font-sizes: (
    xs: (16px, 24.01px),
) !default;

$sm-font-sizes: (
    xs: (14px, 16.01px),
) !default;

$xs-font-sizes: (
    xs: (12px, 16.01px),
) !default;

$xxs-font-sizes: (
    xs: (10px, 12.01px),
) !default;

$caps-font-sizes: (
    xs: (18px, 24.01px),
) !default;

$caps-sm-font-sizes: (
    xs: (13px, 16.01px),
) !default;

$small-font-size: 80% !default;

$text-muted: $black !default;


// buttons
//
//
$btn-height: 64px !default;
$btn-border-width: 0 !default;
$btn-font-weight: 700 !default;
$btn-font-size: 22px !default;
$btn-line-height: 32px !default;
$btn-font-family: $font-family-base !default;
$btn-padding-x: $gutter !default;
$btn-padding-y: $gutter !default;

$btn-height-lg: 72px !default;
$btn-font-size-lg: 18px !default;
$btn-line-height-lg: 24.01px !default;
$btn-padding-x-lg: 24px !default;

$btn-height-sm: 56px !default;
$btn-font-size-sm: 16px !default;
$btn-line-height-sm: 24.01px !default;
$btn-padding-x-sm: $gutter !default;

$btn-height-xs: 56px !default;
$btn-font-size-xs: 14px !default;
$btn-line-height-xs: 16.01px !default;
$btn-padding-x-xs: $gutter !default;
$btn-padding-y-xs: 12px !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-primary-bg-hover: $gold-2 !default;

$btn-default-color: $base-color !default;
$btn-default-bg: $default !default;
$btn-default-border: $btn-default-bg !default;
$btn-default-bg-hover: $btn-primary-bg !default;

$btn-disabled-color: $gray-3 !default;
$btn-disabled-bg: $gray-2 !default;
$btn-default-border: $btn-disabled-bg !default;

$border-radius: 4px !default;
$border-radius-sm: 8px !default;
$border-radius-md: 12px !default;
$border-radius-lg: 26px !default;
$border-radius-xl: 100px !default;


// Form
//
//
$input-color-placeholder: $gray-4 !default;

$input-height: 56px !default;
$input-font-size: 22px !default;
$input-font-weight: 400 !default;
$input-line-height: 32.01px !default;
$input-padding-x: ($unit * 2) - 1 !default;
$input-padding-y: 12px !default;

$input-height-xs: 40px !default;
$input-font-size-xs: 14px !default;
$input-line-height-xs: 16.01px !default;

$input-color: $base-color !default;
$input-bg-color: $white !default;
$input-border-color: $gray-3 !default;
$input-border-width: 1px !default;

$input-bg-focus: $white !default;
$input-border-focus: $primary !default;
$input-color-focus: $base-color !default;

$input-disabled-color: $gray-4 !default;
$input-disabled-bg-color: $gray !default;
$input-disabled-border-color: $input-disabled-bg-color !default;

$form-group-margin-bottom: ($unit * 4) !default;

$cursor-disabled: not-allowed !default;

// Header
//
//
$headerHeight: 64px !default;