{%- import '../macro/icon.twig' as svg -%}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% block pageDescription %}{% endblock %}">
  <meta name="keywords" content="{% block pageKeywords %}{% endblock %}">
  <meta name="author" content="">

  {% block styles %}{% endblock %}

  <link href="/assets/img/favicon.ico" rel="shortcut icon">

  <link rel="stylesheet" href="/assets/css/vendor.css?123457">
  <link rel="stylesheet" href="/assets/css/app.css?123457">

  <title>{% if pageTitle %} {{ pageTitle }} - {% endif %}{{ company.name }}</title>

  {% block headerScripts %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
</head>
<body class="body {{ bodyClass|default('') }}" id="top">

  {% include '_header.twig' %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>

  {% include '_footer.twig' %}

  {% include '../partials/_modal-location.twig' %}
  {% include '../partials/_modal-condition.twig' %}
  {% include '../partials/_modal-subscribe-thanks.twig' %}
  {% include '../partials/_modal-subscribe-thanks-2.twig' %}
  {% include '../partials/_modal-subscribe-thanks-3.twig' %}
  {% include '../partials/_modal-in-cart.twig' %}
  {% block modals %}{% endblock %}

  <script src="/assets/js/vendor.js?123457"></script>
  <script src="/assets/js/app.js?123457"></script>

  {% block scripts %}{% endblock %}

</body>
</html>