<ul class="customer-menu">
  {% for item in nav.customer if item.top != false %}
    <li class="customer-menu__item">
      <a href="{{ item.link }}" class="customer-menu__link">{{ item.name }}</a>
    </li>
  {% endfor %}
</ul>