<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <a href="#top" class="footer__button-top button-top icon-next" title="Наверх" data-component="top-button" data-scroll></a>

      <div class="row align-items-xs-center">
        <div class="footer__col footer__col--logo col-xs-12 col-xl-3">
          <a href="/" class="footer__logo logo">
            <i class="logo__icon icon-logo text-primary"></i>
            <img src="/assets/img/logo-smart-bazar.svg" alt="{{ company.name }} logo" class="logo__img">
          </a>
          <div class="footer__copyright">
            {{ company.copyright }}
          </div>
        </div>

        <div class="footer__col footer__col--contact col-xs-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="{{ company.phone.link }}" class="footer__contact link-hidden">{{ company.phone.number }}</a>
        </div>

        <div class="footer__col footer__col--contact col-xs-12 col-sm-6 col-lg-4 col-xl-3">
          <a href="mailto:{{ company.email }}" class="footer__contact link-inherit">{{ company.email }}</a>
        </div>

        <div class="footer__col footer__col--social col-xs-12 col-lg-4 col-xl-3">
          {% include '../partials/_social-list.twig' with { list: company.social, socialClass: 'footer__social' } %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer__menu">
    <div class="container">
      <div class="row">
        <div class="footer__menu-section col-xs-12 col-md-4 col-lg-4 col-xl-3">
          <h5 class="footer__menu-title">Каталог</h5>

          <ul class="footer__menu-list footer__menu-list--xs-columns">
            {% for item in nav.main if item.footer != false %}
              <li class="footer__menu-item">
                <a href="{{ item.link }}" class="footer__menu-link">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="footer__menu-section col-xs-12 col-md-8 col-lg-8 col-xl-6">
          <h5 class="footer__menu-title">Помощь покупателю</h5>

          <ul class="footer__menu-list footer__menu-list--md-columns">
            {% for item in nav.customerFooter %}
              <li class="footer__menu-item">
                <a href="{{ item.link }}" class="footer__menu-link">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="footer__features features">
    <div class="container">
      <ul class="features__list row justify-xs-center justify-lg-between">
        {% for item in features %}
          <li class="features__item col">
            <div class="feature">
              <span class="feature__picture">
                {{ svg.icon(item.icon, 'feature__icon', item.iconWidth, item.iconHeight) }}
              </span>
              {{ item.title }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</footer>