<header class="header" data-component="header">
  <div class="header__top">
    <div class="header__container container">
      <div class="header__row row row--lg align-items-xs-center">
        <div class="header__col header__col--location col hidden-lg-down">
          <a href="#modal-location" class="header__location" data-element="modal-trigger">
            <i class="header__location-icon icon-location"></i>
            <span class="header__location-name" data-element="location-name">Москва</span>
          </a>
        </div>

        <div class="header__col header__col--customer-menu col">
          {% include '_customer-menu.twig' %}
        </div>

        <div class="header__col header__col--phone col hidden-lg-down">
          <a href="{{ company.phone.link }}" class="header__phone link-hidden">
            <i class="header__phone-icon icon-phone"></i>
            {{ company.phone.number }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__main">
    <div class="header__container container">
      <div class="header__row row align-items-xs-center justify-xs-between">
        <div class="header__col header__col--logo col">
          <a href="/" class="header__logo logo">
            <i class="logo__icon icon-logo text-primary hidden-lg-down"></i>
            <img src="/assets/img/logo-smart-bazar.svg" alt="{{ company.name }} logo" class="logo__img">
          </a>
        </div>

        <div class="header__col header__col--search col">
          <div class="hidden-lg-down" data-element="placeholder" data-id="search" data-device="desktop">
            {% include '_search.twig' %}
          </div>
        </div>

        <div class="header__col header__col--quick-menu col">
          {% include '_quick-menu.twig' %}
        </div>

      </div>
    </div>
  </div>

  <div class="header__navbar">
    <div class="header__container container">
      {% include '_nav.twig' with { list: nav.main } %}
    </div>
  </div>
</header>

{% include '_mobile-nav.twig' %}