<div class="quick-menu__popup mini-cart">
  <div class="mini-cart__list">
    {% for item in 1..2 %}
      <a href="catalog-item.html" class="mini-cart__item mini-cart-item">
        <div class="mini-cart-item__picture">
          <img src="/assets/img/temp/mini-cart/1.png" alt="" class="mini-cart-item__img">
        </div>

        <div class="mini-cart-item__title">Смартфон Apple iPhone 7 32GB Rose Gold</div>

        <div class="mini-cart-item__price">12 550 ₽</div>
      </a>
    {% endfor %}
  </div>

  <div class="mini-cart__total">
    <div class="mini-cart__total-label">Итого</div>
    <div class="mini-cart__total-sum">96 980 ₽</div>
  </div>

  <div class="mini-cart__footer">
    <a href="cart.html" class="mini-cart__button button button--primary button--md">Оформить заказ</a>
  </div>
</div>