<ul class="mobile-nav row hidden-xl-up">
  {% for item in mobileNav %}
    <li class="mobile-nav__item col">
      <a 
        href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}" 
        class="mobile-nav__link" 
        {% if item.element %}data-element="{{ item.element }}"{% endif %} 
        {% if item.src %}data-src="{{ item.src }}"{% endif %}>

          {% if item.id == "catalog" %}

            <span class="mobile-nav__hamburger hamburger hamburger--spin">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </span>

            {% else %}

            <i class="mobile-nav__icon icon-{{ item.icon }}"></i>

          {% endif %}


          {% if item.badge %}
            <span class="mobile-nav__badge badge">{{ item.badge }}</span>
          {% endif %}

          {{ item.name }}
      </a>
    </li>
  {% endfor %}
</ul>

{% include '_mobile-menu.twig' %}
{% include '_mobile-contacts-menu.twig' %}
{% include '_mobile-customer-menu.twig' %}
{% include '_mobile-search.twig' %}
