<div class="mobile-menu mobile-menu--right mobile-menu--search hidden-xl-up" data-component="mobile-menu" data-src="mobile-search">
  <div class="mobile-menu__header">
    <div class="mobile-menu__title h5">Поиск</div>
    <button class="mobile-menu__close icon-close" type="button" data-element="mobile-menu-close"></button>
  </div>

  <div class="mobile-menu__body">
    {% include '_search-mobile.twig' %}
  </div>
</div>