<div class="mobile-menu hidden-xl-up" data-component="mobile-menu" data-src="mobile-contacts-menu">
  <div class="mobile-menu__header">
    <div class="mobile-menu__title h5">Связаться с нами</div>
    <button class="mobile-menu__close icon-close" type="button" data-element="mobile-menu-close"></button>
  </div>

  <div class="mobile-menu__body">
    <ul class="mobile-menu__list">
      {% for item in contacts %}
        <li class="mobile-menu__item mobile-menu__item--contact">
          <a href="#" class="contact-info link-inherit">
            <div class="contact-info__text">{{ item.text }}</div>
            <div class="contact-info__note">{{ item.note }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>