<div class="mobile-menu hidden-xl-up" data-component="mobile-menu" data-src="mobile-customer-menu">
  <div class="mobile-menu__header">
    <div class="mobile-menu__title h5">Для покупателя</div>
    <button class="mobile-menu__close icon-close" type="button" data-element="mobile-menu-close"></button>
  </div>

  <div class="mobile-menu__body">
    <ul class="mobile-menu__list">
      {% for item in nav.customer %}
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>