<div class="mobile-menu hidden-xl-up" data-component="mobile-menu" data-src="mobile-menu">
  <div class="mobile-menu__header">
    <div class="mobile-menu__title h5">Каталог товаров</div>
    <button class="mobile-menu__close icon-close" type="button" data-element="mobile-menu-close"></button>
  </div>

  <div class="mobile-menu__body">
    <ul class="mobile-menu__list mobile-menu__list--collapsible" data-component="accordion">
      {% for item in nav.main if not item.class %}
        <li class="mobile-menu__item mobile-menu__item--collapsible is-collapsed" data-element="accordion-item">
          <a href="catalog.html" class="mobile-menu__link" data-element="accordion-toggle">{{ item.name }}</a>

          {% if not loop.last %}
            <ul class="mobile-menu__level2" data-element="accordion-content">
              <li class="mobile-menu__level2-item">
                <a href="catalog.html" class="mobile-menu__level2-link">Все модели</a>
              </li>
              {% for level2 in nav.level2 %}
                {% if level2.name %}
                  <li class="mobile-menu__level2-item">
                    <a href="catalog.html" class="mobile-menu__level2-link">{{ level2.name }}</a>
                  </li>

                  {% else %}
                  {% for level3 in level2.level3 %}
                    <li class="mobile-menu__level2-item">
                      <a href="catalog.html" class="mobile-menu__level2-link">{{ level3 }}</a>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}

      {% for item in nav.main if item.class %}
        <li class="mobile-menu__item">
          <a href="{{ item.link }}" class="mobile-menu__link">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>