<ul class="header__nav nav justify-xs-between">
  {% for item in list if item.nav != false %}
    <li class="nav__item {% if item.class %} nav__item--{{ item.class }} {% endif %}">
      <a href="{{ item.link }}" class="nav__link">
        {% if item.icon %}
          <i class="nav__icon icon-{{ item.icon }}"></i>
        {% endif %}
        {{ item.name }}
      </a>
      {% if not item.class %}
        {% include '_submenu.twig' %}
      {% endif %}
    </li>
  {% endfor %}
</ul>