<ul class="quick-menu row">
  {% for item in quickMenu %}
    <li class="quick-menu__item col {% if item.class %}{{ item.class }}{% endif %}">
      <a href="{{ item.link }}" class="quick-menu__link">
        <i class="quick-menu__icon icon-{{ item.icon }}"></i>
        {% if item.badge %}
          <span class="quick-menu__badge badge">{{ item.badge }}</span>
        {% endif %}
        <span class="quick-menu__text hidden-lg-down">{{ item.name }}</span>
      </a>
      {% if item.link == 'cart.html' %}
        {% include '_mini-cart.twig' %}
      {% endif %}
    </li>
  {% endfor %}
  <li class="quick-menu__item col hidden-xl-up">
    <a href="#modal-location" class="quick-menu__link" data-element="modal-trigger" data-effect="mfp-move-from-right modal-right">
      <i class="quick-menu__icon icon-location"></i>
    </a>
  </li>
</ul>