<div class="mobile-menu__search search">
  <form class="search__form form search-form" data-component="search">
    <div class="form__group form__group--button-right">
      <div class="form__field form__field--icon-right">
        <input type="text" class="form__input form__input--sm" placeholder="Введите название товара" data-element="search-input">
        <i class="form__field-icon icon-close" data-element="search-clear"></i>
      </div>
      <button class="form__field-button button button--primary button--sm" type="submit">Найти</button>
    </div>
  </form>
  <div class="search__content">
    <p>
      К сожалению, ничего не найдено.<br>
      Попробуйте уточнить поисковый запрос...
    </p>
  </div>

  <div class="search__content">
    <div class="search__section">
      <div class="search__title">Возможно, вы имели в виду: iPhone</div>
      <ul class="search__list">
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro Max 256GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro Max 128GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro 128GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro 256GB, серебристый</a>
        </li>
      </ul>
      <div class="search__more">
        <a href="catalog.html" class="link-primary">Все товары</a>
      </div>
    </div>

    <div class="search__section">
      <div class="search__title">Категории</div>
      <ul class="search__list">
        <li class="search__item">
          <a href="catalog.html" class="search__link">Мобильные телефоны Apple (377 товаров)</a>
        </li>
        <li class="search__item">
          <a href="catalog.html" class="search__link">Защитные пленки и стекла для телефонов (21 товар)</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="search__content">
    <div class="search__section">
      <div class="search__title">Товары</div>
      <ul class="search__list">
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro Max 256GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro Max 128GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro 128GB (4 товара)</a>
        </li>
        <li class="search__item">
          <a href="catalog-item.html" class="search__link">Смартфон Apple iPhone 12 Pro 256GB, серебристый</a>
        </li>
      </ul>
      <div class="search__more">
        <a href="catalog.html" class="link-primary">Все товары</a>
      </div>
    </div>

    <div class="search__section">
      <div class="search__title">Категории</div>
      <ul class="search__list">
        <li class="search__item">
          <a href="catalog.html" class="search__link">Мобильные телефоны Apple (377 товаров)</a>
        </li>
        <li class="search__item">
          <a href="catalog.html" class="search__link">Защитные пленки и стекла для телефонов (21 товар)</a>
        </li>
      </ul>
    </div>
  </div>
</div>