<div class="nav__submenu submenu hidden-lg-down">
  <div class="submenu__main">
    <div class="submenu__container container">
      <div class="submenu__row">
        {% for section in nav.level2 %}
          <div class="submenu__col">
            {% if section.name %}
              <h5 class="submenu__title">
                <a href="catalog.html" class="submenu__title-link">{{ section.name }}</a>
              </h5>
            {% endif %}
            <ul class="submenu__list brands-list">
              {% for brand in section.level3 %}
                <li class="brands-list__item">
                  <a href="catalog.html" class="brands-list__link">{{ brand }}</a>
                </li>
              {% endfor %}
            </ul>
            {% if section.all %}
              <a href="catalog.html" class="submenu__more more">Все модели<i class="more__icon icon-next"></i></a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="submenu__quick theme-light">
    <div class="submenu__container container">
      <ul class="submenu__quick-list">
        {% for link in nav.quick %}
          <li class="submenu__quick-item">
            <a href="catalog.html" class="submenu__quick-link">{{ link }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>