.about {
    padding-top: rem($spacer-10);
    padding-bottom: rem($spacer-10);

    &:before {
        background: rgba($black, 0.67);
    }

    &__heading {
        margin-top: rem(56px);
    }

    &__logo {
        margin-bottom: rem(9px);

        .logo__icon {
            @include size(rem(41px));
            flex: 0 0 rem(41px);
            font-size: rem(41px);
            margin-right: rem(18px);
        }

        .logo__img {
            height: rem(27px);
        }
    }

    &__title {
        margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        &__container {
            max-width: rem(561px);
        }
    }

    @include media-breakpoint-down(sm) {
        &__title {
            @include font(30px, 37.01px);
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(58px);
        padding-bottom: rem(64px);

        &__heading {
            margin-top: rem(61px);
        }

        &__logo {
            margin-bottom: rem(22px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(80px);
        padding-bottom: rem(80px);

        &__logo {
            margin-bottom: rem($spacer-6);

            .logo__icon {
                @include size(rem(48px));
                flex: 0 0 rem(48px);
                font-size: rem(48px);
                margin-right: rem($spacer-5);
            }

            .logo__img {
                height: rem($spacer-8);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__heading {
            margin-top: 0;
        }
    }
}