.arrivals {
    padding-top: rem($spacer-8);
    padding-bottom: rem($spacer-8);
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -75px;
        background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
        @include size(1080px, 909px);
        content: '';
        opacity: .06;
        z-index: -1;
    }

    &__container {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8);
    }

    &__heading {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        @include font($font-size-xl, $line-height-xl);
        margin-bottom: rem($spacer-4);
    }

    &__description {
        @include font($font-size-md, 27.01px, $font-weight-semibold);
        margin-bottom: rem($spacer-8);
    }

    &__slider {
        position: relative;

        &-container {
            background-color: $white;
            border-radius: $border-radius-lg;
        }
    }

    @include media-breakpoint-between(xs, md) {
        &__slider {
            padding-bottom: rem(72px);
            max-width: 314px;
        }

        &__prev,
        &__next {
            top: auto;
            bottom: 0;
            transform: none;
        }

        &__prev {
            left: 0;
        }

        &__next {
            left: rem(56px);
            right: auto;
        }
    }

    @include media-breakpoint-between(md, md) {
        &__prev {
            left: 50%;
            margin-left: rem(-52px);
        }

        &__next {
            left: 50%;
            margin-left: rem($spacer);
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);

        &:after {
            left: auto;
            right: -502px;
            bottom: -276px;
            @include size(877px, 739px);
        }

        &__container {
            display: flex;
            align-items: center;
            padding-left: rem($spacer-10);
            padding-right: rem($spacer-10);
        }

        &__heading {
            margin-bottom: 0;
            padding-left: rem($spacer-8);
            padding-right: rem($spacer-10);
            flex: 1;
            max-width: 505px;
        }

        &__title {
            @include font(30px, 41.01px);
            margin-bottom: rem(13px);
        }

        &__description {
            @include font(19px, 27.01px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-10);

        &:after {
            right: 10px;
            bottom: -306px;
        }

        &__container {
            padding-left: rem(64px);
            padding-right: rem(64px);
        }

        &__heading {
            padding-left: 0;
        }

        &__title {
            @include font($font-size-h2, $line-height-h2);
            margin-bottom: rem($spacer-4);
        }

        &__description {
            @include font($font-size-xl, $line-height-xl + 2);
            margin-bottom: rem($spacer-10);
        }

        &__slider {
            max-width: 490px;
            padding-left: rem(88px);
            padding-right: rem(88px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-up(2xl) {
        border-radius: $border-radius-lg;
    }
}