.benefits {
    padding: rem($spacer-10 $spacer-4 $spacer-8);

    &__heading {
        margin-bottom: rem($spacer-8);
    }

    &__slider {
        &-controls {
            margin-top: rem($spacer-8);
        }

        .swiper-container {
            overflow: visible;
        }
    }

    &__item {
        width: rem(281px);

        &--extended {
            width: rem(305px);
        }
    }

    @include media-breakpoint-up(md) {
        padding: rem($spacer-9 $spacer-2 56px);

        &__heading {
            padding-left: rem($spacer-2);
            margin-bottom: rem($spacer-10);
            align-items: flex-end;

            &-controls {
                margin-bottom: rem(13px);
            }
        }

        &__title {
            max-width: 60%;
        }

        &__item {
            width: rem(322px);

            &--extended {
                width: rem(442px);
            }
        }
    }

    @include media-breakpoint-between(md, md) {
        &__heading {
            align-items: flex-end;

            &-controls {
                margin-bottom: rem(13px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(56px);
        padding-left: 0;
        padding-right: 0;

        &__heading {
            padding-left: rem($spacer-10);
        }
    }
}