.cart {
    margin-top: rem(- $spacer-2);

    &__items {
        margin-bottom: rem(48px);

        &-total {
            padding: rem($spacer-6 $spacer-4);
            background-color: $white;
            border-radius: $border-radius-sm;
        }

        &-tags {
            margin-top: 0;
        }

        .tag {
            @include font($font-size-sm, $line-height-sm);
            padding: rem($spacer-2);
        }

        &-check {
            @include font($font-size-lg, 22.01px);
            margin-top: rem($spacer-6);
            @include clearfix();
        }

        &-label,
        &-data {
            &--lg {
                text-transform: uppercase;
                @include font($font-size-xl, $line-height-xl, $font-weight-semibold);
            }
        }

        &-label {
            float: left;
            clear: left;
            display: flex;
        }

        &-data {
            text-align: right;
            @include margin-bottom(rem($spacer-2));
        }
    }

    &__item {
        margin-bottom: rem($spacer-4);
    }

    &__section {
        @include margin-bottom(rem($spacer-10));

        &-title {
            margin-bottom: rem($spacer-4);
            display: flex;
            align-items: fcenter;

            &:before {
                display: flex !important;
                align-items: center;
                justify-content: center;
                @include size($spacer-7);
                @include rounded;
                border: 2px solid $gray-8;
                font-size: rem($spacer-4);
                flex: 0 0 rem($spacer-7);
                margin-right: rem($spacer-2);
                content: '';
            }

            &.is-success {
                &:before {
                    border-color: $success;
                    color: $success;
                }
            }
        }

        &-body {
            background-color: $white;
            margin-left: rem(- $grid-gutter-xs);
            margin-right: rem(- $grid-gutter-xs);
            padding: rem($spacer-6 $grid-gutter-xs);
        }
    }

    &__form {
        margin-bottom: rem(- $form-group-margin-bottom);
    }

    &__services {
        @include margin-bottom(rem($spacer-4), rem(- $spacer-4));
    }

    &__aside {
        margin-top: rem($spacer-8);
        position: static;

        &-box {
            display: flex;
            flex-direction: column;
        }
    }

    &__status {
        display: none;
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: $font-weight-semibold;
        margin-bottom: rem($spacer-2);
        font-weight: $font-weight-semibold;

        &-label {
            text-transform: uppercase;
            @include font($font-size-xl, $line-height-xl);
        }

        &-sum {
            @include font($font-size-2xl, $line-height-2xl);
        }
    }

    &__feature {
        display: flex;
        align-items: center;
        padding: rem(26px 29px);
        background-color: $white;
        box-shadow: 0 2px 3px rgba($black, 0.05);
        color: $gray-20;
        @include em-line-height($font-size-base, 17.01px);

        &-icon {
            color: $primary;
            font-size: rem($spacer-9);
            margin-right: rem(22px);
            flex: 0 0 rem($spacer-9);
        }

        &-content {
            flex: 1;

            p {
                @include margin-bottom(rem(5px));
            }
        }
    }

    &__consent,
    &__note {
        margin-top: rem($spacer-6);
    }

    &__footer {
        background-color: rgba($white, 0.8);
        backdrop-filter: blur(10px);
        padding: rem(6px $grid-gutter-xs 10px);
        margin-top: rem(46px);
        position: sticky;
        bottom: 0;
        z-index: 10000;
    }

    @include media-breakpoint-up(md) {
        margin-top: 0;
        padding-top: rem($spacer-2);
        padding-bottom: rem($spacer-4);

        &__row {
            @include make-row-modification($spacer-6);
        }

        &__main {
            max-width: 52.5%;
            flex: 0 0 52.5%;
        }

        &__items {
            margin-bottom: rem($spacer-8);
        }

        &__section {
            margin-bottom: rem($spacer-8);

            &-title {
                &:before {
                    display: none !important;
                }
            }

            &-body {
                border-radius: $border-radius-sm;
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__aside {
            max-width: 47.5%;
            flex: 0 0 47.5%;
            margin-top: 0;

            &-box {
                padding: rem(44px $spacer-4 $spacer-8);
                background-color: $white;
                border-radius: $border-radius-lg;
                position: sticky;
                top: rem($mobile-nav-height + $spacer-4);
            }
        }

        &__status {
            display: block;
            margin-bottom: rem($spacer-4);
            @include clearfix();

            &-label {
                float: left;
                clear: left;
                display: flex;
                align-items: flex-start;
                padding-right: rem($spacer-4);
                margin-bottom: rem($spacer-6);

                &:before {
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    @include size($spacer-7);
                    @include rounded;
                    border: 2px solid $gray-6;
                    font-size: rem($spacer-4);
                    flex: 0 0 rem($spacer-7);
                    margin-top: rem(- $spacer);
                    margin-right: rem($spacer-2);
                    content: '';
                }

                &.is-success {
                    &:before {
                        border-color: $success;
                        color: $success;
                    }
                }
            }

            &-data {
                float: right;
                text-align: right;
                margin-bottom: rem($spacer-6);
            }
        }

        &__total {
            font-weight: $font-weight-bold;

            &-label {
                @include font($font-size-md, $line-height-md);
            }
        }

        &__feature {
            background-color: $gray-2;
            margin-top: rem($spacer-6);
        }

        &__button {
            margin-top: rem($spacer-8);
        }

        &__button {
            &.disabled,
            &:disabled {
                background: none;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: 0;
        padding-bottom: rem(80px);

        &__row {
            @include make-row-modification($spacer-4);
        }

        &__main {
            max-width: 67.3%;
            flex: 0 0 67.3%;
        }

        &__aside {
            max-width: 32.7%;
            flex: 0 0 32.7%;

            &-box {
                padding-left: rem($spacer-6);
                padding-right: rem($spacer-6);
                top: rem($header-height + $spacer-6);
            }
        }

        &__items {
            background-color: $white;
            border-radius: $border-radius-sm;
            margin-bottom: rem($spacer-6);

            &-total {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding-top: rem($spacer-4);
                padding-left: rem($spacer-6);
                padding-right: rem($spacer-6);
            }

            &-promocode {
                max-width: rem(352px);
                flex: 0 0 rem(352px);
            }

            &-check {
                max-width: rem(300px);
                flex: 0 0 rem(300px);
                margin-top: 0;
            }
        }

        &__item {
            border-bottom: 1px dashed $gray-8;
            padding-bottom: rem($spacer-2);
            margin-bottom: rem($spacer-2);
        }

        &__section {
            background-color: $white;
            border-radius: $border-radius-sm;
            margin-bottom: rem($spacer-6);
            padding: rem($spacer-6 $spacer-6);

            &-title {
                margin-bottom: rem($spacer-6);
            }

            &-body {
                margin-left: 0;
                margin-right: 0;
                padding: 0;
            }
        }

        &__services {
            margin-top: rem($spacer-2);

            &:first-child {
                margin-top: 0;
            }
        }

        &__form {
            &--fixed {
                max-width: rem(322px);
            }
        }
    }
}