.categories {
    &__heading {
        margin-bottom: rem($spacer-6);
        padding-left: rem($spacer-4);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-controls {
            margin-left: rem($spacer-8);
        }
    }

    &__title {
        margin-bottom: 0;
        flex: 1;
    }

    &__tags {
        margin-bottom: rem(53px);

        .tags__item {
            margin-bottom: rem($spacer-4);
        }

        &-pagination {
            margin-top: rem($spacer);
        }

        &.slick-initialized.slick-dotted {
            margin-bottom: rem(53px);
        }

        &.slick-initialized .slick-slide {
            flex-direction: column;
        }
    }

    &__menu {
        &-pagination {
            margin-top: rem($spacer-5);
        }
    }

    @include media-breakpoint-up(md) {
        &__tags {
            .slick-list {
                overflow: visible;
                transition: left .25s ease-in-out;
        }

            .tags__item {
                width: auto !important;
            }
        }

        .slick-arrow {
            display: block !important;
        }
    }

    @include media-breakpoint-up(lg) {
        &__heading {
            margin-bottom: rem($spacer-7);
            padding-left: rem($spacer-10);
        }

        &__tags {
            margin-bottom: rem(64px);
        }
    }
}