.catalog {
    z-index: 1;

    .mobile-menu-is-visible & {
        position: static;
    }

    &__heading {
        margin-bottom: rem($spacer-6);
    }

    &__controls {
        display: none;
    }

    &__tags {
        margin-bottom: rem($spacer-6);

        .swiper-container {
            overflow: visible;
        }

        .swiper-slide {
            width: auto;
            margin-bottom: 0;
        }
    }

    &__slider {
        margin-left: rem(-5px);
        margin-right: rem(-5px);

        .swiper-container {
            overflow: visible;
        }

        &--lg {
            margin-top: rem( - $spacer-2);

            .swiper-wrapper {
                align-items: center;
            }
        }
    }

    &__slide {
        width: 261px;
        padding-left: rem($spacer + 1);
        padding-right: rem($spacer);
        transition: .25s all ease-in-out;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            content: '';
            border-right: 1px dashed $gray-8;
            opacity: 1;
            transition: .25s opacity ease-in-out;
        }

        &:first-child,
        &--lg + &,
        &:hover,
        &:focus,
        &:hover + &,
        &:focus + & {
            &:before {
               opacity: 0;
            }
        }

        &--lg {
            width: 287px;
            padding-right: rem(10px);
        }
    }

    &__items {
        border-top: 1px dashed $gray-8;
        @include margin-bottom(rem($spacer-6));
        position: relative;

        &:first-child {
            border-top-width: 0;
        }

        &:last-child {
            margin-bottom: rem( - $spacer-4);

            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                border: 1px solid $white;
                z-index: 3;
            }
        }

        &--set {
            border-top-width: 0;

            &:last-child {
                margin-bottom: rem(-48px);

                &:after {
                    display: none;
                }
            }
        }
    }

    &__item {
        position: relative;
        border-bottom: 1px dashed $gray-8;
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);

        .catalog__items--set & + &:after {
            position: absolute;
            top: auto;
            left: 50%;
            right: auto;
            bottom: 100%;
            transform: translate(-50%, 50%);
            margin-bottom: rem($spacer-3);
            padding-top: rem(6px);
            @include size(rem(58px));
            @include rounded;
            background-color: $primary;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            @include font($font-size-h2, 47.01px, $font-weight-medium);
            content: '+';
            z-index: 4;
            opacity: 1;
        }

        .catalog__items--set & + &--total:after {
            content: '=';
        }
    }

    &__filter {
        .mobile-menu-is-visible & {
            position: static;
        }
    }

    &__sorting {
        margin-bottom: rem($spacer-4);
    }

    @include media-breakpoint-between(xs, sm) {
        &__title {
            &--sm {
                @include font($font-size-xl, $line-height-xl);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &--theme {
            background-color: $gray-3;
            padding-bottom: 1px;
        }

        &__heading {
            margin-bottom: rem($spacer-7);
        }

        &__tags {
            margin-top: rem(- $spacer-3);
        }

        &__slider {
            margin-left: rem(-17px);
            margin-right: rem(-17px);

            &--lg {
                margin-top: rem( - $spacer);
            }
        }

        &__slide {
            width: 285px;
            padding-left: rem($spacer-4 + 1);
            padding-right: rem($spacer-4);

            &--lg {
                width: 301px;
                padding-right: 0;
            }

            .catalog__slider--lg &:not(.catalog__slide--lg) {
                margin-top: rem($spacer-3);
            }
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-bottom: rem($spacer-4);
            //background-color: $white;

            .hidden-md-up + & {
                border-top-width: 0;
            }

            &--set {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__item {
            padding-right: rem($spacer-2);
            padding-bottom: rem($spacer-4 + 1);
            border-bottom-width: 0;

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                border-bottom: 1px dashed $gray-8;
                content: '';
                z-index: 2;
            }

            &:nth-child(2n + 1) {
                &:after {
                    width: 200%;
                }
            }

            &:before {
                position: absolute;
                top: rem($spacer-4);
                bottom: rem($spacer-4);
                right: 0;
                content: ' ';
                border-right: 1px dashed $gray-8;
            }

            &:nth-child(2n) {
                padding-left: rem($spacer-2);
                padding-right: 0;

                &:before {
                    opacity: 0;
                }
            }

            &:last-child {
                &:before {
                    opacity: 0;
                }
            }

            &:hover,
            &:focus {
                &:before {
                    border-color: $white;
                    right: 100%;
                    opacity: 1 !important;
                }
            }

            .catalog__items--set & + &:after {
                left: rem(60px);
                transform: translateY(50%);
                border: 2px solid $white;
            }

            .catalog__items--set & + &--total:after {
                top: rem($spacer-6);
                bottom: auto;
                left: rem(60px);
                transform: none;
            }
        }

        &__body {
            background-color: $white;
            border-radius: $border-radius-lg;
            padding: rem(13px $spacer-4 $spacer-4);
        }

        &__sorting {
            margin-bottom: rem($spacer-4);
        }

        &--fav & {
            &__body {
                padding-top: rem($spacer-2);
                padding-bottom: rem($spacer-8);
            }
        }
    }

    @include media-breakpoint-between(xs, lg) {
        &__items {
            &--set {
                display: block;
                background-color: $gray-3;
                margin-left: rem(- $grid-gutter-xs);
                margin-right: rem(- $grid-gutter-xs);
                padding: rem($spacer-6 $grid-gutter-xs);
            }
        }

        &__item {
            .catalog__items--set & {
                border-bottom-width: 0;
                padding: 0;
                margin-bottom: rem($spacer-6);

                &:after {
                    opacity: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__heading {
            margin-bottom: rem($spacer-10);
        }

        &__tags {
            margin-top: rem(- $spacer-4);
            margin-bottom: rem($spacer-8);
        }

        &__slider {
            margin-left: rem(-10px);
            margin-right: rem(-10px);
            margin-bottom: rem( - $spacer-4);

            &--lg {
                margin-top: 0;

                .swiper-wrapper {
                    align-items: flex-start;
                }
            }
        }

        &__slide {
            width: 313px;
            padding-left: rem(7px);
            padding-right: rem(6px);

            &:before {
                top: rem($spacer-4);
                bottom: rem($spacer-4);
            }

            &--lg {
                width: 421px;
                padding-left: rem(9px);
                padding-right: rem($spacer-4);
            }

            .catalog__slider--lg &:not(.catalog__slide--lg) {
                margin-top: rem(54px);
            }
        }

        &__items {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            margin-left: rem(- $spacer-4);
            margin-right: rem(- $spacer-4);
            margin-bottom: rem($spacer-6);

            &--set {
                &:last-child {
                    margin-bottom: rem( - $spacer-4);
                }
            }
        }

        &__item {
            padding-top: 0;
            padding-bottom: 1px;
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);

            &:nth-child(2n) {
                padding-left: rem($spacer-2);
                padding-right: rem($spacer-2);

                &:before {
                    opacity: 1;
                }
            }

            &:nth-child(3n) {
                &:before {
                    opacity: 0;
                }
            }

            &:nth-child(2n + 1) {
                &:after {
                    width: 0;
                }
            }

            &:nth-child(3n + 1) {
                &:after {
                    width: 300%;
                }
            }

            &:last-child {
                &:before {
                    opacity: 0;
                }
            }
        }

        &__body {
            padding-bottom: rem($spacer-6);
        }

        &--fav & {
            &__body {
                padding-top: rem($spacer-6);
                padding-bottom: rem(70px);
            }
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__items {
            &--set {
                margin-left: rem(- $grid-gutter-lg);
                margin-right: rem(- $grid-gutter-lg);
                padding-left: rem($grid-gutter-lg);
                padding-right: rem($grid-gutter-lg);
            }
        }

        &__item {
            &:nth-child(2n) {
                .catalog__items--set & {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__tags {
            margin-left: rem($spacer-8);
        }

        &__items {
            &--grid-4 {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            &--list {
                display: block;
            }
        }

        &__item {
            .catalog__items--list & {
                padding: rem(0 $spacer-2);
                border-bottom-width: 1px;

                &:before,
                &:after {
                    display: none;
                }
            }

            .catalog__items--grid-4 & {
                padding-left: rem(6px);
                padding-right: rem(6px);

                &:nth-child(3n) {
                    &:before {
                        opacity: 1;
                    }
                }

                &:nth-child(4n) {
                    &:before {
                        opacity: 0;
                    }
                }

                &:nth-child(3n + 1) {
                    &:after {
                        width: 0;
                    }
                }

                &:nth-child(4n + 1) {
                    &:after {
                        width: 400%;
                    }
                }
            }

            .catalog__items--set.catalog__items--grid-4 & {
                &:nth-child(4n + 1) {
                    &:after {
                        display: none;
                    }
                }
            }

            .catalog__items--set & + &:after {
                top: rem(203px);
                left: auto;
                right: 100%;
                bottom: auto;
                transform: translateX(50%);
                margin-bottom: 0;
                border-width: 0;
                width: rem(58px);
            }
        }

        &__filter {
            width: rem(284px);
        }

        &__main {
            max-width: none;
            flex: 0 0 calc(100% - 284px);

            .catalog__body {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__body {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
        }
    }
}