.compare {
    padding-bottom: rem($spacer-4);

    &__options {
        margin-bottom: rem($spacer-10);

        &-label {
            display: none;
        }
    }

    &__option {
        margin-bottom: rem($spacer-6);
    }

    &__header {
        margin-bottom: rem($spacer-9);
    }

    &__slider {
        &-head {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dashed $gray-8;
            padding-bottom: rem($spacer-6);
        }

        &-prev,
        &-next {
            position: relative;
            top: 0;
            transform: none;
        }

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;
        }

        &-counter {
            margin-bottom: 0;
        }

        &-items {
            margin-left: rem(- $spacer-4);
            margin-right: rem(- $spacer-4);
        }
    }

    &__slide {
        border-left: 1px dashed $gray-8;
        width: rem(188px);

        &:first-child {
            border-left-width: 0;
        }
    }

    &__section {
        margin-left: rem(- $grid-gutter-xs);
        margin-right: rem( - $grid-gutter-xs);
        margin-bottom: rem($spacer-8);
        overflow: auto;

        &-title {
            position: sticky;
            left: 0;
            width: 100%;
            background-color: $white;
            padding: rem(0 $spacer-2 $spacer-2 $spacer-4);
            @include font($font-size-h5, $line-height-h5, $font-weight-semibold);
            text-align: center;
        }

        &-row {
            background-color: $white;
            padding-bottom: rem($spacer-4);

            &:last-child {
                padding-bottom: 0;
            }
        }

        &-label {
            @include font($font-size-md, $line-height-md, $font-weight-semibold);
            background-color: $white;
            padding: rem(0 $spacer-4 $spacer-2);
        }

        &-data {
            @include em-line-height($font-size-base, 22.01px);
            background-color: $gray-2;
        }

        &-cell {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer);
            border-left: 1px dashed $gray-8;
            width: rem(188px);

            &:first-child {
                border-left-width: 0;
            }

            .compare__section-data.slick-initialized & {
                display: block;
            }
        }

        &--main {
            margin-bottom: rem($spacer-6);

            .compare__section-row {
                padding-bottom: rem($spacer-6);

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer-4);

        &__header {
            position: relative;
            display: flex;
            background-color: $white;
            border-radius: $border-radius-sm;
            margin-bottom: rem($spacer-6);
        }

        &__options {
            flex: 0 0 305px;
            max-width: 305px;
            padding: rem($spacer-4 $spacer-8 $spacer-4 $spacer-4);

            &-label {
                display: block;
                @include font($font-size-md, $line-height-md, $font-weight-semibold);
                margin-left: rem($input-padding-x);
                margin-bottom: rem($spacer-2);
            }
        }

        &__slider {
            padding-top: rem($spacer-4);
            padding-bottom: rem($spacer-4);
            flex: 0 0 calc(100% - 305px);
            max-width: calc(100% - 305px);

            &-head {
                position: absolute;
                bottom: 100%;
                right: 0;
                justify-content: flex-end;
                border-bottom-width: 0;
            }

            &-next {
                margin-left: rem($spacer-2);
            }

            &-counter {
                display: none;
            }

            &-items {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__slide {
            width: rem(187px);
        }

        &__body {
            background-color: $white;
            border-radius: $border-radius-sm;
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-6);
        }

        &__section {
            margin-left: 0;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }

            &-title {
                padding-bottom: rem($spacer-4);
                text-align: left;
            }

            &-row {
                display: flex;
                padding-bottom: 0;

                &:nth-child(odd) {
                    background-color: $gray-3;
                }
            }

            &-label {
                background: none;
                color: $gray-13;
                @include font($font-size-base, 22.01px, $font-weight-normal);
                padding-top: 0;
                padding-bottom: 0;
                max-width: 305px;
                flex: 0 0 305px;
            }

            &-data {
                background: none;
                flex: 0 0 calc(100% - 305px);
                max-width: calc(100% - 305px);
            }

            &-cell {
                width: rem(187px);
                border-left-width: 0;
            }

            &--main {
                margin-bottom: rem($spacer-6);

                .compare__section-row {
                    align-items: center;

                    &:nth-child(odd) {
                        background: none;
                    }
                }

                .compare__section-label {
                    color: $base-color;
                    @include font($font-size-md, $line-height-md, $font-weight-semibold);
                }

                .compare__section-data {
                    @include font($font-size-md, $line-height-md, $font-weight-semibold);
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: 0;
        padding-bottom: rem(80px);

        &__options {
            flex: 0 0 288px;
            max-width: 288px;
            padding-right: rem($spacer-4);
        }

        &__slider {
            padding-top: 0;
            padding-bottom: 0;
            flex: 0 0 calc(100% - 288px);
            max-width: calc(100% - 288px);
        }

        &__slide {
            width: rem(315px);

            &:first-child {
                border-left-width: 1px;
            }
        }

        &__section {
            &-label {
                max-width: 288px;
                flex: 0 0 288px;
            }

            &-data {
                flex: 0 0 calc(100% - 288px);
                max-width: calc(100% - 288px);
            }

            &-cell {
                width: rem(315px);
            }
        }
    }
}