.confirmation {
    padding-top: rem($spacer-6);
    padding-bottom: rem(48px);

    &__section {
        background-color: $white;
        border-radius: $border-radius-sm;
        padding: rem($spacer-6 $spacer-4);
        margin-bottom: rem($spacer-2);

        &-title {
            margin-bottom: rem($spacer-6);
            font-weight: $font-weight-semibold;
        }
    }

    &__info {
        @include clearfix();

        &-label {
            float: left;
            clear: left;
            margin-right: rem($spacer-3);
        }

        &-data {
            display: table;
            @include margin-bottom(rem($spacer-4));
        }
    }

    &__action {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &__button {
        max-width: rem(291px);
    }

    @include media-breakpoint-down(md) {
        &__action {
            position: fixed;
            left: 0;
            right: 0;
            bottom: rem($mobile-nav-height);
            background-color: rgba($white, 0.8);
            backdrop-filter: blur(10px);
            border-radius: 0;
            padding-top: rem($spacer-3);
            padding-bottom: rem($spacer-3);
            margin-bottom: 0;
            z-index: 1043;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-6);

        &__section {
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: rem($spacer-10);

        &__col {
            display: flex;
            flex-direction: column;
        }

        &__section {
            flex: 1;
            margin-bottom: 0;
        }

        &__section + &__section {
            flex: 2;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: rem(58px);
            margin-top: rem( - $spacer-3);
        }

        &__section + &__action {
            padding-top: rem($spacer-6);
        }
    }
}