.content-frame {
    background-color: $white;
    margin-left: rem(- $grid-gutter-xs);
    margin-right: rem(- $grid-gutter-xs);
    padding: rem($spacer-4 $grid-gutter-xs $spacer-6);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
        padding: rem($spacer-6 $spacer-8);
        border-radius: $border-radius-lg;
    }

    @include media-breakpoint-up(xl) {
        padding: rem($spacer-10 117px);

        &--disolved {
            background: none;
            padding: 0;
        }
    }
}