.condition {
    &__container {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8);
        position: relative;
    }

    &__heading {
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem($spacer-4);
    }

    &__description {
        @include font($font-size-lg, 23.01px);
    }

    &__body {
        position: relative;
        z-index: 1;
        padding-top: rem($spacer-9);
        padding-bottom: rem($spacer-10);

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            background: linear-gradient(224.07deg, rgba($black, 0.53) 58.09%, rgba($black, 0) 100%),
                        radial-gradient(67.79% 85.59% at 5.16% 100%, rgba($white, 0.64) 0%, rgba($white, 0) 100%),
                        linear-gradient(0deg, #2B2B2B, #2B2B2B),
                        #232323;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            z-index: -2;
        }

        &:after {
            position: absolute;
            content: '';
            z-index: -1;
            opacity: .05;
            background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
            left: -122px;
            bottom: -131px;
            @include size(781px, 690px);
        }
    }

    &__tabs {
        &-list {
            justify-content: center;
            margin-bottom: rem($spacer-3);
        }
    }

    &__text {
        margin-bottom: rem(66px);
    }

    &__text {
        @include font($font-size-md, 26.01px);
        text-align: center;
    }

    &__rating {
        max-width: rem(220px);
        margin-left: auto;
        margin-right: auto;
        @include margin-bottom(rem(18px));
    }

    &__guarantee {
        display: flex;
        align-items: center;
        max-width: rem(250px);
        margin-top: rem(38px);
        margin-left: auto;
        margin-right: auto;
        @include font($font-size-lg, $line-height-lg, $font-weight-semibold);

        &-icon {
            @include size(rem(56px));
            flex: 0 0 rem(56px);
            margin-right: rem(18px);
        }
    }

    &__picture {
        margin-bottom: rem($spacer-9);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 314px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: rem(88px);

        &__heading {
            max-width: 624px;
            margin-bottom: rem($spacer-4);
        }

        &__description {
            max-width: 73%;
        }

        &__body {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-8);

            &:before {
                background: linear-gradient(262.5deg, rgba($black, 0.53) -14.01%, rgba($black, 0) 64.01%),
                            radial-gradient(100.63% 119.41% at 5.16% 100%, rgba($white, 0.64) 0%, rgba($white, 0) 100%),
                            linear-gradient(0deg, #2B2B2B, #2B2B2B),
                            #232323;
            }

            &:after {
                left: auto;
                right: -172px;
                bottom: -258px;
            }
        }

        &__tabs {
            max-width: 44%;
            flex: 0 0 44%;
            position: relative;

            &-list {
                justify-content: flex-start;
                margin-bottom: rem($spacer-2);
            }
        }

        &__text {
            text-align: left;
            margin-bottom: rem(48px);
        }

        &__rating {
            max-width: none;
        }

        &__guarantee {
            margin-top: rem(48px);
            margin-left: 0;
        }

        &__picture {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 379px;


            .modal & {
                margin-left: rem($spacer-6);
            }
        }

        &__img {
            max-width: none;
            width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(151px);

        &__container {
            padding-left: rem(64px);
            padding-right: rem(64px);
        }

        &__heading {
            margin-bottom: rem($spacer-6);
        }

        &__title {
            margin-bottom: rem($spacer-6);

            .modal & {
                margin-right: rem(-100px);
                margin-bottom: rem($spacer-5);
            }
        }

        &__body {
            padding-top: rem($spacer-8);

            &:after {
                opacity: .06;
                right: -36px;
                bottom: -353px;
                @include size(781px, 690px);
            }
        }

        &__tabs {
            position: static;

            &-list {
                margin-bottom: rem($spacer-4);
            }
        }

        &__text {
            margin-bottom: rem($spacer-10);
            @include font($font-size-lg, $line-height-lg);
        }

        &__rating {
            margin-bottom: rem($spacer-6);
        }

        &__guarantee {
            max-width: none;
        }

        &__picture {
            left: auto;
            right: rem($spacer-8);
            width: 518px;
            transform: translateY(-57.5%);

            .modal & {
                width: 418px;
                margin-left: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__description {
            max-width: none;

            .modal & {
                max-width: 73%;
                margin-bottom: rem($spacer-10);
            }
        }

        &__tabs {
            .modal & {
                max-width: 45%;
                flex: 0 0 45%;
            }
        }

        &__picture {
            right: rem(83px);

            .modal & {
                width: 518px;
                right: rem($spacer-10);
            }
        }
    }

    @include media-breakpoint-up(2xl) {
        &__body {
            &:before {
                border-radius: $border-radius-lg;

                .modal & {
                    border-radius: 0;
                }
            }
        }
    }
}