.cover {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: $white;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: linear-gradient(40.31deg, rgba($black, 0.63) 2.51%, rgba($black, 0) 69.25%);
        z-index: -1;
    }

    &__bg-img {
        @extend %cover-image;
        z-index: -2;
    }

    @include media-breakpoint-up(md) {
        &:before {
            background: linear-gradient(89.97deg, rgba($black, 0.63) 0.01%, rgba($black, 0) 85.2%);
        }
    }

    @include media-breakpoint-up(2xl) {
        &:before {
            border-radius: $border-radius-lg;
        }

        &__bg-img {
            border-radius: $border-radius-lg;
        }
    }
}