.diagnostics {
    display: flex;
    align-items: center;
    padding-top: rem(64px);
    overflow: visible;

    &:before {
        background: rgba($black, 0.6);
    }

    &__container {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8);
    }

    &__heading {
        margin-bottom: rem(22px);
    }

    &__title {
        margin-bottom: rem(26px);
    }

    &__description {
        @include font($font-size-md, 27.01px);
    }

    &__slider {
        position: relative;
        margin-left: rem( - $spacer-4);
        margin-right: rem( - $spacer-4);
        margin-bottom: rem(-74px);

        &-container {
            position: relative;
            border-radius: $border-radius-lg;
        }
    }

    &__pagination {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: rem($spacer-5);
    }

    @include media-breakpoint-between(xs, sm) {
        &__slider {
            padding-top: rem(80px);
        }

        &__prev,
        &__next {
            top: 0;
            transform: none;
        }

        &__prev {
            left: rem($spacer-4);
        }

        &__next {
            left: rem(72px);
            right: auto;
        }
    }

    @include media-breakpoint-between(xs, lg) {
        margin-bottom: rem(179px);
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(65px);

        &__container {
            padding-left: rem(64px);
            padding-right: rem(64px);
        }

        &__heading {
            margin-bottom: rem($spacer-8);
        }

        &__title {
            max-width: 14em;
            margin-bottom: rem($spacer-4);
            @include font($font-size-h2, $line-height-h2);
        }

        &__description {
            @include font($font-size-xl, $line-height-xl + 2);
        }

        &__slider {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem(-84px);
            padding-left: rem(88px);
            padding-right: rem(88px);
        }

        &__pagination {
            margin-top: rem($spacer-7);
        }
    }

    @include media-breakpoint-between(md, md) {
        &__container {
            max-width: 768px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(66px);
        padding-bottom: rem(75px);

        &__container {
            display: flex;
            align-items: center;
        }

        &__heading {
            max-width: 563px;
            flex: 0 0 49%;
            margin-bottom: 0;
            padding-right: rem($spacer-10);
        }

        &__title {
            max-width: none;
            margin-bottom: rem($spacer-8);
        }

        &__slider {
            max-width: 528px;
            flex: 0 0 46%;
            margin-bottom: 0;
        }

        &__pagination {
            margin-top: rem($spacer-5);
        }
    }
}