.eco {
    display: flex;
    align-items: center;
    min-height: 539px;
    padding-top: rem($spacer-10);
    padding-bottom: rem($spacer-10);

    &__heading {
        padding-left: rem($spacer-6);
        padding-right: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem(37px);
    }

    &__description {
        @include font($font-size-lg, 28.01px);
    }

    @include media-breakpoint-up(md) {
        min-height: 470px;

        &__heading {
            padding-left: rem($spacer-10);
            padding-right: rem($spacer-10);
            max-width: 640px;
        }

        &__title {
            @include font(40px, 46.01px);
            margin-bottom: rem(26px);
        }

        &__description {
            @include font(21px, 33.01px);
        }
    }
}