.envelope {
    background-color: $white;
    padding-top: rem(48px);
    padding-bottom: rem($spacer-10);
    margin-bottom: rem(72px);
    z-index: 1;
    overflow: hidden;

    .diagnostics + & {
        margin-top: rem( - $spacer-10);
    }

    &:after {
        position: absolute;
        content: '';
        z-index: -1;
        opacity: .2;
        background: url(/assets/img/patterns/pattern-gray-default.svg) 50%/contain no-repeat;
        left: -404px;
        bottom: -67px;
        @include size(879px, 740px);
    }

    &__img {
        display: block;
        margin-top: rem($spacer-6);
        max-width: rem(317px);
    }

    &__title {
        margin-bottom: rem($spacer-6);
    }

    &__text {
        @include em-line-height($font-size-base, 22.01px);

        p,
        li {
            @include margin-bottom(.5em);
        }

        ul,
        ol {
            &:not(:first-child) {
                margin-top: rem($spacer-4);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__container {
            max-width: rem(768px);
        }
    }

    @include media-breakpoint-down(md) {
        &__container {
            max-width: rem(688px);
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(64px);
        padding-bottom: rem(78px);

        .diagnostics + & {
            margin-top: rem( - $spacer-2);
        }

        &:after {
            left: -264px;
            bottom: -231px;
        }

        &__img {
            margin-top: rem($spacer-5);
            margin-left: auto;
            margin-right: auto;
            max-width: none;
            width: rem(492px);
        }

        &__title {
            margin-bottom: rem(38px);
            max-width: 90%;
        }

        &__text {
            @include font($font-size-lg, 22.01px);

            ul,
            ol {
                &:not(:first-child) {
                    margin-top: rem($spacer-7);
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(93px);
        padding-bottom: rem(110px);

        &:after {
            left: -346px;
            bottom: -75px;
        }
    }

    @include media-breakpoint-up(xl) {
        .diagnostics + & {
            margin-top: rem(-80px);
        }

        &__heading {
            padding-right: 12%;
        }

        &__img {
            margin-top: 0;
            width: rem(350px);
        }

        &__title {
            max-width: none;
            margin-bottom: rem($spacer-8);
        }

        &__text {
            ul,
            ol {
                @include em-line-height($font-size-lg, $line-height-lg);

                &:not(:first-child) {
                    margin-top: rem($spacer-8);
                }
            }
        }
    }
}