.faq {
    &__item {
        @include margin-bottom(rem($spacer-4));

        &:last-child {
            border-bottom-width: 0;
        }

        &-title {
            font-weight: $font-weight-normal;
            margin-bottom: 0;
            padding-left: rem($spacer-8);
            position: relative;
            cursor: pointer;
            color: $primary;
        }

        &-icon {
            position: absolute;
            top: -1px;
            left: 0;
            font-size: rem($spacer-6);
            color: $base-color;
            transform: rotate(-180deg);
            transition: transform .25s linear;
        }

        &-content {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-2);
        }

        &-footer {
            background-color: $gray-3;
            padding: rem($spacer-4 $spacer-6 $spacer-6);
            margin-left: rem( - $spacer-6);
            margin-right: rem( - $spacer-6);
        }

        &:last-child:not(.is-collapsed) {
            margin-bottom: rem(- $spacer-6);
        }

        &.is-collapsed & {
            &-title {
                color: inherit;
            }

            &-icon {
                transform: rotate(0);
            }

            &-body {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            &-body {
                margin-left: rem( - $spacer-6);
                margin-right: rem( - $spacer-6);
            }

            &-content {
                padding: rem($spacer-5 $spacer-6 $spacer-8);
                position: relative;
                z-index: 1;

                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    height: rem($border-radius-sm);
                    background-color: $white;
                    border-bottom-left-radius: $border-radius-sm;
                    border-bottom-right-radius: $border-radius-sm;
                    z-index: -1
                }

                &:after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    height: rem($border-radius-sm);
                    background-color: $gray-3;
                    z-index: -2
                }
            }

            &-footer {
                padding: rem($spacer-6 0 $spacer-10);
                margin-left: 0;
                margin-right: 0;
                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    height: rem($border-radius-sm);
                    background-color: $white;
                    border-top-left-radius: $border-radius-sm;
                    border-top-right-radius: $border-radius-sm;
                }
            }

            &:last-child & {
                &-footer {
                    padding-bottom: rem($spacer-8);

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            &-content {
                padding-top: rem($spacer-6);
                padding-bottom: rem($spacer-6);
            }

            &-footer {
                padding-top: rem($spacer-4);
                padding-bottom: rem(48px);
            }
        }
    }
}