.features {
    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: rem($spacer-7);
    }

    @include media-breakpoint-between(md, lg) {
        &__item {
            margin-bottom: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(xl) {
    }
}