.feedback {
    &__content {
        padding-top: rem(48px);
        padding-bottom: 0;
    }

    &__header {
        border-bottom: 1px dashed $gray-6;
        padding-bottom: rem($spacer-6 - 1);
        margin-bottom: rem($spacer-6);
    }

    &__rating {
        flex-wrap: wrap;

        .rating-stars {
            margin-top: rem($spacer);
        }

        .rating__label {
            width: 100%;
        }
    }

    &__item {
        border-bottom: 1px dashed $gray-6;
        padding-bottom: rem($spacer-6 - 1);
        @include margin-bottom(rem($spacer-6));
    }

    &__footer {
        text-align: center;
        margin-top: rem($spacer-6);
    }

    &__control + &__control {
        margin-top: rem($spacer-6);
    }

    &__empty {
        text-align: center;

        &-title {
            @include font($font-size-lg, $line-height-xl, $font-weight-semibold);
            margin-bottom: rem($spacer-6);
        }

        &-button {
            max-width: rem(322px);
        }
    }

    @include media-breakpoint-between(md, md) {
        &__rating {
            margin-top: rem($spacer-2);
            margin-bottom: rem($spacer-2);
        }

        &__empty {
            &-button {
                max-width: rem(218px);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__content {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-6);
        }

        &__header {
            padding-bottom: rem($spacer-6);
            margin-bottom: rem($spacer-6);
        }

        &__item {
            padding-bottom: rem($spacer-4 - 1);
            margin-bottom: rem($spacer-4);
        }

        &__button {
            width: rem(218px);
        }

        &__empty {
            padding-top: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(xl) {
        &__content {
            padding-top: rem(70px);
            padding-bottom: rem($spacer-10);
        }

        &__header {
            margin-bottom: rem($spacer-8);
            padding-bottom: rem(45px);
        }

        &__item {
            padding-bottom: rem($spacer-8 - 1);
            margin-bottom: rem($spacer-8);
        }

        &__footer {
            margin-top: rem($spacer-10);
        }

        &__empty {
            padding-top: rem($spacer-10);
            padding-bottom: rem(56px);
            box-shadow: 0 6px 13px rgba($black, 0.08);

            &-title {
                @include font($font-size-xl, $line-height-xl);
            }
        }
    }
}