.filters {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem(308px);
    background-color: $gray-3;
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
    display: flex;
    flex-direction: column;
    overflow: auto;
    visibility: hidden;
    transition: .3s ease-in-out;
    transform: translateX(-100%);
    z-index: 200;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__header,
    &__footer {
        position: sticky;
        left: 0;
        right: 0;
        background-color: rgba($white, .8);
        backdrop-filter: blur(10px);
        display: flex;
        z-index: 1;
    }

    &__header {
        top: 0;
        padding: rem($spacer-4 $spacer-2 $spacer-4 $spacer-6);
        align-items: flex-start;
        border-bottom: 1px solid $gray-6;
    }

    &__title {
        margin-bottom: 0;
    }

    &__close {
        display: block;
        font-size: rem($spacer-6);
        margin-top: rem(- $spacer-2);
        margin-left: auto;
        color: inherit;
    }

    &__body {
        padding: rem($spacer-6);
        flex: 1;
    }

    &__item {
        margin-bottom: rem($spacer-10);
    }

    &__footer {
        bottom: 0;
        border-top: 1px solid $gray-6;
        padding: rem(17px $spacer-6 13px);
    }

    &__button {
        &--apply {
            flex: 1;
        }
    }

    &__button + &__button {
        margin-left: rem($spacer-4);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        position: static;
        z-index: initial;
        visibility: visible;
        transition: none;
        transform: none;
        display: block;
        width: auto;

        &__header,
        &__footer {
            display: none;
        }

        &__body {
            padding: 0;
        }
    }
}