.guarantee {
    //padding-top: rem(48px);
    //padding-bottom: rem(48px);

    &__person {
        margin-top: rem($spacer-8);
    }

    @include media-breakpoint-down(lg) {
        .person__content {
            text-align: right;
            margin-top: rem($spacer-6);
        }
    }

    @include media-breakpoint-down(md) {
        &__container {
            max-width: rem(561px);
        }
    }

    @include media-breakpoint-up(md) {
        //background-color: $gray-2;

        &__person {
            margin-top: rem($spacer-2);
        }
    }

    @include media-breakpoint-up(lg) {
        //padding-top: rem(83px);
        //padding-bottom: rem(90px);

    }

    @include media-breakpoint-up(xl) {
        &__person {
            margin-top: 0;
        }
    }
}