.headline {
    text-align: center;

    &__container {
        max-width: rem(552px);
    }

    &__description {
        margin-top: rem($spacer-6);
        @include em-line-height($font-size-base, $line-height-lg);
    }

    @include media-breakpoint-up(lg) {
        &__container {
            max-width: rem(1056px);
        }

        &__description {
            @include font($font-size-lg, $line-height-lg);
        }
    }
}