.hero {
    padding-top: rem(50px);
    padding-bottom: rem($spacer-6);
    position: relative;
    overflow: hidden;
    background: linear-gradient(321.63deg, rgba($white, 0.65) 9.43%, rgba($white, 0) 80.27%), $black-2;
    color: $white;
    z-index: 2;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: $black-2;
        opacity: .4;
        z-index: -1;
    }

    &__header {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-7);
    }

    &__img {
        z-index: -2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        @include font($font-size-h5, $line-height-h5);
        margin-bottom: rem($spacer-2);
    }

    &__description {
        @include em-line-height($font-size-base, 21.01px);
        font-weight: $font-weight-semibold;
        margin-bottom: rem($spacer-6);
        color: $gray-17;
        max-width: 90%;
    }

    &__text {
        @include font($font-size-md, 19.01px);
    }

    &__brands {
        @include list-unstyled;
        @include make-row(rem(10px));
        justify-content: flex-end;
        flex-direction: row-reverse;

        &-item {
            @include make-col(10px);
        }

        &-img {
            display: block;
            height: rem(44px);
        }
    }

    &__stats {
        @include make-row(rem(10px));
        justify-content: center;
        margin-top: rem(25px);
        @include font(13px, 24.01px, $font-weight-semibold);
        letter-spacing: 0.05em;
        text-transform: uppercase;

        &-item {
            margin-bottom: 0;
            @include make-col(rem(10px));
            flex: 1;
            max-width: 142px;
        }

        &-highlight {
            @include font(58px, 70.01px, $font-weight-normal);
            color: $primary;
            letter-spacing: -0.045em;
        }

        &-text {
            vertical-align: sub;
        }
    }

    &__body {
        border-radius: $border-radius-lg;
        overflow: hidden;
        position: relative;
        z-index: 0;

        &:before {
            position: absolute;
            bottom: 12px;
            right: -43px;
            content: '';
            background: url(/assets/img/patterns/pattern.svg) 50% no-repeat;
            @include size(321px, 271px);
            opacity: .1;
            z-index: -1;
        }
    }

    &__steps {
        @include list-unstyled;
        @include font($font-size-md, 17.01px, $font-weight-semibold);
        letter-spacing: -0.01em;
        padding: rem(35px 27px 0 40px);
        margin-bottom: 0;
        counter-reset: steps-counter;
    }

    &__step {
        position: relative;
        padding-left: rem(43px);
        padding-right: rem($spacer-4);
        margin-bottom: rem(18px);

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include font(28px, 34.01px, $font-weight-bold);
            letter-spacing: -0.045em;
            counter-increment: steps-counter;
            content: counter(steps-counter, decimal)".";
        }
    }

    &__video-trigger {
        display: flex;
        align-items: center;
        background-color: $white;
        color: $black;
        border-radius: $border-radius-lg;
        padding: rem($spacer-8 $spacer-8 $spacer-8 - 2);
        @include font($font-size-lg, 23.01px, $font-weight-semibold);
        letter-spacing: 0.015em;
        margin-top: rem(23px);

        @include hover-focus {
            color: $black;

            .hero__video-icon {
                color: $black;
            }
        }
    }

    &__video-icon {
        flex: 0 0 rem(35px);
        font-size: rem(35px);
        color: $primary;
        margin-right: rem($spacer-6);
        transition: color .25s linear;
    }

    &__benefits {
        color: $base-color;

        &-list {
            margin-left: rem(- $spacer-2);
            margin-right: rem(- $spacer-2);
            margin-bottom: rem( - $spacer-4);
        }

        &-item {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-2);
            margin-bottom: rem($spacer-4);
        }
    }

    &--4 &,
    &--5 & {
        &__img {
            transform: rotate(11deg) translate(-31%, -52%);
            max-width: 131%;
        }
    }

    &--about & {
        &__header {
            max-width: rem(311px);
            padding-left: rem($spacer-4);
            margin-bottom: rem($spacer-8);
        }

        &__title {
            margin-bottom: rem($spacer-6);
        }
    }

    &--about.hero--2 & {
        &__img {
            transform: rotate(14deg) translate(2%, 20%);
            max-width: 628px;
        }
    }

    &--benefits.hero--1 & {
        &__img {
            max-width: 515px;
            transform: translateX(-50%);
            max-height: none;
            width: auto;
            height: auto;
            top: auto;
            left: 50%;
            right: auto;
        }
    }

    @include media-breakpoint-between(xs, sm) {
        margin-bottom: rem($spacer-10);

        &--1 &,
        &--2 & {
            &__img {
                @include cover-image;
            }
        }

        &--2 & {
            &__img {
                transform: rotate(13deg);
                max-width: 170%;
                width: auto;
                height: auto;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(36px);
        padding-bottom: rem($spacer-4);

        &:before {
            opacity: .53;
        }

        &__header {
            display: flex;
            align-items: center;
            max-width: none;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: rem($spacer-6);
        }

        &__content {
            max-width: rem(437px);
        }

        &__title {
            @include font(30px, 40.01px);
            margin-bottom: rem($spacer-4);
            max-width: 90%;
        }

        &__description {
            @include font($font-size-lg, 29.01px, $font-weight-semibold);
            margin-bottom: rem($spacer-8);
        }

        &__text {
            @include font($font-size-lg, 22.01px);
        }

        &__stats {
            flex-direction: column;
            justify-content: flex-start;
            align-self: flex-start;
            margin: rem(25px) 0 0 auto;
            @include font(11px, 16.01px);

            &-item {
                display: flex;
                align-items: flex-end;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                max-width: none;
                @include margin-bottom(rem(28px));
            }

            &-title {
                margin-bottom: 0;
                text-align: right;
                width: 70px;
            }

            &-text {
                vertical-align: baseline;
            }

            &-highlight {
                @include font(55px, 41.01px);
                margin-left: rem(5px);
            }
        }

        &__body {
            display: flex;
            padding-left: rem(18px);

            &:before {
                display: none;
            }
        }

        &__steps {
            @include font(13px, 14.01px);
            padding: rem(19px 11px 18px 0);
            display: flex;
            flex: 1;
        }

        &__step {
            flex: 1;
            padding-left: rem($spacer-3);
            padding-right: rem($spacer-3);
            margin-bottom: 0;

            &:before {
                display: block;
                position: static;
                transform: none;
                @include font(26px, 36.01px);
                margin-bottom: rem(1px);
            }
        }

        &__video-trigger {
            padding: rem(20px 26px);
            @include font(13px, 14.01px, $font-weight-semibold);
            margin-top: 0;
            box-shadow: 0 4px 5px rgba($black, 0.25);
        }

        &--1 & {
            &__img {
                max-width: 55%;
                top: auto;
                bottom: 0;
                transform: translateX(-50%);
            }
        }

        &--2 & {
            &__img {
                max-width: 55%;
                transform: rotate(13deg) translate(-26%, -25%);
            }
        }

        &--3 & {
            &__img {
                transform: translateY(-50%);
                max-width: 40%;
            }
        }

        &--4 &,
        &--5 & {
            &__img {
                transform: rotate(11deg) translate(-26%, -42%);
                max-width: 55%;
            }
        }

        &--about {
            &:before {
                background: linear-gradient(180deg, rgba($black, 0) 54.17%, $black 100%);
                opacity: 0.63;
            }
        }

        &--about & {
            &__header {
                max-width: rem(455px);
                margin-bottom: rem($spacer-8);
            }

            &__content {
                max-width: none;
            }

            &__title {
                margin-bottom: rem($spacer-4);
                max-width: 85%;
            }
        }

        &--about.hero--2 & {
            &__img {
                transform: rotate(15deg) translate(-13%, -27.5%);
                max-width: 480px;
            }
        }

        &--benefits {
            padding-top: rem(67px);
        }

        &--benefits & {
            &__header {
                max-width: rem(650px);
                padding-left: rem(48px);
            }

            &__content {
                max-width: none;
            }

            &__title {
                @include font($font-size-3xl, $line-height-3xl, $font-weight-semibold);
                letter-spacing: -0.015em;
                margin-bottom: rem($spacer-3);
                max-width: none;
            }

            &__description {
                max-width: 50%;
                @include em-line-height($font-size-lg, $line-height-lg);
            }
        }

        &--benefits.hero--1 & {
            &__img {
                max-width: 935px;
                bottom: -42px;
            }
        }
    }

    @include media-breakpoint-between(md, lg) {
        &__video-trigger {
            flex-direction: column;
            align-items: flex-start;
            letter-spacing: 0.01em;
            flex: 0 0 21%;
        }

        &__video-icon {
            flex: 0 0 rem(40px);
            font-size: rem(40px);
            margin-bottom: rem(13px);
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        padding-top: 0;
        padding-bottom: rem(56px);
        min-height: 686px;

        &__container {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        &__header {
            flex: 1;
            padding: rem($spacer-10);
        }

        &__title {
            @include font($font-size-3xl, $line-height-3xl, $font-weight-semibold);
            margin-bottom: rem(37px);
            max-width: none;
        }

        &__description {
            font-weight: $font-weight-normal;
            color: $white;
            margin-bottom: rem(38px);
            max-width: 70%;
        }

        &__brands {
            justify-content: flex-start;
            flex-direction: row;
            margin-left: rem(-6px);
            margin-right: rem(-7px);

            &-item {
                padding-left: rem(6px);
                padding-right: rem(7px);
            }

            &-img {
                height: rem(56px);
            }
        }

        &__stats {
            @include font(17px, 24.01px);

            &-item {
                @include margin-bottom(rem(46px));
            }

            &-title {
                width: 105px;
            }

            &-highlight {
                @include font(82px, 41.01px);
                margin-left: rem($spacer-2);
            }
        }

        &__body {
            margin-top: auto;
        }

        &__steps {
            @include font($font-size-base, 17.01px);
        }

        &__step {
            &:before {
                @include font(41px, 50.01px);
                margin-bottom: rem($spacer-2);
            }
        }

        &__video-trigger {
            padding: rem(22px 20px 24px);
            @include font($font-size-base, 17.01px);
        }

        &__video-icon {
            margin-right: rem(20px);
        }

        &__benefits {
            margin-left: rem($spacer-8);
            margin-right: rem($spacer-8);
        }

        &--1 & {
            &__img {
                max-width: 730px;
                transform: translateX(-50%);
            }
        }

        &--2 & {
            &__img {
                top: 116px;
                max-width: 656px;
                transform: rotate(13deg) translateX(-34%);
            }
        }

        &--3 & {
            &__img {
                top: 57px;
                transform: translateX(-29%);
                max-width: none;
            }
        }

        &--about {
            padding-top: rem(80px);
            min-height: 0;

            &:after {
                position: absolute;
                content: '';
                z-index: -1;
                opacity: .04;
                background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
                left: -281px;
                top: -92px;
                @include size(879px, 740px);
            }
        }

        &--about & {
            &__header {
                max-width: rem(535px);
                padding: 0 0 0 rem($spacer-10);
                margin-bottom: rem(56px);
            }

            &__title {
                @include font($font-size-h1, $line-height-h1, $font-weight-bold);
                margin-bottom: rem($spacer-8);
            }
        }

        &--about.hero--2 & {
            &__img {
                transform: rotate(15deg) translate(-14.5%, -6.5%);
                max-width: 654px;
            }
        }

        &--benefits {
            padding-top: rem(80px);
            padding-bottom: rem(48px);
        }

        &--benefits & {
            &__header {
                padding: 0 0 0 rem($spacer-10);
                margin-bottom: rem(80px);
            }

            &__title {
                margin-bottom: rem($spacer-6);
            }

            &__description {
                color: $gray-17;
                font-weight: $font-weight-semibold;
            }
        }

        &--benefits.hero--1 & {
            &__img {
                transform: translateX(-24%);
                bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        background: linear-gradient(334.16deg, rgba($white, 0.46) 2.36%, rgba($white, 0) 83.12%), $black;

        &:before {
            top: auto;
            height: 463px;
            background: linear-gradient(180deg, rgba($black, 0) 54.17%, $black 100%);
            opacity: 0.63;
        }

        &__stats {
            align-self: center;
            margin-top: 0;
            transform: translate(rem(26px), 25%);
        }

        &__body {
            padding-left: rem(21px);
            margin-left: rem($spacer-10);
            margin-right: rem($spacer-10);
        }

        &__steps {
            align-items: center;
            padding-top: rem($spacer-3);
            padding-bottom: rem($spacer-3);
            @include font($font-size-base, 17.01px);
        }

        &__step {
            display: flex;
            align-items: center;

            &:before {
                margin-right: rem($spacer-3);
                margin-bottom: 0;
            }
        }

        &__video-trigger {
            flex: 0 0 rem(200px);
            max-width: rem(200px);
        }

        &__benefits {
            &-list {
                margin-left: rem(- $spacer-9 / 2);
                margin-right: rem(- $spacer-9 / 2);
            }

            &-item {
                padding-left: rem($spacer-9 / 2);
                padding-right: rem($spacer-9 / 2);
            }
        }

        &--2 & {
            &__stats {
                align-self: flex-start;
            }
        }

        &--3 & {
            &__stats {
                align-self: flex-end;
                transform: translate(rem(26px), -41%);
            }
        }

        &--4 & {
            &__img {
                transform: rotate(11deg);
                max-width: 870px;
                top: -2.5%;
                margin-left: -161px;
            }

            &__stats {
                margin-right: auto;
                transform: translate(rem($spacer-4), 40%);
            }
        }

        &--5 & {
            &__img {
                transform: rotate(11deg) translateY(-44.5%);
                max-width: 915px;
                margin-left: -314px;
            }

            &__stats {
                margin-left: 0;
                transform: translate(rem(64px), 17%);
            }
        }
    }
}