.in-cart {
    &__header {
        padding-left: rem($spacer-2);
        padding-right: rem($spacer-2);
        padding-bottom: rem($spacer-4);
    }

    &__product {
        margin-top: rem($spacer-7);
        max-width: rem(327px);
        margin-left: auto;
        margin-right: auto;
    }

    &__more {
        padding: rem($spacer-5 $spacer-4 $spacer-3);

        &-title {
            @include font($font-size-lg, $line-height-md);
            margin-bottom: rem($spacer-3);
        }

        &-container {
            max-width: rem(314px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__slider {
        &-pagination {
            margin-top: rem(30px);
        }
    }

    &__slide {
        border-top: 1px dashed $gray-8;
        padding-top: rem($spacer-2);

        &:nth-child(-n+3) {
            border-top-width: 0;
            padding-top: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            padding-left: rem($spacer-10);
            padding-right: rem($spacer-10);
        }

        &__more {
            &-title {
                text-align: center;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__header {
            padding-bottom: rem($spacer-7);
        }

        &__product {
            margin-top: rem($spacer-10);
            max-width: rem(921px);
        }

        &__more {
            padding: rem($spacer-8 56px $spacer-10);

            &-container {
                max-width: none;
            }

            &-title {
                display: none;
            }
        }

        &__slider {
            .swiper-container {
                margin: rem(- $spacer-4);
                padding: rem($spacer-4);
            }

            &-pagination {
                display: none;
            }
        }

        &__slide {
            border-bottom-width: 0;
        }
    }
}