.infoblock {
    &__title {
        margin-bottom: rem($spacer-2);
    }

    &__section {
        @include margin-bottom(rem($spacer-4));
    }

    @include media-breakpoint-down(sm) {
        &__section {
            &-title {
                @include font($font-size-sm, $line-height-sm, $font-weight-bold);
                margin-bottom: rem($spacer-2);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__title {
            margin-bottom: rem($spacer-6);
        }

        &__section {
            margin-bottom: rem($spacer-6);

            &-title {
                font-weight: $font-weight-semibold;
                margin-bottom: rem($spacer-4);
            }
        }

        &__action {
            margin-top: rem($spacer-6);
            text-align: center;
        }
    }

    @include media-breakpoint-up(xl) {
        &__title {
            display: none;
        }

        &__section {
            margin-bottom: rem($spacer-8);
        }

        &__action {
            margin-top: rem($spacer-10);
        }
    }
}