.information {
    margin-top: rem(- $spacer-8);
    padding-bottom: rem($spacer-4);

    &__box {
        background-color: $white;
        padding: rem($spacer-6);
        margin-left: rem(- $grid-gutter-xs);
        margin-right: rem(- $grid-gutter-xs);
        margin-bottom: rem($spacer-6);

        &-title {
            margin-bottom: rem($spacer-6);
            font-weight: $font-weight-semibold;

            &:not(:first-child) {
                margin-top: rem($spacer-6);
            }
        }

        &-text {
            @include font($font-size-lg, $line-height-lg);

            &:not(:first-child) {
                margin-top: rem($spacer-6);
            }

            p {
                @include margin-bottom(1em);
            }

            p + ul,
            p + ol {
                margin-top: -1em;
            }
        }

        &-action {
            margin-top: rem($spacer-6);
        }
    }

    &__footer {
        @include em-line-height($font-size-md, 19.01px);
        margin-top: rem($spacer-6);
    }

    &--compact & {
        &__box {
            margin-bottom: 0;
        }

        &__col + .information__col {
            margin-top: rem( - $spacer-6);
        }
    }

    @include media-breakpoint-down(sm) {
        &__box {
            &-title {
                margin-bottom: rem($spacer-6);
                @include font($font-size-lg, $line-height-lg);
            }
        }

        &__button {
            width: 100%;
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: rem(- $spacer-4);
        padding-bottom: rem($spacer-8);

        &__box {
            border-radius: $border-radius-sm;
        }

        &__footer {
            margin-top: rem($spacer-8);
        }
    }

    @include media-breakpoint-between(md, md) {
        &__box {
            padding: rem($spacer-8 80px $spacer-10);
            margin-left: rem(-58px);
            margin-right: rem(-58px);
            margin-bottom: rem($spacer-4);

            &-title {
                @include font($font-size-lg, 22.01px);
                margin-bottom: rem($spacer-4);
            }

            &-text {
                @include font($font-size-base, $line-height-base);
            }

            &--full {
                margin-left: 0;
                margin-right: 0;
                padding: rem($spacer-6);
            }

            &--single {
                padding-left: rem(56px);
                padding-right: rem(56px);
            }
        }

        &__footer {
            margin-left: rem(-58px);
            margin-right: rem(-58px);
        }

        &--compact & {
            &__col + .information__col {
                margin-top: rem( - $spacer-4 + 1);

                .information__box {
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: 0;
        padding-bottom: rem(48px);

        &__col {
            display: flex;
            flex-direction: column;
        }

        &__box {
            flex: 1;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;

            &-text {
                @include em-line-height($font-size-lg, 22.01px);

                p {
                    @include margin-bottom(.5em);
                }

                p + ul,
                p + ol {
                    margin-top: -.5em;
                }
            }

            &--single {
                padding: rem($spacer-8 130px $spacer-10 80px);
                max-width: rem(840px);
                margin-left: auto;
                margin-right: auto;

                .information__box-text {
                    @include font($font-size-md, $line-height-md);

                    p {
                        @include margin-bottom(.625em);
                    }

                    p + ul,
                    p + ol {
                        margin-top: -.625em;
                    }
                }
            }
        }

        &__box + &__box {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-top: rem($spacer-4);
            margin-top: rem( - $spacer-2);
        }

        &__footer {
            margin-top: rem($spacer-10);
            margin-left: 0;
            margin-right: 0;
        }

        &--compact & {
            &__col + .information__col {
                margin-top: 0;
            }

            &__box-title {
                margin-bottom: rem($spacer-4);

                &:not(:first-child) {
                    margin-top: rem($spacer-7);
                }
            }

            &__box-text {
                @include em-line-height($font-size-lg, 30.01px);

                &:not(:first-child) {
                    margin-top: rem($spacer-4);
                }
            }
        }
    }
}