.location {
    position: relative;
    padding-bottom: rem($spacer-8);

    &__header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        padding: rem($spacer-4 $spacer-4 $spacer-8);
        background-color: rgba($gray-3, .8);
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    &__title {
        margin-bottom: rem($spacer-4);
    }

    &__input {
        height: rem(56px);
        padding-top: rem($input-padding-y-md);
        padding-bottom: rem($input-padding-y-md);
    }

    &__results {
        margin-top: rem($spacer-4);
    }

    &__body {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-8 * 2);
        flex: 1;
    }

    &__list {
        @include list-unstyled;
        color: $gray-20;
        @include font($font-size-xl, 36.01px);
        margin-bottom: rem( - $spacer-2);
    }

    &__item {
        margin-bottom: rem($spacer-2);
    }

    @include media-breakpoint-down(lg) {
        &__title {
            padding-left: rem($spacer-2);
            padding-right: rem($spacer-4);
            margin-bottom: rem($spacer-8);
            @include font($font-size-xl, $font-size-xl);
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem(88px);
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: rem(56px);

        &__header {
            padding: rem($spacer-6 80px $spacer-4);
            background: none;
            backdrop-filter: none;
        }

        &__input {
            height: rem(48px);
            padding-top: rem($input-padding-y-sm);
            padding-bottom: rem($input-padding-y-sm);
            background-color: $gray-3;
            border-color: $gray-3;
        }

        &__results {
            margin-top: rem(9px);
            margin-bottom: rem( - $spacer-7);
        }

        &__body {
            padding-left: rem(96px);
            padding-right: rem(96px);
        }

        &__list {
            columns: 4;
            column-gap: rem($grid-gutter-lg);
            @include font($font-size-md, $line-height-md);
        }

        &__item {
            margin-bottom: rem($spacer-3);
        }
    }
}