.menu {
    position: relative;
    z-index: 2;

    .slick-list {
        overflow: visible;
    }

    @include media-breakpoint-up(md) {
        &__item {
            margin-bottom: rem($spacer-4);

            &.col-md-stretch {
                flex: 1;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            @include margin-bottom(rem(- $spacer-3), rem(- $spacer-3))
        }

        &__item {
            margin-bottom: rem($spacer-6);
        }
    }
}