.page-header {
    display: flex;
    flex-direction: column;
    padding-bottom: rem($spacer-8);

    h1:not([class]) {
        margin-bottom: 0;
    }

    &__body {
        padding-top: rem($spacer-6);
    }

    &__intro {
        padding-top: rem($spacer-4);
        padding-bottom: rem($spacer-4);
    }

    &__noresult {
        font-weight: $font-weight-bold;
        margin-top: rem($spacer-10);
        padding-bottom: rem($spacer-2);
    }

    &__image-heading {
        margin-top: rem($spacer-8);
        margin-bottom: rem(- $spacer-2);
    }

    &__description {
        @include em-line-height($font-size-base, 22.01px);

        &--lg {
            @include font($font-size-lg, 22.01px);
            margin-top: rem(- $spacer-2);
            @include margin-bottom(rem($spacer-6), rem($spacer-6));
        }
    }

    &__headline {
        margin-bottom: rem(- $spacer-2);
    }

    @include media-breakpoint-between(md, md) {
        &__description {
            &--lg {
                @include font($font-size-base, 22.01px);
                margin-top: 0;
                @include margin-bottom(rem($spacer-8), rem($spacer-8));
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem($spacer-4);

        &__intro {
            padding-bottom: 0;
        }

        &__noresult {
            margin-top: rem($spacer-6);
        }

        &__image-heading {
            margin-bottom: rem($spacer-6);
        }

        &__headline {
            margin-bottom: rem($spacer-6);
        }

        &--offset {
            margin-bottom: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        padding-bottom: rem($spacer-6);

        &__intro {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-8);
        }

        &__intro + &__body {
            margin-top: rem(- $spacer-8);
        }

        &__image-heading {
            margin-bottom: rem($spacer-4);
        }

        &__description {
            &--lg {
                margin-top: rem($spacer-10);
                @include margin-bottom(rem(56px), rem(56px));
            }
        }

        &__headline {
            margin-bottom: rem($spacer-4);
        }

        &--offset {
            margin-bottom: rem(46px);
        }
    }
}