.parameters {
    padding-top: rem(557px);
    margin-bottom: rem(64px);
    color: $black;
    z-index: 1;

    &__slider {
        position: relative;

        &-prev,
        &-next {
            border-color: $primary;
            background-color: $white;

            &:before {
                color: $primary;
            }

            @include hover-focus {
                border-color: $primary;
                background-color: $primary;

                &:before {
                    color: $white;
                }
            }
        }
    }

    &__subtitle {
        @include font(20px, 30.01px);
        margin-bottom: rem($spacer-2);
    }

    &__list {
        @include list-unstyled;
        counter-reset: parameters-counter;
        @include em-line-height($font-size-base, 22.01px);

        > li {
            padding-left: 2em;
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                counter-increment: parameters-counter;
                content: counter(parameters-counter, decimal)".";
                font-weight: $font-weight-bold;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        max-height: rem(635px);
        transform: translateX(-47.5%);
        width: auto;
        max-width: none;
        z-index: -1;
    }

    @include media-breakpoint-down(lg) {
        &__container {
            max-width: rem(736px);
        }
    }

    @include media-breakpoint-down(md) {
        &__container {
            max-width: rem(656px);
        }
    }

    @include media-breakpoint-down(sm) {
        &__container {
            max-width: rem(448px);
        }

        &__slider {
            .swiper-container {
                padding-bottom: rem(72px);
            }

            &-prev,
            &-next {
                top: auto;
                bottom: 0;
                transform: none;
            }

            &-next {
                left: rem(64px);
                right: auto;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(740px);
        margin-bottom: rem(48px);

        &__title {
            padding-left: rem(88px);
            margin-bottom: rem($spacer-2);
            @include font($font-size-h2, 48.01px);
        }

        &__slider {
            padding-left: rem(88px);
            padding-right: rem(88px);

            &-prev {
                left: 0;
            }

            &-next {
                right: 0;
            }
        }

        &__subtitle {
            @include font(27px, 40.01px, $font-weight-normal);
            margin-bottom: rem($spacer-5);
        }

        &__list {
            @include list-unstyled;
            counter-reset: parameters-counter;
            @include em-line-height($font-size-base, 22.01px);

            > li {
                padding-left: 2em;

                &:before {
                    top: 0;
                    left: 0;
                    counter-increment: parameters-counter;
                    content: counter(parameters-counter, decimal)".";
                    font-weight: $font-weight-bold;
                }
            }
        }

        &__img {
            top: rem(- $spacer-3);
            max-height: none;
            transform: translateX(-46.5%);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(133px);
        padding-bottom: rem(187px);
        margin-bottom: 0;

        &__content {
            margin-left: rem(- $spacer-3);
            margin-right: rem(- $spacer-4);
        }

        &__title {
            padding-left: 0;
            padding-right: rem($spacer-10);
            margin-bottom: rem(50px);
        }

        &__scene {
            position: absolute;
            top: rem(-39px);
            left: 0;
            @include size(100%)
            z-index: -1;

            &:after {
                position: absolute;
                top: 83px;
                left: 50%;
                transform: translateX(-38.3%);
                @include size(867px);
                @include rounded;
                background: radial-gradient(50% 50% at 50% 50%, $white 14.06%, rgba($white, 0) 100%);
                content: '';
            }
        }

        &__layer {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
        }

        &__sphere {
            position: absolute;
            @include rounded;
            background: radial-gradient(83.38% 83.37% at 16.62% 86.3%, $white 0%, rgba($white, 0) 100%), linear-gradient(325.11deg, rgba(255, 168, 0, 0.72) 15.49%, rgba(255, 184, 0, 0) 67.59%), $primary;
            transform: scaleX(-1);

            &--1 {
                @include size(100px);
                top: 19px;
                left: 50%;
                margin-left: -117px;
            }

            &--2 {
                @include size(41px);
                left: 50%;
                bottom: 105px;
                margin-left: -108px;
            }

            &--3 {
                @include size(21px);
                top: 182px;
                right: 75px;
            }

            &--4 {
                @include size(714px);
                top: 50%;
                left: 50%;
                transform: scaleX(-1) translate(110%, -50%);
            }
        }

        &__pattern {
            position: absolute;
            opacity: .13;
            background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
            left: 50%;
            top: 50%;
            transform: translate(-143.5%, -60%);
            @include size(782px, 658px);
        }

        &__img-1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-213%, -36%);
        }

        &__img-2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-103.5%, -50%);
        }

        &__circles {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-106%, -54%);
        }

        &__line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(491px, 14%);
            @include size(2px, 215px);
            background-color: #f0f0f0;
        }

        &__circle-outline {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(485px, 255%);
            @include size(14px);
            @include rounded;
            border: 2px solid $primary;
            background-color: $white;
        }
    }
}