.pickup {
    position: relative;
    z-index: 1;
    height: 100%;

    &__header {
        padding: rem($spacer-4 $spacer-8 $spacer-4 $spacer-6);
        background-color: $gray-3;
    }

    &__title {
        margin-bottom: 0;
    }

    &__map {
        height: 100% !important;
        position: absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: rem($spacer-4);
        overflow: hidden;
    }

    &__tabs {
        flex: 1;
        display: flex;
        flex-direction: column;

        &-list {
            width: 100%;
            max-width: rem(343px);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem($spacer-4);
        }

        &-content {
            height: 100%;
            position: relative;
            overflow: hidden;
        }
    }

    &__list {
        margin-right: rem(- $spacer-4);
        padding-right: rem($spacer-4);
 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
    }

    &__item {
        background-color: $white;
        margin-bottom: rem($spacer-2);
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-h5, $font-size-h5);
        }

        &__body {
            pointer-events: none;
        }

        &__controls,
        &__list {
            pointer-events: all;
        }

        &__tabs {
            &-list {
                pointer-events: all;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__map {
            right: rem(432px);
        }

        &__body {
            max-width: rem(432px);
            margin-left: auto;
            background-color: $white;
            height: 100%;
        }

        &__header,
        &__content {
            background: none !important;
            padding-left: rem($spacer-6);
            padding-right: rem($spacer-6);
        }

        &__header {
            padding-top: rem($spacer-6);
            padding-bottom: rem($spacer-2);
        }

        &__controls {
            position: absolute;
            top: rem($spacer-4);
            left: rem($spacer-4);
            right: rem(432px + 24px);
        }

        &__tabs {
            &-list {
                display: none !important;
            }

            &-tab {
                margin-right: 0;
                opacity: 1;
                visibility: visible;
                height: auto;

                &:empty {
                    display: none;
                }
            }
        }

        &__item {
            background-color: $gray-2;
        }
    }
}