.product-info {
    padding-top: rem($spacer-6);

    &__section {
        margin-bottom: rem($spacer-6);
    }

    &__text-block {
        @include font($font-size-sm, $line-height-sm);

        h5 {
            @include font($font-size-sm, $line-height-sm, $font-weight-bold);
            margin-bottom: 0;
        }

        p,
        ul,
        ol {
            margin-bottom: 1.5em;
        }

        > p,
        > ul,
        > ol {
            &:last-child {
                margin-bottom: 0;
            }
        }

        section {
            &:last-child {
                > p,
                > ul,
                > ol {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .fixed-height-block__content {
            > p,
            > ul,
            > ol {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            section {
                &:last-child {
                    > p,
                    > ul,
                    > ol {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        p + ul,
        p + ol {
            margin-top: -1.5em;
        }
    }

    &__select {
        margin-bottom: rem($spacer-4);
    }

    &__feedback {
        margin-top: rem(48px);
    }

    @include media-breakpoint-between(xs, lg) {
        &__tabs {
            &-list {
                display: none;
            }

            &-content {
                display: block;
            }

            &-tab {
                height: auto !important;
                overflow: visible !important;
                opacity: 1;
                visibility: visible;
                margin-right: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem($spacer-6);

        &__container {
            max-width: rem(632px);
        }

        &__section {
            margin-bottom: rem($spacer-8);
        }

        &__text-block {
            @include font($font-size-base, 22.01px);

            h5 {
                @include font($font-size-lg, 22.01px, $font-weight-semibold);
                margin-bottom: 0.45em;
            }

            p,
            ul,
            ol {
                margin-bottom: 1.5em;
            }

            p + ul,
            p + ol {
                margin-top: -1.5em;
            }
        }

        &__select {
            margin-bottom: rem($spacer-6);
        }

        &__feedback {
            margin-top: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-10);

        &__container {
            max-width: rem(868px);
        }

        &__text-block {
            @include font($font-size-lg, 30.01px);

            h5 {
                @include font($font-size-h5, $line-height-h5);
                margin-bottom: .67em;
            }

            p,
            ul,
            ol {
                margin-bottom: 1.67em;
            }

            p + ul,
            p + ol {
                margin-top: -1.67em;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__container {
            max-width: rem(1082px);
        }

        &__section {
            margin-bottom: 0;
        }

        &__tabs {
            &-list {
                margin-bottom: rem($spacer-6);
                justify-content: space-between;
            }
        }

        &__feedback {
            margin-top: rem(80px);
        }
    }
}