.products {
    text-align: center;

    &__heading {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        @include font($font-size-xl, $line-height-xl);
        margin-bottom: rem($spacer-2);
    }

    &__description {
        @include em-line-height($font-size-base, 22.01px);
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer);
        text-align: left;
        z-index: 1;

        &:before {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            bottom: -50%;
            content: '';
            background: linear-gradient(180deg, $gray-6, rgba($gray-6, 0));
        }

        &__row {
            margin-left: rem($spacer);
            margin-right: rem($spacer);
        }

        &__heading {
            margin-bottom: 0;
            transform: translateY(rem(- $spacer-3));
        }

        &__title {
            @include font(41px, 52.01px);
            margin-bottom: rem($spacer-2);
        }

        &__description {
            @include font($font-size-lg, $line-height-lg);
            opacity: .54;
        }

        .slick-dots {
            margin-top: rem($spacer-4);
        }
    }

    @include media-breakpoint-up(lg) {
        position: relative;
        padding-top: rem($spacer-3);
        margin-bottom: rem(48px);
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem($spacer);
        margin-bottom: rem(56px);

        .container {
            max-width: rem(1238px);
        }

        &__heading {
            transform: translateY(rem(-$spacer));
        }
    }

    @include media-breakpoint-up(2xl) {
        .container {
            max-width: rem(1174px);
        }
    }
}