.product {
    margin-top: rem(- $spacer-2);
    margin-bottom: rem(48px);

    .modal & {
        margin-top: 0;
        margin-bottom: 0;
    }

    .container {
        .modal & {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
        }
    }

    &__headline {
        margin-bottom: rem($spacer-4);
    }

    &__title {
        margin-bottom: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        margin-bottom: rem($spacer-6);
    }

    &__tags {
        margin-bottom: rem($spacer-6);
        @include make-row-modification($spacer-2);
    }

    &__picture {
        position: relative;
        margin-bottom: rem($spacer-6);
        order: -1;
    }

    &__slider {
        margin-left: rem(- $grid-gutter-xs);
        margin-right: rem(- $grid-gutter-xs);

        &-item {
            @include aspect-ratio-block(1/1);
        }

        &-link {
            &:after {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                color: $base-color;
                @include size(rem(48px));
                background: rgba($white, 0.5);
                border-radius: $border-radius-sm;
                border: 1px solid $gray-6;
                backdrop-filter: blur(10px);
                text-align: center;
                font-size: rem($spacer-6);
                line-height: rem(46px);
            }
        }

        &-img {
            @extend %cover-image;
        }

        &-prev,
        &-next {
            display: none;
        }
    }

    &__thumbs {
        display: none;

        &-item {
            @include aspect-ratio-block(1/1);
        }
    }

    &__stickers {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__utility-menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__option {
        margin-bottom: rem($spacer-4);

        &-content {
            @include font($font-size-sm, 22.01px);
            margin-top: rem($spacer-4);
        }

        &--xs-center {
            text-align: center;

            .options__list {
                justify-content: center;
            }
        }
    }

    &__helper {
        width: 100%;
        margin-top: rem($spacer-3);
        margin-bottom: rem($spacer-2);
    }

    &__rating {
        justify-content: center;
        margin-bottom: rem($spacer-8);

        .rating__counter {
            @include font($font-size-md, $font-size-md, $font-weight-semibold);
            color: $base-color;
        }
    }

    &__service-button {
        height: auto;
        @include em-line-height($font-size-md, 22.01px);
        padding: rem(( $spacer-3 - $btn-border-width ) ( $spacer-4 - $btn-border-width ));
        @include margin-bottom(rem($spacer-6));

        @include hover-focus {
            color: $base-color;
        }
    }

    &__aside {
        margin-bottom: rem($spacer-6);

        &-box {
            border-radius: $border-radius-lg;
            padding: rem($spacer-6);
            @include margin-bottom(rem($spacer-3));
        }
    }

    &__availability {
        margin-bottom: rem($spacer-3);
    }

    &__price-info {
        background-color: $white;
        padding-top: rem(10px);
        padding-bottom: rem(9px);
        margin-bottom: rem($spacer-3);
    }

    &__prices {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem($spacer-6);
    }

    &__price {
        margin-right: rem($spacer-4);
        @include font($font-size-h3, $line-height-h3, $font-weight-semibold);
        white-space: nowrap;
    }

    &__buttons {
        @include margin-bottom(rem($spacer-6));
    }

    &__button + &__button {
        margin-top: rem($spacer-3);
    }

    &__out-of-stock {
        padding: rem($spacer-4 $spacer-4 $spacer-8);
        position: relative;

        &__body {
            display: flex;
            justify-content: space-between;
            margin-bottom: rem($spacer-6);
        }

        .product__availability {
            max-width: 50%;
            margin-bottom: 0;
            @include em-line-height($font-size-base, $line-height-base);
        }

        .product__price {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__help {
        padding-top: rem(44px);
        margin-top: rem(- $spacer-8);
        margin-bottom: rem($spacer-3);
    }

    @include media-breakpoint-between(md, md) {
        &__body {
            max-width: 52%;
            flex: 0 0 52%;
            padding-right: rem($spacer-4);
        }

        &__content {
            padding-right: rem($spacer-3);
        }

        &__aside {
            max-width: 48%;
            flex: 0 0 48%;
        }

        &__availability {
            margin-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: rem(- $spacer-4);
        margin-bottom: rem($spacer-10);

        &__headline {
            margin-bottom: rem($spacer-6);

            .modal & {
                margin-bottom: rem($spacer-4);
            }
        }

        &__body {
            margin-bottom: 0;
        }

        &__slider {
            margin-left: 0;
            margin-right: 0;

            &-link {
                &:after {
                    right: rem($spacer-3);
                }
            }
        }

        &__utility-menu {
            right: rem($spacer-3);
        }

        &__aside {
            margin-bottom: 0;
        }

        &__price-info {
            margin-bottom: rem($spacer-6);
        }

        &__out-of-stock {
            padding: rem($spacer-6);

            &__body {
                flex-direction: column-reverse;
                margin-bottom: rem($spacer-6);
            }

            .product__availability {
                max-width: none;
                @include em-line-height($font-size-base, $line-height-base);
            }

            .product__price {
                margin-bottom: rem($spacer-3);
            }
        }

        &__help {
            padding-top: rem(56px);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(- $spacer-10);
        margin-bottom: rem($spacer-10 * 2);

        &__headline {
            margin-bottom: rem($spacer-10);
        }

        &__utility-menu {
            position: static;
            justify-content: space-between;
            max-width: rem(269px);
            margin-left: auto;
            margin-right: auto;
        }

        &__help {
            padding-top: rem(64px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__body {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        &__tags {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: rem( - $spacer-3);
            margin-bottom: rem($spacer-9);
            @include make-row-modification($spacer-3);

            .tags__item {
                margin-top: rem($spacer-3);
            }

            .tag {
                @include font($font-size-base, $line-height-sm);
                padding: rem($spacer-3);
            }

            .modal & {
                margin-bottom: rem($spacer-6);
            }
        }

        &__picture {
            order: initial;
            max-width: rem(499px);
            flex: 0 0 55%;
            margin-bottom: 0;
        }

        &__slider {
            &-link {
                &:after {
                    display: none;
                }
            }

            &-prev,
            &-next {
                display: flex;
            }
        }

        &__thumbs {
            display: block;
            position: relative;
            padding-left: rem(54px);
            padding-right: rem(54px);
            margin-top: rem($spacer-6);

            &-item {
                padding: rem($spacer-3);
                border-radius: $border-radius-lg;
                border: 2px solid rgba($primary, .0);
                transition: border-color .25s ease-in-out;

                &.swiper-slide-thumb-active {
                    border-color: $primary;
                }
            }

            &-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: calc(100% - rem(#{$spacer-3}));
                max-height: calc(100% - rem(#{$spacer-3}));
                width: auto;
            }
        }

        &__content {
            flex: 1;
            padding-left: rem($spacer-6);
        }

        &__option {
            margin-bottom: rem($spacer-6);

            &-content {
                @include font($font-size-base, 22.01px);
            }

            &--xs-center {
                text-align: left;

                .options__list {
                    justify-content: flex-start;
                }
            }
        }

        &__helper {
            width: auto;
            margin-bottom: rem($spacer-3);
        }

        &__rating {
            justify-content: flex-start;

            .rating__counter {
                margin-top: rem(2px);
            }
        }

        &__service-button {
            margin-bottom: rem($spacer-8);
        }
    }
}