.quality {
    padding-top: rem(48px);
    padding-bottom: rem(48px);
    overflow: hidden;
    z-index: 1;

    &:after {
        position: absolute;
        content: '';
        z-index: -1;
        opacity: .04;
        background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
        left: -253px;
        top: 10%;
        @include size(548px, 461px);
    }

    @include media-breakpoint-down(md) {
        &__container {
            max-width: rem(561px);
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer-8);
        padding-bottom: rem($spacer-8);

        &:after {
            left: -282px;
            top: 50%;
            transform: translateY(-50%);
            @include size(879px, 740px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(98px);
        padding-bottom: rem(80px);
    }

    @include media-breakpoint-up(xl) {
        &:after {
            transform: translateY(-45%);
        }
    }
}