.reviews {
    padding-top: rem($spacer-10);
    padding-bottom: rem($spacer-8);
    position: relative;
    z-index: 1;
    background: none;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: radial-gradient(83.38% 83.37% at 16.62% 86.3%, rgba($white, 0.45), rgba($white, 0)),
                    linear-gradient(55.47deg, rgba($yellow-2, 0.29) 9.03%, rgba($yellow-2, 0) 57.24%),
                    $primary;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    &__heading {
        padding-left: rem($spacer-4);
        margin-bottom: rem($spacer-6);
    }

    &__slider {
        position: relative;

        &-container {
            color: $base-color;
            background-color: $white;
            border-radius: $border-radius-lg;
            filter: drop-shadow(0 2px 32px rgba($black, 0.08));
        }
    }

    @include media-breakpoint-between(xs, sm) {
        &__slider {
            padding-bottom: rem(80px);
        }

        &__prev,
        &__next {
            top: auto;
            bottom: 0;
            transform: none;
        }

        &__prev {
            left: rem($spacer-4);
        }

        &__next {
            left: rem(72px);
            right: auto;
        }
    }

    @include media-breakpoint-between(md, md) {
        &:before {
            background: radial-gradient(77.29% 143.17% at 99.07% 104.04%, rgba($white, 0.45), rgba($white, 0)),
                        linear-gradient(10.31deg, rgba($yellow-2, 0.29) 12.33%, rgba($yellow-2, 0) 112.76%),
                        $primary;
            transform: none;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(26px);
        padding-bottom: rem($spacer-4);

        &__heading {
            padding-left: rem($spacer-2);
            margin-bottom: rem(26px);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-10);

        &__heading {
            padding-left: rem($spacer-10);
            margin-bottom: rem($spacer-10);
        }
    }


    @include media-breakpoint-up(2xl) {
        &:before {
            border-radius: $border-radius-lg;
        }
    }
}