.section {
    position: relative;
    margin-bottom: rem(48px);

    .main > &[class^="theme-"]:last-child,
    .main > &[class*=" theme-"]:last-child {
        margin-bottom: 0;
    }

    &[id] {
        &:before {
            height: rem(48px * 1.5);
            content: '';
            display: block;
            margin-top: rem( - 48px * 1.5);
        }
    }

    .slider-block + &[class*="theme"],
    .slider-block + &[class*="cover"] {
        margin-top: rem(-48px);
    }

    &__row {
        margin-left: 0;
        margin-right: 0;
    }

    &__title {
        margin-bottom: rem($spacer-4);

        &--quote {
            &:before {
                display: block;
                color: $primary;
                font-size: rem($spacer-10);
                margin-bottom: rem($spacer-2);
            }
        }
    }

    &__subtitle {
        margin-bottom: rem($spacer-4);
    }

    &__text {
        @include font($font-size-md, 19.01px);

        p {
            @include margin-bottom(1.1875em);
        }
    }

    &--compact {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        &__title {
            margin-bottom: rem($spacer-9);

            &--quote {
                position: relative;
                padding-left: rem(56px);

                &:before {
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    margin-bottom: 0;
                }
            }
        }

        &__subtitle {
            font-weight: $font-weight-semibold;
            margin-bottom: rem(30px);
        }

        &--sm {
            margin-bottom: rem($spacer-8);
        }
    }

    @include media-breakpoint-up(md) {
        &__title,
        &__subtitle {
            @include font($font-size-h1, 46.01px);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem(80px);

        &__row {
            margin-left: rem($spacer-10);
            margin-right: rem($spacer-10);
        }

        &__col {
            padding-left: 0;
            padding-right: 0;
        }

        &__text {
            @include font($font-size-lg, 22.01px);

            p {
                margin-bottom: .44em;
            }
        }

        &--compact {
            margin-bottom: 0;
        }

        &--md {
            margin-bottom: rem($spacer-10);
        }

        &--sm {
            margin-bottom: rem($spacer-8);
        }

        .slider-block + &[class*="theme"],
        .slider-block + &[class*="cover"] {
            margin-top: rem(-80px);
        }
   }

   @include media-breakpoint-up(xl) {
       &__heading {
           padding-right: 25%;
       }

       &__content {
           padding-right: 10%;
       }

       &__title {
           margin-bottom: rem($spacer-9);

           &--quote {
               padding-left: 0;

               &:before {
                   position: relative;
                   bottom: auto;
                   margin-left: rem(-48px);
               }
           }
       }

       &__text {
           @include font($font-size-lg, 22.01px);
       }
   }

    @include media-breakpoint-up(2xl) {
        &--bounded {
            width: rem(1280px);
            margin-left: auto;
            margin-right: auto;
            border-radius: $border-radius-lg;
        }

        &--widened {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}