.seo {
    //margin-top: rem(48px);

    &__body {
        padding: rem($spacer-4);
        border-radius: $border-radius-sm;
        background-color: $gray-3;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    h5 {
        margin-bottom: rem($spacer-4);
    }

    @include media-breakpoint-up(md) {
        &__body {
            background-color: $white;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}