.share {
    &__title {
        margin-bottom: rem($spacer-7);
    }

    @include media-breakpoint-up(md) {
        &__title {
            @include font($font-size-h1, $font-size-h1);
        }

        &__list {
            margin-bottom: rem(64px);
        }
    }
}