.site-error {
    margin-top: rem(69px);
    margin-bottom: rem($spacer-10);

    &__body {
        margin-left: auto;
        margin-right: auto;
        max-width: rem(326px);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(56px);
        height: rem(97px);
    }

    &__content {
        @include font($font-size-lg, $line-height-lg);

        p {
            @include margin-bottom(rem(1.33em));
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: rem(86px);
        margin-bottom: rem(48px);
        text-align: center;

        &__body {
            max-width: rem(555px);
        }

        &__img {
            margin-bottom: rem(47px);
            height: rem(140px);
        }

        &__content {
            @include font($font-size-xl, 29.01px);

            p {
                margin-bottom: rem(1em);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: rem(80px);
        margin-bottom: rem(80px);
        text-align: left;

        &__body {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: rem(994px);
        }

        &__img {
            margin-right: rem(56px);
            margin-bottom: 0;
        }
    }
}