.slider-block {
    padding-top: rem($spacer-10);
    padding-bottom: rem(64px);
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        position: absolute;
        top: 50%;
        left: 104px;
        transform: translateY(-49%);
        content: '';
        z-index: -1;
        opacity: .4;
        @include size(522px, 439px);
        background: url(/assets/img/patterns/pattern.svg) 0 0/contain no-repeat;
    }

    &__container {
        padding-left: rem($spacer-8);
        padding-right: rem($spacer-6);
    }

    &__heading {
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: 0;
    }

    &__description {
        @include font($font-size-md, 27.01px);
        margin-top: rem($spacer-6);
    }

    &__slider {
        position: relative;

        &-container {
            position: relative;
            background-color: $white;
            box-shadow: 0 2px 32px rgba($black, 0.08);
            border-radius: $border-radius-lg;
        }
    }

    &__pagination {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: rem($spacer-5);
    }

    @include media-breakpoint-between(xs, sm) {
        &__slider {
            padding-top: rem(80px);
            margin-left: rem( - $spacer-4);
            margin-right: rem( - $spacer-2);
        }

        &__prev,
        &__next {
            top: 0;
            transform: none;
        }

        &__prev {
            left: rem($spacer-4);
        }

        &__next {
            left: rem(72px);
            right: auto;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: rem(57px);
        padding-bottom: rem(72px);

        &:before {
            top: 0;
            left: auto;
            right: -101px;
            transform: none;
            @include size(585px, 492px);
        }

        &__container {
            padding-left: rem(64px);
            padding-right: rem(64px);
        }

        &__heading {
            margin-bottom: rem($spacer-10);
        }

        &__title {
            max-width: 12.5em;
            @include font($font-size-h2, $line-height-h2);
        }

        &__description {
            @include font($font-size-xl, $line-height-xl + 2);
            margin-top: rem($spacer-4);
        }

        &__slider {
            padding-left: rem(88px);
            padding-right: rem(88px);
        }
    }

    @include media-breakpoint-between(md, md) {
        &__container {
            max-width: 768px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(80px);
        padding-bottom: rem(80px);

        &:before {
            top: -25px;
            right: -69px;
            @include size(879px, 740px);
        }

        &__container {
            display: flex;
            align-items: center;
        }

        &__heading {
            max-width: 563px;
            flex: 0 0 49%;
            margin-bottom: 0;
            padding-right: rem($spacer-10);
        }

        &__description {
            margin-top: rem($spacer-8);
        }

        &__slider {
            max-width: 528px;
            flex: 0 0 46%;
        }
    }
}