.sorting {
    &__group {
        &--tags {
            flex: 1;
        }
    }

    &__tags {
        margin-left: rem( - $spacer);
        margin-right: rem( - $spacer);
        height: 100%;

        &-item {
            padding-left: rem($spacer);
            padding-right: rem($spacer);
        }

        &-tag {
            height: 100%;
            border: 1px solid $gray;

            @include hover-focus {
                background-color: rgba($gray, .2);
            }
        }
    }

    &__control + &__control {
        margin-left: rem($spacer-2);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        &__tags {
            margin-left: rem( - $spacer-3 / 2);
            margin-right: rem( - $spacer-3 / 2);

            &-item {
                padding-left: rem($spacer-3 / 2);
                padding-right: rem($spacer-3 / 2);
            }

            &-tag {
                padding: rem($spacer-2 - 1);
            }
        }
    }
}