.subscription {
    padding: rem($spacer-8 $spacer-2 117px);
    overflow: hidden;
    position: relative;
    z-index: 0;

    .theme-light + &,
    .theme-lighter + &,
    .catalog--theme + & {
        margin-top: rem(-48px);
    }

    &:before {
        position: absolute;
        right: -430px;
        bottom: -29px;
        content: '';
        z-index: -1;
        opacity: .2;
        @include size(711px, 511px);
        background: url(/assets/img/patterns/pattern-gray.svg) 0 0 no-repeat;
    }

    &__heading {
        margin-bottom: rem($spacer-8);
    }

    &__description {
        @include em-line-height($font-size-base, 22.01px);
    }

    &__wrapper {
        max-width: 592px;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(sm) {
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        padding-top: rem($spacer-10);
        padding-bottom: rem($spacer-8);

        &:before {
            right: -345px;
            bottom: -183px;
        }

        &__heading {
            margin-bottom: rem($spacer-6);
        }

        &__title {
            max-width: 536px;
            margin-left: auto;
            margin-right: auto;
        }

        &__description {
            @include font($font-size-lg, $line-height-lg);
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: rem($spacer-10);

        .theme-light + &,
        .theme-lighter + &,
        .catalog--theme + & {
            margin-top: rem(-80px);
        }

        &:before {
            right: -71px;
            bottom: -88px;
        }

        &__wrapper {
            max-width: 624px;
        }

        &__title {
            max-width: 75%;
            margin-bottom: rem($spacer-4);
        }
    }
}