.support {
    margin-bottom: rem($spacer-10);

    &__container {
        padding-left: rem($grid-gutter-lg);
        padding-right: rem($grid-gutter-lg);
    }

    &__subtitle {
        @include font($font-size-lg, $line-height-lg);
        margin-bottom: rem($spacer-5);
    }

    &__start {
        padding-top: rem($spacer-6);
    }

    &__section {
        padding-top: rem($spacer-10);
    }

    &__end {
        padding-top: rem($spacer-10);

        &.is-disabled {
            .support__subtitle {
                color: $gray-11;
            }
        }
    }

    &__menu {
        @include list-unstyled;
        margin-bottom: rem( - $spacer-6);

        &-item {
            margin-bottom: rem($spacer-6);
        }
    }

    &__faq {
        background-color: $white;
        margin-left: rem(- $grid-gutter-lg);
        margin-right: rem(- $grid-gutter-lg);
        padding: rem($spacer-6 $grid-gutter-lg);
    }

    @include media-breakpoint-up(md) {
        margin-bottom: rem(80px);

        &__container {
            max-width: rem(584px);
        }

        &__start {
            padding-top: rem($spacer-10);
            padding-bottom: rem($spacer-10);
        }

        &__subtitle {
            text-align: center;
            margin-bottom: rem($spacer-6);
        }

        &__faq {
            border-radius: $border-radius-sm;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include media-breakpoint-between(md, md) {
        &__section {
            margin-left: rem(-68px);
            margin-right: rem(-68px);
            padding-top: rem($spacer-8);
            padding-bottom: rem($spacer-6);
        }
    }

    @include media-breakpoint-up(lg) {
        &__container {
            max-width: rem(1056px);
        }

        &__content {
            display: block;
        }

        &__section {
            padding-top: 0;
            padding-bottom: rem($spacer-10);
        }
    }

    @include media-breakpoint-up(xl) {
        .has-indicator {
            position: relative;

            &:before {
                position: absolute;
                left: 50%;
                margin-left: rem(-571px);
                border-left: 2px solid #c7c7c7;
                content: '';
            }

            &:after {
                position: absolute;
                left: 50%;
                margin-left: rem(-583px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $primary;
                z-index: 1;
            }

            &.is-disabled {
                &:after {
                    background-color: $white;
                    border: 2px solid #c7c7c7;
                }
            }

            &.is-selected {
                &:before {
                    border-color: $primary;
                }
            }

            &.support__start {
                &:before {
                    top: rem(99px);
                    bottom: 0;
                }

                &:after {
                    top: rem(87px);
                }

                &.is-disabled {
                    &:after {
                        background-color: #c4c4c4;
                    }
                }
            }

            &.support__content {
                &:before {
                    top: 0;
                    bottom: 0;
                }

                &:after {
                    display: none;
                }
            }

            &.support__end {
                &:before {
                    top: 0;
                    bottom: rem(77px);
                }

                &:after {
                    bottom: rem(77px);
                }
            }
        }

        &__content {
            overflow: hidden;
        }

        &__faq {
            position: relative;

            &:before {
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: rem(- $spacer-3);
                margin-right: rem(54px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $white;
                border: 2px solid #c7c7c7;
                opacity: 0;
                z-index: 1;

                .is-disabled & {
                    opacity: 1;
                }
            }
        }

        .faq__item:not(.is-collapsed) .faq__item-title {
            &:before {
                position: absolute;
                top: 50%;
                right: 100%;
                left: auto;
                margin-top: rem(- $spacer-3);
                margin-right: rem(78px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $primary;
                z-index: 1;
            }

            &:after {
                position: absolute;
                top: -100vh;
                bottom: rem($spacer-3);
                right: 100%;
                margin-right: rem(89px);
                content: '';
                border-left: 2px solid $primary;
                z-index: 1;
            }
        }

        /*&:after {
            position: absolute;
            top: rem(88px);
            bottom: rem(53px);
            left: 50%;
            content: '';
            width: 2px;
            background-color: rgba($gray-11, .5);
            margin-left: rem(-571px);
        }

        &__menu {
            position: relative;

            &:before {
                position: absolute;
                top: rem(47px);
                right: 100%;
                margin-right: rem(42px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $primary;
                z-index: 1;

                .support__contacts & {
                    top: rem(53px);
                }

                .is-disabled & {
                    background-color: $white;
                    border: 2px solid #c7c7c7;
                }
            }
        }

        &__faq {
            position: relative;

            &:before {
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: rem(- $spacer-3);
                margin-right: rem(54px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $white;
                border: 2px solid #c7c7c7;
                opacity: 0;
                z-index: 1;

                .is-disabled & {
                    opacity: 1;
                }
            }
        }

        .faq__item:not(.is-collapsed) .faq__item-title {
            &:after {
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: rem(- $spacer-3);
                margin-right: rem(78px);
                content: '';
                @include size(rem($spacer-6));
                @include rounded;
                background-color: $primary;
                z-index: 1;
            }
        }*/
    }
}