.trade-in-promo {
    z-index: 1;
    text-align: center;
    background: none;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: radial-gradient(55.49% 56.49% at 16.62% 86.3%, rgba($white, 0.45) 0%, rgba($white, 0) 100%),
                    linear-gradient(56.47deg, rgba($yellow-2, 0.29) 9.49%, rgba($yellow-2, 0) 51%),
                    $primary;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: -1;
    }

    &:after {
        position: absolute;
        content: '';
        left: 132px;
        bottom: -94px;
        background: url(/assets/img/patterns/pattern.svg) 50%/contain no-repeat;
        @include size(693px, 584px);
        content: '';
        opacity: .16;
        z-index: -1;
    }

    &__heading {
        padding-top: rem(24px);
        padding-left: rem($spacer-6);
        padding-right: rem($spacer-6);
        max-width: rem(314px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($spacer-6);
    }

    &__title {
        margin-bottom: rem($spacer-6);
    }

    &__button {
        padding-left: rem($spacer-6 - $btn-border-width);
        padding-right: rem($spacer-6 - $btn-border-width);
    }

    &__pictures {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 306px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(175px);
    }

    &__picture {
        position: relative;
        margin-bottom: rem(-94px);

        &--before {
            filter: drop-shadow(10px 9px 26px rgba(#29292a, 0.22));
            flex: 0 0 43%;
            align-self: flex-start;
        }

        &--after {
            filter: drop-shadow(13px 6px 26px rgba(#29292a, 0.33));
            margin-top: rem(13px);
            flex: 0 0 50%;
            align-self: flex-end;
        }
    }

    &__img {
        display: block;
    }

    &__sale-icon,
    &__swap-icon {
        position: absolute;
        @include rounded;
        box-shadow: 0 2px 32px rgba($black, 0.08);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem($font-size-2xl);
        font-weight: $font-weight-semibold;
        line-height: 1;
    }

    &__sale-icon {
        top: 75px;
        left: 100%;
        transform: translateX(-68%);
        @include size(rem(56px));
        background-color: $yellow;
        color: $base-color;
        padding-top: .15em;
    }

    &__swap-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: rem(36px);
        @include size(rem(68px));
        background-color: $white;
        color: $primary;
    }

    @include media-breakpoint-between(xs, sm) {
        &__title {
            @include font($font-size-xl, $line-height-xl);
        }
    }

    @include media-breakpoint-up(md) {
        text-align: left;
        margin-top: rem(128px);
        margin-bottom: rem(64px);
        padding-right: rem(50px);

        &:after {
            left: auto;
            right: rem(-327px);
            bottom: rem(-192px);
        }

        &__container {
            display: flex;
            align-items: center;
        }

        &__heading {
            padding-top: rem(61px);
            padding-left: rem(5px);
            padding-bottom: rem(41px);
            max-width: rem(352px);
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: rem($spacer-10);
        }

        &__pictures {
            max-width: rem(342px);
            margin-bottom: 0;
        }

        &__picture {
            &--before {
                filter: drop-shadow(10px 15px 30px rgba(#29292a, 0.5));
                flex: 0 0 44.5%;
                margin-top: rem(-93px);
                margin-bottom: 0;
            }

            &--after {
                flex: 0 0 47.4%;
                margin-top: 0;
                margin-bottom: rem(-63px);

                &:before,
                &:after {
                    position: absolute;
                    @include rounded;
                    background-color: $yellow;
                    content: '';
                }

                &:before {
                    @include size(21px);
                    top: rem(150px);
                    right: rem(-33px);
                }

                &:after {
                    @include size(9px);
                    top: rem(201px);
                    right: rem(-49px);
                }
            }
        }

        &__sale-icon {
            top: 37px;
            @include size(rem(61px));
            font-size: rem(28px);
        }

        &__swap-icon {
            margin-top: rem(- $spacer);
            margin-left: rem(-6px);
            @include size(rem(72px));
        }
    }

    @include media-breakpoint-up(lg) {
        padding-right: 0;
        margin-top: rem(155px);
        margin-bottom: rem(123px);

        &:after {
            right: -73px;
            bottom: -323px;
            @include size(877px, 739px);
        }

        &__container {
            min-height: rem(496px);
        }

        &__heading {
            padding-top: rem(90px);
            padding-left: rem($spacer-4);
            padding-bottom: rem(74px);
            margin-left: 0;
            margin-right: 0;
            max-width: rem(540px);
            flex: 0 0 50%;
        }

        &__pictures {
            max-width: rem(489px);
            flex: 0 0 48%;
        }

        &__picture {
            &--before {
                margin-top: rem(-83px);
            }

            &--after {
                margin-top: rem(54px);

                &:before {
                    @include size(29px);
                    top: rem(240px);
                    right: rem(-43px);
                }

                &:after {
                    @include size(13px);
                    top: rem(312px);
                    right: rem(-64px);
                }
            }
        }

        &__sale-icon {
            top: 80px;
            @include size(rem(86px));
            font-size: rem($font-size-h2);
        }

        &__swap-icon {
            margin-top: rem(9px);
            margin-left: rem(-10px);
            @include size(rem(103px));
            font-size: rem(46px);
        }
    }

    @include media-breakpoint-up(xl) {
        margin-top: rem(75px);
        margin-bottom: rem(123px);

        &__heading {
            padding-left: rem($spacer-10);
        }

        &__pictures {
            margin-left: rem(94px);
        }
    }

    @include media-breakpoint-up(2xl) {
        &:before {
            border-radius: $border-radius-lg;
        }
    }
}