.trade-in {
    padding-top: rem($spacer-6);
    padding-bottom: rem(48px);

    &__body {
        background-color: $white;
        padding: rem($spacer-7 $spacer-4 $spacer-6);
        margin-left: rem(- $grid-gutter-xs);
        margin-right: rem(- $grid-gutter-xs);
    }

    &__section {
        border-bottom: 1px dashed $gray-8;
        padding-bottom: rem($spacer-6);
        margin-bottom: rem($spacer-7);

        &.is-collapsed {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: rem($spacer-8);

            &:last-child {
                margin-bottom: 0;
            }

            .trade-in__title {
                color: $gray-11;
                margin-bottom: 0;
            }
        }

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: rem($spacer-7);
    }

    &__content {
        text-align: center;
    }

    &__details {
        max-width: rem(434px);
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    &__form {
        .form__group {
            &:last-child:not(.custom-control) {
                margin-bottom: 0;
            }
        }
    }

    .form__controls {
        padding-left: rem($spacer-10);
        padding-right: rem($spacer-10);
        margin-bottom: rem(- $form-group-margin-bottom);
    }

    &__text {
        @include em-line-height($font-size-base, $line-height-md);
        margin-top: rem($spacer-4);
    }

    &__evaluation {
        &-sum {
            @include font($font-size-h3, $line-height-h3, $font-weight-semibold);
        }

        &-text {
            margin-top: rem($spacer-6);
        }
    }

    &__app {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem($spacer-6);
        margin-bottom: rem($spacer-6);

        &-img {
            display: block;
            margin-right: rem($spacer-4);
            @include size(rem(60px));
            border: 2px solid $primary;
            border-radius: $border-radius-sm;
        }

        &-stores {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: rem($spacer-2);
        }

        &-store {
            display: block;
            height: rem(60px);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: rem($spacer-6);
    }

    &__button {
        padding-left: rem($spacer-10);
        padding-right: rem($spacer-10);
        font-size: rem($font-size-lg);
    }

    &__button + &__button {
        margin-left: rem($spacer-4);
    }

    .button--outline-primary {
        background-color: $white;
    }

    &--modal {
        background-color: $gray-3;
        padding-bottom: 0;
    }

    &--modal & {
        &__header {
            padding: rem($spacer-4 $spacer-6 $spacer-6);
            text-align: left;
        }

        &__main-title {
            text-align: inherit;
            padding-right: rem($spacer-2);
        }

        &__description {
            @include em-line-height($font-size-base, $line-height-md);
        }

        &__body {
            margin-left: 0;
            margin-right: 0;
            padding-top: rem($spacer-6);
        }

        &__footer {
            padding-left: rem($spacer-4);
            padding-right: rem($spacer-4);
            padding-bottom: rem($spacer-6);
        }

        &__button {
            flex: 1;
            font-size: rem($btn-font-size);
        }
    }

    @include media-breakpoint-down(md) {
        &__title {
            @include font($font-size-lg, $line-height-md);
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: rem(64px);

        &__container {
            max-width: rem(704px);
        }

        &__body {
            border-radius: $border-radius-sm;
            padding: rem(44px $spacer-8 $spacer-8);
            margin-left: 0;
            margin-right: 0;
        }

        &__section {
            margin-bottom: rem($spacer-9);

            &.is-collapsed {
                margin-bottom: rem($spacer-6);
            }
        }

        &__title {
            margin-bottom: rem($spacer-6);
        }

        &__form {
            &--sm {
                max-width: rem(280px);
                margin-left: auto;
                margin-right: auto;
            }
        }

        .form__group {
            margin-bottom: rem($spacer-6);
        }

        .form__controls {
            padding-left: rem($spacer-5);
            padding-right: rem($spacer-5);
            margin-bottom: rem(- $spacer-6);

            &--half {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__text {
            @include font($font-size-md, $line-height-md);
            margin-top: rem($spacer-2);
        }

        &__evaluation {
            margin-top: rem( - $spacer-3);

            &-sum {
                @include font($font-size-h4, $line-height-h4);
            }

            &-text,
            &-footer {
                margin-top: rem($spacer-4);
            }
        }

        &__app {
            margin-top: rem($spacer-2);

            &-img {
                @include size(rem(88px));
                border-radius: $border-radius-lg;
            }

            &-store {
                height: rem(40px);
            }
        }

        &__footer {
            max-width: rem(608px);
            margin-left: auto;
            margin-right: auto;
        }

        &--modal {
            padding-top: 0;
            padding-bottom: 0;
        }

        &--modal & {
            &__body {
                border-radius: 0;
                padding: rem($spacer-6 48px);
            }

            &__form {
                &--sm {
                    max-width: none;
                }
            }

            &__footer {
                max-width: none;
            }

            &__button {
                max-width: rem(163px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($spacer-10);
        padding-bottom: rem(80px);

        &__container {
            max-width: rem(838px);
        }

        &__body {
            padding: rem($spacer-10 80px $spacer-10);
        }

        &__section {
            margin-bottom: rem($spacer-10);
        }

        &__form {
            &--sm {
                max-width: rem(303px);
            }
        }

        &__details {
            max-width: rem(474px);
        }

        &__evaluation {
            margin-top: rem( - $spacer-4);

            &-sum {
                @include font($font-size-h3, $line-height-h3);
            }
        }

        &__footer {
            margin-top: rem($spacer-10);
        }

        &--modal {
            padding-top: rem(56px);
            padding-bottom: rem(56px);
            background: none;
        }

        &--modal & {
            &__header {
                padding-top: 0;
                padding-left: rem(70px);
                padding-right: rem(70px);
                text-align: center;
            }

            &__main-title {
                @include font($font-size-h4, $line-height-h4);
                padding-right: 0;
            }

            &__description {
                @include font($font-size-md, $line-height-md);
            }

            &__body {
                padding: rem(0 60px);
            }

            &__form {
                &--sm {
                    max-width: rem(303px);
                }
            }

            &__footer {
                padding-left: rem(64px);
                padding-right: rem(64px);
                padding-bottom: 0;
            }

            &__button {
                flex: 0 0 auto;
                max-width: none;
                font-size: rem($font-size-lg);
            }
        }
    }
}