.footer {
    background-color: $gray-5;
    color: $white;
    padding-top: $unit * 4;
    padding-bottom: $unit * 4;

    .page-inner & {
        margin-top: $unit * 4;
    }

    &__measures {
        margin-bottom: $unit * 5;
    }

    &__main {
        border: 1px solid rgba($white, .2);
        border-width: 1px 0;
        padding-top: $unit * 5;
        padding-bottom: $unit * 4;
        margin-bottom: $unit * 4;
    }

    &__company {
        margin-bottom: $unit * 4;
        flex-wrap: nowrap;

        p {
            @include margin-bottom($unit);
        }

        &-content {
            margin-left: -$unit * 2;
        }
    }

    &__logo {
        font-size: $unit * 7;
    }

    &__nav {
        @include list-unstyled;
        margin-bottom: -$unit;
        columns: 2;
        column-gap: $grid-gutter;

        &-item {
            margin-bottom: $unit;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: $unit * 8;
        padding-bottom: $unit * 8;

        &__measures {
            margin-bottom: $unit * 8;
        }

        &__main {
            padding-top: $unit * 8;
            padding-bottom: $unit * 6;
            margin-bottom: $unit * 6;
        }

        &__company {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__measures {
            margin-bottom: $unit * 10;
        }

        &__main {
            padding-top: $unit * 10;
        }

        &__company {
            &-content {
                margin-left: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__nav {
            columns: 3;
            column-gap: $grid-gutter;

            &-item {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}