.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        padding-left: $unit * 2;
        padding-right: $unit * 2;
        position: relative;
        height: $unit * 4;

        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background-color: rgba($white, .2);
            content: '';
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;

            &:after {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        justify-content: flex-start;

        &__item {
            &:first-child {
                padding-left: $unit * 2;
            }

            &:last-child {
                padding-right: $unit * 2;

                &:after {
                    display: block;
                }
            }

            &--left {
                margin-right: auto;

                &:after {
                    display: none;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            padding: 0 $unit * 3;

            &:first-child {
                padding-left: $unit * 3;
            }

            &:last-child {
                padding-right: $unit * 3;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .navbar.is-sticky .navbar__main & {
            &__item {
                &:after {
                    background-color: $gray-2;
                }
            }
        }
    }
}