.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: $white;
    transition: .25s ease-in-out;

    &__section {
        border-bottom: 1px solid rgba($white, .2);
        transition: background .25s ease-in-out;
    }

    &__container {
        padding-top: $unit * 2;
        padding-bottom: ($unit * 2) - 1;
        display: flex;
        align-items: center;
        min-height: $unit * 8;
    }

    &__logo {
        @include size(44px);
        flex: 0 0 44px;
        margin-right: $gutter;
    }

    &__company {
        margin-top: -$unit / 2;
        margin-bottom: -$unit / 2;

        &-abbr {
            margin-bottom: 0;
            @include font(34px, 40.01px, 500);
        }

        &-info {
            max-width: 27em;
            display: block;
        }
    }

    &__nav {
        height: 100%;

        .navbar__bottom & {
            flex: 1;
        }
    }

    &__location {
        overflow: hidden;
        max-width: 342px;
    }

    &__contacts {
        height: 100%;

        &-phone {
            font-size: $unit * 2;
        }
    }

    &__search-toggle {
        font-size: $unit * 2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        user-select: none;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        background: none;
        outline: 0;
        border: 0;
        padding: 0;
        color: $white;
        top: -2px;
        text-align: center;
        @include size(($unit * 3), ($unit * 4));
        line-height: $unit * 4;
    }

    &__account {
        &-link {
            display: flex;
            align-items: center;
        }

        &-text {
            flex: 1;
            @include text-truncate();
            margin-right: $unit;
        }

        &-icon {
            background-color: rgba($white, .1);
            @include size($unit * 4);
            @include rounded;
            text-align: center;
            line-height: $unit * 4;
            color: $white;

            &.icon-user {
                font-size: $unit * 3;
            }
        }
    }

    &__emblem {
        font-size: $unit * 3;
    }

    .select2 {
        display: block;
    }

    @include media-breakpoint-up(md) {
        &__nav {
            .navbar__topbar & {
                flex: 1;
                margin-left: -$unit * 2;
            }
        }

        &__company {
            margin-right: auto;
        }

        &__contacts {
            height: 100%;
            flex-wrap: nowrap;
            white-space: nowrap;

            &-phone {
                display: inline-block;
            }
        }

        &__search-toggle {
            font-size: 20px;
            @include size($unit * 4);
        }

        &__account {
            &-text {
                max-width: 142px;
            }
        }

        &__emblem {
            font-size: $unit * 4;
            top: -3px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__container {
            padding-left: 152px;
            position: relative;
        }

        &__logo {
            @include size(88px);
            position: absolute;
            top: 0;
            left: $grid-gutter;
            transform: translateY(-50%);
        }

        &__nav {
            .navbar__topbar & {
                margin-left: -$unit * 3;
            }
        }

        &__account {
            &-text {
                max-width: 202px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        position: fixed;
        z-index: 100000;

        &.is-sticky {
            background-color: $white;
            box-shadow: 0 8px 24px rgba($black, 0.05);
        }

        &.is-sticky & {
            &__topbar {
                background-color: $base-color;
            }

            &__main {
                color: $base-color;
            }

            &__search-toggle {
                color: $base-color;
            }
        }

        &__account {
            &-text {
                max-width: 410px;
            }
        }
    }
}