.actions {
    display: flex;
    align-items: center;
    color: $gray-3;
    margin-left: -$unit;
    margin-right: -$unit;

    &__item {
        margin-left: $unit;
        margin-right: $unit;
        font-size: $unit * 3;

        &:hover,
        &:focus,
        &:active {
            color: $primary;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: -$unit * 2;
        margin-right: -$unit * 2;

        &__item {
            margin-left: $unit * 2;
            margin-right: $unit * 2;
        }
    }
}