.alert {
    position: relative;
    background-color: $white;
    border-radius: $border-radius;
    padding: 20px ($unit * 3) 20px ($unit * 8);
    color: $base-color;

    &__icon {
        position: absolute;
        top: 50%;
        left: $unit * 3;
        transform: translateY(-50%);
        color: $red;
        font-size: $unit * 3;
    }

    &--unstyled {
        border-radius: none;
        padding: 0 0 0 ($unit * 5);
    }

    &--unstyled & {
        &__icon {
            left: 0;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}