.banner {
    position: relative;
    color: $white;
    border-radius: $border-radius-sm;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        pointer-events: none;
        background: linear-gradient(180deg, rgba($gray-7, 0) 0%, rgba($gray-7, 0.6) 100%);
    }

    &__title {
        position: absolute;
        left: $unit * 3;
        right: $unit * 3;
        bottom: $unit * 3;
        max-width: 18.2em;
    }

    &__img {
        display: block;
        width: 100%;
    }
}