.breadcrumb {
    overflow: hidden;

    &__list {
        @include list-unstyled;
    }

    &__item {
        opacity: 0.5;
        display: inline-block;
        @include text-truncate();

        &:after {
            font-size: $unit;
            margin-left: $unit * 2;
            margin-right: $unit * 2;
        }

        &:nth-last-child(2) {
            &:after {
                display: none;
            }
        }

        &:last-child {
            display: none;
        }
    }

    &__link {
        color: inherit;
    }

    @include media-breakpoint-up(md) {
        &__list {
            display: flex;
        }

        &__item {
            white-space: normal;

            &:nth-last-child(2) {
                &:after {
                    display: inline-block;
                }
            }

            &:last-child {
                display: block;
                opacity: 1;
                flex: 1;
                @include text-truncate();

                &:after {
                    display: none;
                }
            }
        }
    }
}