//
// Base styles
//

button,
.button {
  position:relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  outline: 0;
  border: 0;
  padding: 0;
  @include transition(all 0.25s ease-in-out);

  @include hover-focus {
    text-decoration: none;
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
      outline: 0;
    }
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
  }
}

.button {
  border-radius: $border-radius-sm;
  @include button-size($btn-font-size, $btn-line-height, $btn-padding-x);
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  @include transition(all 0.25s ease-in-out);

  @include media-breakpoint-down(lg) {
      &:not(.button--xs) {
          @include font(16px, 24px);
      }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

//
// Alternate buttons
//
.button--primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bg-hover);
}

.button--default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-bg-hover, $btn-primary-color);
}

.button--xs,
.button--sm {
    border-radius: $border-radius;
}

.button--xs {
    @include button-size($btn-font-size-xs, $btn-line-height-xs, $btn-padding-x-xs, $btn-padding-y-xs);
}

.button--sm {
    @include button-size($btn-font-size-sm, $btn-line-height-sm);
}

.button--lg {
    @include button-size($btn-font-size-lg, $btn-line-height-lg, $btn-padding-x-lg);
    font-weight: 700;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.button--icon {
    padding-left: $unit * 3;
    padding-right: $unit * 3;
    text-align: left;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

@include media-breakpoint-up(md) {
    .button--sm {
        min-width: 208px;

        &:not(.button--icon) {
            padding-left: $unit * 4;
            padding-right: $unit * 4;
        }
    }
}


//
// Block button
//

.button--block {
  display: block;
  width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button_block {
    width: 100%;
  }
}