.calculator {

    &__section {
        border-bottom: 1px solid $gray-3;
        padding-bottom: ($unit * 3) - 1;
        margin-bottom: $unit * 3;

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}