.control {
    display: flex;
    align-items: center;

    &__icon {
        font-size: $unit * 2;
        margin-right: $unit * 2;
        top: -1px;
    }

    &__number {
        display: inline-block;

        &:before {
            display: inline-block;
            vertical-align: middle;
            content: '';
            @include size(2px);
            background-color: $gray-4;
            margin-left: $unit / 2;
            margin-right: $unit / 2;
        }
    }

    @include media-breakpoint-up(md) {
    }
}