.dropdown {
    position:relative;

    &__toggle {
        color: inherit;
        padding-right: 20px;

        &:after {
            @include size(0);
            border: ($unit / 2) solid transparent;
            border-top-color: $gray;
            border-bottom-width: 0;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotateX(0);
            content: '';
            transition: transform .25s ease-in-out;

            .navbar & {
                border-top-color: $white;
            }
        }

        .dropdown.is-open & {
            &:after {
                transform: translateY(-50%) rotateX(180deg);
            }
        }
    }

    &__content {
        position: absolute;
        top: 100%;
        left: 0;
        //right: 0;
        margin-top: $unit;
        min-width: 100px;
        background-color: $white;
        border-radius: $border-radius;
        border: 1px solid $gray-2;
        box-shadow: 0 16px 32px rgba(35, 39, 51, 0.1);
        color: $base-color;
        z-index: 100;
        opacity: 0;
        visibility: hidden;

        .dropdown.is-open & {
            opacity: 1;
            visibility: visible;
            transition: opacity .25s ease-in-out;
        }
    }

    &__list {
        @include list-unstyled;
        padding: $unit * 2;
    }

    &__item {
        padding-top: $unit * 2;
        margin-top: $unit * 2;
        border-top: 1px solid $gray-2;

        &:first-child {
            padding-top: 0;
            margin-top: 0;
            border-top-width: 0;
        }
    }

    @include media-breakpoint-up(md) {
    }
}