.files {
    @include list-unstyled;
    counter-reset: files-counter;

    > li,
    &__item {
        position: relative;
        border-bottom: 1px solid $gray-3;
        padding-left: $unit * 4;
        padding-bottom: ($unit * 3) - 1;
        @include margin-bottom($unit * 3);

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            counter-increment: files-counter;
            content: counter(files-counter, decimal-leading-zero)'.';
        }

        &-title {
            margin-bottom: $unit;
        }
    }
}