.file {
    display: flex;
    align-items: center;

    &__name {
        margin-right: $unit * 2;
    }

    &__type {
        background-color: $primary;
        border-radius: $border-radius;
        padding: ($unit / 2) $unit;
        margin-right: $unit;
        color: $white;
    }

    @include media-breakpoint-up(md) {
    }
}