.infobox {
    border-bottom: 2px solid $base-color;
    padding-bottom: ($unit * 4) - 2;
    @include margin-bottom($unit * 4);

    &:last-child {
        border-bottom-width: 0;
        padding-bottom: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: $unit * 3;
    }

    &__title {
        margin-right: auto;
        margin-bottom: 0;
        flex: 1;
    }

    &-informer {
        margin-left: $unit * 2;
    }

    &__list {
        @include list-unstyled;

        &-item {
            @include margin-bottom($unit * 3);
        }
    }

    &__more {
        margin-top: $unit * 3;
    }


    @include media-breakpoint-up(md) {
    }
}