.label {
    display: inline-block;
    vertical-align: middle;
    background-color: $gray-3;
    border-radius: $border-radius;
    padding: 6px $unit;
    color: $white;
    white-space: nowrap;

    &.success {
        background-color: $success;
    }
}