.legend {
    @include list-unstyled;

    &__item {
        @include margin-bottom($unit * 2);
        display: flex;
        align-items: flex-start;
    }

    &__color {
        @include size($unit * 2);
        @include rounded;
    }

    &__text {
        flex: 1;
    }

    &__number {
        text-align: right;
    }

    @include media-breakpoint-up(md) {
    }
}