.list-dash {
    @include list-unstyled;

    > li,
    &__item {
        position: relative;
        padding-left: $unit * 4;
        @include margin-bottom($unit * 2);

        &:before {
            content: '—';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}