.list-ordered {
    @include list-unstyled;
    counter-reset: ordered-counter;

    > li,
    &__item {
        position: relative;
        padding-left: $unit * 7;
        @include margin-bottom($unit * 4);

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            counter-increment: ordered-counter;
            content: counter(ordered-counter, decimal-leading-zero);
        }
    }
}