.list-default {
    @include list-unstyled;

    > li,
    &__item {
        border-bottom: 1px solid $gray-3;
        padding-bottom: ($unit * 2) - 1;
        margin-bottom: $unit * 2;

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}