.measure-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: ($grid-gutter - 1);
    color: inherit;
    border-radius: $border-radius-sm;
    border: 1px solid rgba($white, .2);

    @include hover-focus {
        background-color: $primary;
        color: $white;
    }

    &__icon {
        font-size: $unit * 6;
        margin-bottom: $unit * 3;
    }

    &__title {
        margin-bottom: 0;
    }
}