.measure {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: (($unit * 2) - 1);

    @include hover-focus {
        background-color: $gray;
        border-color: $gray;

        .measure__number {
            color: $primary;
        }
    }

    &__number {
        transition: color .25s ease-in-out;
    }

    .measures__item:nth-child(n+10) {
        &:before {
            content: counter(measures-counter);
        }
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }

    &__footer {
        margin-top: auto;
        color: $gray-3;
        overflow: hidden;
        align-items: baseline;
    }

    &__more {
        &-icon {
            color: $base-color;
            font-size: 20px;
        }

        &-link {
            display: none;
        }
    }

    &--card {
        border: 1px solid $gray-3;
        border-radius: $border-radius-sm;
        overflow: hidden;
        height: 100%;
    }

    &--card & {
        &__number {
            margin-bottom: $unit * 2;
        }

        &__text {
            margin-bottom: $unit * 4;
        }

        &__footer {
            color: $gray-4;
        }
    }

    @include media-breakpoint-up(md) {
        padding: (($unit * 3) - 1) ($grid-gutter - 1) ($grid-gutter - 1);

        &--card & {
            &__text {
                margin-bottom: $unit * 7;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        @include hover-focus {
            .measure__more {
                transform: translateX(0);
                transition: 0.25s ease-in-out;

                &-icon {
                    opacity: 0;
                }
            }
        }

        &__more {
            display: inline-flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            width: 120px;
            transform: translateX(-100px);
            transition: 0.25s ease-in-out;

            &-icon {
                opacity: 1;
                transition: 0.25s ease-in-out;
            }

            &-link {
                display: block;
                transition: 0.25s ease-in-out;
                margin-right: $unit * 2;
            }
        }
    }
}