.menu {
    margin-bottom: $unit * 4;

    &__toggle {
        width: 100%;
    }

    &__list {
        display: none;
        @include list-unstyled;
        margin-top: $unit * 2;
    }

    &__item {
        border-bottom: 1px solid $gray-3;

        &:last-child {
            border-bottom-width: 0;
        }

        &.is-active {
            border-bottom-width: 0;
            padding-bottom: $unit * 2;
        }
    }

    &__link {
        display: block;
        position: relative;
        padding: ($unit * 2) ($unit * 4) (($unit * 2) - 1) 0;
        color: $base-color;

        &:after {
            position: absolute;
            top: 20px;
            right: 0;
            transform: rotateX(0);
        }

        .menu__item.is-special &,
        .menu__item.is-active & {
            font-weight: 600;
        }

        .menu__item.is-active & {
            color: $primary;

            &:after {
                transform: rotateX(180deg);
                transition: transform .25s ease-in-out;
            }
        }

        @include hover-focus {
            color: $primary;
        }
    }

    &__submenu {
        display: none;

        .menu__item.is-active & {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            display: block !important;
            margin-top: 0;
        }
    }
}