.modal {
    background-color: $white;
    max-width: 448px;
    margin: auto;
    position: relative;
    border-radius: $border-radius-sm;
    box-shadow: 0 16px 32px rgba(35, 39, 51, 0.1);

    &__header,
    &__footer {
        padding: $unit * 3;
    }

    &__body {
        border-top: 1px solid $white;
        background-color: $gray;
        padding: $unit * 3;

        &:first-child {
            border-top-width: 0;
        }
    }

    &__title {
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__header,
        &__footer {
            padding: $unit * 4;
        }

        &__body {
            padding: ($unit * 3) ($unit * 4);
        }
    }
}

#modal-thanks .mfp-close {
    opacity: 0;
}

.mfp-container {
    padding: $gutter;
}