.news {
    position: relative;
    padding-bottom: $unit * 6;
    height: 100%;

    &__col {
        position: static;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        border-top: 1px solid $gray-3;
        padding-top: $unit * 3;
        margin-top: ($unit * 3) - 1;
    }

    &__card {
        display: block;
    }

    &__img {
        display: block;
        border-radius: $border-radius;
        margin-bottom: $unit * 3;
    }

    &__date {
        color: $primary;
        margin-bottom: $unit;
    }

    &__title {
        color: $base-color;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;

        .news__card--main & {
            /* autoprefixer: ignore next */
            -webkit-line-clamp: 5;
        }
    }

    &__more {
        position: absolute;
        left: ($unit * 2) - 1;
        bottom: 0;
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 0;

        &__col {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &__item {
            &:first-child {
                border-top-width: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }

        &__more {
            position: static;
        }
    }
}