.notifications {
    @include list-unstyled;

    &__item {
        border-bottom: 1px solid $gray-3;
        padding-bottom: $unit * 2;
        margin-bottom: $unit * 2;

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}