.sidebar {
    border-bottom: 2px solid $base-color;
    padding-bottom: $unit * 4;
    @include margin-bottom($unit * 4);

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: $unit * 4;
    }

    &__title {
        margin-right: auto;
        margin-bottom: 0;
        flex: 1;

        &-link {
            display: flex;
            align-items: center;
        }

        &-icon {
            font-size: 20px;
            margin-left: auto;
            padding-left: $unit * 2;
            top: -1px;
        }
    }

    &__more {
        margin-left: $unit * 2;
    }

    &__content {
        border-top: 1px solid $gray-3;
        margin-top: -10px;
        padding-top: $unit * 3;
    }

    &__tabs {
        background-color: $white;
        margin-top: -($unit * 3) - 1;
        padding-top: 9px;
    }

    @include media-breakpoint-up(md) {
    }
}