.step {
    color: $gray-3;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: $unit * 3;
    padding-bottom: ($unit * 6) - 1;
    width: 100%;

    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        border-bottom: 4px solid $primary;
        content: '';
        display: none;
    }

    &__number {
        display: block;
        max-width: $unit * 7;
        flex: 0 0 $unit * 7;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .steps__item.is-active & {
        color: $primary;

        &:after {
            display: block;
        }
    }

    .steps__item.is-complete & {
        color: $base-color;

        &:after {
            display: block;
            right: -$grid-gutter;
        }
    }

    .steps__item.is-complete:last-child & {
        &:after {
            right: 0;
        }
    }

    @include media-breakpoint-between(md, lg) {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;

        &__number {
            margin-bottom: $unit * 2;
        }
    }

    @include media-breakpoint-up(xl) {
        &__number {
            max-width: $unit * 9;
            flex: 0 0 $unit * 9;
        }
    }
}