.submenu {
    @include list-unstyled;

    &__item {
    }

    &__link {
        display: block;
        padding: 12px ($unit * 3);
        color: $base-color;

        .submenu__item.is-active & {
            color: $primary;
        }

        @include hover-focus {
            color: $primary;
        }
    }

    @include media-breakpoint-up(md) {
    }
}