.table-wrapper {
    overflow: visible;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-left: -$gutter;
        margin-right: -$gutter;
        padding-left: $gutter;
        padding-right: $gutter;
    }

    .table {
        min-width: 670px;
    }
}

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        @include hover-focus {
            td {
                background-color: #f9f9f9;
                transition: background .25s ease-in-out;
            }
        }
    }

    th,
    td {
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid $gray-3;
        padding: ($unit * 3) ($unit * 2) (($unit * 3) - 1);

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    th {
        font-weight: 400;
        padding-top: 0;
    }

    p {
        margin-bottom: $unit;
    }

    .td-status {
        width: $unit * 8;

        &,
        &:first-child {
            padding-left: $unit * 3;
        }

        [class^="icon-"], [class*=" icon-"] {
            vertical-align: baseline;
        }
    }

    .td-actions {
        &,
        &:last-child {
            padding-right: $unit * 3;
        }
    }

    &__popover-toggle {
        color: $gray-3;
        margin-left: 11px;
        top: -1px;
        cursor: pointer;
    }

    @include media-breakpoint-up(xl) {
        .td-status {
            width: $unit * 9;
        }

        .td-signature {
            width: $unit * 28;
        }

        .td-actions {
            width: $unit * 26;
        }
    }
}