.tabs {
    &__list {
        @include list-unstyled;
        display: flex;
        border-bottom: 1px solid $gray-3;
        margin-bottom: $unit * 3;
    }

    &__item {
        padding-right: 40px;
    }

    &__link {
        display: block;
        position: relative;
        color: $base-color;
        padding-bottom: 6px;
        border-bottom: 2px solid transparent;
        margin-bottom: -1px;

        &.is-active {
            color: $primary;
            border-bottom-color: $primary;
        }

        @include hover-focus {
            color: $gold-2;
        }
    }

    &__number {
        position: absolute;
        top: -$unit;
        left: 100%;
        margin-left: 10px;
        font-weight: 400;
    }

    &__tab {
        opacity:0;
        visibility:hidden;
        height:0;
        transition:all 0s ease-in-out;

        &.is-active {
            opacity:1;
            visibility:visible;
            height:auto;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}