@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?s72q67#iefix') format('embedded-opentype'),
       url('../fonts/icons.svg?s72q67') format('svg'),
       url('../fonts/icons.woff?s72q67') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.qs-arrow:before,
.slick-next:before,
.slick-prev:before,
.swiper-button-next:before,
.swiper-button-prev:before,
.mfp-close:before,
.mfp-arrow-left:before,
.mfp-arrow-right:before,
.custom-checkbox .custom-control__indicator:before,
.select2-selection__arrow:before,
.breadcrumb__item:after,
.link-helper:after,
.product__slider-link:after,
.amount-form__control:before,
.cart__status-label.is-success:before,
.cart__section-title.is-success:before,
.faq__item-icon:before,
.section__title--quote:before,
.mobile-menu__item--collapsible .mobile-menu__link:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before,
.breadcrumb__item:after {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-check-thin:before,
.cart__status-label.is-success:before,
.cart__section-title.is-success:before,
.custom-checkbox .custom-control__indicator:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e92c";
}
.icon-chevron-down:before,
.select2-selection__arrow:before,
.faq__title:after,
.link-helper:after,
.faq__item-icon:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-close:before,
.mfp-close:before {
  content: "\e907";
}
.icon-controls:before {
  content: "\e908";
}
.icon-eco:before {
  content: "\e92d";
}
.icon-fav:before {
  content: "\e909";
}
.icon-filter:before {
  content: "\e90a";
}
.icon-geo:before {
  content: "\e90b";
}
.icon-grid:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e90d";
}
.icon-history:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-logo-outline:before {
  content: "\e911";
}
.icon-logo:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-minus:before {
  content: "\e914";
}
.icon-minus-circle:before,
.mobile-menu__item--collapsible .mobile-menu__link:before {
  content: "\e92e";
}
.icon-next:before,
.qs-right:before,
.slick-next:before,
.swiper-button-next:before,
.mfp-arrow-right:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-play:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-plus-circle:before,
.mobile-menu__item--collapsible.is-collapsed .mobile-menu__link:before {
  content: "\e92f";
}
.icon-prev:before,
.qs-left:before,
.slick-prev:before,
.swiper-button-prev:before,
.mfp-arrow-left:before {
  content: "\e919";
}
.icon-quotes:before,
.section__title--quote:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-repeat-2:before {
  content: "\e91c";
}
.icon-repeat:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-shopping-bag:before {
  content: "\e920";
}
.icon-shopping-cart:before {
  content: "\e921";
}
.icon-star:before {
  content: "\e922";
}
.icon-thumbs-down:before {
  content: "\e923";
}
.icon-thumbs-up:before {
  content: "\e924";
}
.icon-transport:before {
  content: "\e925";
}
.icon-trash:before {
  content: "\e926";
}
.icon-truck:before {
  content: "\e927";
}
.icon-verified:before {
  content: "\e928";
}
.icon-viber:before {
  content: "\e929";
}
.icon-whatsapp:before {
  content: "\e92a";
}
.icon-zoom-in:before,
.product__slider-link:after {
  content: "\e92b";
}