//
// Links
//

a {
    text-decoration: $link-decoration;
    color: $link-color;
    outline: 0;

    @include transition(all 0.2s ease-in-out);

    @include hover-focus {
        //color: $link-hover-color;
        //text-decoration: $link-hover-decoration;
    }
}

.link-muted {
    color: $link-hover-color;

    @include hover-focus {
        color: $link-color;
    }
}

.link-inherit {
    color: inherit;

    @include hover-focus {
        color: inherit;
    }
}

.link-underline {
    text-decoration: underline;

    @include hover-focus {
        text-decoration: underline;
    }
}

.link-noline {
    text-decoration: none;
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}

@mixin link-primary {
    border-bottom: 1px dashed $gray-11;
    font-weight: $font-weight-semibold;

    @include hover-focus {
        color: $base-color;
        border-bottom-style: solid;
    }
}

.link-primary {
    @include link-primary;
}

.link-helper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: 0 6px 13px rgba($black, 0.08);
    border: 1px solid $white;
    border-radius: $border-radius-sm;
    padding: rem($spacer-3 - 1);
    color: inherit;
    white-space: nowrap;
    font-weight: $font-weight-semibold;

    &:after {
        font-size: rem($spacer-4);
        margin-left: rem($spacer);
    }

    @include hover-focus {
        border-color: $primary;
        box-shadow: none;
    }
}