.theme {
    &-dark {
        color: $white;
    }

    @each $key, $value in $theme-colors {
        &-#{$key} {
            @include setProperty('background-color', $value, 'bg');
            @include setProperty('color', $value, 'color');
 
            .tag--outline-white.is-active {
                @include setProperty('color', $value, 'bg');
            }
        }
    }

    &-light {
        @each $breakpoint in map-keys($grid-breakpoints) {
            @include media-breakpoint-up($breakpoint) {
                &.start-theme-#{$breakpoint} {
                    background-color: $gray-3;
                }

                &.stop-theme-#{$breakpoint} {
                    background-color: rgba($gray-3, 0);
                }
            }
        }
    }

    &-lighter {
        @each $breakpoint in map-keys($grid-breakpoints) {
            @include media-breakpoint-up($breakpoint) {
                &.start-theme-#{$breakpoint} {
                    background-color: $gray-2;
                }

                &.stop-theme-#{$breakpoint} {
                    background-color: rgba($gray-2, 0);
                }
            }
        }
    }
}