// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

@function getValue($map, $value, $fallback: null) {
    @if map-has-key($map, $value) {
        @return map-get($map, $value);
    } @else {
        @return $fallback;
    }
}

@mixin setProperty($property, $map, $value: $property) {
    @if map-has-key($map, $value) {
        #{$property}: getValue($map, $value);
    }
}

// colors
//
// grayscale and brand colors

$gray:     #f2f3f7 !default;
$gray-2:   #f8f8f8 !default;
$gray-3:   #f5f5f5 !default;
$gray-4:   #f4f4f4 !default;
$gray-5:   #f2f2f2 !default;
$gray-6:   #ececec !default;
$gray-7:   #e0e0e0 !default;
$gray-8:   #d6d6d6 !default; // also #d5d5d5
$gray-9:   #d4d4d4 !default;
$gray-10:  #b6c2c9 !default;
$gray-11:  #b1b1b1 !default;
$gray-12:  #afafaf !default;
$gray-13:  #a6a6a6 !default; // also #a5a5a5
$gray-14:  #a0a0a0 !default;
$gray-15:  #999999 !default;
$gray-16:  #898989 !default;
$gray-17:  #828282 !default;
$gray-18:  #505050 !default;
$gray-19:  #4f4f4f !default;
$gray-20:  #3c3c3c !default;
$gray-21:  #333333 !default;

$blue:     #dce9ef !default;
$blue-2:   #9db9c6 !default;

$green:    #edfbf3 !default;
$green-2:  #27ae60 !default;
$green-3:  #dbecda !default;
$green-4:  #abd3a8 !default;
$green-5:  #009926 !default;

$orange:   #ff4100 !default;

$pink:     #fde5e5 !default;
$pink-2:   #ee23c9 !default;
$pink-3:   #ffedfc !default;

$purple:   #f3e7ff !default;
$purple-2: #7845a8 !default;

$red:      #eb5757 !default;
$red-2:    #ff0000 !default;
$red-3:    #ffe5e5 !default;

$yellow:   #f8e65e !default;
$yellow-2: #ffb800 !default;

$white:    #ffffff !default;

$black:    #000000 !default;
$black-2:  #1c1c1c !default;
$black-3:  #181818 !default;

$whatsapp: #25d366 !default;

$base-color: $gray-21 !default;
$primary:    $orange !default;
$success:    $green-2 !default;
$danger:     $red !default;

$colors: () !default;
$theme-colors: () !default;
$sticker-colors: () !default;
$catalog-item-colors: () !default

$colors: map-merge(
    (
        "primary":  $primary,
        "base":     $base-color,
        "light":    $gray-3,
        "success":  $success,
        "danger":   $danger,
        "lightest": $gray-13,
    ),
    $colors
);

$theme-colors: map-merge(
    (
        "primary": (
            "bg": $primary,
            "color": $white,
        ),
        "purple": (
            "bg": $purple-2,
            "color": $white,
        ),
        "base": (
            "bg": $base-color,
            "color": $white,
        ),
        "light": (
            "bg": $gray-3,
            "color": $base-color,
        ),
        "lighter": (
            "bg": $gray-2,
            "color": $base-color,
        ),
    ),
    $theme-colors
);

$sticker-colors: map-merge(
    (
        "new": (
            "bg": $green,
            "color": $green-2,
        ),
        "bargain": (
            "bg": $purple,
            "color": $purple-2,
        ),
        "bestseller": (
            "bg": $pink,
            "color": $primary,
        ),
        "soon": (
            "bg": $pink-3,
            "color": $pink-2,
        )
    ),
    $sticker-colors
);

$catalog-item-colors: map-merge(
    (
        "blue": (
            "bg": $blue,
            "color": $blue-2,
        ),
        "green": (
            "bg": $green-3,
            "color": $green-4,
        ),
    ),
    $catalog-item-colors
);

// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1920px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-widths: (
  xs: 100%
) !default;
@include _assert-ascending($container-widths, "$container-widths");

$container-max-widths: (
    xl: 1280px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$container-md-max-widths: (
    md: 497px,
    lg: 1000px,
) !default;
@include _assert-ascending($container-md-max-widths, "$container-md-max-widths");

$container-lg-max-widths: (
    md: 752px,
    lg: 1000px,
) !default;
@include _assert-ascending($container-lg-max-widths, "$container-lg-max-widths");


// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$gutter: 24px !default;
$gutter-lg: 32px !default;

$grid-gutters: (
  xs: 16px,
  lg: 24px
) !default;
@include _assert-ascending($grid-gutters, "$grid-gutters");
$grid-gutter-xs: map-get($grid-gutters, 'xs');
$grid-gutter-lg: map-get($grid-gutters, 'lg');

$spacer:    4px;
$spacer-2:  $spacer * 2;  // 8px
$spacer-3:  $spacer * 3;  // 12px
$spacer-4:  $spacer * 4;  // 16px
$spacer-5:  $spacer * 5;  // 20px
$spacer-6:  $spacer * 6;  // 24px
$spacer-7:  $spacer * 7;  // 28px
$spacer-8:  $spacer * 8;  // 32px
$spacer-9:  $spacer * 9;  // 36px
$spacer-10: $spacer * 10; // 40px


// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($primary, 10%) !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Gilroy', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-headings: $font-family-sans-serif !default;

$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       14px !default;
$font-size-3xl:        48px !default;
$font-size-2xl:        32px !default;
$font-size-xl:         24px !default;
$font-size-lg:         18px !default;
$font-size-md:         16px !default;
$font-size-sm:         12px !default;
$font-size-xs:         11px !default;

$line-height-base:     20.01px !default;
$line-height-3xl:      52.01px !default;
$line-height-2xl:      42.01px !default;
$line-height-xl:       32.01px !default;
$line-height-lg:       26.01px !default;
$line-height-md:       24.01px !default;
$line-height-sm:       18.01px !default;
$line-height-xs:       14.01px !default;

$font-size-h1:         36px !default;
$font-size-h2:         40px !default;
$font-size-h3:         32px !default;
$font-size-h4:         28px !default;
$font-size-h5:         24px !default;
$font-size-h6:         22px !default;

$line-height-h1:       46.01px !default;
$line-height-h2:       52.01px !default;
$line-height-h3:       40.01px !default;
$line-height-h4:       34.01px !default;
$line-height-h5:       32.01px !default;
$line-height-h6:       28.01px !default;

$theme-fonts: map-merge(
  (
  "3xl":  ( $font-size-3xl,  $line-height-3xl ),
  "2xl":  ( $font-size-2xl,  $line-height-2xl ),
  "xl":   ( $font-size-xl,   $line-height-xl ),
  "lg":   ( $font-size-lg,   $line-height-lg ),
  "md":   ( $font-size-md,   $line-height-md ),
  "sm":   ( $font-size-sm,   $line-height-sm ),
  "xs":   ( $font-size-xs,   $line-height-xs ),
  "base": ( $font-size-base, $line-height-base ),
  ),
  $theme-colors
);

// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base)
) !default;


$small-font-size: 80% !default;

$text-muted: rgba($base-color, .5) !default;

// Border radius
//
//
$border-radius: .25rem !default;
$border-radius-sm: .5rem !default;
$border-radius-md: .75rem !default;
$border-radius-lg: 1rem !default;
$border-radius-xl: 100px !default;

// Buttons
//
//
$btn-font-family:   $font-family-base !default;
$btn-font-weight:   $font-weight-semibold !default;
$btn-font-size:     $font-size-md !default;
$btn-line-height:   $line-height-sm !default;
$btn-border-radius: $border-radius-sm !default;
$btn-border-width:  1px !default;
$btn-padding-x:     $spacer-4 !default;
$btn-padding-y:     $spacer-4 !default;
$btn-height:        52px !default;
$btn-icon-size:     $spacer-6 !default;

$btn-default-color: $white !default;
$btn-default-bg: $black !default;
$btn-default-bg-hover: $primary !default;
$btn-default-bg-active: $gray-8 !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-bg-hover: $btn-default-bg !default;
$btn-primary-bg-active: $gray-8 !default;

$btn-default-outline-color: $primary !default;
$btn-default-outline-border: $black !default;
$btn-default-outline-border-hover: $primary !default;
$btn-default-outline-border-active: $gray-8 !default;

$btn-disabled-bg: $gray-6 !default;
$btn-disabled-color: $gray-11 !default;

$btn-sizes: () !default;
$btn-themes: () !default;
$btn-themes-outline: () !default;

$btn-sizes: map-merge(
    (
        "xl": (
            "height": 74px,
            "padding-x": $spacer-10,
            "font-weight": $font-weight-bold,
            "font-size": $font-size-xl,
            "line-height": $line-height-xl,
        ),
        "md": (
            "height": 56px,
            "padding-x": $spacer-10,
            "font-size": $font-size-md,
            "line-height": $line-height-md,
            "icon-size": $font-size-2xl,
        ),
        "sm": (
            "height": 48px,
            "padding-x": $spacer-4,
            "font-size": $font-size-md,
            "line-height": $line-height-md,
            "icon-size": $font-size-xl,
        ),
        "xs": (
            "height": 34px,
            "padding-x": $spacer-3,
            "font-size": $font-size-base,
            "line-height": $line-height-base,
            "icon-size": $font-size-lg,
        ),
    ),
    $btn-sizes
);

$btn-themes: map-merge(
    (
        "primary": (
            "color": $white,
            "bg": $primary,
            "color-hover": $primary,
            "bg-hover": $white,
        ),
        "white": (
            "color": $primary,
            "bg": $white,
            "color-hover": $white,
            "bg-hover": rgba($white, .4),
        ),
    ),
    $btn-themes
);

$btn-themes-outline: map-merge(
    (
        "primary": (
            "color": $primary,
            "border": $primary,
        ),
        "default": (
            "color": $base-color,
            "border": $gray-6,
            "border-hover": $primary,
        ),
        "default-primary": (
            "color": $primary,
            "border": $gray-6,
            "border-hover": $primary,
        ),
        "lighter": (
            "color": $base-color,
            "border": $gray-7,
            "border-hover": $gray-8,
            "bg-hover": rgba($gray-9, .4),
        ),
        "light": (
            "color": $base-color,
            "border": $gray-8,
            "border-hover": $primary,
        ),
        "white": (
            "color": $white,
            "border": $white,
            "border-hover": $white,
            "bg-hover": rgba($white, .4),
        ),
    ),
    $btn-themes-outline
);



// Form
//
//
$input-color-placeholder: $gray-11 !default;

$input-height:            52px !default;
$input-font-size:         $font-size-base !default;
$input-font-weight:       $font-weight-normal !default;
$input-font-family:       $font-family-base !default;
$input-line-height:       $line-height-base !default;

$input-color:             $base-color !default;
$input-bg-color:          $white !default;
$input-border-color:      $gray-6 !default;
$input-border-width:      1px !default;
$input-border-radius:     $border-radius-sm !default;

$input-padding-x:         $spacer-4 - $input-border-width !default;
$input-padding-x-icon:    47px !default;
$input-padding-y:         $spacer-4 - $input-border-width !default;

$input-height-md:         56px !default;
$input-padding-x-md:      17px !default;
$input-padding-y-md:      17px !default;

$input-height-sm:         48px !default;
$input-padding-x-sm:      $spacer-4 - $input-border-width * 2 !default;
$input-padding-y-sm:      $spacer-4 - $input-border-width * 2 !default;

$input-bg-focus:          $input-bg-color !default;
$input-border-focus:      $input-border-color !default;
$input-color-focus:       $input-color !default;

$input-border-hover:      $gray-6 !default;

$input-disabled-color:    $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg-color !default;
$input-disabled-border-color: $input-border-color !default;

$form-group-margin-bottom:    $spacer-4 !default;
$form-group-margin-bottom-sm: $spacer-3 !default;
$form-group-margin-bottom-md: $spacer-6 !default;

$cursor-disabled: not-allowed !default;


// Header
//
//
$header-height-mobile: 48px !default;
$header-height:        186px !default;


// Mobile navigation
//
//
$mobile-nav-height: 56px !default;


// Progress bars
//
//
$progress-height:                   10px !default;
$progress-bg:                       $gray-6 !default;
$progress-border-radius:            $progress-height !default;
$progress-bar-bg:                   $primary !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;
