.page-trade-in {
    .page-header {
        padding-bottom: rem($spacer-4);
    }

    .page-header__description {
        margin-top: rem($spacer-6);
    }

    @include media-breakpoint-up(md) {
        .page-header {
            padding-bottom: rem($spacer-6);

            .container--lg {
                max-width: rem(678px);
            }

            h1 {
                max-width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .page-header__description {
            @include font($font-size-md, $line-height-md);
        }
    }

    @include media-breakpoint-up(lg) {
        .page-header {
            padding-bottom: rem($spacer-10);

            h1 {
                max-width: none;
            }
        }
    }
}