<div class="section section--bounded about cover">
  <div class="about__container container">
    <div class="section__row row align-items-xl-center">
      <div class="section__col col-xs-12 col-xl-6 order-xs-last order-xl-first">
        <div class="about__heading section__heading">
          <a href="/" class="about__logo logo">
            <i class="logo__icon icon-logo text-primary"></i>
            <img src="/assets/img/logo-smart-bazar.svg" alt="{{ company.name }} logo" class="logo__img">
          </a>
          <h2 class="section__title h1 about__title">это разумная экономия на&nbsp;гаджетах</h2>
        </div>
      </div>

      <div class="section__col col-xs-12 col-xl-6">
        <div class="about__content section__content">
          <h3 class="section__subtitle h1">Новые смартфоны теряют в&nbsp;цене 30—50% сразу после покупки</h3>
          <div class="section__text">
            <p>Новинки цифровой техники появляются каждый месяц и стоят дорого, особенно флагманские модели. Если вы захотите продать смартфон, то сразу потеряете около половины от стоимости. Каждый раз покупая новое устройство, вы теряете деньги.</p>
            <p>С нами вы можете обновлять смартфоны всей семьей в несколько простых действий. Мы будем сопровождать вас на каждом этапе: проконсультируем при выборе гаджета, поможем с оформлением заказа, а специалисты колл-центра будут на связи круглые сутки.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/img/temp/about-cover.jpg" alt="" class="cover__bg-img">
</div>