<div class="section accept">
  <div class="accept__container container">
    <div class="section__row row align-items-xl-center">
      <div class="section__col col-xs-12 col-xl-6">
        <div class="section__heading">
          <h2 class="section__title h1 text-primary">Принимаем гаджеты в&nbsp;трейд-ин</h2>
        </div>
      </div>

      <div class="section__col col-xs-12 col-xl-6">
        <div class="section__content">
          <div class="section__text">
            <p>Принимаем гаджеты по программе trade-in. Принесите ваш смартфон в любой салон «Связной» или «Мегафон», мы продиагностируем и оценим устройство, а деньги за него пойдут в счет покупки другого гаджета.</p>
            <p><a href="#modal-trade-in" class="link-primary" data-element="modal-trigger">Узнать предварительную стоимость</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>