<div class="section section--bounded arrivals theme-dark theme-purple">
  <div class="arrivals__container container">
    <div class="arrivals__heading">
      <h2 class="arrivals__title">Скоро в продаже</h2>
      <p class="arrivals__description">Следите за поступлением флагманов, чтобы стать их первым обладателем!</p>
      <ul class="arrivals__tags tags tags--md row row--sm">
        {% for tag in nav.main|slice(0,5) %}
          <li class="tags__item col">
            <a href="#" class="tag tag--md tag--outline-white {% if loop.first %} is-active {% endif %}">{{ tag.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="arrivals__slider swiper">
      <div class="arrivals__slider-container swiper-container" data-slider="arrivals">
        <div class="swiper-wrapper">
          {% for item in catalog.items %}
            <div class="arrivals__item swiper-slide">
              <div class="item-card item-card--md">
                <a href="catalog-item.html" class="item-card__picture">
                  <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
                  {% if item.stickers %}
                    <div class="item-card__stickers stickers">
                      {% for sticker in item.stickers %}
                        <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
                      {% endfor %}
                    </div>
                  {% endif %}
                </a>

                <div class="item-card__body">
                  <div class="item-card__title">
                    <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
                  </div>

                  <div class="item-card__condition">
                    <span class="item-card__condition-label">Состояние:</span>
                    <a href="#modal-condition" class="item-card__condition-link link-primary" data-element="modal-trigger">{{ item.condition }}</a>
                  </div>
                </div>

                <div class="item-card__controls">
                  <button class="item-card__button button button--primary button--block">
                    Узнать о поступлении
                  </button>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="arrivals__prev swiper-button-prev"></div>
      <div class="arrivals__next swiper-button-next"></div>
    </div>
  </div>
</div>