<div class="section section--widened benefits theme-lighter">
  <div class="container">
    <div class="benefits__heading heading">
      <h2 class="benefits__title heading__title">Делаем всё, чтобы вы получали максимум удовольствия от покупки</h2>
      <div class="benefits__heading-controls heading__controls swiper-controls hidden-sm-down">
        <div class="benefits__prev swiper-button-prev"></div>
        <div class="benefits__next swiper-button-next"></div>
      </div>
    </div>

    <div class="benefits__slider swiper">
      <div class="swiper-container" data-slider="benefits">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in benefits %}
            <div class="benefits__item swiper-slide">
              <div class="benefit-card">
                <span class="benefit-card__picture">
                  {{ svg.icon(item.icon, 'benefit-card__icon') }}
                </span>
                <p class="benefit-card__text">{{ item.text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="benefits__slider-controls swiper-controls hidden-md-up">
        <div class="benefits__prev swiper-button-prev"></div>
        <div class="benefits__next swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>