<div class="section section--widened benefits theme-lighter">
  <div class="container">
    <div class="benefits__heading heading">
      <h2 class="benefits__title heading__title">Делаем всё, чтобы вы получали максимум удовольствия от покупки</h2>
      <div class="benefits__heading-controls heading__controls swiper-controls hidden-sm-down">
        <div class="benefits-extended__prev swiper-button-prev"></div>
        <div class="benefits-extended__next swiper-button-next"></div>
      </div>
    </div>

    <div class="benefits__slider swiper">
      <div class="swiper-container" data-slider="benefits-extended">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in benefitsExtended %}
            <div class="benefits__item benefits__item--extended swiper-slide">
              <div class="benefit-card benefit-card--extended">
                <div class="benefit-card__header">
                  <span class="benefit-card__picture">
                    {{ svg.icon(item.icon, 'benefit-card__icon') }}
                  </span>
                  <div class="benefit-card__title">{{ item.title }}</div>
                </div>
                <p class="benefit-card__text">{{ item.text }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="benefits__slider-controls swiper-controls hidden-md-up">
        <div class="benefits-extended__prev swiper-button-prev"></div>
        <div class="benefits-extended__next swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>