<div class="section section--widened catalog">
  <div class="container">

    <div class="catalog__heading heading">
      <h2 class="catalog__title heading__title">Популярные смартфоны</h2>
      <div class="heading__controls swiper-controls hidden-sm-down">
        <div class="catalog__prev swiper-button-prev"></div>
        <div class="catalog__next swiper-button-next"></div>
      </div>
    </div>

    {% include '_catalog-slider.twig' with { items: catalog.itemsPhones, sliderClass: 'catalog__slider--lg' } %}
  </div>
</div>

<div class="section section--widened catalog">
  <div class="container">

    <div class="catalog__heading heading">
      <h2 class="catalog__title heading__title">Популярные ноутбуки</h2>
      <div class="heading__controls swiper-controls hidden-sm-down">
        <div class="catalog__prev swiper-button-prev"></div>
        <div class="catalog__next swiper-button-next"></div>
      </div>
    </div>

    {% include '_catalog-slider.twig' with { items: catalog.itemsLaptops, sliderClass: 'catalog__slider--lg' } %}
  </div>
</div>