<section>
  <h5>Диагностика по 55 параметрам</h5>
  <p>Все наши гаджеты тщательно продиагностированы в «МТ Сервис» — одном из лучших сервисных центров России. Устройства, которым это требовалось, прошли ремонт и замену деталей.</p>
</section>

<section>
  <h5>Абсолютная безопасность</h5>
  <p>Каждый смартфон</p>
  <ul>
    <li>проверка на оригинальность — вам не нужно опасаться подделки</li>
    <li>без персональных данных: настройки сброшены до 12заводских</li>
    <li>юридическая проверка: нам известна история от и до</li>
    <li>гигиеническая обработка</li>
  </ul>
</section>

<section>
  <h5>Гарантия качества от 100 до 180 дней</h5>
  <p>Для каждого грейда предусмотрен свой гарантийный срок:</p>
  <ul>
    <li><a href="#" class="link-primary">Как новый</a> — 180 дней</li>
    <li><a href="#" class="link-primary">Отличный</a> — 180 дней</li>
    <li><a href="#" class="link-primary">Хороший</a> — 100 дней</li>
  </ul>
</section>

<section>
  <h5>Обмен и возврат</h5>
  <p>Если со смартфоном возникли проблемы, мы обменяем его на аналогичный, отремонтируем за свой счет или вернем деньги. Также вы можете вернуть смартфон без объяснения причин в течение 21 дня.</p>
</section>

<section>
  <h5>Круглосуточная поддержка</h5>
  <p>В течение гарантийного срока — и даже после него  — мы остаемся на связи: если у вас есть вопросы по устройству или его использованию, позвоните в наш круглосуточный <a href="#" class="link-primary">колл-центр</a>. Если вопрос сложный, переключим на технического специалиста, который перезвонит в удобное для вас время.</p>
</section>