<div class="section catalog">
  <div class="container">

    <div class="catalog__heading heading">
      <h2 class="catalog__title catalog__title--sm heading__title">Скидка 2000 ₽ на этот смартфон при покупке аксессуаров</h2>
    </div>

    {% include '_catalog-items.twig' with { items: catalog.set, listGrid: true, gridSize: 4, itemSet: true } %}
  </div>
</div>