<div class="item-card item-card--shop">
  <div class="item-card__content">
    <a href="catalog-item.html" class="item-card__picture">
      <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
    </a>

    <div class="item-card__body">
      <div class="item-card__shop">{{ item.shop }}</div>

      <div class="item-card__title">
        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
      </div>
    </div>
  </div>

  <div class="item-card__footer">
    <div class="item-card__prices">
      <div class="item-card__price">{{ item.price }} ₽</div>
    </div>
  </div>
</div>