<div class="item-card {% if item.size %} item-card--{{ item.size }}{% endif %} {% if isItemHorizontal %} item-card--horizontal{% endif %} {% if isItemSet %} item-card--set{% endif %} {% if item.theme %}item-card--theme-{{ item.theme }}{% endif %} {% if itemClass %} item-card--{{ itemClass }}{% endif %} {% if isItemCart %} item-card--cart{% endif %}">
  {% if item.theme %}
    <div class="item-card__label">Выбор покупателей</div>
  {% endif %}

  {% if isFavActive %}
    <button class="item-card__close icon-close" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="Удалить из избранного"></button>
  {% endif %}

  <div class="item-card__content">
    <a href="catalog-item.html" class="item-card__picture">
      <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
      {% if item.stickers %}
        <div class="item-card__stickers stickers">
          {% for sticker in item.stickers %}
            <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </a>

    <div class="item-card__body">
      <div class="item-card__title">
        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
      </div>

      <div class="item-card__rating rating">
        <span class="rating__stars rating-stars" data-rate="{{ item.rating }}">
          {% for i in 1..5 %}
            {{ svg.icon('star', 'rating-stars__star') }}
          {% endfor %}
        </span>
        <span class="rating__counter">{{ item.reviews }}</span>
      </div>

      {% if item.condition %}
        <div class="item-card__condition">
          <span class="item-card__condition-label">Состояние:</span>
          <a href="#modal-condition" class="item-card__condition-link link-primary" data-element="modal-trigger" data-effect="mfp-zoom-in modal-full-tablet">{{ item.condition }}</a>
        </div>
      {% endif %}

      <ul class="item-card__tags tags tags--adaptible row row--xs" data-component="adaptible-tags" data-id="{{ item.id }}" data-tag-class="tag tag--sm tag--default" data-tippy-placement="top-start" {% if tagsBreakpoint %}data-breakpoint="{{ tagsBreakpoint }}"{% endif %}>
        {% for tag in item.tags %}
          <li class="tags__item col" data-element="adaptible-item">
            <a href="#" class="tag tag--sm tag--default">{{ tag }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="item-card__footer">
    {% if item.marketPrice %}
      <div class="item-card__price-info price-info">
        <dl class="price-info__item">
          <dt class="price-info__label">Цена нового товара на&nbsp;Я.Маркете</dt>
          <dd class="price-info__price text-muted">{{ item.marketPrice }} ₽</dd>
        </dl>
        <dl class="price-info__item">
          <dt class="price-info__label">Минимальная выгода</dt>
          <dd class="price-info__price">{{ item.minSave }} ₽</dd>
        </dl>
      </div>

      {% if isItemSet %}
        <dl class="item-card__market">
          <dt class="item-card__market-label">Цена нового товара на&nbsp;Я.Маркете:</dt>
          <dd class="item-card__market-data">от {{ item.marketPrice }} ₽ <b class="text-primary">выгода до {{ item.minSave }} ₽</b></dd>
        </dl>
      {% endif %}

    {% endif %}

    <div class="item-card__prices">
      <div class="item-card__price">{{ item.price }} ₽</div>
      <div class="item-card__bonus bonus">
        <span class="bonus__text">+{{ item.bonus }} баллов</span>
        <i class="bonus__icon icon-logo-outline"></i>
      </div>
    </div>

    {% if not isItemSet %}
      <div class="item-card__controls">
        {% if not isItemCart %}
          {% if loop.index == 4 %}
            <button class="item-card__button item-card__button--buy button button--primary button--md is-active">
              В&nbsp;корзине
            </button>
            {% elseif loop.index == 7 %}
            <button class="item-card__button item-card__button--buy button button--primary button--md" data-mfp-src="#modal-item-subscribe" data-element="modal-trigger">
              Сообщить о поступлении
            </button>
            {% elseif loop.index == 8 %}
            <button class="item-card__button item-card__button--buy button button--primary button--md is-active">
              Вы подписаны
            </button>
            {% else %}
            <button class="item-card__button item-card__button--buy button button--primary button--md" data-mfp-src="#modal-in-cart" data-element="modal-trigger">
              <i class="button__icon icon-basket"></i>
              В&nbsp;корзину
            </button>
          {% endif %}

          <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-controls" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="Добавить в список сравнения"></button>
          <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-fav {% if isFavActive %}is-active{% endif %}" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="{% if isFavActive %}Удалить из избранного{% else %}Добавить в избранное{% endif %}"></button>

          {% else %}
          <button class="item-card__button item-card__button--buy button button--primary button--md">Оформить заказ</button>
          <a href="#" class="item-card__controls-link link-primary" data-element="modal-close">Продолжить покупки</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>