<div class="product-info__feedback feedback tabs tabs--default" data-component="tabs">
  <ul class="tabs__list row justify-xs-center">
    <li class="tabs__item col">
      <a href="#product-reviews" class="tabs__link is-active" data-element="tabs-toggle">Отзывы <span class="tabs__badge">6</span></a>
    </li>
    <li class="tabs__item col">
      <a href="#product-questions" class="tabs__link" data-element="tabs-toggle">Вопросы <span class="tabs__badge">1</span></a>
    </li>
  </ul>

  <div class="feedback__content tabs__content content-frame">
    <div class="tabs__tab is-active" role="tabpanel" data-id="product-reviews" data-element="tabs-tab">
      <div class="feedback__header">
        <div class="row align-items-md-center justify-md-between">
          <div class="col-xs-12 col-md-auto">
            <div class="feedback__rating rating">
              <span class="rating__total">4.0</span>
              <span class="rating__stars rating-stars rating-stars--lg" data-rate="4">
                {% for i in 1..5 %}
                  {{ svg.icon('star', 'rating-stars__star') }}
                {% endfor %}
              </span>
              <span class="rating__label text-sm text-muted">на основе 6 отзывов</span>
            </div>
          </div>

          <div class="col-xs-12 col-md-auto hidden-sm-down" data-element="placeholder" data-id="product-reviews-button" data-device="tablet"></div>
        </div>
      </div>

      <div class="feedback__list">
        {% for review in reviews %}
          {% include '_review.twig' with { sectionClass: 'feedback__item', reviewClass: 'review--sm' } %}
        {% endfor %}
      </div>

      <div class="feedback__footer">
        <button class="feedback__control button button--outline-default-primary button--sm" data-text-off="Посмотреть еще 5 отзывов" data-text-on="Скрыть отзывы" data-element="show-all-toggle">Посмотреть еще 5 отзывов</button>

        <div class="feedback__control hidden-md-up" data-element="placeholder" data-id="product-reviews-button" data-device="mobile">
          <a href="#modal-review-form" class="feedback__button button button--primary button--block" data-block="movable-block" data-id="product-reviews-button" data-element="modal-trigger">Добавить отзыв</a>
        </div>
      </div>
    </div>

    <div class="tabs__tab" role="tabpanel" data-id="product-questions" data-element="tabs-tab">
      <div class="feedback__header hidden-sm-down" data-element="placeholder" data-id="product-questions-button" data-device="tablet"></div>

      <div class="feedback__list">
        {% for comment in product.questions %}
          {% include '_comment.twig' with { sectionClass: 'feedback__item' } %}
        {% endfor %}
      </div>

      <div class="feedback__footer hidden-md-up" data-element="placeholder" data-id="product-questions-button" data-device="mobile">
        <a href="#modal-question-form" class="feedback__button button button--primary button--block" data-block="movable-block" data-id="product-questions-button" data-element="modal-trigger">Задать вопрос</a>
      </div>
    </div>
  </div>
</div>
