<div class="section section--widened categories">
  <div class="container">
    <div class="categories__heading">
      <h2 class="categories__title">Помочь с выбором?</h2>
      <div class="categories__heading-controls slick-controls hidden-sm-down">
        <button class="categories__tags-prev slick-arrow slick-prev" title="Назад"></button>
        <button class="categories__tags-next slick-arrow slick-next" title="Вперед"></button>
      </div>
    </div>

    <div class="categories__tags swiper tags row row--sm" data-slider="categories-tags">
      {% for item in categories.tags %}
        <div class="tags__item slick-slide col">
          <a href="#" class="tag tag--lg theme-light">{{ item }}</a>
        </div>
      {% endfor %}
    </div>

    <div class="categories__heading">
      <h2 class="categories__title">Выберите категорию</h2>
    </div>

    <div class="categories__slider swiper row">
      <div class="swiper-container" data-slider="categories">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in nav.main|slice(0,5) %}
            <div class="categories__slide swiper-slide col">
              <div class="category-card">
                <a href="catalog.html" class="category-card__picture">
                  <img src="/assets/img/temp/categories/{{ item.image }}.png" alt="" class="category-card__img">
                </a>
                <h3 class="category-card__title h5">
                  <a href="catalog.html" class="link-inherit">{{ item.name }}</a>
                </h3>
                <ul class="category-card__list brands-list brands-list--lg">
                  {% for brand in categories.brands %}
                    <li class="brands-list__item">
                      <a href="#" class="brands-list__link">{{ brand }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <a href="catalog.html" class="categories__menu-more more">Все модели<i class="more__icon icon-next"></i></a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="categories__menu-pagination swiper-pagination"></div>
    </div>
  </div>
</div>