<div class="item-card item-card--cart-mobile {{ itemClass }}">
  <div class="item-card__content">
    <a href="catalog-item.html" class="item-card__picture">
      <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
    </a>

    <div class="item-card__body">
      <div class="item-card__title">
        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
      </div>

      <div class="item-card__prices">
        <div class="item-card__price">{{ item.price }} ₽</div>
        <div class="item-card__bonus bonus">
          <span class="bonus__text">+{{ item.bonus }} баллов</span>
          <i class="bonus__icon icon-logo-outline"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="item-card__footer">
    <div class="item-card__controls">
      <button class="item-card__button item-card__button--buy button button--primary button--sm">Оформить заказ</button>
      <button class="item-card__button item-card__button--buy button button--outline-default-primary button--sm" data-element="modal-close">Продолжить покупки</button>
    </div>
  </div>
</div>