<div class="product-info__tabs tabs tabs--pills tabs--pills-md" data-component="tabs">
  <ul class="product-info__tabs-list tabs__list row">
    {% for tab in product.info %}
      <li class="tabs__item col">
        <a href="#product-{{ tab.id }}" class="tabs__link {% if loop.first %} is-active {% endif %} text-md" data-element="tabs-toggle">{{ tab.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="product-info__tabs-content tabs__content">
    {% for tab in product.info %}
      <div class="product-info__tabs-tab tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="product-{{ tab.id }}" data-element="tabs-tab">
        {% if tab.id == 'guarantee' %}

          <div class="product-info__section infoblock">
            <h2 class="infoblock__title h5">{{ tab.name }}</h2>
            <div class="content-frame content-frame--disolved product-info__text-block text-block text-block--columns">
              <div class="fixed-height-block" data-component="mobile-fixed-height">
                <div class="fixed-height-block__content" data-element="mobile-fixed-height-content">
                  {% include '_catalog-item-guarantee.twig' %}
                </div>
              </div>
            </div>
          </div>

          {% else %}

          <div class="product-info__section infoblock">
            <h2 class="infoblock__title h5">{{ tab.name }}</h2>
            {% if tab.text %}
              <div class=" content-frame {% if tab.id != 'features' %}content-frame--disolved{% endif %} product-info__text-block text-block">
                <div class="fixed-height-block" data-component="mobile-fixed-height">
                  <div class="fixed-height-block__content" data-element="mobile-fixed-height-content">
                    <p>{{ tab.text }}</p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if tab.sections %}
              <div class=" content-frame {% if tab.id != 'features' %}content-frame--disolved{% endif %}" data-component="show-all">
                {% for section in tab.sections %}
                  <section class="infoblock__section {% if not loop.first %}hidden{% endif %}" {% if not loop.first %}data-element="hidden-element"{% endif %}>
                    <h5 class="infoblock__section-title">{{ section.title }}</h5>
                    {% include '_details-list.twig' with { details: section.details } %}
                  </section>
                {% endfor %}

                <div class="infoblock__action">
                  <a href="#" class="infoblock__button link-primary hidden-md-up" data-text-off="Все характеристики" data-text-on="Скрыть характеристики" data-element="show-all-toggle">Все характеристики</a>
                  <button class="infoblock__button button button--outline-default-primary button--sm hidden-sm-down" data-text-off="Посмотреть все характеристики" data-text-on="Скрыть характеристики" data-element="show-all-toggle">Посмотреть все характеристики</button>
                </div>
              </div>
            {% endif %}

            {% if tab.list %}
              <div class=" content-frame {% if tab.id != 'features' %}content-frame--disolved{% endif %}">
                {% if tab.id == 'delivery' %}
                  <div class="row">
                    <div class="product-info__select col-xs-12 col-xl-6">
                      <select data-element="select" class="select-md">
                        {% for city in location.cities %}
                          <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ city }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {% endif %}

                {% include '_services-list.twig' with { servicesClass: 'product-info__services', services: tab.list } %}
              </div>
            {% endif %}
          </div>

        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
