<div class="catalog__slider {{ sliderClass }} swiper">
  <div class="catalog__slider-container swiper-container" data-slider="catalog">
    <div class="swiper-wrapper">
      {% for item in items %}
        <div class="catalog__slide {% if item.size %} catalog__slide--{{ item.size }} {% endif %} swiper-slide" {% if item.size != 'lg' and sliderClass %}data-element="catalog-slide"{% endif %}>
          {% if isShop %}
            {% include '_catalog-item-shop.twig' %}
            {% elseif isAccessories %}
            {% include '_catalog-item-accessory.twig' %}
            {% else %}
            {% include '_catalog-item.twig' %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
