<div class="catalog__sorting sorting row">
  <div class="sorting__group col hidden-xl-up">
    <button class="sorting__control button button--outline-default button--sm button--square icon-filter" title="Фильтр" data-element="mobile-menu-trigger" data-src="filters">
      {% if filterBadge %}
        <span class="button__badge badge">1</span>
      {% endif %}
    </button>
  </div>

  <div class="sorting__group sorting__group--tags col">
    <div class="sorting__select hidden-md-up">
      <select data-element="select" class="select-theme-light select-sm">
        {% for item in catalog.sorting %}
          <option value="{{ loop.index }}" {% if sortingActive and loop.index == 3 %}selected{% endif %}>{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <ul class="sorting__tags tags tags--adaptible row hidden-sm-down" data-component="adaptible-tags" data-id="sorting" data-tag-class="sorting__tags-tag tag tag--default" data-tippy-placement="top-end">
      {% for item in catalog.sorting %}
        <li class="sorting__tags-item tags__item col" data-element="adaptible-item">
          <button class="sorting__tags-tag tag tag--default {% if sortingActive and loop.index == 3 %}is-active{% endif %}">{{ item }}</button>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="sorting__group col hidden-lg-down">
    <a href="catalog-list.html" class="sorting__control button button--outline-default button--xs button--square icon-menu {% if not listGrid %}is-active{% endif %}" title="Список"></a>
    <a href="catalog.html" class="sorting__control button button--outline-default button--xs button--square icon-grid {% if listGrid %}is-active{% endif %}" title="Плитка"></a>
  </div>
</div>
