<div class="section section--widened catalog">
  <div class="container">

    <div class="catalog__heading heading">
      <h2 class="catalog__title catalog__title--sm heading__title">
        {% if sectionTitle %}
          {{ sectionTitle }}
          {% else %}
          Просмотренные товары
        {% endif %}
      </h2>
      <div class="heading__controls swiper-controls hidden-sm-down">
        <div class="catalog__prev swiper-button-prev"></div>
        <div class="catalog__next swiper-button-next"></div>
      </div>
    </div>

    {% include '_catalog-slider.twig' with { items: catalog.items|slice(0,8), isShop: isItemShop } %}
  </div>
</div>