<div class="section section--widened catalog">
  <div class="container">

    <div class="catalog__heading heading heading--switch">
      <div class="catalog__title catalog__title--sm heading__title h2 shift-switch">
        <input id="radio-a" type="radio" name="catalog-switch" checked="checked" class="shift-switch__input shift-switch__input--left">
        <label for="radio-a" class="shift-switch__label shift-switch__label--left ">Самая выгодная цена</label>
        <input id="radio-b" type="radio" name="catalog-switch" class="shift-switch__input shift-switch__input--right">
        <label for="radio-b" class="shift-switch__label shift-switch__label--right">Лучшее состояние</label>
        <span class="shift-switch__toggle"></span>
      </div>
    </div>

    <div class="catalog__tags swiper tags row row--sm">
      <div class="swiper-container" data-slider="catalog-tags">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in ["Смартфоны", "Планшеты", "Ноутбуки"] %}
            <div class="tags__item swiper-slide col">
              <a href="#" class="tag tag--md button button--outline-default {% if loop.first %}is-active{% endif %}">{{ item }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include '_catalog-slider.twig' with { items: catalog.items|slice(0,4) } %}
  </div>
</div>
