<div class="item-card">
  <div class="item-card__content">
    <a href="catalog-item.html" class="item-card__picture">
      <img src="/assets/img/temp/catalog/items/accessories/{{ item.image }}.png" alt="" class="item-card__img">
      {% if item.stickers %}
        <div class="item-card__stickers stickers">
          {% for sticker in item.stickers %}
            <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </a>

    <div class="item-card__body">
      <div class="item-card__title">
        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
      </div>

      <div class="item-card__rating rating">
        <span class="rating__stars rating-stars" data-rate="{{ item.rating }}">
          {% for i in 1..5 %}
            {{ svg.icon('star', 'rating-stars__star') }}
          {% endfor %}
        </span>
        <span class="rating__counter">{{ item.reviews }}</span>
      </div>
    </div>
  </div>

  <div class="item-card__footer">
    <div class="item-card__prices justify-xs-start">
      <div class="item-card__price">{{ item.price }} ₽</div>
      <div class="item-card__bonus bonus">
        <span class="bonus__text">+{{ item.bonus }} баллов</span>
        <i class="bonus__icon icon-logo-outline"></i>
      </div>
    </div>

    <div class="item-card__controls">
      {% if loop.index == 4 %}
        <button class="item-card__button item-card__button--buy button button--primary button--md is-active">
          В&nbsp;корзине
        </button>
        {% elseif loop.index == 7 %}
        <button class="item-card__button item-card__button--buy button button--primary button--md" data-mfp-src="#modal-item-subscribe" data-element="modal-trigger">
          Сообщить о поступлении
        </button>
        {% elseif loop.index == 8 %}
        <button class="item-card__button item-card__button--buy button button--primary button--md is-active">
          Вы подписаны
        </button>
        {% else %}
        <a href="#modal-in-cart" class="item-card__button item-card__button--buy button button--primary button--md" data-element="modal-trigger">
          <i class="button__icon icon-basket"></i>
          В&nbsp;корзину
        </a>
      {% endif %}

      <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-controls" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="{% if isFavActive %}Удалить из списка сравнения{% else %}Добавить в список сравнения{% endif %}"></button>
      <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-fav {% if isFavActive %}is-active{% endif %}" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="{% if isFavActive %}Удалить из избранного{% else %}Добавить в избранное{% endif %}"></button>
    </div>
  </div>
</div>