<div class="item-card item-card--compare">

  <button class="item-card__close icon-close" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="Удалить из избранного"></button>

  <div class="item-card__content">
    <a href="catalog-item.html" class="item-card__picture">
      <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">

      {% if item.stickers %}
        <div class="item-card__stickers stickers hidden-lg-down">
          {% for sticker in item.stickers %}
            <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </a>

    <div class="item-card__body">
      <div class="item-card__title">
        <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
      </div>

      <div class="item-card__rating rating">
        <span class="rating__stars rating-stars" data-rate="{{ item.rating }}">
          {% for i in 1..5 %}
            {{ svg.icon('star', 'rating-stars__star') }}
          {% endfor %}
        </span>
        <span class="rating__counter">{{ item.reviews }}</span>
      </div>
    </div>
  </div>

  <div class="item-card__footer">
    <div class="item-card__prices">
      <div class="item-card__price">{{ item.price }} ₽</div>
      <div class="item-card__bonus bonus hidden-lg-down">
        <span class="bonus__text">+{{ item.bonus }} баллов</span>
        <i class="bonus__icon icon-logo-outline"></i>
      </div>
    </div>

    <div class="item-card__controls">
      <button class="item-card__button item-card__button--buy button button--primary button--md" data-mfp-src="#modal-in-cart" data-element="modal-trigger">
        <i class="button__icon icon-basket hidden-lg-down"></i>
        В&nbsp;корзину
      </button>

      <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-controls hidden-lg-down is-active" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="Удалить из списка сравнения"></button>
        <button class="item-card__button item-card__button--control button button--outline-default button--md button--square icon-fav {% if isFavActive %}is-active{% endif %}" data-element="tooltip-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content="{% if isFavActive %}Удалить из избранного{% else %}Добавить в избранное{% endif %}"></button>
    </div>
  </div>
</div>