<div class="section catalog" data-component="tabs">
  <div class="container">

    <div class="catalog__heading heading tabs tabs--default tabs--default-h2">
      <ul class="heading__title tabs__list row">
        <li class="tabs__item col">
          <a href="#accessories" class="tabs__link is-active" data-element="tabs-toggle">Аксессуары</a>
        </li>
        <li class="tabs__item col hidden-md-down">
          <a href="#other-offers" class="tabs__link" data-element="tabs-toggle">Другие варианты Apple iPhone 12 Pro</a>
        </li>
      </ul>

      <div class="heading__controls swiper-controls hidden-sm-down">
        <div class="catalog__prev swiper-button-prev"></div>
        <div class="catalog__next swiper-button-next"></div>
      </div>
    </div>


    <div class="tabs__content">
      <div class="tabs__tab is-active" role="tabpanel" data-id="accessories" data-element="tabs-tab">
        {% include '_catalog-slider.twig' with { items: catalog.itemsAccessories, isAccessories: true } %}
      </div>

      <div class="tabs__tab" role="tabpanel" data-id="other-offers" data-element="tabs-tab">
        {% include '_catalog-slider.twig' with { items: catalog.items|slice(0,8) } %}
      </div>
    </div>
  </div>
</div>