<div class="product-info__feedback feedback tabs tabs--default" data-component="tabs">
  <ul class="tabs__list row justify-xs-center">
    <li class="tabs__item col">
      <a href="#product-reviews" class="tabs__link is-active" data-element="tabs-toggle">Отзывы <span class="tabs__badge">0</span></a>
    </li>
    <li class="tabs__item col">
      <a href="#product-questions" class="tabs__link" data-element="tabs-toggle">Вопросы <span class="tabs__badge">0</span></a>
    </li>
  </ul>

  <div class="feedback__content feedback__empty tabs__content content-frame">
    <div class="tabs__tab is-active" role="tabpanel" data-id="product-reviews" data-element="tabs-tab">
      <p class="feedback__empty-title">Ваш отзыв может стать первым!</p>
      <a href="#modal-review-form" class="feedback__empty-button button button--primary button--block" data-element="modal-trigger">Добавить отзыв</a>
    </div>

    <div class="tabs__tab" role="tabpanel" data-id="product-questions" data-element="tabs-tab">
      <p class="feedback__empty-title">Ваш вопрос может стать первым!</p>
      <a href="#modal-question-form" class="feedback__button button button--primary button--block" data-element="modal-trigger">Задать вопрос</a>
    </div>
  </div>
</div>
