<div class="item-card item-card--more">
  <a href="catalog-item.html" class="item-card__picture">
    <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
    {% if item.stickers %}
      <div class="item-card__stickers stickers">
        {% for sticker in item.stickers %}
          <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </a>

  <div class="item-card__body">
    <div class="item-card__title">
      <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
    </div>

    <div class="item-card__footer">
      <div class="item-card__prices">
        <div class="item-card__price">{{ item.price }} ₽</div>
        <div class="item-card__bonus bonus">
          <span class="bonus__text">+{{ item.bonus }} баллов</span>
          <i class="bonus__icon icon-logo-outline"></i>
        </div>
      </div>

      <div class="item-card__controls">
        <button class="item-card__button button button--primary button--xs hidden-lg-up">Добавить</button>
        <button class="item-card__button button button--outline-primary button--md hidden-md-down">Добавить</button>
      </div>
    </div>
  </div>
</div>