<div class="catalog__items {% if listGrid %}catalog__items--grid{% else %}catalog__items--list{% endif %} {% if gridSize %}catalog__items--grid-{{ gridSize }}{% endif %} {% if itemSet %}catalog__items--set{% endif %}">
  {% for item in items %}
    <div class="catalog__item">
      {% if not listGrid %}
        {% set itemHorizontal = true %}
        {% set tagsBreakpointValue = 1280 %}
      {% endif %}
      {% include '_catalog-item.twig' with { itemClass: 'shifting', isItemHorizontal: itemHorizontal, isItemSet: itemSet, tagsBreakpoint: tagsBreakpointValue, isFavActive: isFav } %}
    </div>
  {% endfor %}

  {% if itemSet %}
    <div class="catalog__item catalog__item--total">
      <div class="total-card">
        <div class="total-card__content">
          <div class="total-card__header">
            <div class="total-card__label">Всего</div>
            <div class="total-card__amount">3 товара</div>
          </div>

          <div class="total-card__body">
            <div class="total-card__sum">60 550 ₽</div>
            <div class="total-card__bonus bonus">
              <span class="bonus__text">+15 баллов</span>
              <i class="bonus__icon icon-logo-outline"></i>
            </div>
          </div>
        </div>

        <div class="total-card__footer">
          <a href="#modal-in-cart" class="total-card__button button button--primary button--sm" data-element="modal-trigger">
            <i class="button__icon icon-basket"></i>
            В&nbsp;корзину
          </a>
          <a href="#modal-click-order-form" class="total-card__button button button--outline-lighter button--sm" data-element="modal-trigger">
            Купить в один клик
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</div>