<div class="{{ sectionClass }} comment {{ commentClass }}">
  <div class="comment__header">
    <div class="comment__author">
      <div class="comment__author-avatar">{{ comment.author.initials }}</div>
      <div class="comment__author-content">
        {% if comment.author.name %}
          <div class="comment__author-name">{{ comment.author.name }}</div>
        {% endif %}
        <div class="comment__date">
          <b class="comment__date-label">Дата и время:</b>
          <span class="comment__date-data">{{ comment.date }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="comment__body">
    <p>{{ comment.text }}</p>
  </div>

  {% if comment.answers %}
    {% for answer in comment.answers %}
      <div class="comment__answer comment comment--answer">
        <div class="comment__header">
          <div class="comment__author">
            <div class="comment__author-avatar">
              {% if answer.author.initials %}
                {{ answer.author.initials }}
                {% else %}
                {{ svg.icon(answer.author.icon, 'comment__author-icon') }}
              {% endif %}
            </div>
            <div class="comment__author-content">
              {% if answer.author.name %}
                <div class="comment__author-name">{{ answer.author.name }}</div>
              {% endif %}
              <div class="comment__date">
                <b class="comment__date-label">Дата и время:</b>
                <span class="comment__date-data">{{ answer.date }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="comment__body">
          <p>{{ answer.text }}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
