<div class="section{% if not isModal %} section--bounded {% endif %} condition">
  <div class="condition__container container">
    <div class="condition__heading">
      <h2 class="condition__title">Каждому устройству мы присваиваем свой грейд на&nbsp;основе внешнего вида</h2>
      <p class="condition__description">Чем лучше выглядит устройство, тем выше его грейд и&nbsp;гарантийный срок. Гаджеты всех грейдов полностью исправны.</p>
    </div>
  </div>

  <div class="condition__body theme-dark">
    <div class="condition__container container">
      <div class="condition__tabs tabs tabs--pills" data-component="tabs">
        <ul class="condition__tabs-list tabs__list row row--sm">
          {% for item in ['Как новый', 'Отличный', 'Хороший'] %}
            <li class="tabs__item col">
              <a href="#condition-{{ loop.index }}" class="tabs__link {% if loop.first %} is-active {% endif %}" data-element="tabs-toggle">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="condition__tabs-content tabs__content">
          {% for i in 1..3 %}
            <div class="tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="condition-{{ i }}" data-element="tabs-tab">
              <div class="condition__text condition__section">
                {% if loop.index == 1 %}
                  Смартфоном не&nbsp;пользовались. Полностью работоспособен. Не&nbsp;имеет царапин и&nbsp;потертостей на&nbsp;корпусе.
                  {% elseif loop.index == 2 %}
                  Смартфоном пользовались аккуратно и недолго. Полностью работоспособен. На корпусе минимальные царапины и потертости.
                  {% else %}
                  Смартфон активно использовали. Полностью работоспособен. На корпусе есть царапины и потертости, но их легко скрыть чехлом.
                {% endif %}
              </div>
              <div class="condition__picture">
                <img src="/assets/img/temp/condition/iphone-{{ loop.index }}.png" alt="" class="condition__img">
              </div>
              <div class="condition__section">
                <div class="condition__rating rating rating--lg">
                  <span class="rating__stars rating-stars rating-stars--md" data-rate="5">
                    {% for i in 1..5 %}
                      {{ svg.icon('star', 'rating-stars__star') }}
                    {% endfor %}
                  </span>
                  <span class="rating__label">Исправность</span>
                </div>

                <div class="condition__rating rating rating--lg">
                  {% if loop.index == 1 %}
                    {% set itemRating = 5 %}
                    {% elseif loop.index == 2 %}
                    {% set itemRating = 4 %}
                    {% else %}
                    {% set itemRating = 3 %}
                  {% endif %}
                  
                  <span class="rating__stars rating-stars rating-stars--md" data-rate="{{ itemRating }}">
                    {% for i in 1..5 %}
                      {{ svg.icon('star', 'rating-stars__star') }}
                    {% endfor %}
                  </span>
                  <span class="rating__label">Состояние</span>
                </div>

                <div class="condition__guarantee">
                  {{ svg.icon('guarantee', 'condition__guarantee-icon') }}
                  SMART-гарантия 180 дней
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>