<div class="details details--default">
  {% for item in details %}
    <dl class="details__item">
      <dt class="details__name text-lightest">{{ item.name }}</dt>
      <dd class="details__data">{{ item.data }}</dd>
    </dl>
  {% endfor %}
</div>
