<div class="section section--bounded diagnostics cover theme-dark">
  <div class="diagnostics__container container">
    <div class="diagnostics__heading">
      <h2 class="diagnostics__title">Все устройства проходят через сервисные центры «МТ&nbsp;Сервис»</h2>
      <p class="diagnostics__description">«МТ Сервис» — это крупнейшая сеть диагностических центров в Европе. Именно там смартфоны тщательно проверяют,  чистят и, если требуется, ремонтируют.</p>
    </div>

    <div class="diagnostics__slider swiper">
      <div class="diagnostics__slider-container swiper-container theme-primary" data-slider="diagnostics">
        <div class="swiper-wrapper">
          {% for i in 1..3 %}
            <div class="diagnostics__item swiper-slide">
              <div class="diagnostic-card theme-primary">
                <div class="diagnostic-card__heading">
                  <span class="diagnostic-card__picture">
                    {{ svg.icon('verification', 'diagnostic-card__icon') }}
                  </span>
                  <h6 class="diagnostic-card__title">Проверка на оригинальность</h6>
                </div>
                <p class="diagnostic-card__text">Гаджет проходит проверку на оригинальность с помощью IMEI — уникальный 15-значный код, который завод-изготовитель присваивает каждому устройству. </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="diagnostics__prev swiper-button-prev"></div>
      <div class="diagnostics__next swiper-button-next"></div>

      <div class="diagnostics__pagination swiper-pagination"></div>
    </div>
  </div>
  <img src="/assets/img/temp/diagnostics-cover.jpg" alt="" class="cover__bg-img">
</div>