<div class="section section--bounded eco cover">
  <div class="container">
    <div class="eco__heading">
      <h2 class="eco__title">Вкладываем часть прибыли в&nbsp;посадку деревьев</h2>
      <p class="eco__description">Сажаем до <b>100 деревьев в месяц</b>. <br>Покупая наши гаджеты, вы поддерживаете экологию.</p>
    </div>
  </div>
  <img src="/assets/img/temp/eco-cover.jpg" alt="" class="cover__bg-img">
</div>