<div class="section envelope">
  <div class="envelope__container container">
    <div class="section__row row align-items-xl-center">
      <div class="section__col col-xs-12 col-xl-6 order-xs-last order-xl-first">
        <div class="envelope__heading section__heading">
          <img src="/assets/img/temp/smart-envelope.svg" alt="" class="envelope__img">
        </div>
      </div>

      <div class="section__col col-xs-12 col-xl-6">
        <div class="envelope__content section__content">
          <h2 class="section__title h1 envelope__title">Гаджеты упакованы в&nbsp;экологичный <span class="text-primary text-nowrap">smart-конверт</span></h2>
          <div class="envelope__text">
            <p>Мы поддерживаем использование возобновляемых материалов, поэтому в составе нашего smart-конверта бумага из вторсырья. На лицевой стороне вы найдёте информацию об устройстве, контакты поддержки и QR-код со ссылкой на страницу о гарантии.</p>
            <p>У Smart-конверта стильный дизайн, его можно использовать как подарочную упаковку.</p>
            <ul class="list-bullet">
              <li>Устройство защищено герметичной воздушно-пузырчатой плёнкой.</li>
              <li>Главная информация о гаджете, контакты поддержки, ссылка на гарантийные условия.</li>
              <li>В составе конверта экологичные материалы.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>