<div class="catalog__filters filters" data-component="mobile-menu" data-src="filters">
  <div class="filters__header">
    <div class="filters__title h5">Фильтры</div>
    <button class="filters__close icon-close" type="button" data-element="mobile-menu-close"></button>
  </div>

  <div class="filters__body">
    <div class="filters__list">
      {% for filter in catalog.filters %}
        <div class="filters__item filter {% if filter.collapsed %}is-collapsed{% endif %}" data-component="panel">
          <div class="filter__header">
            <div class="filter__title text-lg" data-element="panel-toggle">{{ filter.title }}</div>
            <i class="filter__toggle icon-chevron-down" data-element="panel-toggle"></i>
          </div>

          <div class="filter__body" data-element="panel-content">

            {% if filter.type == 'input-range' %}
              <div class="filter__input-group">
                <input type="text" class="filter__input form__input form__input--md" placeholder="от 410 990 ₽">
                <input type="text" class="filter__input form__input form__input--md" placeholder="до 99 999 ₽">
              </div>

              {% else %}

              <ul class="filter__list">
                {% for option in filter.list %}
                  <li class="filter__item">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control__input" name="filter-{{ item.id }}-{{ loop.index }}" value="{{ loop.index }}">
                      <span class="custom-control__indicator"></span>
                      <span class="custom-control__content" {% if filter.tooltip %}data-element="popover-trigger" data-tippy-placement="right" data-tippy-maxWidth="300" data-tippy-content="<div class='emoji-text text-md'><span class='emoji-text__icon'>{{ option.emoji }}</span>{{ option.name }}</div>"{% endif %}>
                        <span class="custom-control__text">{{ option.name }}</span>
                        <span class="text-muted">{{ option.number }}</span>
                      </span>
                    </label>
                  </li>
                {% endfor %}
              </ul>
              {% if filter.hideLink %}
                <div class="filter__action">
                  <a href="#" class="filter__action-link">Скрыть</a>
                </div>
              {% endif %}
              {% if filter.showLink %}
                <div class="filter__action">
                  <a href="#" class="filter__action-link">Показать все</a>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="filters__footer">
    <button class="filters__button filters__button--apply button button--primary button--sm">Применить</button>
    <button class="filters__button filters__button--clear button button--outline-default button--sm button--square icon-close" title="Сбросить"></button>
  </div>
</div>