<div class="section guarantee">
  <div class="guarantee__container container">
    <div class="section__row row align-items-xl-center">
      <div class="section__col col-xs-12 col-xl-6">
        <div class="guarantee__heading section__heading">
          <div class="guarantee__person person person--separated">
            <img src="/assets/img/temp/director.jpg" alt="" class="person__img">
            <div class="hidden-lg-down" data-element="placeholder" data-id="guarantee-person-content" data-device="desktop"></div>
          </div>
        </div>
      </div>

      <div class="section__col col-xs-12 col-xl-6">
        <div class="section__content">
          <h2 class="section__title section__title--quote h1">Выступаем гарантом безопасности сделки</h2>
          <div class="section__text">
            <p>Можно купить смартфон с рук, но это рискованно: нет гарантии, что вы получите рабочее устройство, которое стоит своих денег, а продавец не окажется скупщиком краденого или мошенником. Кроме того, вам приходится тратить часы на поиск устройства и признаков того, что продавец надежен.</p>
            <p>Наши гаджеты поступают из салонов «МегаФон» и «Связной». В Smart Bazar вы покупаете телефон с хорошей историей, в котором можете быть уверены, а поиск гаджета и оформление заказа занимает считанные минуты. Мы помогаем сохранить не только ваши деньги, но и часы вашей жизни.</p>
          </div>
          <div class="hidden-xl-up" data-element="placeholder" data-id="guarantee-person-content" data-device="mobile">
            <div class="person__content" data-block="movable-block" data-id="guarantee-person-content" data-breakpoint="1280">
              <h6 class="person__name">Александр Ельчин</h6>
              <p class="person__info">Генеральный директор Smart Bazar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>