<div class="section hero hero--benefits {% if heroID %}hero--{{ heroID }}{% endif %}">
  <div class="hero__container container">
    <div class="hero__header">
      <div class="hero__content">
        <h1 class="hero__title">Гаджеты с хорошей историей из «Мегафона» и&nbsp;«Связного» </h1>
        <p class="hero__description">с&nbsp;доставкой по&nbsp;РФ, гарантией до&nbsp;180&nbsp;дней и&nbsp;поддержкой 24/7</p>
        <ul class="hero__brands">
          <li class="hero__brands-item">
            <img src="/assets/img/temp/hero/brands/megafon.png" alt="Логотип Мегафон" class="hero__brands-img">
          </li>
          <li class="hero__brands-item">
            <img src="/assets/img/temp/hero/brands/svyaznoy.png" alt="Логотип Связной" class="hero__brands-img">
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__benefits">
      <div class="hero__benefits-list row">
        {% for item in benefitsHero %}
          <div class="hero__benefits-item col-xs-12 {{ item.col }}">
            <div class="benefit-card benefit-card--hero">
              <div class="benefit-card__header">
                <span class="benefit-card__picture">
                  {{ svg.icon(item.icon, 'benefit-card__icon') }}
                </span>
                <div class="benefit-card__title">{{ item.title }}</div>
              </div>
              <p class="benefit-card__text">{{ item.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <img src="/assets/img/temp/hero/{{ heroID }}.png" alt="" class="hero__img">
  </div>
</div>
