<div class="section hero hero--about {% if heroID %}hero--{{ heroID }}{% endif %}">
  <div class="hero__container container">
    <div class="hero__header">
      <div class="hero__content">
        <h2 class="hero__title">Обновляйте смартфон с&nbsp;выгодой и так часто, как захотите</h2>
        <p class="hero__text">Smart Bazar помогает вам экономить не на одной покупке, а продолжительное время. Вы можете купить у нас гаджет, пользоваться им сколько потребуется, затем сдать его нам по trade-in и выбрать очередной гаджет.</p>
      </div>
    </div>

    <div class="hero__body theme-primary">
      <ol class="hero__steps">
        {% for item in heroSteps %}
          <li class="hero__step">{{ item }}</li>
        {% endfor %}
      </ol>

      <a href="#" class="hero__video-trigger">
        <i class="hero__video-icon icon-play"></i>
        <span class="hero__video-text">Как работает покупка в&nbsp;Smart Bazar</span>
      </a>
    </div>

    <img src="/assets/img/temp/hero/{{ heroID }}.png" alt="" class="hero__img">
  </div>
</div>
