<div class="section hero {% if heroID %}hero--{{ heroID }}{% endif %}">
  <div class="hero__container container">
    <div class="hero__header">
      <div class="hero__content">
        <h1 class="hero__title">Покупайте цифровую технику с&nbsp;экономией</h1>
        <p class="hero__description">Продаем устройства, принятые в&nbsp;trade-in и&nbsp;с&nbsp;витрины «Мегафона» и&nbsp;«Связного»</p>
        <ul class="hero__brands">
          <li class="hero__brands-item">
            <img src="/assets/img/temp/hero/brands/megafon.png" alt="Логотип Мегафон" class="hero__brands-img">
          </li>
          <li class="hero__brands-item">
            <img src="/assets/img/temp/hero/brands/svyaznoy.png" alt="Логотип Связной" class="hero__brands-img">
          </li>
        </ul>
      </div>

      <div class="hero__stats">
        <dl class="hero__stats-item">
          <dt class="hero__stats-title">Экономия до</dt>
          <dd class="hero__stats-data">
            <span class="hero__stats-highlight">60%</span>
          </dd>
        </dl>
        <dl class="hero__stats-item">
          <dt class="hero__stats-title">гарантия до</dt>
          <dd class="hero__stats-data">
            <span class="hero__stats-highlight">180</span>
            <span class="hero__stats-text">дней</span>
          </dd>
        </dl>
      </div>
    </div>

    <div class="hero__body theme-primary">
      <ol class="hero__steps">
        {% for item in heroSteps %}
          <li class="hero__step">{{ item }}</li>
        {% endfor %}
      </ol>

      <a href="#" class="hero__video-trigger">
        <i class="hero__video-icon icon-play"></i>
        <span class="hero__video-text">Как работает покупка в&nbsp;Smart Bazar</span>
      </a>
    </div>

    <img src="/assets/img/temp/hero/{{ heroID }}.png" alt="" class="hero__img">
  </div>
</div>
