<div class="section section--widened menu {{ menuClass }}">
  <div class="container">
    <div class="menu__list row" data-slider="menu">
      {% for item in list %}
        {% if item.type == 'lg' %}
          {% set itemTypeClass = 'menu-card--lg' %}
        {% endif %}

        {% if item.type == 'md' and sizeSm %}
          {% set itemTypeClass = 'menu-card--sm' %}
        {% endif %}

        {% if item.type == 'md' and not sizeSm %}
          {% set itemTypeClass = 'menu-card--md' %}
        {% endif %}

        <div class="menu__item col {{ item.colClass }}">
          <a href="{{ item.link }}" class="menu-card {% if item.theme %}theme-{{ item.theme }}{% endif %} {{ itemTypeClass }}">
            <div class="menu-card__content">
              <h5 class="menu-card__title">{{ item.name }}</h5>
              <i class="menu-card__more button button--more button--sm button--square {% if item.theme == 'light' %}button--outline-lighter{% else %}button--outline-white{% endif %} icon-next" title="More"></i>
            </div>
            <img src="/assets/img/temp/menu/{{ item.image }}.png" alt="" class="menu-card__img {% if item.imageClass %}menu-card__img--{{ item.imageClass }}{% endif %}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
