<div id="modal-trade-in-3" class="modal modal--trade-in modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="trade-in trade-in--modal">
    <div class="trade-in__header">
      <div class="trade-in__main-title modal__title h2">Trade-in: примем ваш гаджет в&nbsp;счет стоимости нового</div>
      <p class="trade-in__description">Для получения скидки на новый гаджет принесите ваше устройство в ближайший салон «Связной» или «Мегафон». <a href="#modal-map" data-element="modal-trigger" class="link-primary">Посмотреть адреса на карте</a> <br>Чтобы получить предварительный расчет стоимости, опишите смартфон, который вы хотите сдать в трейд-ин:</p>
    </div>

    <div class="trade-in__body">
      <div class="trade-in__section">
        <h5 class="trade-in__title">Параметры смартфона</h5>
        <div class="trade-in__content">
          <div class="trade-in__details details details--fixed-data">
            <dl class="details__item">
              <dt class="details__name text-lightest">Бренд</dt>
              <dd class="details__data">Samsung</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Модель</dt>
              <dd class="details__data">Galaxy Note 9</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Оперативная память</dt>
              <dd class="details__data">128 Gb</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Цвет</dt>
              <dd class="details__data">Чёрный</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Состояние корпуса</dt>
              <dd class="details__data">Пара царапин</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="trade-in__section">
        <h5 class="trade-in__title">Шаг 3. Работоспособность и ремонт</h5>
        <div class="trade-in__content">
          <div class="form__controls form__controls--half row">
            {% for item in ['Все функции работают', 'Часть функций не работает'] %}
              <div class="form__group col">
                <label class="custom-control custom-control--primary custom-radio">
                  <input type="radio" class="custom-control__input" name="repair" value="{{ loop.index }}">
                  <span class="custom-control__indicator"></span>
                  <span class="custom-control__content">{{ item }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Наша оценка</h5>
        <div class="trade-in__content"></div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Проверьте гаджет через диагностическое приложение</h5>
        <div class="trade-in__content"></div>
      </div>
    </div>

    <div class="trade-in__footer">
      <a href="#modal-trade-in-2" class="trade-in__button button button--outline-primary button--sm" data-element-"modal-tigger">Назад</a>
      <a href="#modal-trade-in-4" class="trade-in__button button button--primary button--sm" data-element-"modal-tigger">Дальше</a>
    </div>
  </div>
</div>