<div id="modal-bonus" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Баллы за покупку</div>
    <p class="modal__description">За каждую покупку в Smart Bazar вы получаете баллы, которые сможете потратить в следующих заказах.</p>
    <p class="modal__description">Баллы начисляются через 21 день после покупки в размере 5-10% от стоимости приобретаемых товаров.</p>
    <p class="modal__description">1 балл равен 1 рублю и активен в течение 1 года с момента начисления. Баллами вы можете оплачивать до 20% новых покупок.</p>
    <p class="modal__description">Больше информации — в Правилах системы лояльности Smart Bazar.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary" data-element="modal-close">Все понятно, спасибо!</button>
  </div>
</div>