<div id="modal-pickup" class="modal modal--pickup modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="pickup">
    <div class="pickup__map" id="map"></div>
    <div class="pickup__body">
      <div class="pickup__header">
        <div class="pickup__title modal__title h2">Выберите пункт самовывоза</div>
      </div>

      <div class="pickup__content" data-element="change-bg">
        <div class="pickup__controls row">
          <div class="form__group col-xs-12 col-md-5 hidden-sm-down">
            <input type="text" class="form__input form__input--md" value="504 ПВЗ и Почтомата">
          </div>
          <div class="form__group col-xs-12 col-md-7">
            <select data-element="select" class="select-md">
              {% for city in location.cities %}
                <option value="{{ loop.index }}" {% if loop.first %}selected{% endif %}>{{ city }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="pickup__tabs tabs tabs--group" data-component="tabs">
          <ul class="pickup__tabs-list tabs__list">
            <li class="tabs__item">
              <a href="#view-map" class="tabs__link is-active" data-element="tabs-toggle" data-trigger="map">Карта</a>
            </li>
            <li class="tabs__item">
              <a href="#view-list" class="tabs__link" data-element="tabs-toggle" data-trigger="list">Список</a>
            </li>
          </ul>

          <div class="pickup__tabs-content tabs__content">
            <div class="pickup__tabs-tab tabs__tab is-active" role="tabpanel" data-id="view-map" data-element="tabs-tab"></div>
            <div class="pickup__tabs-tab tabs__tab" role="tabpanel" data-id="view-list" data-element="tabs-tab">
              <div class="pickup__list">
                {% for item in pickUp %}
                  <dl class="pickup__item point-card point-card--theme">
                    <dt class="point-card__name text-md"><b>{{ item.name }}</b></dt>
                    <dd class="point-card__data">{{ item.address }}</dd>
                    <dd class="point-card__data"><b>{{ item.businessHours }}</b></dd>
                    {% if isRestictions %}
                      <dd class="point-card__data">
                        <div class="point-card__info-title"><b>Ограничения</b></div>
                        <p>{{ item.restrictions }}</p>
                      </dd>
                    {% endif %}
                    <dd class="point-card__data hidden-md-up display-lg-up">
                      <a href="#" class="link-primary">Заберу здесь</a>
                    </dd>
                    <dd class="point-card__footer hidden-sm-down hidden-lg-up">
                      <button class="point-card__button button button--outline-default-primary button--sm">Заберу здесь</button>
                    </dd>
                  </dl>
                {% endfor %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>