<div id="modal-subscribe-thanks" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('chat-shadow', 'modal__icon') }}
    <div class="modal__title h2">Мы отправили вам промокод</div>
    <p class="modal__subtitle">Ваш email подтвержден — все хорошо</p>
    <p class="modal__description">В письме вас ждет промокод на&nbsp;скидку&nbsp;10%. <br>Используйте его в&nbsp;корзине при оформлении заказа</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>