<div id="modal-phone-confirmation-form" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('chat-shadow', 'modal__icon') }}
    <div class="modal__title h2">Мы отправили вам SMS</div>
    <p class="modal__description">В сообщении будет четырехзначный код. <br>Пожалуйта, введите его в этом поле:</p>
  </div>

  <div class="modal__body">
    <form action="#" method="POST" novalidate="novalidate" class="modal__form modal__form--sm form modal-form">
      <div class="form__group is-required">
        <div class="form__field form__field--code">
          <input type="text" name="name" class="form__input" required>
        </div>
      </div>

      <div class="form__group form__group--md">
        <div class="form__text text-center text-md text-muted">Осталось 54 сек...</div>
      </div>

      <div class="form__group form__group--md form__submit">
        <input type="submit" class="form__button button button--primary button--sm" disabled value="Подтвердить" data-element="modal-trigger" data-mfp-src="#modal-phone-confirmation-thanks">
      </div>
    </form>
  </div>
</div>