<div id="modal-credit-fail" class="modal modal--md mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">К сожалению, <br>вам не одобрили рассрочку...</div>
    <p class="modal__description">Не волнуйтесь, такое бывает. Банк иногда отказывает в предоставлении кредита без объяснения причин. Вы можете попробовать оформить заявку через несколько дней. Также у вас есть возможность оплатить заказ по карте или наличными средствами.</p>
  </div>
  <div class="modal__body">
    {% for tab in product.info if tab.id == 'payment' %}
      {% include '_services-list.twig' with { servicesClass: 'modal__services services--sm justify-lg-center', services: tab.list|slice(1,2), radio: true, rowClass: 'row--sm', colClass: 'col-xs-12 col-lg-auto', cardClass: 'service-card--sm service-card--fixed' } %}
    {% endfor %}
   </div>

   <div class="modal__footer modal__footer--complex">
     <div class="modal__footer-action text-md"><a href="#" class="modal__footer-link link-primary">Отменить заказ</a></div>
   </div>
</div>