<div id="modal-trade-in-5" class="modal modal--trade-in modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="trade-in trade-in--modal">
    <div class="trade-in__header">
      <div class="trade-in__main-title modal__title h2">Trade-in: примем ваш гаджет в&nbsp;счет стоимости нового</div>
      <p class="trade-in__description">Для получения скидки на новый гаджет принесите ваше устройство в ближайший салон «Связной» или «Мегафон». <a href="#modal-map" data-element="modal-trigger" class="link-primary">Посмотреть адреса на карте</a> <br>Чтобы получить предварительный расчет стоимости, опишите смартфон, который вы хотите сдать в трейд-ин:</p>
    </div>

    <div class="trade-in__body">
      <div class="trade-in__section">
        <h5 class="trade-in__title">Параметры смартфона</h5>
        <div class="trade-in__content">
          <div class="trade-in__details details details--fixed-data">
            <dl class="details__item">
              <dt class="details__name text-lightest">Бренд</dt>
              <dd class="details__data">Samsung</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Модель</dt>
              <dd class="details__data">Galaxy Note 9</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Оперативная память</dt>
              <dd class="details__data">128 Gb</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Цвет</dt>
              <dd class="details__data">Чёрный</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Состояние корпуса</dt>
              <dd class="details__data">Пара царапин</dd>
            </dl>
            <dl class="details__item">
              <dt class="details__name text-lightest">Работоспособность и ремонт</dt>
              <dd class="details__data">Часть функций не работает</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="trade-in__section">
        <h5 class="trade-in__title">Наша оценка</h5>
        <div class="trade-in__content">
          <div class="trade-in__evaluation">
            <div class="trade-in__evaluation-sum">35 000 ₽ – 45 000 ₽</div>
            <div class="trade-in__evaluation-text trade-in__text">Финальную стоимость назовём после проверки и диагностики при получении.</div>
            <div class="trade-in__evaluation-footer trade-in__text"><a href="#" class="link-primary">Обновить расчёт</a></div>
          </div>
        </div>
      </div>

      <div class="trade-in__section">
        <h5 class="trade-in__title">Проверьте гаджет через диагностическое приложение</h5>
        <div class="trade-in__content">
          <div class="trade-in__diagnostics">
            <div class="trade-in__text">Хотите точно знать, если ли нерабочие функции? Продиагностируйте ваше устройство через специальное приложение от Piceasoft:</div>
            <div class="trade-in__app">
              <img src="/assets/img/temp/trade-in/one-app.png" alt="" class="trade-in__app-img">
              <div class="trade-in__app-stores">
                <a href="#"><img src="/assets/img/app-store.svg" alt="" class="trade-in__app-store"></a>
                <a href="#" class="hidden-sm-down"><img src="/assets/img/google-play.svg" alt="" class="trade-in__app-store"></a>
              </div>
            </div>
            <div class="trade-in__text">Для точной оценки принесите гаджет в «Связной» или «Мегафон»</div>
            <div class="trade-in__text"><a href="#modal-map" class="link-primary" data-element="modal-trigger">Посмотреть адреса на карте</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="trade-in__footer">
      <a href="#modal-trade-in-4" class="trade-in__button button button--outline-primary button--sm" data-element-"modal-tigger">Назад</a>
      <a href="#" class="trade-in__button button button--primary button--sm is-disabled">Дальше</a>
    </div>
  </div>
</div>