<div id="modal-question-thanks" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('chat-heart-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за вопрос</div>
    <p class="modal__description">Мы обязательно ответим на него в ближайшее время</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>