<div id="modal-credit-success" class="modal modal--md mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Рассрочка одобрена</div>
  </div>
  <div class="modal__body">
    <div class="modal__section">
      <div class="modal__subtitle h5 text-center">Условия</div>

      <div class="modal__details details--fixed-data">
        <dl class="details__item">
          <dt class="details__name text-lightest">Первый взнос</dt>
          <dd class="details__data">0 руб.</dd>
        </dl>
        <dl class="details__item">
          <dt class="details__name text-lightest">Срок</dt>
          <dd class="details__data">10 месяцев</dd>
        </dl>
        <dl class="details__item">
          <dt class="details__name text-lightest">Ежемесячный платеж</dt>
          <dd class="details__data">7 070 руб.</dd>
        </dl>
      </div>

      <p class="modal__description text-center">Ваш график платежей и Индивидуальные условия по кредиту будут отправлены на адрес <a href="mailto:mail@mail.ru" class="link-primary">mail@mail.ru</a>. Далее магазин свяжется с вами для согласования условий и доставки вашего заказа.</p>
    </div>

    <div class="modal__section">
      <div class="modal__subtitle h5 text-center">Для получения рассрочки введите код&nbsp;из&nbsp;СМС</div>

      <form action="#" method="POST" novalidate="novalidate" class="modal__form modal__form--xs modal__form--sm form modal-form">
        <div class="form__group form__group--md form__submit">
          <input type="submit" class="form__button button button--primary button--sm" value="Отправить СМС с кодом" data-element="modal-trigger" data-mfp-src="#modal-credit-success-code">
        </div>

        <div class="text-center text-sm text-muted">Вводя код из СМС, вы принимаете Индивидуальные условия по кредиту.</div>
      </form>
    </div>
  </div>
</div>