<div id="modal-review-thanks" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('star-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за отзыв</div>
    <p class="modal__description">Он будет опубликован после проверки модератором.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>