<div id="modal-in-cart" class="modal modal--sm modal--in-cart mfp-hide mfp-with-anim">
  <div class="in-cart">
    <div class="in-cart__header">

      <div class="modal__header">
        <div class="modal__title h2">Товар успешно добавлен в&nbsp;корзину</div>
      </div>

      <div class="in-cart__product">
        {% for item in catalog.items|slice(3,1) %}
          {% include '_catalog-item-cart-mobile.twig' with { itemClass: 'hidden-xl-up', isItemHorizontal: true, isItemCart: true } %}

          {% include '_catalog-item.twig' with { itemClass: 'shifting hidden-lg-down', isItemHorizontal: true, isItemCart: true } %}
        {% endfor %}
      </div>
    </div>

    <div class="in-cart__more theme-light">
      <div class="in-cart__more-container">
        <div class="in-cart__more-title h5">Добавьте к заказу</div>

        <div class="in-cart__slider swiper">
          <div class="swiper-container" data-slider="in-cart">
            <div class="swiper-wrapper">
              {% for item in catalog.items|slice(0,6) %}
                <div class="in-cart__slide swiper-slide">
                  {% include '_catalog-item-add.twig' %}
                </div>
              {% endfor %}
            </div>

            <div class="in-cart__slider-pagination swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>