<div id="modal-credit-info" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Рассрочка на&nbsp;10&nbsp;месяцев без&nbsp;первого взноса</div>
    <p class="modal__description">Рассрочка — это акция «Кредит без переплат». То есть технически это кредит, но проценты за него компенсируются скидкой. В результате в течение периода рассрочки вы заплатите ту же сумму, что и при полной оплате.</p>

    <img src="/assets/img/temp/logos/tinkoff-vertical.png" alt="" class="modal__logo">

    <p class="modal__description">Рассрочку предоставляет банк «Тинькофф». Перейдите к оформлению: заполните короткую анкету, дождитесь одобрения и подпишите договор через СМС или на встрече с представителем банка.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary" mfp-src="#modal-credit" data-element="modal-trigger">К оформлению рассрочки</button>
  </div>
</div>