<div id="modal-review-form" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Оставить отзыв</div>
  </div>

  <div class="modal__body">
    <form action="#" method="POST" novalidate="novalidate" class="modal__form modal__form--sm form modal-form">
      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="name" class="form__input" required placeholder="Как вас зовут?">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <textarea rows="3" name="cons" class="form__input" required placeholder="Минусы"></textarea>
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <textarea rows="3" name="pros" class="form__input" required placeholder="Плюсы"></textarea>
        </div>
      </div>

      <div class="form__group form__group--md is-required">
        <div class="form__field">
          <input type="email" name="email" class="form__input" required placeholder="Ваш email">
        </div>
      </div>

      <div class="form__group form__group--md">
        <label class="form__label" for="rating-input">Ваша оценка</label>
        <div class="form__rating-stars rating-stars rating-stars--form">
          <input type="radio" class="rating-stars__input" id="rating-input-5" name="rating-input">
          <label for="rating-input-5" class="rating-stars__star icon-star" title="5"></label>
          <input type="radio" class="rating-stars__input" id="rating-input-4" name="rating-input">
          <label for="rating-input-4" class="rating-stars__star icon-star" title="4"></label>
          <input type="radio" class="rating-stars__input" id="rating-input-3" name="rating-input">
          <label for="rating-input-3" class="rating-stars__star icon-star" title="3"></label>
          <input type="radio" class="rating-stars__input" id="rating-input-2" name="rating-input">
          <label for="rating-input-2" class="rating-stars__star icon-star" title="2"></label>
          <input type="radio" class="rating-stars__input" id="rating-input" name="rating-input">
          <label for="rating-input-1" class="rating-stars__star icon-star" title="1"></label>
        </div>
      </div>

      <div class="form__group form__group--md">
        <img src="/assets/img/temp/captcha.png" alt="" class="form__captcha">
      </div>

      <div class="form__group form__group--md form__submit">
        <input type="submit" class="form__button button button--primary button--sm" value="Отправить" data-element="modal-trigger" data-mfp-src="#modal-review-thanks">
      </div>

      <div class="text-center text-sm text-muted">Нажимая кнопку “Оставить отзыв”, я принимаю условия <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики конфиденциальности</a> и <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики обработки персональных данных</a></div>
    </form>
  </div>
</div>