<div id="modal-credit-end" class="modal modal--md mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Были рады вам помочь</div>

    <div class="modal__loader loader">
      <i class="loader__icon icon-logo text-primary"></i>
    </div>
  </div>
</div>