<div id="modal-video-chat" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('video-help-shadow', 'modal__icon modal__icon--lg') }}
    <div class="modal__title h2">Видео-консультация</div>
    <p class="modal__description">Звоните и задавайте вопросы нашим специалистам в прямом эфире. Мы расскажем о нас, о нашем товаре, его качестве и гарантиях. Для звонка не требуется установки никаких программ, нужен только микрофон. Сотрудник не будет вас видеть.</p>
    <p class="modal__description"><strong>Мы на связи каждый день с 10:00 до 22:00 (МСК)</strong></p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Начать видео-звонок</button>
  </div>
</div>