<div id="modal-support-form" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Обращение в&nbsp;службу поддержки</div>
  </div>

  <div class="modal__body">
    <form action="#" method="POST" novalidate="novalidate" class="modal__form modal__form--sm form modal-form">
      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="name" class="form__input" required placeholder="Как вас зовут">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="phone" class="form__input" required placeholder="+7 (___) __-__-__" data-inputmask="'mask': '+9 999 999-99-99'">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <input type="email" name="email" class="form__input" required placeholder="Ваш email">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="order-nimber" class="form__input" required placeholder="Номер заказа">
        </div>
      </div>

      <div class="form__group form__group--md is-required">
        <div class="form__field">
          <textarea rows="5" name="comment" class="form__input" required placeholder="Ваше сообщение"></textarea>
        </div>
      </div>

      <div class="form__group form__group--md">
        <img src="/assets/img/temp/captcha.png" alt="" class="form__captcha">
      </div>

      <div class="form__group form__group--md form__submit">
        <input type="submit" class="form__button button button--primary button--sm" value="Отправить" data-element="modal-trigger" data-mfp-src="#modal-support-thanks">
      </div>

      <div class="text-center text-sm text-muted">Нажимая кнопку “Оставить отзыв”, я принимаю условия <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики конфиденциальности</a> и <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики обработки персональных данных</a></div>
    </form>
  </div>
</div>