<div id="modal-credit-change" class="modal mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Вы можете изменить способ оплаты</div>
  </div>
  <div class="modal__body">
    {% for tab in product.info if tab.id == 'payment' %}
      {% include '_services-list.twig' with { servicesClass: 'modal__services services--sm justify-lg-center', services: tab.list, radio: true, rowClass: 'row--sm', colClass: 'col-xs-12 col-lg-auto', cardClass: 'service-card--sm service-card--fixed' } %}
    {% endfor %}
   </div>

   <div class="modal__footer modal__footer--complex">
     <div class="modal__footer-action text-md"><a href="#" class="modal__footer-link link-primary">Отменить заказ</a></div>
   </div>
</div>