<div id="modal-location" class="modal modal--location mfp-hide mfp-with-anim">
  <div class="location">
    <div class="location__header">
      <h2 class="location__title">Укажите ваш город</h2>
      <button class="mfp-close" title="Закрыть"></button>

      <form action="#" class="location__form">
        <div class="form__field form__field--icon-right">
          <input type="text" placeholder="Город, поселок, деревня..." class="location__input form__input">
          <button class="form__field-icon icon-close" hidden></button>
          <i class="form__field-icon icon-chevron-down hidden-xl-up"></i>
        </div>

        <ul class="location__results autocomplete" hidden>
          {% for item in location.results %}
            <li class="autocomplete__item">
              <a href="#" class="autocomplete__option {% if loop.first %}is-selected{% endif %}">{{ item }}</a>
            </li>
          {% endfor %}
        </ul>
      </form>
    </div>

    <div class="location__body">
      <ul class="location__list">
        {% for item in location.cities %}
          <li class="location__item">
            <a href="#" class="location__option link-inherit">
              {% if loop.first %}
                <b>{{ item }}</b> <span class="text-muted">(выбран сейчас)</span>
                {% else %}
                {{ item }}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>