<div id="modal-click-order-form" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Оформим покупку за вас</div>
    <p class="modal__description">Оставьте ваши контакты, менеджер позвонит в течение 30 минут</p>
  </div>

  <div class="modal__body">
    <form action="#" method="POST" novalidate="novalidate" class="modal__form modal__form--sm form modal-form">
      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="name" class="form__input" required placeholder="Ваше имя">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <input type="text" name="phone" class="form__input" required placeholder="Телефон" data-inputmask="'mask': '+9 999 999-99-99'">
        </div>
      </div>

      <div class="form__group is-required">
        <div class="form__field">
          <input type="email" name="email" class="form__input" required placeholder="Ваш email">
        </div>
      </div>

      <div class="form__group form__group--md is-required">
        <div class="form__field">
          <textarea rows="5" name="comment" class="form__input" required placeholder="Комментарии к заказу"></textarea>
        </div>
      </div>

      <div class="form__group form__group--md">
        <img src="/assets/img/temp/captcha.png" alt="" class="form__captcha">
      </div>

      <div class="form__group form__group--md">
        <div class="form__text text-center">Доставка оплачивается отдельно, поэтому финальная стоимость заказа может измениться.</div>
      </div>

      <div class="form__group form__group--md form__submit">
        <input type="submit" class="form__button button button--primary button--sm" value="Оставить заявку" data-element="modal-trigger" data-mfp-src="#modal-click-order-thanks">
      </div>

      <div class="text-center text-sm text-muted">Нажимая кнопку “Оставить отзыв”, я принимаю условия <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики конфиденциальности</a> и <a href="info-privacy-policy.html" class="link-underline link-inherit">Политики обработки персональных данных</a></div>
    </form>
  </div>
</div>