<div id="modal-condition" class="modal modal--full-tablet modal--condition mfp-hide mfp-with-anim">
  {% include '_condition.twig' with { isModal: true } %}

  <div class="modal__footer">
    <button class="modal__button button button--primary button--md" data-element="modal-close">Все понятно, спасибо!</button>
  </div>
</div>