<div id="modal-credit" class="modal modal--credit modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="modal__header">
    <img src="/assets/img/temp/logos/tinkoff-full.svg" alt="" class="modal__logo">
    <p class="modal__description modal__description--sm">Заполните мини-анкету и&nbsp;получите одобрение за 3 минуты!</p>
  </div>

  <div class="modal__body">
    <div class="modal__section">
      <div class="progress-widget">
        <div class="progress-widget__label text-muted">Вероятность одобрения</div>
        <div class="progress progress--value active" role="progressbar" data-value="20%">
          <div class="progress__bar" style="width:20%;"></div>
        </div>
        <div class="progress-widget__data text-muted">+20% за 1-й шаг</div>
      </div>
    </div>

    <div class="modal__section">
      <div class="modal__subtitle modal__subtitle--complex h5">
        <span class="modal__subtitle-text">Условия заказа</span>
        <span class="modal__subtitle-text">Шаг 1 из 2</span>
      </div>

      <div class="modal__range range-widget" data-component="range">
        <div class="row align-items-xs-center justify-md-between">
          <div class="range-widget__group form__group col-xs-12 col-md-auto">
            <div class="range-widget__label form__label">Срок кредита</div>
            <div class="hidden-md-up">
              <select data-element="select" class="select-md">
                {% for i in 1..16 %}
                  {% if not loop.first %} 
                    {% if loop.index == 2 or loop.index == 3 or loop.index == 4 %}
                      {% set wordEnding = 'а' %}
                      {% else %}
                      {% set wordEnding = 'ев' %}
                    {% endif %}
                  {% endif %}
                  <option value="month-{{ i }}" {% if loop.index == 10 %}selected{% endif %}>{{ i }} месяц{{ wordEnding }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="range-widget__data hidden-sm-down">10 месяцев</div>
          </div>
          <div class="range-widget__group form__group col-xs-12 col-md-auto">
            <div class="range-widget__label form__label">Ежемесячный платеж</div>
            <div class="range-widget__data">7 007 ₽/мес</div>
          </div>
        </div>
        <div class="range-widget__slider range-slider hidden-sm-down">
          <input type="text" value="10" data-element="range-slider" data-min="1" data-max="16" data-step="1">
        </div>
      </div>
    </div>

    <div class="modal__section">
      <div class="modal__subtitle h5 text-center">Контактная информация</div>
      <div class="modal__form modal__form--md form modal-form">
        <div class="form__group is-required">
          <div class="form__field">
            <input type="text" name="fio" class="form__input" required placeholder="ФИО" value="Иванов Иван Иванович">
          </div>
        </div>

        <div class="form__group is-required">
          <div class="form__field">
            <input type="text" name="phone" class="form__input" required data-inputmask="'mask': '+9 999 999-99-99'" placeholder="Телефон" value="+7 (921) 123-45-67">
            <button class="form__field-button button button--primary is-success">Подтвержден</button>
          </div>
        </div>

        <div class="form__group form__group--md is-required">
          <div class="form__field">
            <input type="email" name="email" class="form__input" required placeholder="Ваш email" value="mail@mail.ru">
          </div>
        </div>

        <div class="form__group form__group--md">
          <div class="form__note text-sm text-muted">Нажимая кнопку “Далее”, я принимаю <a href="#" class="link-underline link-inherit">Условия передачи информации</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal__footer modal__footer--complex">
    <button class="modal__button button button--outline-primary" disabled data-element="modal-trigger" data-mfp-src="#modal-credit-change">Отменить</button>
    <button class="modal__button modal__button--next button button--primary" data-element="modal-trigger" data-mfp-src="#modal-credit-2">Далее</button>
  </div>
</div>
