<div id="modal-variants" class="modal modal--sm modal--variants mfp-hide mfp-with-anim">
  <div class="modal__body">
    <div class="variants">
      {% for section in product.variants %}
        <div class="variants__section">
          <div class="variants__title h5">{{ section.title }}</div>
          <ul class="variants__list">
            {% for variant in section.list %}
              <li class="variants__item">
                <div class="variants__option">{{ variant.option }}</div>
                <div class="variants__names">
                  {% for name in variant.names %}
                    <a href="catalog-item.html" class="variants__name link-primary">{{ name }}</a>
                  {% endfor %}
                </div>
                <div class="variants__price">{{ variant.price }}</div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--md" data-element="modal-close">Хорошо</button>
  </div>
</div>