<div id="modal-credit-canceled" class="modal modal--md mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Ваш заказ был отменен</div>
    <p class="modal__description">Но мы надеемся, что вы вернетесь к нам снова!</p>
  </div>
</div>