<div id="modal-credit-process" class="modal modal--md mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Проверяем вашу анкету</div>

    <div class="modal__loader loader">
      <i class="loader__icon icon-logo text-primary"></i>
      <p class="loader__text">Осталось 2 минуты...</p>
    </div>
  </div>
</div>