<div id="modal-credit-2" class="modal modal--credit modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="modal__header">
    <img src="/assets/img/temp/logos/tinkoff-full.svg" alt="" class="modal__logo">
    <p class="modal__description modal__description--sm">Заполните мини-анкету и&nbsp;получите одобрение за 3 минуты!</p>
  </div>

  <div class="modal__body">
    <div class="modal__section">
      <div class="progress-widget">
        <div class="progress-widget__label text-muted">Вероятность одобрения</div>
        <div class="progress progress--value active" role="progressbar" data-value="50%">
          <div class="progress__bar" style="width:50%;"></div>
        </div>
        <div class="progress-widget__data text-muted">+30% за 2-й шаг</div>
      </div>
    </div>

    <div class="modal__section">
      <div class="modal__subtitle h5 text-center">Паспортные данные</div>
      <div class="modal__form modal__form--lg form modal-form">
        <div class="row">
          <div class="form__group col-xs-6">
            <label for="passport-number" class="form__label">Номер и серия</label>
            <div class="form__field">
              <input type="text" id="passport-number" class="form__input" required placeholder="__ __ ______" data-inputmask="'mask': '99 99 999999'">
            </div>
          </div>
          <div class="form__group col-xs-6">
            <label for="date-of-birth" class="form__label">Дата рождения</label>
            <div class="form__field form__field--icon-right">
              <input type="text" id="date-of-birth" class="form__input" required placeholder="дд.мм.гггг" data-element="datepicker" data-inputmask="'mask': '99.99.9999'">
              <i class="form__field-icon icon-chevron-down"></i>
            </div>
          </div>

          <div class="form__group col-xs-12 col-md-8">
            <label for="city" class="form__label">Место рождения</label>
            <div class="form__field">
              <input type="text" id="city" class="form__input" required placeholder="г. Москва">
            </div>
          </div>

          <div class="form__group col-xs-6">
            <label for="passport-date" class="form__label">Дата выдачи</label>
            <div class="form__field form__field--icon-right">
              <input type="text" id="passport-date" class="form__input" required placeholder="дд.мм.гггг" data-element="datepicker" data-inputmask="'mask': '99.99.9999'">
              <i class="form__field-icon icon-chevron-down"></i>
            </div>
          </div>
          <div class="form__group col-xs-6">
            <label for="place-code" class="form__label">Код подразделения</label>
            <div class="form__field">
              <input type="text" id="place-code" class="form__input" required placeholder="__ __ ______" data-inputmask="'mask': '99 99 999999'">
            </div>
          </div>

          <div class="form__group col-xs-12">
            <label for="issued-by" class="form__label">Кем выдан</label>
            <div class="form__field">
              <input type="text" id="issued-by" class="form__input" required>
            </div>
          </div>

          <div class="form__group col-xs-12">
            <label for="registration-address" class="form__label">Адрес регистрации</label>
            <div class="form__field">
              <input type="text" id="registration-address" class="form__input" required>
            </div>
          </div>

          <div class="form__group col-xs-12">
            <label for="residence-address" class="form__label">Адрес проживания</label>
            <label class="form__group custom-control custom-control--primary custom-checkbox">
              <input type="checkbox" class="custom-control__input" name="same-address" value="1">
              <span class="custom-control__indicator"></span>
              <span class="custom-control__content">Совпадает с адресом регистрации</span>
            </label>
            <div class="form__field">
              <input type="text" id="residence-address" class="form__input" required>
            </div>
          </div>

          <div class="form__group col-xs-12 col-md-8">
            <label for="income" class="form__label">Ваш доход</label>
            <div class="form__field">
              <input type="text" id="income" class="form__input" required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal__footer modal__footer--complex">
    <button class="modal__button button button--outline-primary" data-element="modal-trigger" data-mfp-src="#modal-credit-change">Отменить</button>
    <div class="modal__footer-action text-md"><a href="#" class="modal__footer-link link-primary">Если не одобрили</a></div>
    <button class="modal__button modal__button--next button button--primary" disabled data-element="modal-trigger" data-mfp-src="#modal-credit-2">Далее</button>
  </div>
</div>