<div id="modal-item-subscribe-thanks-2" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('chat-heart-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за контакты</div>
    <p class="modal__description">Обращаем ваше внимание, что приоритет на покупку данного товара будет действовать для первых десяти подписчиков. К сожалению, сегодня кто-то оказался быстрее вас.</p>
    <p class="modal__description">Однако мы обязательно свяжемся с вами, если товар будет в наличии по завершении времени резерва.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>