<div id="modal-subscribe-thanks-3" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('star-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за подписку</div>
    <p class="modal__subtitle">Осталось совсем чуть-чуть...</p>
    <p class="modal__description">Проверьте вашу почту — мы отправили вам письмо для подтверждения вашего электронного адреса. Пожалуйста, пройдите по ссылке из этого письма.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Хорошо</button>
  </div>
</div>