<div id="modal-share" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header">
    <div class="modal__title h2">Расскажите о нас своим друзьям!</div>

    {% include '_social-list.twig' with { list: company.share, socialClass: 'modal__social social--lg justify-xs-center' } %}
  </div>
</div>