<div id="modal-trade-in" class="modal modal--trade-in modal--md modal--full-mobile mfp-hide mfp-with-anim">
  <div class="trade-in trade-in--modal">
    <div class="trade-in__header">
      <div class="trade-in__main-title modal__title h2">Trade-in: примем ваш гаджет в&nbsp;счет стоимости нового</div>
      <p class="trade-in__description">Для получения скидки на новый гаджет принесите ваше устройство в ближайший салон «Связной» или «Мегафон». <a href="#modal-map" data-element="modal-trigger" class="link-primary">Посмотреть адреса на карте</a> <br>Чтобы получить предварительный расчет стоимости, опишите смартфон, который вы хотите сдать в трейд-ин:</p>
    </div>

    <div class="trade-in__body">
      <div class="trade-in__section">
        <h5 class="trade-in__title">Шаг 1. Укажите технические параметры</h5>
        <div class="trade-in__content">
          <form action="#" method="POST" novalidate="novalidate" class="trade-in__form trade-in__form--sm form">
            <div class="form__group">
              <div class="form__field">
                <input type="text" name="brand" class="form__input" required placeholder="Бренд">
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <input type="text" name="model" class="form__input" required placeholder="Модель">
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <input type="email" name="ram" class="form__input" required placeholder="Объем памяти">
              </div>
            </div>

            <div class="form__group">
              <div class="form__field">
                <input type="email" name="color" class="form__input" required placeholder="Цвет">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Шаг 2. Опишите состояние корпуса</h5>
        <div class="trade-in__content"></div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Шаг 3. Работоспособность и ремонт</h5>
        <div class="trade-in__content"></div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Наша оценка</h5>
        <div class="trade-in__content"></div>
      </div>

      <div class="trade-in__section is-collapsed">
        <h5 class="trade-in__title">Проверьте гаджет через диагностическое приложение</h5>
        <div class="trade-in__content"></div>
      </div>
    </div>

    <div class="trade-in__footer">
      <a href="#" class="trade-in__button button button--outline-primary button--sm is-disabled">Назад</a>
      <a href="#modal-trade-in-2" class="trade-in__button button button--primary button--sm" data-element-"modal-tigger">Дальше</a>
    </div>
  </div>
</div>