<div id="modal-subscribe-thanks-2" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('check-shadow', 'modal__icon modal__icon--lg') }}
    <div class="modal__title h2">Вы уже подписаны</div>
    <p class="modal__description">Адрес вашей электронной почты уже есть в нашей базе подписчиков.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>