<div id="modal-click-order-thanks" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('heart-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за заказ</div>
    <p class="modal__description">Мы свяжемся с вами в ближайшее время для уточнения всех деталей.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>