<div id="modal-support-success" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('thumbs-up-shadow-click', 'modal__icon') }}
    <div class="modal__title h2">Были рады вам помочь!</div>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>