<div id="modal-item-subscribe-thanks" class="modal modal--sm modal--thanks mfp-hide mfp-with-anim">
  <div class="modal__header">
    {{ svg.icon('chat-heart-shadow', 'modal__icon') }}
    <div class="modal__title h2">Благодарим за контакты</div>
    <p class="modal__description">Вы — в числе первых десяти подписчиков. При поступлении товара для вас будет действовать резерв на покупку данного товара в течение 3 часов.</p>
    <p class="modal__description">Следите за сообщениями — мы обязательно свяжемся с вами, когда товар будет в наличии.</p>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Спасибо!</button>
  </div>
</div>