<div id="modal-phone-confirmation-thanks" class="modal modal--sm mfp-hide mfp-with-anim">
  <div class="modal__header modal__header--lg">
    {{ svg.icon('thumbs-up-shadow', 'modal__icon') }}
    <div class="modal__title h2">Ваш телефон подтвержден</div>
  </div>

  <div class="modal__footer">
    <button class="modal__button button button--primary button--sm" data-element="modal-close">Ok</button>
  </div>
</div>