<div class="pagination {{ class }} row justify-xs-center justify-md-between">
  <div class="pagination__more col">
    <a href="#" class="button button--outline-default-primary"><i class="button__icon icon-refresh"></i>Показать еще</a>
  </div>

  <div class="pagination__items col hidden-sm-down">
    <ul class="pagination__list row row--xs">
      {% for i in 1..5 %}
        <li class="pagination__item col">
          <a href="#" class="pagination__link button button--outline-default button--square {% if loop.first %} is-selected {% endif %}">{{ i }}</a>
        </li>
      {% endfor %}

      <li class="pagination__item col">
        <a href="#" class="pagination__link button button--outline-default button--square icon-chevron-right" title="Вперед"></a>
      </li>
    </ul>
  </div>
</div>
