<div class="section section--compact parameters">
  <div class="parameters__container container">
    <div class="parameters__row section__row row align-items-xl-center justify-xl-end">
      <div class="section__col col-xs-12 col-xl-6">
        <div class="parameters__content">
          <h2 class="parameters__title section__title h1">Проводим диагностику устройства <span class="text-primary text-nowrap">по 55 параметрам</span></h2>
          <div class="parameters__slider swiper">
            <div class="parameters__slider-container swiper-container" data-slider="parameters">
              <div class="swiper-wrapper">
                {% for i in 1..3 %}
                  <div class="parameters__item swiper-slide">
                    <h6 class="parameters__subtitle">Звук и камера</h6>
                    <ol class="parameters__list">
                      <li>Проверка работоспособности вибрации</li>
                      <li>Совершение вызова</li>
                      <li>Воспроизведение звука на разных частотах</li>
                      <li>Запись/Воспроизведение (1-й микрофон/Ресивер)</li>
                      <li>Запись/Воспроизведение (2-й микрофон/Динамик)</li>
                      <li>Проверка работоспособности разъёма наушников</li>
                      <li>Проверка работоспособности стереодинамиков</li>
                      <li>Диафрагма камеры</li>
                      <li>Проверка работоспособности Основной камеры</li>
                      <li>Проверка работоспособности Фронтальной камеры</li>
                    </ol>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="parameters__slider-prev swiper-button-prev"></div>
            <div class="parameters__slider-next swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img src="/assets/img/temp/parameters.png" alt="" class="parameters__img hidden-xl-up">

  <div class="parameters__scene hidden-lg-down" data-component="parallax">
    <div class="parameters__layer" data-depth="0.2">
      <div class="parameters__sphere parameters__sphere--1"></div>
    </div>
    <div class="parameters__layer" data-depth="0.3">
      <div class="parameters__sphere parameters__sphere--2"></div>
    </div>
    <div class="parameters__layer" data-depth="0.4">
      <div class="parameters__sphere parameters__sphere--3"></div>
    </div>
    <div class="parameters__layer" data-depth="0.5">
      <div class="parameters__sphere parameters__sphere--4"></div>
    </div>
    <div class="parameters__layer" data-depth="0.2">
      <div class="parameters__pattern"></div>
    </div>
    <div class="parameters__layer" data-depth="0.4">
      <img src="/assets/img/parameters/iphone7.png" alt="" class="parameters__img-1">
    </div>
    <div class="parameters__layer" data-depth="0.3">
      <img src="/assets/img/parameters/iphone6.png" alt="" class="parameters__img-2">
    </div>
    <div class="parameters__layer" data-depth="0.1">
      <img src="/assets/img/parameters/circles.svg" alt="" class="parameters__circles">
    </div>
  </div>
</div>