<div class="section products">
  <div class="container">
    <div class="products__row row row--lg align-items-md-center">
      <div class="products__heading col-xs-12 col-md-6 col-xl-4">
        <h2 class="products__title">600+ товаров</h2>
        <p class="products__description">Только лучшие модели сматфонов, планшетов и&nbsp;ноутбуков</p>
      </div>
      <div class="products__content col-xs-12 col-md-6 col-xl-8">
        <div class="products__brands-slider brands swiper">
          <div class="swiper-container" data-slider="brands">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              {% for item in ['apple', 'samsung', 'honor', "huawei", 'apple', 'samsung'] %}
                <div class="brands__item swiper-slide">
                  <a href="#" class="brand-card">
                    <img src="/assets/img/temp/products/{{ item }}.svg" alt="Логотип {{ item }}" class="brand-card__img">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- If we need pagination -->
          <div class="brands__pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
