<div class="section section--widened promos">
  <div class="container">
    <div class="promos__list row">
      {% for item in promos %}
        <div class="promos__item col-xs-12 col-md-6">
          <a href="{{ item.link }}" class="promo-card theme-light">
            <div class="promo-card__content">
              <h3 class="promo-card__title">{{ item.title }}</h3>
              <p class="promo-card__text text-lg">{{ item.text }}</p>
              <i class="promo-card__more button button--more button--sm button--square button--outline-lighter icon-next" title="More"></i>
            </div>
            <img src="/assets/img/temp/promos/{{ loop.index }}.png" alt="" class="promo-card__img">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
