<div class="product">
  <div class="container">
    <div class="product__headline row align-items-lg-center">
      <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9">
        <h2 class="product__title h1">Смартфон Apple iPhone 12 Pro Max 256GB, тихоокеанский синий</h2>
      </div>

      <div class="col-lg-4 col-xl-3 hidden-md-down" data-element="placeholder" data-id="product-utility-menu" data-device="desktop"></div>
    </div>

    <div class="row align-items-xs-top">
      <div class="product__body col-xs-12 col-md-6 col-lg-8 col-xl-9">

        <ul class="product__tags tags row">
          {% for tag in product.tags %}
            <li class="tags__item col">
              <a href="#" class="tag tag--sm tag--default">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="product__picture">
          <div class="product__slider swiper">
            <div class="swiper-container" data-slider="product">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                {% for k in 1..2 %}
                  {% for i in 1..3 %}
                    <div class="product__slider-item swiper-slide">
                      <a href="/assets/img/temp/catalog/item/1/1-lg.png" class="product__slider-link" data-element="gallery-trigger">
                        <img src="/assets/img/temp/catalog/item/1/1-lg.png" alt="" class="product__slider-img">
                      </a>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="product__thumbs swiper">
            <div class="swiper-container" data-slider="product-thumbs">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                {% for k in 1..2 %}
                  {% for i in 1..3 %}
                    <div class="product__thumbs-item swiper-slide">
                      <img src="/assets/img/temp/catalog/item/1/{{ i }}.png" alt="" class="product__thumbs-img">
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
            <div class="product__slider-prev swiper-button-prev swiper-button-white"></div>
            <div class="product__slider-next swiper-button-next swiper-button-white"></div>
          </div>

          <div class="product__stickers stickers">
            {% for sticker in product.stickers %}
              <div class="stickers__item sticker sticker--{{ sticker.class }} sticker--lg">{{ sticker.label }}</div>
            {% endfor %}
          </div>

          <div class="hidden-lg-up" data-element="placeholder" data-id="product-utility-menu" data-device="mobile">
            <ul class="product__utility-menu utility-menu" data-block="movable-block" data-id="product-utility-menu">
              {% for item in product.utilityMenu %}
                <li class="utility-menu__item">
                  {% if item.tippyOff %}
                    <a href="{{ item.link }}" class="utility-menu__link" data-element="popover-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content='{{ item.tippyOff }}'>
                      <i class="utility-menu__icon icon-{{ item.icon }}"></i>
                      <span class="utility-menu__text hidden-md-down">{{ item.name }}</span>
                    </a>

                    {% else %}

                    <a href="{{ item.src }}" class="utility-menu__link" data-element="{{ item.element }}">
                      <i class="utility-menu__icon icon-{{ item.icon }}"></i>
                      <span class="utility-menu__text hidden-md-down">{{ item.name }}</span>
                    </a>

                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="product__content">
          <div class="product__option options tabs" data-component="tabs">
            <ul class="options__list">
              {% for item in product.condition %}
                <li class="options__item">
                  <label class="option option--default {% if loop.first %}is-active{% endif %}" data-element="tabs-toggle" data-src="condition-{{ item.id }}">
                    <input type="radio" class="option__input" name="condition" value="{{ item.id }}" {% if loop.first %}checked{% endif %}>
                    <span class="option__body">
                      <span class="option__label">{{ item.name }}</span>
                      <span class="option__value">{{ item.price }}</span>
                    </span>
                  </label>
                </li>
              {% endfor %}
            </ul>

            <div class="product__option-content tabs__content">
              {% for item in product.condition %}
                <div class="tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="condition-{{ item.id }}" data-element="tabs-tab">
                  <p>Мы хотели сделать так, чтобы для пользования зарядкой Apple Watch не требовалось абсолютно никаких усилий. Поэтому мы придумали зарядное устройство, которое сочетает в себе технологию MagSafe с индуктивным зарядом.</p>
                </div>
              {% endfor %}
            </div>

            <a href="#modal-condition" class="product__helper link-helper text-sm" data-element="modal-trigger" data-effect="mfp-zoom-in modal-full-tablet">Подробнее о состояниях</a>
          </div>

          <div class="product__rating rating">
            <span class="rating__stars rating-stars" data-rate="4">
              {% for i in 1..5 %}
                {{ svg.icon('star', 'rating-stars__star') }}
              {% endfor %}
            </span>
            <b class="rating__counter text-md">5 отзывов</b>
          </div>

          <div class="product__option product__option--xs-center options options--colors">
            <div class="options__label">Цвет</div>
            <ul class="options__list">
              {% for item in product.colors %}
                <li class="options__item">
                  <label class="option option--color">
                    <input type="radio" class="option__input" name="color" value="{{ item.id }}" {% if loop.index == 2 %}checked{% endif %}>
                    <span class="option__body" title="{{ item.name }}">
                      <span class="option__color {% if item.class %} option__color--{{ item.class }}{% endif %}" style="background-color: {{ item.code }}"></span>
                    </span>
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>

          <a href="#modal-variants" class="product__service-button button button--outline-default-primary" data-element="modal-trigger">Все доступные варианты Apple iPhone 12 Pro</a>

          <div class="hidden-sm-down" data-element="placeholder" data-id="product-details" data-device="tablet">
            <div data-block="movable-block" data-id="product-details">
              <div class="product__details details details--compact">
                {% for item in product.details %}
                  <dl class="details__item">
                    <dt class="details__name text-lightest" >{{ item.name }}</dt>
                    <dd class="details__data">{{ item.data }}</dd>
                  </dl>
                {% endfor %}
              </div>

              {% if not isModal %}
                <a href="#product-features" class="product__helper link-helper text-sm" data-element="tab-trigger">Все характеристики</a>
              {% endif %}
            </div>
          </div>

        </div>
      </div>

      <div class="product__aside col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="product__aside-box theme-light">
          <div class="product__availability">В наличии 1 шт.</div>

          <div class="product__price-info price-info">
            <dl class="price-info__item">
              <dt class="price-info__label">Цена нового товара на&nbsp;Я.Маркете</dt>
              <dd class="price-info__price text-muted">74 990 ₽</dd>
            </dl>
            <dl class="price-info__item">
              <dt class="price-info__label">Минимальная выгода</dt>
              <dd class="price-info__price">15 000 ₽</dd>
            </dl>
          </div>

          <div class="product__prices">
            <div class="product__price">60 550 ₽</div>
            <div class="product__bonus bonus">
              <span class="bonus__text">+6 баллов</span>
              <i class="bonus__icon icon-logo-outline"></i>
            </div>
          </div>

          <div class="product__buttons">
            <a href="#modal-in-cart" class="product__button button button--primary button--sm button--block" data-element="modal-trigger">
              <i class="button__icon icon-basket"></i>
              В&nbsp;корзину
            </a>

            <a href="#modal-click-order-form" class="product__button button button--outline-light button--sm button--block" data-element="modal-trigger">Купить в один клик</a>
          </div>

          <ul class="product__features list-icon">
            {% for item in product.features %}
              <li class="list-icon__item">
                <i class="list-icon__icon icon-{{ item.icon }}"></i>
                <div class="list-icon__content">{{ item.text }}</div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="product__aside-box theme-light">
          <ul class="product__features list-icon">
            {% for item in product.featuresDelivery %}
              <li class="list-icon__item">
                <i class="list-icon__icon icon-{{ item.icon }}"></i>
                <div class="list-icon__content">
                  <b>{{ item.title }}</b>
                  <br>
                  {{ item.text }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xs-12 hidden-lg-up" data-element="placeholder" data-id="product-details" data-device="mobile"></div>
    </div>
  </div>
</div>
