<div class="product">
  <div class="container">
    <div class="product__headline row align-items-lg-center">
      <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9">
        <h2 class="product__title h1">Кабель для зарядки Apple с магнитным креплением 1м White (MX2E2ZM/A)</h2>
      </div>

      <div class="col-lg-4 col-xl-3 hidden-md-down" data-element="placeholder" data-id="product-utility-menu" data-device="desktop"></div>
    </div>

    <div class="row align-items-xs-top">
      <div class="product__body col-xs-12 col-md-6 col-lg-8 col-xl-9">

        <ul class="product__tags tags row">
          {% for tag in product.tags %}
            <li class="tags__item col">
              <a href="#" class="tag tag--sm tag--default">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="product__picture">
          <div class="product__slider swiper">
            <div class="swiper-container" data-slider="product">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                {% for k in 1..2 %}
                  {% for i in 1..3 %}
                    <div class="product__slider-item swiper-slide">
                      <a href="/assets/img/temp/catalog/item/2/1-lg.png" class="product__slider-link" data-element="gallery-trigger">
                        <img src="/assets/img/temp/catalog/item/2/1-lg.png" alt="" class="product__slider-img">
                      </a>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="product__thumbs swiper">
            <div class="swiper-container" data-slider="product-thumbs">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                {% for k in 1..2 %}
                  {% for i in 1..3 %}
                    <div class="product__thumbs-item swiper-slide">
                      <img src="/assets/img/temp/catalog/item/2/{{ i }}.png" alt="" class="product__thumbs-img">
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
            <div class="product__slider-prev swiper-button-prev swiper-button-white"></div>
            <div class="product__slider-next swiper-button-next swiper-button-white"></div>
          </div>

          <div class="product__stickers stickers">
            {% for sticker in product.stickers %}
              <div class="stickers__item sticker sticker--{{ sticker.class }} sticker--lg">{{ sticker.label }}</div>
            {% endfor %}
          </div>

          <div class="hidden-lg-up" data-element="placeholder" data-id="product-utility-menu" data-device="mobile">
            <ul class="product__utility-menu utility-menu" data-block="movable-block" data-id="product-utility-menu">
              {% for item in product.utilityMenu %}
                <li class="utility-menu__item">
                  {% if item.tippyOff %}
                    <a href="{{ item.link }}" class="utility-menu__link" data-element="popover-trigger" data-tippy-placement="top-start" data-tippy-maxWidth="300" data-tippy-content='{{ item.tippyOff }}'>
                      <i class="utility-menu__icon icon-{{ item.icon }}"></i>
                      <span class="utility-menu__text hidden-md-down">{{ item.name }}</span>
                    </a>

                    {% else %}

                    <a href="{{ item.src }}" class="utility-menu__link" data-element="{{ item.element }}">
                      <i class="utility-menu__icon icon-{{ item.icon }}"></i>
                      <span class="utility-menu__text hidden-md-down">{{ item.name }}</span>
                    </a>

                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="product__content">
          <div class="product__option options tabs" data-component="tabs">
            <div class="options__label">Длина</div>
            <ul class="options__list">
              {% for item in product.width %}
                <li class="options__item">
                  <label class="option option--default {% if loop.first %}is-active{% endif %}" data-element="tabs-toggle" data-src="condition-{{ item.id }}">
                    <input type="radio" class="option__input" name="condition" value="{{ item.id }}" {% if loop.first %}checked{% endif %}>
                    <span class="option__body text-center">
                      <span class="option__value">{{ item.name }}</span>
                    </span>
                  </label>
                </li>
              {% endfor %}
            </ul>

            <div class="product__option-content tabs__content">
              {% for item in product.width %}
                <div class="tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="condition-{{ item.id }}" data-element="tabs-tab">
                  <p>Мы хотели сделать так, чтобы для пользования зарядкой Apple Watch не требовалось абсолютно никаких усилий. Поэтому мы придумали зарядное устройство, которое сочетает в себе технологию MagSafe с индуктивным зарядом.</p>
                </div>
              {% endfor %}
            </div>

            <a href="#modal-condition" class="product__helper link-helper text-sm" data-element="modal-trigger" data-effect="mfp-zoom-in modal-full-tablet">Подробнее о состояниях</a>
          </div>

          <div class="product__rating rating">
            <span class="rating__stars rating-stars" data-rate="4">
              {% for i in 1..5 %}
                {{ svg.icon('star', 'rating-stars__star') }}
              {% endfor %}
            </span>
            <b class="rating__counter text-md">5 отзывов</b>
          </div>

          <div class="hidden-sm-down" data-element="placeholder" data-id="product-details" data-device="tablet">
            <div data-block="movable-block" data-id="product-details">
              <div class="product__details details details--compact">
                <dl class="details__item">
                  <dt class="details__name text-lightest" >Длина</dt>
                  <dd class="details__data">1 метр</dd>
                </dl>
              </div>

              <a href="#product-features" class="product__helper link-helper text-sm" data-element="tab-trigger">Все характеристики</a>
            </div>
          </div>

        </div>
      </div>

      <div class="product__aside col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <div class="product__aside-box product__out-of-stock theme-light">
          <div class="product__out-of-stock__body">
            <div class="product__availability">Товар временно отсутствует. Ожидаем в течение 10 дней.</div>
            <div class="product__price">60 550 ₽</div>
          </div>

          <div class="product__buttons">
            <a href="#modal-item-subscribe-form" class="product__button button button--primary button--sm button--block" data-element="modal-trigger">Сообщить о поступлении</a>
          </div>
        </div>

        <div class="product__help help">
          <div class="help__title hidden-sm-down">Как работает сервис <br>«Сообщить о поступлении»</div>

          <div class="help__slider swiper">
            <div class="help__slider-container swiper-container" data-slider="help">
              <div class="swiper-wrapper">
                {% for i in 1..3 %}
                  <div class="help__slide help-card swiper-slide">
                    {{ svg.icon('chat-shadow', 'help-card__icon') }}
                    <p>Нажмите на кнопку выше, заполните контактные данные и отправьте форму — отлично, вы попали в базу подписчиков.</p>
                  </div>
                {% endfor %}
              </div>
              <div class="help__slider-controls swiper-controls">
                <div class="help__prev swiper-button-prev swiper-button-white"></div>
                <div class="help__next swiper-button-next swiper-button-white"></div>
              </div>
            </div>
          </div>

          <div class="help__footer">
            <div class="help__label text-muted">Подробнее:</div>
            <div class="help__contact">
              <a href="{{ company.phone.link}}" class="help__phone">{{ company.phone.number }}</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 hidden-lg-up" data-element="placeholder" data-id="product-details" data-device="mobile"></div>
    </div>
  </div>
</div>
