<div class="section section--bounded quality theme-base">
  <div class="quality__container container">
    <div class="section__row row align-items-xl-center">
      <div class="section__col col-xs-12 col-xl-6">
        <div class="section__heading">
          <h2 class="section__title h1">Контролируем качество и&nbsp;отвечаем за него</h2>
        </div>
      </div>

      <div class="section__col col-xs-12 col-xl-6">
        <div class="section__content">
          <div class="section__text">
            <p>Большинство гаджетов мы выкупаем у бережливых владельцев по системе trade-in. Также у нас есть и витринные образцы. Каждое устройство тщательно проверяется через специальное ПО от Piceasoft — мирового лидера в сфере диагностики. </p>
            <p>Вначале каждое устройство проходит проверку на подлинность и многоступенчатую диагностику по 55 параметрам. Затем мы сбрасываем систему до заводских настроек и проводим чистку. Б/у гаджеты, когда это нужно, мы ремонтируем и ставим новые запчасти. Вы можете быть уверены, что получаете оригинальный и полностью работоспособный смартфон с хорошей историей.</p>
            <p>На каждый смартфон даем гарантию от 100 до 180 дней.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>