<div class="{{ sectionClass }} review {{ reviewClass }}">
  <div class="review__header">
    <div class="review__author">
      <div class="review__author-avatar">{{ review.author.initials }}</div>
      <div class="review__author-content">
        <div class="review__author-name">{{ review.author.name }}</div>
        <div class="review__rating rating">
          <span class="rating__stars rating-stars rating-stars--lg" data-rate="{{ review.rating }}">
            {% for i in 1..5 %}
              {{ svg.icon('star', 'rating-stars__star') }}
            {% endfor %}
          </span>
        </div>
      </div>
    </div>

    <div class="review__date">
      {% if isFullDate %}
        <span class="hidden-md-up">{{ review.fullDate }}</span>
        <span class="hidden-sm-down">{{ review.date }}</span>
        {% else %}
        {{ review.date }}
      {% endif %}
    </div>
  </div>

  <div class="review__body">
    <div class="review__section">
      <h6 class="review__title text-success">Плюсы</h6>
      <p>{{ review.pros }}</p>
    </div>
    <div class="review__section">
      <h6 class="review__title text-danger">Минусы</h6>
      <p>{{ review.cons }}</p>
    </div>
  </div>

  {% if isReviewFooter %}
    <div class="review__footer">
      <a href="#" class="link-primary">Все отзывы о товаре</a>
    </div>
  {% endif %}
</div>
