<div class="review-slide">
  {% for item in catalog.items|slice(loop.index,1) %}
    <div class="review-slide__product item-card item-card--review">
      <a href="catalog-item.html" class="item-card__picture">
        <img src="/assets/img/temp/catalog/items/{{ item.image }}.png" alt="" class="item-card__img">
        {% if item.stickers %}
          <div class="item-card__stickers stickers">
            {% for sticker in item.stickers %}
              <div class="stickers__item sticker sticker--{{ sticker.class }}">{{ sticker.label }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </a>

      <div class="item-card__body">
        <div class="item-card__title">
          <a href="catalog-item.html" class="link-inherit">{{ item.title }}</a>
        </div>

        <div class="item-card__rating rating">
          <span class="rating__stars rating-stars" data-rate="{{ item.rating }}">
            {% for i in 1..5 %}
              {{ svg.icon('star', 'rating-stars__star') }}
            {% endfor %}
          </span>
          <span class="rating__counter">{{ item.reviews }}</span>
        </div>
      </div>
    </div>
  {% endfor %}

  {% include '_review.twig' with { sectionClass: 'review-slide__review', isFullDate: true, isReviewFooter: true } %}
</div>