<div class="section section--bounded reviews theme-primary theme-dark">
  <div class="container">
    <div class="reviews__heading heading">
      <h2 class="reviews__title heading__title">Отзывы о нашей продукции</h2>
      <div class="heading__controls swiper-controls hidden-sm-down">
        <div class="reviews__prev swiper-button-prev"></div>
        <div class="reviews__next swiper-button-next"></div>
      </div>
    </div>

    <div class="reviews__slider swiper">
      <div class="reviews__slider-container swiper-container" data-slider="reviews">
        <div class="swiper-wrapper">
          {% for review in reviews %}
            <div class="reviews__slide swiper-slide">
              {% include '_review-slide.twig' %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="reviews__prev swiper-button-prev hidden-md-up"></div>
      <div class="reviews__next swiper-button-next hidden-md-up"></div>
    </div>
  </div>
</div>