<div class="{{ servicesClass }} services row {{ rowClass }}">
  {% for item in services %}
    <div class="services__item {% if colClass %}{{ colClass }} {% else %} col-xs-12 col-xl-4 {% endif %}">
      {% if radio %}
        <label class="service-card service-card--control {% if cardClass %}{{ cardClass }}{% endif %}">
          <input type="radio" class="service-card__input" name="{{ tab.id }}-radio" value="{{ loop.index }}" {% if tab.id == 'delivery' %}data-src="#modal-pickup" data-effect="mfp-zoom-in modal-full-mobile" data-element="control-modal-trigger"{% endif %}>
          {% else %}
          <div class="service-card">
          {% endif %}
          <div class="service-card__body">
            <h5 class="service-card__title">{{ item.title }}</h5>
            <p class="service-card__info">{{ item.info }}</p>
          </div>
          <div class="service-card__picture">
            {% if item.image %}
              <img src="/assets/img/temp/logos/{{ item.image }}" alt="" class="service-card__img">
              {% else %}
              {{ svg.icon(item.icon, 'service-card__icon') }}
            {% endif %}
          </div>
          {% if radio %}
          </label>
          {% else %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>