<div class="section slider-block theme-light">
  <div class="slider-block__container container">
    <div class="slider-block__heading">
      <h2 class="slider-block__title">На что следует обратить внимание в начале эксплуатации смартфона?</h2>
    </div>

    <div class="slider-block__slider swiper">
      <div class="slider-block__slider-container swiper-container" data-slider="slider-block">
        <div class="swiper-wrapper">
          {% for i in 1..7 %}
            <div class="slider-block__item swiper-slide">
              <div class="feature-card">
                <div class="feature-card__heading">
                  <span class="feature-card__picture">
                    {{ svg.icon('package', 'feature-card__icon') }}
                  </span>
                  <h6 class="feature-card__title">Упаковка, чек, и&nbsp;гарантийный талон</h6>
                </div>
                <p class="feature-card__text text-md">Мы предлагаем устройство вместе с коробкой и документами. Смартфон вы можете проверить по коду IMEI.</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="slider-block__prev swiper-button-prev"></div>
      <div class="slider-block__next swiper-button-next"></div>

      <div class="slider-block__pagination swiper-pagination"></div>
    </div>
  </div>
</div>