<div class="section subscription theme-lighter">
  <div class="container">
    <header class="subscription__heading">
      <h2 class="subscription__title">Скидка 30% на первую покупку аксессуаров по&nbsp;промокоду</h2>
      <p class="subscription__description subscription__wrapper">Каждому новому покупателю мы даем возможность оценить наш сервис — скидку 30% на аксессуары при первом заказе. Подпишитесь на рассылку, и мы отправим промокод вам на почту.</p>
    </header>

    <form action="#" method="POST" novalidate="novalidate" class="subscription__form form subscription-form subscription__wrapper" data-form="subscription-form">
      <div class="row row--sm">
        <div class="col-xs-12 col-md-6 col-lg-stretch">
          <div class="form__group is-required">
            <div class="form__field">
              <input type="email" id="subscription-email" class="form__input form__input--md" placeholder="Ваш email" required>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-auto">
          <div class="form__group">
            {% if bodyClass == 'page-home' %}
              <input type="submit" class="button button--primary button--block button--sm" value="Получить промокод" data-mfp-src="#modal-subscribe-thanks" data-element="modal-trigger">
              {% else %}
              <input type="submit" class="button button--primary button--block button--sm" value="Получить промокод" data-mfp-src="#modal-subscribe-thanks-2" data-element="modal-trigger">
            {% endif %}
          </div>
        </div>
      </div>

      <div class="form__note text-sm text-muted">Нажимая на кнопку “Получить промокод”, я даю согласие на получение информационных и рекламных сообщений от Smart Bazar и принимаю <a href="privacy-policy.html" class="link-inherit link-underline">условия политики конфиденциальности</a></div>
    </form>
  </div>
</div>
