<div class="section section--bounded trade-in-promo theme-primary">
  <div class="trade-in-promo__container container">
    <div class="trade-in-promo__heading">
      <h2 class="trade-in-promo__title">Сдайте свой гаджет в&nbsp;трейд‑ин и получите скидку при&nbsp;покупке!</h2>
      <div class="trade-in-promo__action">
        <a href="#" class="trade-in-promo__button button button--white button--md">Подробнее</a>
      </div>
    </div>

    <div class="trade-in-promo__pictures">
      <div class="trade-in-promo__picture trade-in-promo__picture--before">
        <img src="/assets/img/temp/trade-in-promo/1.png" alt="" class="trade-in-promo__img">
      </div>
      <span class="trade-in-promo__swap-icon icon-next"></span>
      <div class="trade-in-promo__picture trade-in-promo__picture--after">
        <img src="/assets/img/temp/trade-in-promo/2.png" alt="" class="trade-in-promo__img">
        <span class="trade-in-promo__sale-icon">%</span>
      </div>
    </div>
  </div>
</div>